

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 class="modal-title" id="myModalLabel">Wish list</h3>
    </div>
    <div class="modal-body">
     		{exp:store:cart}		
			{if no_items}
			<p>Please try again, this item was not added to your wish list.</p>
			{/if}

			<table class="table table-hover padding-vertical-40">
				<thead>
				        <tr>
				    
				          <th  class="black" colspan="2">Product</th>
				          
				        </tr>
				      </thead>
				{items}
				<tr>
					<td>{item_qty} &times; {title}</td>
					<td style="text-align:right">{item_subtotal}</td>
				</tr>
				{/items}
				<tr>
					<th class="black">Total</th>
					<th  class="black" style="text-align:right">{order_subtotal}</th>
				</tr>
			</table>
				
		</div>
			
			<div class="modal-footer center">
			
				 <a href="{path='christmas/wish-list'}" class="btn btn-lg btn-orange">&hearts; Save to your Christmas wish list &hearts;</a>
			
				  
			      </div>
			{/exp:store:cart}
    </div>
  </div>
</div>








