{embed="_includes/_header"
body_id="about"
body_class="static"
page_title="Wish list"
description="Create and view your wish list"
keywords="Rochester furniture, leather furniture, movable furniture, bedroom, dining room, lounge"
}

<section id="main" class="container padding-vertical-40">

<div class="title margin-bottom-60 center">
	<h1>Wish list</h1>
	<span class="border"></span>
</div><!--title-->

<div class="col-md-12 margin-bottom-40">
	{if segment_2!="order"}
	{exp:store:checkout return="wish-list/order/ORDER_HASH" payment_method="Manual"}		
	{if no_items}
	<div class="center">
	<h4>There are no items in your wish list</h4>
</div>
	{/if}

	<table class="table table-hover padding-vertical-40">
		<thead>
			<tr>
			    
				<th  class="black">Product</th>
			    <th  class="black" colspan="2">Qty</th>   
			</tr>
		</thead>
		{items}
		<tr>
			<td>{title}</td>
			<td><input type="checkbox" class="cart_remove_check" name="remove_items[{key}]" value="1" />&nbsp;Remove</td>
			<td style="text-align:right">{item_subtotal}</td>
		</tr>
		{/items}
		<tr>
			<th class="black">Total</th>
			<th  class="black" style="text-align:right" colspan="2">{order_subtotal}</th>
		</tr>
	</table>
	
	<div class="clearfix"></div>
	<input type="submit" name="update_cart" value="Update items" class="btn btn-lg btn-orange hidden-xs" />
	<input type="submit" name="empty_cart" value="Clear all items" class="btn btn-lg btn-orange hidden-xs" />
	<input type="submit" value="Print screen" class="btn btn-lg btn-orange hidden-xs pull-right" id="print" />
	<!--<a href="/christmas/submit-wishlist" class="btn btn-lg btn-orange hidden-xs pull-right">Submit my wishlist &rarr;</a>-->
	
	<input type="submit" name="update_cart" value="Update items" class="btn btn-lg btn-orange visible-xs btn-block margin-bottom-10" />
	<input type="submit" name="empty_cart" value="Clear all items" class="btn btn-lg btn-orange visible-xs btn-block margin-bottom-10" />
	<input type="submit" value="Print screen" class="btn btn-lg btn-orange visible-xs btn-block margin-bottom-10" id="print" />
	<!--<a href="/christmas/submit-wishlist" class="btn btn-lg btn-orange visible-xs btn-block margin-bottom-10">Submit my wishlist &rarr;</a>-->
	
	<script>
	$(document).ready(function() {
	
		$('#print').click(function() {
			window.print();
			return false;
		});
	});
	</script>	
</div>
		
		
{/exp:store:checkout}
{/if}

{if segment_2=="order"}
<div class="center">
<h4>Success, we've just mailed you a copy of your wish list</h4>
</div>
{/if}
</div><!--col-md-12-->

	


{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
<div class="col-md-12 full-width-advert margin-bottom-40">
{advertising_large}
<a href="{advertising_large:link}" title="{advertising_large:caption}">
	{exp:ce_img:single src="{advertising_large:advert}" alt="{advertising_large:caption}" class="img-responsive" crop="yes" width="1100" allow_scale_larger="yes"}
</a>
{/advertising_large}
</div><!--full-width-advert-->
{/exp:channel:entries}

</section><!--main-->



{embed="_includes/_footer"}