{embed="_includes/_header"
body_id="about"
body_class="static"
page_title="Wish list"
description="{about_meta_description}"
keywords="Rochester furniture, leather furniture, movable furniture, bedroom, dining room, lounge"
}
{if group_id=="1"}
<section id="main" class="container padding-vertical-40">

	<div class="title margin-bottom-40 center">
		<h1>Create or login to your account</h1>
		<span class="border"></span>
	</div><!--title-->
	
	<div class="col-md-12 margin-bottom-40">
		<p class="center">Please login or create an account to save your wish list.</p>
	</div><!--col-md-12-->

	<div class="col-md-12 margin-bottom-40">
		<div class="col-md-6 clearfix">
			{exp:freemember:login form_class="utility-form" return="wish-list/index" error_handling="inline" error_delimiters='<div class="alert_red">|</div>'}
			<h4>Login</h4>
			<div class="form-group">  
				{error:email}
				<label for="email">Email<em>*</em></label><br />
				<input type="text" name="email" value="{email}" class="form-control"/>

			</div>

			<div class="form-group margin-bottom-20">  
				{error:password}
				<label for="password">Password<em>*</em></label><br />
				<input type="password" name="password" value="" class="form-control"/>

			</div>


			<div class="form-group margin-bottom-20">  
				<input type="submit" value="Log in" class="btn btn-lg btn-orange hidden-xs" />
				<input type="submit" value="Log in" class="btn btn-lg btn-orange visible-xs btn-block" />
			</div>

			<div style="clear:both;"></div>

			<div class="form-group padding-vertical">  
				<h4><a href="{path='#'}">Forgot password?</a></h4>
			</div>

			{/exp:freemember:login}
		</div><!--col-md-6-->

		<div class="col-md-6 clearfix">

			{exp:freemember:register form_class="utility-form" return="wish-list/index" error_handling="inline" error_delimiters='<div class="alert_red">|</div>'}
			<h4>Register</h4>
			<div class="form-group">

				{error:email}
				<label for="email">Email<em>*</em></label><br />
				<input type="email" name="email" value="{email}" class="form-control"/>

			</div>


			<div class="form-group">  
				{error:password}
				<label for="password">Password<em>*</em></label><br />
				<input type="password" name="password" value="{password}" class="form-control"/>

			</div>


			<div class="form-group">  
				{error:password_confirm}
				<label for="password">Confirm Password<em>*</em></label><br />
				<input type="password" name="password_confirm" value="{password_confirm}" class="form-control"/>

			</div>
			<div class="clear"></div>

			<div style="clear:both" class="margin-bottom-30"></div>

			<div class="form-group">  
				<input type="submit" value="Create account" class="btn btn-orange btn-lg hidden-xs" />
				<input type="submit" value="Create account" class="btn btn-lg btn-orange visible-xs btn-block" />

			</div>

			{/exp:freemember:register}


		</div><!--col-md-6-->
	</div><!--col-md-12-->




	{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
	<div class="col-md-12 full-width-advert margin-bottom-40">
		{advertising_large}
		<a href="{advertising_large:link}" title="{advertising_large:caption}">
			{exp:ce_img:single src="{advertising_large:advert}" alt="{advertising_large:caption}" class="img-responsive" crop="yes" width="1100" allow_scale_larger="yes"}
		</a>
		{/advertising_large}
	</div><!--full-width-advert-->
	{/exp:channel:entries}

</section><!--main-->
{/if}


{embed="_includes/_footer"}