/* =General styles / REMOVE THOSE
-------------------------------------------------------------- */

#shortcodes { margin-top: 30px; }

.shortcode { margin-top: 50px; text-align: left;}
.shortcode .shortcode-title { border-bottom: 1px solid #e9e9e9; padding-bottom: 15px; text-align: center; }

.grid-shortcode { display: block; text-align: center; text-transform: uppercase; font-size: 0.8em; background: #f9f9f9; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px; border: 1px solid #e9e9e9; }
.grid-shortcode:hover { cursor: help; background: #fff; }

.shortcode .alert { margin-bottom: 10px; }


/* =Accordion
-------------------------------------------------------------- */

.accordion-title {
	display: block;
	position: relative;
	background: #fff;
	border: 1px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.accordion-title h5 { margin: 0; }
.accordion-title a { display: block; color: #a4a4a4!important; padding: 15px 0px 15px 20px; }

.accordion .accordion-title span {
	position: absolute;
	width: 26px;
	height: 26px;
	background: url('../images/icons/plus-minus.png') 0px 0px no-repeat;
	right: 20px;
	top: 10px;
}
.accordion .accordion-title.active span {
	background: url('../images/icons/plus-minus.png') 0px -26px no-repeat;
}

.accordion .accordion-inner {
	display: none;
	padding: 10px 10px 30px 10px;
	font-size: 0.9em;
	line-height: 1.7em;
	color: #a4a4a4;
}


/* =Toggles
-------------------------------------------------------------- */

.toggle .toggle-title {
	display: block;
	position: relative;
	background: #fff;
	border: 1px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 15px 0px 15px 20px;
}
.toggle .toggle-title h5 { margin: 0; cursor: pointer; color: #a4a4a4; }

.toggle .toggle-inner {
	display: none;
	padding: 10px 10px 30px 10px;
	font-size: 0.9em;
	line-height: 1.7em;
	color: #a4a4a4;
}

.toggle .toggle-title i {
	position: absolute;
	width: 26px;
	height: 26px;
	background: url('../images/icons/plus-minus.png') 0px 0px no-repeat;
	right: 20px;
	top: 10px;
}
.toggle .toggle-title.active i {
	background: url('../images/icons/plus-minus.png') 0px -26px no-repeat;
}



/* =Tabs
-------------------------------------------------------------- */

.tabs li, .tabs p {
	float: left;
}

.tabs p {
	font-size: 0.875em;
	padding: 20px;
	background: #fff;
	border: 1px solid #e9e9e9;
	border-bottom: 2px solid #e9e9e9;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}


.tabs ul li a {
	position: relative;
	top: 1px;
	font-size: 0.875em;
	color: #a4a4a4!important;
	display: block;
	padding: 10px 25px;
	border-top: 2px solid transparent;
}

.tabs ul li a:hover {
	background: #e9e9e9;

}

.tabs ul li.active a {
	background: transparent;
	background: #fff;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	border-bottom: 1px solid #fff;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}


/* =Alerts
-------------------------------------------------------------- */

.alert {
	display: block;
	text-align: left;
	padding: 10px 20px;
	font-size: 0.875em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.alert.error {
	color: #b3696c;
	background: #f9e5e6;
	border: 1px solid #f7c7c9;

}

.alert.success {
	color: #8FA442;
	background: #E3EBC6;
	border: 1px solid #C2D288;

}

.alert.info {
	color: #528DA9;
	background: #D8ECF5;
	border: 1px solid #9AC9DF;

}

.alert.notice {
	color: #C4A21B;
	background: #FCF7D9;
	border: 1px solid #F5DC7D;

}


/* =Media
-------------------------------------------------------------- */

/* Targets Retina Enabled Devices */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	.accordion .accordion-title span, .toggle .toggle-title i { background: url(../images/icons/plus-minus@2x.png) 0px 0px no-repeat; background-size: 26px 26px; }
	.accordion .accordion-title.active span, .toggle .toggle-title.active i { background: url(../images/icons/plus-minus@2x.png) 0px -26px no-repeat; background-size: 26px 26px;}
}