/* =Table of Contents
--------------------------------------------------------------
=Common Styles
=Typography
=Buttons
=Content Styles
=Navigation
=Hero
=Services
=Portfolio
=Project
=Team
=Testimonials
=Footer
=Blog
=Slider
=Media
*/
/* =Common Styles
-------------------------------------------------------------- */
body{background:#fff;color:#424242;font:normal 15px 'Helvetica Neue',Helvetica,arial,sans-serif;font-weight:300;}
section{overflow:hidden;}
::selection{background:#060606;color:#fff;}
::-moz-selection{background:#060606;color:#fff;}
#loading{display:none;}
.button-correction{background-color:transparent;color:#fff;font:normal 15px 'Helvetica Neue',Helvetica,arial,sans-serif;font-weight:200;cursor:pointer;}
.margin-bottom{margin-bottom:30px;}

#section2{border-top:solid 20px #cf2d30;padding-top:20px;}
.price-info{background-color:#cf2d30;width:100%;padding:20px;z-index:10;}
.main-price{font-size:70px;color:#fff;font-weight:bold;}
.sub-price{font-size:40px;color:#fff;font-weight:bold;}
.finance-rate p{font-size:11px;margin:0;text-transform:uppercase;}

#section2.red-correction{border-top:solid 20px #ED1D24 !important;border-bottom:solid 20px #ED1D24 !important;}
.red-button .button{color:#ED1D24;border-color:#ED1D24;}
.red-button .button:hover{opacity:0.7;}
/* =Typography
-------------------------------------------------------------- */
p{color:#424242;line-height:1.6em;margin:0 0 20px;}
em{font-style:italic;}
strong{font-weight:400;}
small{font-size:0.8em;}
h1,h2,h3,h4,h5,h6{color:#060606;font-style:normal;font-weight:300;line-height:1.17em;margin:0 0 20px;}
h1{font-size:3.46666666667em;text-transform:uppercase;letter-spacing:0.20em;}
h2{font-size:2.4em;text-transform:uppercase;letter-spacing:0.20em;}
h3{font-size:1em;text-transform:uppercase;letter-spacing:0.20em;font-weight:400;}
h4{font-size:1em;text-transform:uppercase;font-weight:400;}
h5{font-size:1em;font-weight:400;}
h6{font-size:0.8em;text-transform:uppercase;font-weight:400;}
/* Typography for dark backgrounds */
.dark p,.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6{color:#fff;}
.dark a{color:#fff!important;}
/* Links */
a,a:visited{font-weight:400;text-decoration:none;}
/* =Buttons
-------------------------------------------------------------- */
.button{display:inline-block;padding:20px 55px;font-size:1em;text-transform:uppercase;letter-spacing:0.20em;font-weight:400;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.dark .button{border:1px solid #fff!important;}
.dark .button:hover{background:rgba(255,255,255,.1);filter:alpha(opacity=50);}
.button.no-border{border:none!important;padding:20px 0px;}
.button.no-border:hover{border:none!important;background:transparent;opacity:.7;filter:alpha(opacity=70);}
.button .icon{display:inline-block;margin-left:17px;margin-bottom:-6px;width:26px;height:26px;cursor:pointer;background:url(../images/icons/right.png) no-repeat center center;}
/* =Content Styles
-------------------------------------------------------------- */
.content{padding-top:100px;text-align:center;}
.content.padded{padding-bottom:100px;}
.parallax{width:100%;background-attachment:fixed;background-position:50% 0;}
/* Parallax Fix */
@media only screen and (min-width:1930px){.parallax{background-size:cover;}
}
.parallax.black{background-color:#060606;}
.parallax.no-parallax{background-size:cover!important;background-attachment:scroll!important;background-position:center!important;}
.parallax-bg1{background-image:url(../images/parallax-bg5.jpg);}
.parallax-bg2{background-image:url(../images/parallax-bg2.jpg);}
.parallax-bg3{background-image:url(../images/parallax-bg3.jpg);}
.title{text-align:center;}
.sub-heading{margin:48px auto;max-width:630px;font-size:18px;}
.border{display:block;width:80px;height:2px;background:#060606;margin:0 auto;}
.dark .border{background:#fff;}
/* =Navigation
-------------------------------------------------------------- */
nav{position:fixed;top:0;width:100%;background:#F1691E;border-bottom:2px solid #f0f0f0;padding:15px 0px;z-index:999;}
nav.trans{background-color:transparent !important;}
.logo{width:35%;margin-left:5%;float:left;}
.navigation{display:none;}
.desktop.navigation{display:block!important;width:55%;margin-right:5%;float:left;}
.desktop.navigation .nav-content{float:right;}
.desktop.navigation .nav-content li{float:left;margin-right:45px;line-height:30px;/* Set to the height of your own logo to center the text */}
.desktop.navigation .nav-content a{color:#fff;text-transform:uppercase;font-size:0.8em;opacity:.8;filter:alpha(opacity=80);}
.desktop.navigation .nav-content a:hover,.desktop.navigation .nav-content a.active{opacity:1;filter:alpha(opacity=100);}
.desktop.navigation .nav-content li:last-of-type{margin-right:0px;}
/* Mobile Navigation */
.mobile.navigation{display:none;width:90%;margin:0 5%;float:left;}
.mobile.navigation .nav-content{float:left;width:100%;}
.mobile.navigation .nav-content li{display:block;width:100%;margin-top:15px;padding-top:15px;border-top:1px solid #f0f0f0;}
.mobile.navigation .nav-content li:first-of-type{border-top:none;}
.mobile.navigation .nav-content a{display:block;color:#060606;text-transform:uppercase;font-size:0.8em;}
.nav-button{display:none;width:26px;height:30px;background:transparent;padding:0;margin-right:5%;float:right;border:none;cursor:pointer;}
/* Navigation Icon */
.icon-bar{display:block;float:left;width:100%;height:3px;margin-top:3px;background:#060606;}
/* =Hero
-------------------------------------------------------------- */
.hero{text-align:center;background-size:cover;}
.hero .content{padding-top:0px;}
.ticker{overflow:hidden;height:90px;vertical-align:baseline;}
.ticker h1{margin-bottom:0px;height:90px;-webkit-transition:margin-top 0.5s ease-in-out;-moz-transition:margin-top 0.5s ease-in-out;-o-transition:margin-top 0.5s ease-in-out;transition:margin-top 0.5s ease-in-out;}
.call-to-action{padding-top:20px;}
.call-to-action li{display:inline-block;margin-right:55px;}
.call-to-action li:last-of-type{margin-right:0px;}
/* =Services
-------------------------------------------------------------- */
.icons .overview{position:relative;float:left;width:16.6666666667%;text-align:center;overflow:visible;}
.icon{display:inline-block;width:64px;height:64px;cursor:help;margin-bottom:20px;}
.icon.ux{background:url(../images/icons/ux.png) no-repeat top;background-size:64px 128px;}
.icon.design{background:url(../images/icons/design.png) no-repeat top;background-size:64px 128px;}
.icon.seo{background:url(../images/icons/seo.png) no-repeat top;background-size:64px 128px;}
.icon.social{background:url(../images/icons/social.png) no-repeat top;background-size:64px 128px;}
.icon.tech{background:url(../images/icons/tech.png) no-repeat top;background-size:64px 128px;}
.icon.commerce{background:url(../images/icons/commerce.png) no-repeat top;background-size:64px 128px;}
.icon.config{background:url(../images/icons/config.png) no-repeat top;background-size:64px 128px;}
.icon.heart{background:url(../images/icons/heart.png) no-repeat top;background-size:64px 128px;}
.icon.coffee{background:url(../images/icons/coffee.png) no-repeat top;background-size:64px 128px;}
.icon.plane{background:url(../images/icons/plane.png) no-repeat top;background-size:64px 128px;}
.icon.calculator{background:url(../images/icons/calculator.png) no-repeat top;background-size:64px 128px;}
.icon.portfolio{background:url(../images/icons/portfolio.png) no-repeat top;background-size:64px 128px;}
.icon:hover{background-position:bottom;}
@-webkit-keyframes Anim{from{opacity:0;}
to{opacity:1;}
}
@-moz-keyframes Anim{from{opacity:0;}
to{opacity:1;}
}
@keyframes Anim{from{opacity:0;}
to{opacity:1;}
}
.details{display:none;}
.icon:hover>.details{display:block;-webkit-animation:Anim ease-in 1;-moz-animation:Anim ease-in 1;animation:Anim ease-in 1;-webkit-animation-duration:.15s;-moz-animation-duration:.15s;animation-duration:.15s;}
.feature-list{font-style:italic;font-weight:300;font-size:0.9333333333333em;color:#fff;color:rgba(255,255,255,.90)!important;position:absolute;display:block;min-width:260px;text-align:left;background:#060606;background:rgba(6,6,6,.85);color:#fff;top:auto;bottom:100%;left:50%;margin-left:-130px;padding:20px;margin-bottom:30px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.list-dot{display:inline-block;margin-right:15px;width:7px;height:7px;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;}
.feature-list li{padding-bottom:10px;}
.arrow-down{position:absolute;left:50%;margin-left:-8px;top:auto;bottom:100%;margin-bottom:22px;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid rgba(6,6,6,.85);}
/* =Portfolio
-------------------------------------------------------------- */
.portfolio{width:100%;}
.projectlist{margin-top:50px;background:transparent;}
.projectlist li{width:25%;float:left;}
.projectlist a{display:block;padding-bottom:85px;position:relative;}
.projectlist a:hover{cursor:url('http://aetherthemes.com/demo/visia/images/cursors/more.cur'),crosshair;cursor:url('http://aetherthemes.com/demo/visia/images/cursors/more.png') 40 40,crosshair;}
.projectlist a img{width:100%;}
.projectinfo{position:absolute;width:100%;height:100%;top:0;z-index:100;}
.meta{position:absolute;bottom:0;margin-bottom:25px;width:100%;text-align:center;}
.meta h4,.project-title h4{margin-bottom:6px;}
.meta h6,.project-title h6{margin-bottom:0px;}
.meta em,.project-title em{font-family:"Times New Roman",Times,serif;font-style:italic;text-transform:lowercase;color:#424242;}
.projectlist a:hover .meta h4,.projectlist a:hover .meta em{color:#fff!important;}
/* =Project
-------------------------------------------------------------- */
.ajax-section{position:relative;}
.loader{display:none;background:#fff url(../images/loading.gif) no-repeat center 250px;width:100%;height:100%;position:absolute;z-index:200;}
.closeProject{position:absolute;bottom:0px;left:50%;margin-left:-20px;z-index:200;}
.nextProject{position:absolute;top:50%;right:-100px;z-index:200;}
.prevProject{position:absolute;top:50%;left:-100px;z-index:200;}
#ajaxpage{padding-top:50px;padding-bottom:50px;}
.nextProject a,.prevProject a{display:block;width:20px;height:48px;opacity:.4;filter:alpha(opacity=40);}
.nextProject a:hover,.prevProject a:hover{opacity:1;filter:alpha(opacity=100);}
.nextProject a{background:url(../images/icons/project-next.png) no-repeat center center;}
.prevProject a{background:url(../images/icons/project-prev.png) no-repeat center center;}
.slider img{width:100%;}
.slider-pager{text-align:center;padding-top:20px;padding-bottom:20px;}
.small-border{display:block;width:150px;margin:0 auto;height:1px;background:#e9e9e9;}
.bx-pager-item{display:inline-block;}
.bx-pager-link{display:inline-block;text-indent:-999em;width:12px;height:12px;margin:0 5px;background:url(../images/projects/pager.png) no-repeat top center;background-size:12px 24px;}
.bx-pager-link.active{background:url(../images/projects/pager-active.png) no-repeat top center;background-size:12px 12px;}
.bx-pager-link:hover{background-position:bottom;}
.project-title{text-align:center;padding:25px 0px 50px;}
.project-info{border-bottom:1px solid #E9E9E9;}
.project-info h6{border-bottom:1px solid #E9E9E9;padding-bottom:10px;margin-bottom:20px;}
i.icon-remove{display:block;width:26px;height:26px;background:url(../images/icons/close.png) no-repeat;background-size:26px 26px;filter:alpha(opacity=50);opacity:.5;}
i.icon-remove:hover{filter:alpha(opacity=100);opacity:1;}
/* =Team
-------------------------------------------------------------- */
.team-list{text-align:center;padding:50px 0px 30px;float:left;}
.name{width:100%;}
.name h4{margin-bottom:6px;}
.name h6{margin-bottom:20px;}
.name em{font-family:"Times New Roman",Times,serif;font-style:italic;text-transform:lowercase;color:#424242;}
.social-list li{display:inline-block;}
.social-icon.small{display:inline-block;width:26px;height:26px;filter:alpha(opacity=50);opacity:.5;}
.social-icon.small:hover{filter:alpha(opacity=100);opacity:1;}
.social-icon.small.facebook{background:url(../images/icons/facebook-small.png) no-repeat center center;background-size:26px 26px;}
.social-icon.small.twitter{background:url(../images/icons/twitter-small.png) no-repeat center center;background-size:26px 26px;}
.social-icon.small.google{background:url(../images/icons/google-small.png) no-repeat center center;background-size:26px 26px;}
.social-icon.small.behance{background:url(../images/icons/behance-small.png) no-repeat center center;background-size:26px 26px;}
.social-icon.small.linkedin{background:url(../images/icons/linkedin-small.png) no-repeat center center;background-size:26px 26px;}
/* =Testimonials
-------------------------------------------------------------- */
#bx-pager{margin-top:50px;}
#bx-pager li{width:25%;float:left;text-align:center;}
#bx-pager a img{opacity:.4;filter:alpha(opacity=40);}
#bx-pager a:hover img,#bx-pager a.active img{opacity:1;filter:alpha(opacity=100);}
.bxslider{text-align:center;padding-top:35px;}
.bxslider h3{line-height:1.6em;}
.bxslider h6{margin-bottom:35px;color:#8f8f8f;}
.bx-next,.bx-prev{position:absolute;display:block;text-indent:-999em;top:60%;width:20px;height:48px;cursor:pointer;opacity:.5;filter:alpha(opacity=50);}
.bx-next:hover,.bx-prev:hover{opacity:1;filter:alpha(opacity=100);}
.bx-next{right:-100px;background:url(../images/icons/next.png) no-repeat center center;}
.bx-prev{left:-100px;background:url(../images/icons/prev.png) no-repeat center center;}
/* =Footer
-------------------------------------------------------------- */
footer{width:100%;background:#060606;}
.contact{text-align:center;}
.contact ::selection{background:#fff;color:#060606;}
.contact ::-moz-selection{background:#fff;color:#060606;}
.contact li img{margin-bottom:15px;}
.contact li:nth-child(1){font-size:0.9333333333333em;opacity:.5;filter:alpha(opacity=50);}
.contact a{display:block;font-size:0.9333333333333em;font-weight:300;margin-bottom:20px;opacity:.5;filter:alpha(opacity=50);}
.contact a:hover{opacity:1;filter:alpha(opacity=100);}
.contact-heading{margin-top:30px;}
#contact-form{position:relative;display:none;text-align:center;width:100%;background:#060606;padding:20px 0px 50px 0px;margin-top:20px;}
/* FORMS */
.form-field label{display:block;text-align:center;margin-top:10px;margin-bottom:20px;font-size:0.8em;text-transform:uppercase;color:#fff;}
.form-field span input,.form-field span textarea{border:none;outline:none;padding:0 10px;width:100%;height:35px;background:#fff;-webkit-appearance:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#949494;font-family:'Open Sans',helvetica,arial,sans-serif;-webkit-font-smoothing:antialiased;font-size:1em;-webkit-transition:background 0.33s linear;-moz-transition:background 0.33s linear;-o-transition:background 0.33s linear;transition:background 0.33s linear;}
.form-field span input:focus,.form-field span textarea:focus{background:#fff;-webkit-transition:background 0.33s linear;-moz-transition:background 0.33s linear;-o-transition:background 0.33s linear;transition:background 0.33s linear;}
.form-field span textarea{overflow:auto;height:180px;padding:18px;}
.form-click input{margin-top:50px;border:none;display:block;width:100%;outline:none;cursor:pointer;text-align:center;-webkit-font-smoothing:antialiased;text-decoration:none;-webkit-appearance:none;font-size:1em;font-family:'Open Sans',helvetica,arial,sans-serif;font-weight:400;text-transform:uppercase;color:#060606!important;background:#949494;line-height:100%;padding:12px 20px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.form-click input:hover{text-decoration:none;color:#060606!important;background:#fff;}
/* END FORMS */
.loader{margin-top:15px;}
#alert{display:none;margin-top:30px;}
.notification{display:block;position:relative;width:100%;margin-bottom:20px;padding:10px 18px;text-align:left;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.notification p{display:block;padding:0;margin:0;text-align:center;}
.notification.success{border:1px solid #50b941;background:#338b27;}
.notification.success p{color:#dcdcdc;}
.notification.error{border:1px solid #cb3838;background:#a81c1c;}
.notification.error p{color:#dcdcdc;}
.social-links{text-align:center;margin-top:50px;}
.social-links li{display:inline-block;margin-right:15px;}
.social-links li:last-of-type{margin-right:0px;}
.social-links a{display:block;}
.social-links a:hover{opacity:.5;filter:alpha(opacity=50);}
.copyright{margin-top:50px;margin-bottom:10px;text-align:center;}
.copyright h6{color:#77777a;letter-spacing:0.20em;}
/* =Blog
-------------------------------------------------------------- */
#blog{margin-top:30px;}
/* Post Styles */
.post{position:relative;text-align:left;margin-top:50px;padding:0px 0px 30px 70px;border-bottom:1px solid #e9e9e9;}
.post-media{position:relative;}
.post-media img{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.post .date{position:absolute;text-align:center;width:40px;padding-bottom:10px;top:0;left:0;text-transform:uppercase;font-size:1.6em;letter-spacing:0.2em;line-height:0.8em;border-bottom:1px solid #e9e9e9;}
.post .date small{font-size:0.5833333333333333em;}
.post-title h2{padding-top:20px;text-transform:none;letter-spacing:normal;}
.post.quote .post-title h2,.post.link .post-title h2{font-size:1em!important;text-transform:uppercase;letter-spacing:0.20em;padding:0;}
.post-title a{color:#060606!important;}
.post-meta h6,.post-meta a{color:#a4a4a3!important;}
.gallery-next,.gallery-prev{position:absolute;z-index:100;display:block;bottom:10px;}
.gallery-next{right:10px;}
.gallery-prev{right:37px;}
.gallery-next .bx-next,.gallery-prev .bx-prev{position:static;width:auto;height:auto;top:auto;opacity:1;filter:alpha(opacity=100);right:auto;left:auto;text-indent:-999em;width:22px;height:22px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.gallery-next .bx-next{background:#060606 url('../images/blog/next.png') no-repeat;background-size:22px 22px;}
.gallery-prev .bx-prev{background:#060606 url('../images/blog/prev.png') no-repeat;background-size:22px 22px;}
/* Sidebar styles */
.widget{text-align:left;margin-top:50px;}
.search{border:none;float:left;outline:none;padding:0px 0px 0px 10px;width:80%;height:40px;background:#fff;color:#aaaaaa;border-bottom:2px solid #e9e9e9;border-left:1px solid #e9e9e9;border-top:1px solid #e9e9e9;-webkit-appearance:none;-webkit-border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-bottomleft:3px;border-top-left-radius:3px;border-bottom-left-radius:3px;}
.search-submit{margin:0;padding:0;border:none;float:left;outline:none;cursor:pointer;width:20%;height:40px;text-indent:-999em;background:#fff url(../images/blog/search.png) no-repeat center center;background-size:16px 16px;text-decoration:none;-webkit-appearance:none;border:1px solid #e9e9e9;border-bottom:2px solid #e9e9e9;-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;}
.textwidget{font-size:0.8666666666667em;line-height:1.6em;}
.cat-item,.recentcomments{font-size:0.8666666666667em;padding-bottom:8px;margin-bottom:15px;border-bottom:1px solid #e9e9e9;}
.cat-item a,.recentcomments a{color:#060606!important;font-weight:400;}
.tagcloud a{display:inline-block;margin-right:10px;margin-bottom:10px;font-size:0.8em;text-transform:uppercase;padding:5px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.widget-archive a,.widget-recent-entries a{color:#060606!important;font-weight:400;font-size:0.8666666666667em;display:block;padding-bottom:8px;margin-bottom:15px;border-bottom:1px solid #e9e9e9;}
/* Post Body Styles */
.post-body ul{margin-bottom:20px;}
.post-body ul li{margin-bottom:5px;}
.post-body ul li:before{content:"∙";margin-right:5px;}
.post-body blockquote{background:#f9f9f9;padding:15px 0px 15px 30px;border-left:2px solid #e9e9e9;font-style:italic;margin-bottom:20px;}
.post-body code{display:block;clear:both;overflow:auto;padding:10px 20px 20px 20px;white-space:pre;background-color:#f9f9f9;border:1px solid #e9e9e9;font:12px "Andale Mono",Courier,"Courier New",monospace;margin-bottom:20px;}
/* Comments */
#comments{text-align:left;padding-top:50px;}
#comments-title{margin-left:70px;border-bottom:2px solid #e9e9e9;padding-bottom:30px;margin-bottom:5px;}
.comment{float:left;}
.comment-body{position:relative;margin-left:70px;border-top:1px solid #e9e9e9;padding-top:30px;}
.comment-author{position:absolute;top:30px;left:-70px;}
.comment-author img{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.comment .children{margin-left:70px;}
.fn{display:block;margin-bottom:10px;}
.comment-meta,.comment-meta a{color:#a4a4a3!important;}
#respond{margin-left:70px;margin-top:50px;}
#reply-title{border-bottom:2px solid #e9e9e9;padding-bottom:30px;margin-bottom:5px;}
.comment-reply-form{border-top:1px solid #e9e9e9;}
.comment-notes{margin-top:10px;color:#a4a4a3;}
.control-group label,.control-group .controls{display:inline-block;}
.control-group label{margin-left:10px;font-weight:400;}
.control-group .controls input{margin-top:15px;border:none;outline:none;height:35px;background:#fff;padding-left:15px;color:#a4a4a3;text-decoration:none;border:1px solid #e9e9e9;border-bottom:2px solid #e9e9e9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.control-group .controls textarea{margin-top:15px;border:none;outline:none;height:180px;background:#fff;padding-left:15px;padding-top:15px;color:#a4a4a3;text-decoration:none;border:1px solid #e9e9e9;border-bottom:2px solid #e9e9e9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.controls button{border:none;outline:none;padding:0;margin:0;outline:none;-webkit-appearance:none;background:#fff;cursor:pointer;margin-top:15px;font-size:0.8em;text-transform:uppercase;font-family:inherit;padding:10px 20px;color:#a4a4a3;border:1px solid #e9e9e9;border-bottom:2px solid #e9e9e9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background:#ffffff;}
.controls button:hover{background:#fff;background:-moz-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#f5f5f5));background:-webkit-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);background:-o-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);background:-ms-linear-gradient(top,#ffffff 0%,#f5f5f5 100%);background:linear-gradient(top,#ffffff 0%,#f5f5f5 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',endColorstr='#f5f5f5',GradientType=0 );}
/* =Slider
-------------------------------------------------------------- */
.slider-cover{width:100%;background:#fff;}
#vegas-next,#vegas-prev{position:absolute;display:block;text-indent:-999em;width:20px;height:48px;cursor:pointer;top:50%;margin-top:-24px;}
#vegas-next:hover,#vegas-prev:hover{opacity:.5;filter:alpha(opacity=50);}
#vegas-next{right:-100px;background:url(../images/icons/next.png) no-repeat center center;}
#vegas-prev{left:-100px;background:url(../images/icons/prev.png) no-repeat center center;}
.vegas-loading{display:none;}
.vegas-overlay{background:transparent url(../images/slider/overlays/01.png);opacity:0.5;z-index:-1;}
.vegas-background{-ms-interpolation-mode:bicubic;image-rendering:optimizeQuality;max-width:none !important;/* counteracts global img modification by twitter bootstrap library */
z-index:-2;}
.vegas-overlay,
.vegas-background{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
/* =Media
-------------------------------------------------------------- */
/* Large screens */
@media only screen and (min-width :1680px){.bx-next{right:-250px;}
.bx-prev{left:-250px;}
#nextProject{right:-250px;}
#prevProject{left:-250px;}
}
/* Tablet Landscape */
@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :landscape){.parallax{background-size:cover;background-attachment:scroll;background-position:top center!important;}
.details{display:none!important;}
.fade,.slide,.entrance,.hatch{opacity:1!important;}
.ae-animation-fade,.ae-animation-slide,.ae-animation-entrance,.ae-animation-hatch{-webkit-animation-name:none;-moz-animation-name:none;-o-animation-name:none;animation-name:none;}
#bx-prev,#bx-next{display:none;}
#nextProject,#prevProject{display:none!important;}
.projectlist a:hover .projectinfo{background:transparent;}
}
/* Smaller than 960px */
@media only screen and (max-width:959px){.nav-button{display:block;}
.navigation{display:none;}
.parallax{background-size:cover;background-attachment:scroll;background-position:top center!important;}
.content{padding-top:50px;}
.content.padded{padding-bottom:50px;}
.icons .overview{width:33.3333333333%;margin-bottom:30px;}
.details{display:none!important;}
.projectlist li{width:50%;}
.fade,.slide,.entrance,.hatch{opacity:1!important;}
.ae-animation-fade,.ae-animation-slide,.ae-animation-entrance,.ae-animation-hatch{-webkit-animation-name:none;-moz-animation-name:none;-o-animation-name:none;animation-name:none;}
#bx-prev,#bx-next{display:none;}
#bx-pager{margin-top:20px;}
#bx-pager li{width:50%;margin-top:20px;}
.social-links{margin-top:30px;}
#nextProject,#prevProject{display:none!important;}
#respond{margin-left:0px;}
#vegas-prev,#vegas-next{display:none;}
}
/* Tablet Portrait Size */
@media only screen and (min-width:768px) and (max-width:959px){}
/* All Mobile Sizes */
@media only screen and (max-width:767px){.team-list{padding:30px 0px 0px;}
.team-member{padding-bottom:25px;}
#respond{padding-bottom:50px;border-bottom:2px solid #e9e9e9;}
}
/* Mobile Landscape Size */
@media only screen and (min-width:480px) and (max-width:767px){.project-info{border-bottom:none;}
}
/* Mobile Portrait Size */
@media only screen and (max-width:479px){.call-to-action li{margin-right:0px;width:100%;}
.icons .overview{width:50%;}
.projectlist li{width:100%;}
#bx-pager li{width:100%;}
.project-info{border-bottom:none;}
}
/* Targets Retina Enabled Devices */
@media 
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and ( min--moz-device-pixel-ratio:2),
only screen and ( -moz-min-device-pixel-ratio:2),
only screen and ( -o-min-device-pixel-ratio:2/1),
only screen and ( min-device-pixel-ratio:2),
only screen and ( min-resolution:192dpi),
only screen and ( min-resolution:2dppx){.icon.right{background:url(../images/icons/right@2x.png) no-repeat center center;background-size:26px 26px;}
.icon.ux{background:url(../images/icons/ux@2x.png) no-repeat top;background-size:64px 128px;}
.icon.design{background:url(../images/icons/design@2x.png) no-repeat top;background-size:64px 128px;}
.icon.seo{background:url(../images/icons/seo@2x.png) no-repeat top;background-size:64px 128px;}
.icon.social{background:url(../images/icons/social@2x.png) no-repeat top;background-size:64px 128px;}
.icon.tech{background:url(../images/icons/tech@2x.png) no-repeat top;background-size:64px 128px;}
.icon.commerce{background:url(../images/icons/commerce@2x.png) no-repeat top;background-size:64px 128px;}
.icon.config{background:url(../images/icons/config@2x.png) no-repeat top;background-size:64px 128px;}
.icon.heart{background:url(../images/icons/heart@2x.png) no-repeat top;background-size:64px 128px;}
.icon.coffee{background:url(../images/icons/coffee@2x.png) no-repeat top;background-size:64px 128px;}
.icon.portfolio{background:url(../images/icons/portfolio@2x.png) no-repeat top;background-size:64px 128px;}
.icon.plane{background:url(../images/icons/plane@2x.png) no-repeat top;background-size:64px 128px;}
.icon.calculator{background:url(../images/icons/calculator@2x.png) no-repeat top;background-size:64px 128px;}
.social-icon.small.facebook{background:url(../images/icons/facebook-small@2x.png) no-repeat center center;background-size:26px 26px;}
.social-icon.small.twitter{background:url(../images/icons/twitter-small@2x.png) no-repeat center center;background-size:26px 26px;}
.social-icon.small.google{background:url(../images/icons/google-small@2x.png) no-repeat center center;background-size:26px 26px;}
.social-icon.small.behance{background:url(../images/icons/behance-small@2x.png) no-repeat center center;background-size:26px 26px;}
.social-icon.small.linkedin{background:url(../images/icons/linkedin-small@2x.png) no-repeat center center;background-size:26px 26px;}
i.icon-remove{background:url(../images/icons/close@2x.png) no-repeat center center;background-size:26px 26px;}
.bx-pager-link{background:url(../images/projects/pager@2x.png) no-repeat top center;background-size:12px 24px;}
.bx-pager-link.active{background:url(../images/projects/pager-active@2x.png) no-repeat top center;background-size:12px 12px;}
.gallery-next .bx-next{background:#060606 url('../images/blog/next@2x.png') no-repeat;background-size:22px 22px;}
.gallery-prev .bx-prev{background:#060606 url('../images/blog/prev@2x.png') no-repeat;background-size:22px 22px;}
.search-submit{background:#fff url(../images/blog/search@2x.png) no-repeat center center;background-size:16px 16px;}
}
