{exp:channel:entries channel="promotions" limit="1" status="not closed"}
{embed="_includes/_header"
body_id="entry"
body_class="promotion"
page_title="{title} | Promotions"
description=""
keywords=""
}


    
    <script src="{site_url}base-theme/js/rochester-calculator.js"></script>
    <script>
        
        function calculateAndDisplayPricing(element)
        {
            var price = parseFloat(element.text().replace(/[^0-9\.]+/gi, ''));

            var mt = 24;
            if (price > 4000.00)
                mt = 36;
            
            var tw = [];
            tw = calculateFinanceAmounts(price, mt);
            
            var finance_price = '';
            var desc = '';
                
            if (tw.payment != '0.00')
            {
                finance_price = 'R' + tw.payment;
                desc = 'Per month X ' + mt + ' months';
                desc += '<br />R' + tw.deposit + ' Deposit | Finance Price* R' + tw.total;
                desc += '<br />Finance Price based on 23.75% rate*';
            
                /*var st = struct.clone();
                st.find('.finance-blue').text();
                st.find('.months').text(mt);
                st.find('.deposit').text('R' + );
                st.find('.total-finance-price').text('R' + );
                
                jQuery('.auto-calculator-price').html('').append(st);*/
            }
            else
            {
                desc = 'No finance options available.';
            }
            
            element.parents('.price-details-container:first').find('.finance-price').text(finance_price);
            element.parents('.price-details-container:first').find('.finance-desc').html(desc);
        }
            
        jQuery(function(){
            jQuery('.price-details-container .inner-container .new-price').each(function(){
                calculateAndDisplayPricing(jQuery(this));
            });
        });
        
    </script>
    
    


    <div class='countdown-mast'>
        {exp:ce_img:single src="{master_image}" attributes="alt='{title}' style='width:100%;'" max_width="1920" allow_scale_larger="yes" add_dims="no" crop="no"}
        <div class='countdown-timer'>
               <div class='heading'>{countdown_heading}</div>
               <div class='countdown'>
                   <div class="time-container days"><span class="text">Days</span><span class="days-1 bg"></span><span class="days-2 bg"></span><span class="days-3 bg"></span></div><span class="colon-seperator sep-days"><b>:</b></span>
                   <div class="time-container hrs"><span class="text">Hours</span><span class="hrs-1 bg"></span><span class="hrs-2 bg"></span></div><span class="colon-seperator sep-hrs"><b>:</b></span>
                   <div class="time-container mins"><span class="text">Minutes</span><span class="mins-1 bg"></span><span class="mins-2 bg"></span></div><span class="colon-seperator sep-mins"><b>:</b></span>
                   <div class="time-container secs"><span class="text">Seconds</span><span class="sec-1 bg"></span><span class="sec-2 bg"></span></div>
               </div>
           </div>
    </div>
    
    
    
    <div class='promotions-grid-container mt-40 mb-70'>
    
        <div class='container'>
        
            <div class="promotions-grid">
                {promotion_items}
                    <div class="promotions-grid-item" onclick="activatePromotionsModal({promotion_items:count});">
                        <div class='image-container'>
                            {exp:ce_img:single src="{promotion_items:image}" attributes="alt='{title}' style='width:100%;'" max_width="860" allow_scale_larger="yes" add_dims="no" crop="no"}
                        </div>
                        <div class='pattern-detail-container' style='background-image:url({pattern_image});'>
                            <div class='name-container'>
                                <div class='main'>{promotion_items:item_title}</div>
                                <div class='secondary'>{if "{promotion_items:item_sub_title}" == ""}&nbsp;{if:else}{promotion_items:item_sub_title}{/if}</div>
                            </div>
                            <div class='price-container'>
                                <div class='secondary'>{if "{promotion_items:item_old_price}" == ""}&nbsp;{if:else}was R{promotion_items:item_old_price}{/if}</div>
                                <div class='main'>NOW R{promotion_items:item_price}</div>
                            </div>
                        </div>
                    </div>
                {/promotion_items}
            </div>
        
        </div>
    
    </div>
    
    
    
    <div class='promotions-modal-curtain'></div>
    <div class='promotions-modal-container'>
    
        <div class='container'>
    
            <div class='slides-container'>
                <div class='link-container' style='color:#{primary_colour};'>
                    <div class='pull-left'><span class='close-link' onclick='showPreviousPromoItem();'>&lt; previous</span></div>
                    <div class='pull-left visible-sm visible-xs'><span class='close-link' onclick='closePromotionsModal();'>close &times;</span></div>
                    <div class='pull-right'><span class='close-link' onclick='showNextPromoItem();'>next &gt;</span></div>
                </div>
                <div class='slides'>
                
                    {promotion_items}
                        <div class='slide' data-counter="{promotion_items:count}">
                            <div style='display:none;' class='name-keeper'>{promotion_items:item_title}</div>
                            <div class='image-container'>
                                {exp:ce_img:single src="{promotion_items:image}" max_width="800" allow_scale_larger="yes" attributes='class="img-responsive"' add_dims="no" crop="no"}
                            </div>
                            <div class='price-details-container'>
                                <div class='left-half'>
                                    <div class='inner-container' style='background-color:#{primary_colour}'>
                                        <div class='old-price'>{if "{promotion_items:item_old_price}" == ""}&nbsp;{if:else}was R{promotion_items:item_old_price}{/if}</div>
                                        <div class='new-price'>R{promotion_items:item_price}</div>
                                        <div class='extra-price'>CASH PRICE</div>
                                    </div>
                                </div>
                                <div class='right-half'>
                                    <div class='inner-container'>
                                        <div class='straightener' style='color:#{primary_colour}'>
                                            <div class='finance-header'>Get it on finance</div>
                                            <div class='finance-line' style='background-color:#{primary_colour};'></div>
                                            <div class='finance-price'></div>
                                            <div class='finance-desc'></div>
                                            <div class='finance-line' style='background-color:#{primary_colour};'></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {if '{promotion_items:custom_product_message}' != ''}
                            <div class="slide{promotion_items:field_row_index} custom-message" data-slide="{promotion_items:field_row_index}">
                                {promotion_items:custom_product_message}
                            </div>
                            <script>
                                
                                $(function() {

                                    $('.custom-message.slide{promotion_items:field_row_index}').appendTo($('.inner-form-container'));

                                });

                            </script>
                            {/if}

                        </div>
                    {/promotion_items}
                </div>
            </div>
            
            <div class='form-container'>
                <div class='link-container hidden-sm hidden-xs' style='color:#{primary_colour};'>
                    <div class='pull-right'><span class='close-link' onclick='closePromotionsModal();'>close &times;</span></div>
                </div>
                <div class='inner-form-container sandbox' style='background-image:url({pattern_image});display:block;'>
                    <h3>Contact a sales consultant</h3>
                    {exp:freeform:form
                        form_name="promotions"
                        return="promotions/{segment_2}/thank-you"
                        required="name|email|message"
                        form:class="form-generic padding-vertical-40"
                    }
                        <input type="hidden" name="promotion-title" value="{title}">
                        <input type="hidden" name="product_name" value="">
                        <input type="hidden" name="frs_name" value="">
                        <input type="hidden" name="product_link" value="">

                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Full name *">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email *">
                        </div>
                        
                        <!-- <div class="form-group margin-bottom-20">
                            {exp:low_variables:single var='var_branches_nested'}
                                </div> -->

                        <div class="form-group">
                            <input type="text" class="form-control" name="contact_number" id="contact_number" placeholder="Contact number">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="5" name="message" placeholder="Message *"></textarea>
                        </div>

                        <input type="submit" name="submit" value="Submit" id="submit" style='background-color:#{secondary_colour};'>
                        <div class='tiny-text'>For these and more amazing deals visit your nearest Rochester store.</div>
                        
                    {/exp:freeform:form}
                </div>
            </div>
            
        </div>
    
    </div>
    
    
    
    
    <!--[if gte IE 9]><!-->
    <script>
        var seconds_remaining = 0;
        var interval_id = 0;
        jQuery(function(){
        
            jQuery('.promotions-grid')
                .imagesLoaded({background: true})
                .always(function(instance){
                    jQuery('.promotions-grid').isotope({
                        itemSelector:   '.promotions-grid-item',
                        layoutMode:     'masonry'
                    });
                });
        
            seconds_remaining = {promotion_expiry_date format="%U"} - Math.round(new Date().getTime() / 1000);
            refreshTimeCountdown();
            interval_id = setInterval(refreshTimeCountdown, 1000);

            formScroller();
            promo_items_message();
        });
    </script>
    <!--<![endif]-->
    
    <!--[if lt IE 9]>
    <script>
        var seconds_remaining = 0;
        var interval_id = 0;
        jQuery(function(){

            jQuery('.promotions-grid').isotope({
                itemSelector:   '.promotions-grid-item',
                layoutMode:     'masonry'
            });
        
            seconds_remaining = {promotion_expiry_date format="%U"} - Math.round(new Date().getTime() / 1000);
            refreshTimeCountdown();
            interval_id = setInterval(refreshTimeCountdown, 1000);
        });
    </script>
    <![endif]-->
    
    
    
    <script>
        
    function promo_items_message() {

        var promo_items = $('.promotions-grid').find('.promotions-grid-item');

        promo_items.each(function() {

            $(this).bind('click',function(e) {

                index = promo_items.index(this);

                if($('.inner-form-container .custom-message.slide' + index + '').length) {
                    $('.inner-form-container').find('.form-generic').css('opacity','0');
                    $('.inner-form-container > h3').css('opacity','0');
                    $('.inner-form-container').find('.custom-message').removeClass('visible').css('z-index','0');
                    $('.custom-message.slide' + index + '').addClass('visible').css('z-index','11');
                } else {
                    $('.inner-form-container').find('.form-generic').css('opacity','1');
                    $('.inner-form-container > h3').css('opacity','1');
                    $('.inner-form-container').find('.custom-message').removeClass('visible').css('z-index','0');
                }

                

            });

        });

    }

        function refreshTimeCountdown() {
        
            if (seconds_remaining <= 0) {
                clearInterval(interval_id);
                jQuery('.countdown-timer').hide();
            } else {



        var s = null;
        var m = null;
        var h = null;
        var d = null;
        var mins = 0;
        var hrs = 0;
        var days = 0;
        var sr = seconds_remaining;

        //var s = sr % 60;
        //s = (s < 10 ? '0' + s : '' + s);
        s = '' + (sr % 60) + '';
        var sec = s.split("");
        sr = Math.floor(sr / 60);

        if (sr > 0) {
            //var m = sr % 60;
            //m = (m < 10 ? '0' + m : '' + m);
            m = '' + (sr % 60) + '';
            mins = m.split("");
            sr = Math.floor(sr / 60);
        }

        if (sr > 0) {
            //var h = sr % 24;
            //h = (h < 10 ? '0' + h : '' + h);
            // txt = (sr % 24) + " hr " + txt;
            h = '' + (sr % 24) + '';
            hrs = h.split("");
            sr = Math.floor(sr / 24);
        }

        if (sr > 0) {

            d = '' + sr + '';
            days = d.split('');

        }


        if (sec.length == 2) {

            s1 = parseInt(sec[0])
            s2 = parseInt(sec[1])

            jQuery('.countdown-timer .countdown .sec-1').text(s1)
            jQuery('.countdown-timer .countdown .sec-2').text(s2)

        } else if(sec.length == 1){

            s1 = parseInt(sec[0])
            jQuery('.countdown-timer .countdown .sec-2').text(s1)
            jQuery('.countdown-timer .countdown .sec-1').text('0')

        } else {

            jQuery('.countdown-timer .countdown attr[class^=sec]').text('0')

        }


        if (mins.length > 1) {

            m1 = parseInt(mins[0])
            m2 = parseInt(mins[1])

            jQuery('.countdown-timer .countdown .mins-1').text(m1)
            jQuery('.countdown-timer .countdown .mins-2').text(m2)

        } else if (mins.length == 1) {

            m1 = parseInt(mins[0])

            jQuery('.countdown-timer .countdown .mins-2').text(m1)
            jQuery('.countdown-timer .countdown .mins-1').text('0');

        } else {

            jQuery('.countdown-timer .countdown .time-container.mins').hide();
            jQuery('.countdown-timer .countdown .sep-mins').hide();

        }


        if (hrs.length == 2) {

            h1 = parseInt(hrs[0])
            h2 = parseInt(hrs[1])

            jQuery('.countdown-timer .countdown .hrs-1').text(h1)
            jQuery('.countdown-timer .countdown .hrs-2').text(h2)
            jQuery('.countdown-timer .countdown .hrs-3').hide();

        } else if (hrs.length == 1) {

            h1 = parseInt(hrs[0]);

            jQuery('.countdown-timer .countdown .hrs-1').text('0')
            jQuery('.countdown-timer .countdown .hrs-2').text(h1)
            jQuery('.countdown-timer .countdown .hrs-3').hide();

        } else {

            jQuery('.countdown-timer .countdown .time-container.hrs').hide();
            jQuery('.countdown-timer .countdown .sep-hrs').hide();

        }



        if (days.length > 2) {

            var i = 0;

            jQuery(days).each(function() {

                var extra_hour_index = parseInt(days[i]);
                var div_class = i + 1;

                days_container = '<span class="days-' + div_class + ' bg"></span>';
                if(jQuery('.days-' + div_class).length != 1)
                    var new_div = jQuery(days_container).appendTo(jQuery('.countdown .time-container.days'));

                jQuery('.days-' + div_class).text(extra_hour_index);

                i++;

            });

        } else if (days.length == 2) {

            d1 = parseInt(days[0])
            d2 = parseInt(days[1])

            jQuery('.countdown-timer .countdown .days-1').text(d1)
            jQuery('.countdown-timer .countdown .days-2').text(d2)
            jQuery('.countdown-timer .countdown .days-3').hide();

        } else if (days.length == 1) {

            d1 = parseInt(days[0]);

            jQuery('.countdown-timer .countdown .days-1').text('0')
            jQuery('.countdown-timer .countdown .days-2').text(d1)
            jQuery('.countdown-timer .countdown .days-3').hide();

        } else {

            jQuery('.countdown-timer .countdown .time-container.days').hide();
            jQuery('.countdown-timer .countdown .sep-days').hide();

        }

        seconds_remaining--;


    }

}
        
        function closePromotionsModal()
        {
            jQuery('.promotions-modal-curtain').fadeOut(450);
            jQuery('.promotions-modal-container').fadeOut(450, function(){
                jQuery('html, body').css('overflow-y', 'auto');
            });
        }
        
        function showPreviousPromoItem()
        {
            var current = jQuery('.slides-container .slides .slide.active');
            var current_index = parseInt(current.data('counter')) - 1;
            console.log(current_index);
            var prev_index = current_index - 1;

            // Matt Custom Message Integration
            if($('.inner-form-container .custom-message.slide' + prev_index + '').length) {
                $('.inner-form-container').find('.form-generic').css('opacity','0').css('z-index','0');
                $('.inner-form-container > h3').css('opacity','0').css('z-index','0');
                $('.inner-form-container').find('.custom-message').removeClass('visible');
                $('.custom-message.slide' + prev_index + '').addClass('visible').css('z-index','11');
            } else {
                $('.inner-form-container').find('.form-generic').css('opacity','1').css('z-index','11');
                $('.inner-form-container > h3').css('opacity','1').css('z-index','11');
                $('.inner-form-container').find('.custom-message').removeClass('visible').css('z-index','0');
            }



            if (prev_index >= 0)
                activatePromotionsModal(prev_index+1);
            else {
                activatePromotionsModal(jQuery('.slides-container .slides .slide').length);
                // Matt Custom Message Integration
                if($('.inner-form-container .custom-message.slide' + $('.promotions-grid').find('.promotions-grid-item').length + '').length) {
                    $('.inner-form-container').find('.form-generic').css('opacity','0').css('z-index','0');
                    $('.inner-form-container > h3').css('opacity','0').css('z-index','0');
                    $('.inner-form-container').find('.custom-message').removeClass('visible');
                    $('.custom-message.slide' + prev_index + '').addClass('visible').css('z-index','11');
                } else {
                    $('.inner-form-container').find('.form-generic').css('opacity','1').css('z-index','11');
                    $('.inner-form-container > h3').css('opacity','1').css('z-index','11');
                    $('.inner-form-container').find('.custom-message').removeClass('visible').css('z-index','0');
                }
            }
        }
        
        function showNextPromoItem()
        {
            var current = jQuery('.slides-container .slides .slide.active');
            var current_index = parseInt(current.data('counter')) - 1;
            var next_index = current_index + 1;
            console.log(current_index);

            // Matt Custom Message Integration
            if($('.inner-form-container .custom-message.slide' + next_index + '').length) {
                $('.inner-form-container').find('.form-generic').css('opacity','0').css('z-index','0');
                $('.inner-form-container > h3').css('opacity','0').css('z-index','0');
                $('.inner-form-container').find('.custom-message').removeClass('visible');
                $('.custom-message.slide' + next_index + '').addClass('visible').css('z-index','11');
            } else {
                $('.inner-form-container').find('.form-generic').css('opacity','1').css('z-index','11');
                $('.inner-form-container > h3').css('opacity','1').css('z-index','11');
                $('.inner-form-container').find('.custom-message').removeClass('visible').css('z-index','0');
            }




            
            if (jQuery('.slides-container .slides .slide:eq('+ next_index +')').length == 1)
                activatePromotionsModal(next_index+1);
            else {
                activatePromotionsModal(1);
                // Matt Custom Message Integration
                if($('.inner-form-container .custom-message.slide0').length) {
                    $('.inner-form-container').find('.form-generic').css('opacity','0').css('z-index','0');
                    $('.inner-form-container > h3').css('opacity','0').css('z-index','0');
                    $('.inner-form-container').find('.custom-message').removeClass('visible');
                    $('.custom-message.slide0').addClass('visible').css('z-index','11');
                } else {
                    $('.inner-form-container').find('.form-generic').css('opacity','1').css('z-index','11');
                    $('.inner-form-container > h3').css('opacity','1').css('z-index','11');
                    $('.inner-form-container').find('.custom-message').removeClass('visible').css('z-index','0');
                }
            }
        }
        
        function activatePromotionsModal(counter)
        {
            var index = counter-1;
            
            if (index >= 0 && index < jQuery('.slides-container .slides .slide').length)
            {
                if (jQuery('.promotions-modal-curtain').is(':visible'))
                {
                    var current = jQuery('.slides-container .slides .slide.active');
                    var current_index = parseInt(current.data('counter')) - 1;
                    if (current_index != index)
                    {
                        
                        jQuery('.slides-container .slides .slide:eq('+ index +')').toggleClass('active');
                        current.toggleClass('active');

                    }
                }
                else
                {
                    jQuery('.slides-container .slides .slide').toggleClass('active', false);
                    jQuery('.slides-container .slides .slide:eq('+ index +')').toggleClass('active', true);
                    
                    jQuery('.promotions-modal-curtain').fadeIn(450);
                    jQuery('.promotions-modal-container').fadeIn(450);
                    
                    jQuery('html, body').css('overflow-y', 'hidden');
                }
                
                jQuery('form input[name="product_name"]').val(jQuery('.slides-container .slides .slide:eq('+ index +')').find('.name-keeper').text());
            }
        }

        function formScroller() {

            var forms = jQuery('.form-container').find('.inner-form-container');

            forms.each(function() {

                self = jQuery(this);

                self.find('.form-scroller').on('click', function() {

                    if(!self.hasClass('in')) {
                        self.addClass('in');
                        self.siblings('.inner-form-container').removeClass('in');
                    } else {
                        self.removeClass('in');
                        self.siblings('.inner-form-container').addClass('in');
                    }

                })

            })

        }
        
        
    </script>



{embed="_includes/_footer"}

{/exp:channel:entries}