
	{if segment_3 == 'mattresses'}

		<div class="row p-row">

			{exp:channel:entries limit='3' offset='{last_segment}' orderby="view_count_one" channel='mattresses_mattress_base_sets|mattresses_base_only|mattresses_mattress_only' status='not closed'}

				{exp:store:product entry_id='{entry_id}'}

					<div class="col-md-4 mb-30 product fadeInDown">
						<a href="{title_permalink='mattresses/detail'}">
							<div class="product-image">
								{main_images limit='1'}
									{exp:ce_img:single src='{main_images:image}' width='690' height='390' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}
								{/main_images}
								<button class="main-btn solid" type="button">View Details</button>
							</div>
							<div class="product-details">
								<h4>{title}</h4>
								<p><b>{starting_price}</b></p>
							</div>
						</a>
					</div>

				{/exp:store:product}

			{/exp:channel:entries}

		</div>


	{if:else}

		<div class="row p-row">

			{exp:store:search status='not closed' offset='{last_segment}' channel='{segment_3}' category='{if segment_4 != "all"}{segment_4}{/if}' limit='9'
				orderby='{if segment_5 == "low-to-high" || segment_5 == "high-to-low"}price{/if}'
				sort='{if segment_5 == "low-to-high"}asc{if:elseif segment_5 == "high-to-low"}desc{/if}'}

				<div class="col-md-4 mb-30 product fadeInDown d{count}">
					<a href="{channel_url}/{url_title}">
						<div class="product-image">
						{product_feature_image limit='1'}
							{exp:ce_img:single src='{product_feature_image:image}' width='690' height='390' crop='yes' allow_scale_larger='yes' attributes='class="img-responsive"' add_dims="no"}
						{/product_feature_image}
						{if '{sale_icon}' != ''}
							<div class="special-icon"><img src="{sale_icon}" class="img-responsive" width="auto"></div>
						{/if}
						</div>
						<div class="product-details clearfix">
							<div class="row">
								<div class="col-md-8 col-sm-8">
									<h4>{title}</h4>
								</div><!--col-md-8-->

								{exp:store:product entry_id="{entry_id}"}
									<div class="col-md-4 col-sm-4">
										<p><b>{price}</b></p>
									</div><!--col-md-4-->
								{/exp:store:product}

							</div>
						</div><!--product-details-->
					</a>
				</div>

			{/exp:store:search}

		</div>

	{/if}
