
	<div class="row p-row">

		{exp:low_search:results query="{segment_3}" limit="9" status="not closed"}
		
			{if no_results}{/if}
		
			<div class="col-md-4 mb-30 product fadeInDown d{count}">
				<a href="{channel_url}/{url_title}">
					<div class="product-image">
					{product_feature_image limit='1'}
						{!-- exp:ce_img:single src='{product_feature_image:image}' attributes='class="img-responsive"' --}
						{exp:ce_img:single src='{product_feature_image:image}' width='690' height='390' crop='yes' allow_scale_larger='yes' attributes='class="img-responsive"' add_dims="no"}
					{/product_feature_image}
					{if '{sale_icon}' != ''}
						<div class="special-icon"><img src="{sale_icon}" class="img-responsive" width="auto"></div>
					{/if}
					</div>
					<div class="product-details clearfix">
						<div class="row">
							<div class="col-md-8 col-sm-8">	
								<h4>{title}</h4>
							</div><!--col-md-8-->
				
							{exp:store:product entry_id="{entry_id}"}
								<div class="col-md-4 col-sm-4">	
									<p><b>{price}</b></p>
								</div><!--col-md-4-->
							{/exp:store:product}
				
						</div>
					</div><!--product-details-->
				</a>
				
				{paginate}
					<div style='display:none'>
						<!--{pagination_links}-->
					</div>
				{/paginate}
			</div>
			
			{if count % 3 == 0}
				</div><div class='row p-row'>
			{/if}
		
		{/exp:low_search:results}
		
	</div>