

		{exp:store:search limit='9' status='not closed' offset='{last_segment}' channel='{segment_3}' category='{if segment_4 != "all"}{segment_4}{/if}'}
		
		
			<div class="col-md-4 mb-30 product fadeInDown d{count}">
				<a href="{channel_url}/{url_title}">
					<div class="product-image">
					{product_feature_image limit='1'}
						{exp:ce_img:single src='{product_feature_image:image}' width='690' height='390' crop='yes' allow_scale_larger='yes' attributes='class="img-responsive"' add_dims="no"}
					{/product_feature_image}
					</div>
					<div class="product-details clearfix">
						<div class="row">
							<div class="col-md-8 col-sm-8">	
								<h4>{title}</h4>
							</div><!--col-md-8-->
				
							{exp:store:product entry_id="{entry_id}"}
								<div class="col-md-4 col-sm-4">	
									<p><b>{price}</b></p>
								</div><!--col-md-4-->
							{/exp:store:product}
				
						</div>
					</div><!--product-details-->
				</a>
			</div>
		
		
		{/exp:store:search}





		<div class="row p-row">

			exp:store:search}
			
			
			
			 
				orderby='{if segment_5 == "low-to-high" || segment_5 == "high-to-low"}price{/if}'
				sort='{if segment_5 == "low-to-high"}asc{if:elseif segment_5 == "high-to-low"}desc{/if}'}
			
				<div class="col-md-4 mb-30 product fadeInDown d{count}">
					<a href="{channel_url}/{url_title}">
						<div class="product-image">
						{product_feature_image limit='1'}
							{exp:ce_img:single src='{product_feature_image:image}' width='690' height='390' crop='yes' allow_scale_larger='yes' attributes='class="img-responsive"' add_dims="no"}
						{/product_feature_image}
						</div>
						<div class="product-details clearfix">
							<div class="row">
								<div class="col-md-8 col-sm-8">	
									<h4>{title}</h4>
								</div><!--col-md-8-->
					
								{exp:store:product entry_id="{entry_id}"}
									<div class="col-md-4 col-sm-4">	
										<p><b>{price}</b></p>
									</div><!--col-md-4-->
								{/exp:store:product}
					
							</div>
						</div><!--product-details-->
					</a>
				</div>
			
			/exp:store:search}
			
		</div>
