{embed="_includes/_header" body_id="fp" body_class="static" menu_class="no-border-bottom" page_title="Lounge, Dining and Bedroom Furniture" description="Welcome to Rochester Furniture’s official website. We sell dining room, bedroom and lounge furniture. It’s not just furniture, it’s Rochester." keywords="furniture, bedroom furniture, lounge furniture, home furniture, leather furniture, dining room furniture, La-Z-boy recliners, chairs, beds, tables, couches." }
<script src="{site_url}base-theme/js/rochester-calculator.js?1.1.171013"></script>
<script>
var struct = jQuery('<div class="auto-calc-details"><div class="finance-blue blue" style="font-weight:bold;"></div><div class="blue small" style="padding-top:3px;font-weight:bold;">&nbsp;pm &times; <span class="months"></span> Months</div><div class="small blue">' +
    '<span class="deposit"></span> Deposit | Finance Price* <span class="total-finance-price"></span><br />Finance Price based on 23.75% rate*</div></div>');

jQuery(function() {

            // {
            //     !--this tag needs to be the same as the one
            //     for the featured product details below...--!
            // }

            var price = 0.00;

            {exp:channel:entries channel='lounge_furniture|bedroom_furniture|dining_room_furniture' dynamic = "no" status = 'Featured' limit = "1"}
            price = parseFloat('{product_details:price}'.replace(/[^0-9\.]+/gi, '')); 
            {/exp:channel:entries}

                var tw = [];
                var mt = 24;

                if (price > 4000.00)
                    mt = 36;

                tw = calculateFinanceAmounts(price, mt);

                if (tw.payment != '0.00') {
                    var st = struct.clone();
                    st.find('.finance-blue').text('R' + tw.payment);
                    st.find('.months').text(mt);
                    st.find('.deposit').text('R' + tw.deposit);
                    st.find('.total-finance-price').text('R' + tw.total);

                    jQuery('.auto-calculator-price').html('').append(st);
                } else
                    jQuery('.auto-calculator-price').hide();

            });
</script>
<section id="slider" class="container-fluid carousel slide main" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {exp:channel:entries channel="front_page" limit="1" entry_id="121" dynamic="no"} {slideshow}
        <div class="item{if slideshow:count=='1'} active{/if} no-filter">
			
            {exp:ce_img:single src="{slideshow:image}" attributes='alt="{slideshow:caption}" class="img-responsive"' cache="yes" refresh="360" quality="60"}
            <div class="content-container">
                <div class="carousel-caption">
                    <!-- <h1 class="fadeInDown d3">{slideshow:caption}</h1> -->
                    {if '{slideshow:link_caption}' != '' AND '{slideshow:link}' != ''}
                    <a href="{slideshow:link}" class="main-btn fadeIn white d3">{slideshow:link_caption}</a>
                    {/if}
                </div>
            </div>
        </div>
        {/slideshow} {/exp:channel:entries}
    </div>
    <ol class="carousel-indicators">
        {exp:channel:entries channel="front_page" limit="1" entry_id="121" dynamic="no"} {slideshow}
        <li data-target="#slider" data-slide-to="{slideshow:index}" {if slideshow:count == '1'}class="active"{/if}></li>
        {/slideshow} {/exp:channel:entries}
    </ol>
    <!--.row-->
    <!-- Controls -->
    <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</section>
<!--#slider-->
<div class='container-custom'>
    <section class="categories row feature-products">
            <div class="primary-image">
                {exp:channel:entries channel='advertising' entry_id='355' status='not closed' dynamic='no' cache="yes" refresh="30"} {advertising_large limit='1'}
                <div class="category double-height col-xs-12 padding-kill">
                    <a href='{advertising_large:link}'>
							{exp:ce_img:single src="{advertising_large:advert}" attributes='alt="" class="img-responsive" height="auto" width="100%"' allow_scale_larger="yes" quality="60"}
						</a>
                </div>
                {/advertising_large} {/exp:channel:entries}
            </div>
            <div class="secondary-images">
                {exp:channel:entries channel='advertising' entry_id='355' status='not closed' dynamic='no'} {advertising_large limit='1' offset='1'}
                <div class="category col-xs-12 padding-kill">
                    <a href='{advertising_large:link}'>
							{exp:ce_img:single src="{advertising_large:advert}" attributes='alt="" class="img-responsive" height="auto" width="100%"' allow_scale_larger="yes" quality="60"}
						</a>
                </div>
                {/advertising_large} {/exp:channel:entries} {exp:channel:entries channel='advertising' entry_id='355' status='not closed' dynamic='no'} {advertising_large limit='1' offset='2'}
                <div class="category col-xs-12 padding-kill">
                    <a href='{advertising_large:link}'>
							{exp:ce_img:single src="{advertising_large:advert}" attributes='alt="" class="img-responsive" height="auto" width="100%"' allow_scale_larger="yes" quality="60"}
						</a>
                </div>
                {/advertising_large} {/exp:channel:entries}
            </div>
        <!-- /.container -->
    </section>
</div>
<section class="products container-custom">
    <ul id="productTabs" class="nav nav-tabs nav-justified clearfix borderTopBottom tab1" role="tablist">
        <li role="tab-navigation" class="active"><a href="#lounge-tab" aria-controls="home" role="tab" data-toggle="tab" data-tab="tab1">Lounge</a></li>
        <li role="tab-navigation"><a href="#dining-room-tab" aria-controls="profile" role="tab" data-toggle="tab" data-tab="tab2">Dining Room</a></li>
        <li role="tab-navigation"><a href="#bedroom-tab" aria-controls="profile" role="tab" data-toggle="tab" data-tab="tab3">Bedroom</a></li>
        <div class="clearfix"></div>
    </ul>
    <div class="tab-content">
        <div id="lounge-tab" class="tab-pane fade in active" role="tabpanel">
            <div class='row'>
                {exp:store:search channel="lounge_furniture" orderby="price" status="Open" limit="6" dynamic="no" orderby="random" category="not 29"}
                <div class="col-md-4 mb-30 product fadeInDown d{count}">
                    <a href="{title_permalink='lounge-furniture/detail'}" title="View {title}'s details">
                        <div class="product-image">
                            {product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" attributes='alt="{title}" class="img-responsive"' crop="yes" width="690" height="390" allow_scale_larger="yes" quality="30"}{/product_feature_image}
                        </div>
                        <div class="product-details clearfix">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h4>{title}</h4>
                                </div>
                                <!--col-md-8-->
                                <div class="col-md-4">
                                    <p><b>{product_details:price}</b></p>
                                </div>
                                <!--col-md-4-->
                            </div>
                        </div>
                        <!--product-details-->
                    </a>
                </div>
                <!--.col-md-4-->
                {if count == 3}</div>
            <div class='row'>{/if} {/exp:store:search}
            </div>
        </div>
        <!--#lounge-tab-->
        <div id="dining-room-tab" class="tab-pane fade" role="tabpanel">
            <div class='row'>
                {exp:store:search channel="dining_room_furniture" orderby="price" status="Open" limit="6" dynamic=="no" orderby="random"}
                <div class="col-md-4 mb-30 product fadeInDown d{count}">
                    <a href="{title_permalink='dining-room-furniture/detail'}" title="View {title}'s details">
                        <div class="product-image">
                            {product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" attributes='alt="{title}" class="img-responsive"' crop="yes" width="690" height="390" allow_scale_larger="yes" quality="30"}{/product_feature_image}
                        </div>
                        <div class="product-details clearfix">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h4>{title}</h4>
                                </div>
                                <!--col-md-8-->
                                <div class="col-md-4">
                                    <p><b>{product_details:price}</b></p>
                                </div>
                                <!--col-md-4-->
                            </div>
                        </div>
                        <!--product-details-->
                    </a>
                </div>
                <!--.col-md-4-->
                {if count == 3}</div>
            <div class='row'>{/if} {/exp:store:search}
            </div>
        </div>
        <!--#dining-room-tab-->
        <div id="bedroom-tab" class="tab-pane fade" role="tabpanel">
            <div class='row'>
                {exp:store:search channel="bedroom_furniture" orderby="price" status="Open" limit="6" dynamic=="no" orderby="random" category="not 31"}
                <div class="col-md-4 mb-30 product fadeInDown d{count}">
                    <a href="{title_permalink='bedroom-furniture/detail'}" title="View {title}'s details">
                        <div class="product-image">
                            {product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" attributes='alt="{title}" class="img-responsive"' crop="yes" width="690" height="390" allow_scale_larger="yes" quality="30"}{/product_feature_image}
                        </div>
                        <div class="product-details clearfix">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h4>{title}</h4>
                                </div>
                                <!--col-md-8-->
                                <div class="col-md-4">
                                    <p><b>{product_details:price}</b></p>
                                </div>
                                <!--col-md-4-->
                            </div>
                        </div>
                        <!--product-details-->
                    </a>
                </div>
                <!--.col-md-4-->
                {if count == 3}</div>
            <div class='row'>{/if} {/exp:store:search}
            </div>
        </div>
        <!--#bedroom-tab-->
    </div>
    <!--.tab-content-->
</section>
<!-- /.container -->
<!-- <div class='container-custom'>
    <section class="specials row padding-kill">
        {exp:channel:entries channel='advertising' entry_id='356' status='not closed' dynamic='no' cache="yes" refresh="30"} {advertising_large limit='1'}
        <div class="col-md-6 padding-kill bg-img specials" style='background-image:url({exp:ce_img:single src="{advertising_large:advert}" crop="yes" width="900" height="900" allow_scale_larger="yes" url_only="yes"})!important;'>
            <a href="{advertising_large:link}">
                <div class="content">
                    <h4>{advertising_large:caption}</h4>
                </div>
            </a>
        </div>
        {/advertising_large} {/exp:channel:entries} {exp:channel:entries channel='advertising' entry_id='356' status='not closed' dynamic='no'} {advertising_large limit='1' offset='1'}
        <div class="col-md-6 padding-kill bg-img specials" style='background-image:url({exp:ce_img:single src="{advertising_large:advert}" crop="yes" width="900" height="900" allow_scale_larger="yes" url_only="yes"})!important;'>
            <a href="{advertising_large:link}">
                <div class="content">
                    <h4>{advertising_large:caption}</h4>
                </div>
            </a>
        </div>
        {/advertising_large} {/exp:channel:entries}
    </section>
</div> -->

<div class="container-custom">
    
	<section class="specials row mb-0">
		{exp:channel:entries channel='advertising' entry_id='356' status='not closed' dynamic='no'}
		{advertising_large limit='1'}
		<div class="col-md-6 bg-img specials">
			
			<a href="{advertising_large:link}">

                <div class="content">
                    <h4>{advertising_large:caption}</h4>
                </div>
				{exp:ce_img:single src="{advertising_large:advert}" allow_scale_larger="yes" add_dims="no" attributes='style="width:100%;"'}

			</a>

		</div>
		{/advertising_large}
		{/exp:channel:entries}
		{exp:channel:entries channel='advertising' entry_id='356' status='not closed' dynamic='no'}
		{advertising_large limit='1' offset="1"}
		<div class="col-md-6 bg-img specials">
			
			<a href="{advertising_large:link}">

                <div class="content">
                    <h4>{advertising_large:caption}</h4>
                </div>
				{exp:ce_img:single src="{advertising_large:advert}" allow_scale_larger="yes" add_dims="no" attributes='style="width:100%;"'}

			</a>

		</div>
		{/advertising_large}
		{/exp:channel:entries}
	</section>

</div>


<section class="single-product pt-0">
    <div class="container-custom">
        {exp:channel:entries channel='lounge_furniture|bedroom_furniture|dining_room_furniture' dynamic="no" status='Featured' limit="1" cache="yes" refresh="30"}
        <section class="row product-of-the-week">
            <h3 class="section-title"><span>Product of the week</span></h3> {product_feature_image limit="1"}
            <div class="hidden"></div>
            <div class="col-md-6">
                <a href="/{relative_url}/{url_title}">

						{exp:ce_img:single src="{product_feature_image:image}" attributes="alt='{title}' width='100%' class='img-responsive' height='auto'" add_dims="no" width="1000" crop="no" allow_scale_larger="yes"}

					</a>
            </div>
            {/product_feature_image}
            <div class="col-md-6 col-sm-12">
                <div class="product-desc">
                    <p class="title uppercase border-kill">{title}</p>
                    <p class="desc margin-kill">{product_description}</p>
                </div>
                <div class="badges border-kill v-offset-30">
                    {product_materials} {exp:ce_img:single src="{product_materials:icon}" add_dims="no" max_width="150" crop="no" allow_scale_larger="yes"} {/product_materials}
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="starting-price uppercase">Starting Price</p>
                        <p class="large black">{product_details:price}</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!--<p class="finance-price blue journal">Finance Price</p>-->
                        <div class='auto-calculator-price orange mb-30'></div>
                    </div>
                </div>
                {embed="_includes/_sales_contact" product_name="{title}" frs_title="{frs_title}"} {if segment_4=="thankyou"} {embed="_includes/_generic_thankyou"} {/if}
                <div class="row mb-30">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a data-toggle="modal" data-target="#myModal" class="main-btn solid btn-block">Enquire Now</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="{path='finance/index'}" target="_blank" class="main-btn blue solid btn-block">Apply for finance</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
{/exp:channel:entries}
<section class="container-custom v-offset-40">
    <div class="row">
        {exp:channel:entries channel="front_page" entry_id="358" status="not closed" cache="yes" refresh="30"} {slideshow}
            <div class="col-md-6 finance-box">
                
                <img src='{exp:ce_img:single src=" {slideshow:image} " add_dims="no " allow_scale_larger="yes " max_width="1000 " url_only="yes "}' class="img-responsive">

                <div class="content">
                    <a href="{slideshow:link}" class="main-btn solid">Apply for Finance</a>
                </div>

            </div>
        {/slideshow} {/exp:channel:entries}
        <!--.col-md-6-->
        <div class="col-md-6 testimonials">
            <div class="content">
                <p class="title">
                    <span>Customer REviews</span>
                </p>
                <div class='testimonials-dividing-line'></div>
                <div id="testimonials" class="carousel slide testimonials-slider row" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {exp:channel:entries channel="testimonials" entry_id="219" dynamic="no"} {testimonial}
                        <div class="item{if testimonial:count=='1'} active in{/if}">
                            <div class="carousel-caption">
                                <p class="testimonial">{testimonial:quote}</p>
                                <p class="author">- {testimonial:customer}</p>
                            </div>
                        </div>
                        {/testimonial} {/exp:channel:entries}
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#testimonials" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#testimonials" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <a href="{path='testimonials/index'}" class="main-btn solid">View More</a>
            </div>
        </div>
        <!--.col-md-6-->
    </div>
</section>
<!-- /.container-fluid -->
</div>
</section>

<script>
    
    // addOnloadEvent(function(){

    //     alignTestimonials();

    // });

    // function alignTestimonials() {

    //     var testimonial = $('#testimonials').parents('.testimonials:first');
    //     var content = testimonial.find('.content:first');

    //     $('#testimonials').on('slid.bs.carousel', function() {

    //         var c_height = content.height();
    //         var t_height = testimonial.outerHeight(true);
    //         var excessSpace = t_height - c_height;
    //         var dist_top = excessSpace / 2;

    //         content.css({
    //             'top': dist_top + 'px',
    //             'position' : 'relative',
    //             'margin-top': -c_height / 2,
    //         });

    //     })

    // }

</script>
{embed="_includes/_footer"}
