{embed="_includes/_header" body_id="fp" body_class="static" page_title="Lounge, Dining and Bedroom Furniture" description="Welcome to Rochester Furniture’s official website. We sell dining room, bedroom and lounge furniture. It’s not just furniture, it’s Rochester." keywords="furniture, bedroom furniture, lounge furniture, home furniture, leather furniture, dining room furniture, La-Z-boy recliners, chairs, beds, tables, couches." }
<script src="{site_url}base-theme/js/rochester-calculator.js"></script>
<script>
var struct = jQuery('<div class="auto-calc-details"><div class="finance-blue blue" style="font-weight:bold;"></div><div class="blue small" style="padding-top:3px;font-weight:bold;">&nbsp;pm &times; <span class="months"></span> Months</div><div class="small blue">' +
    '<span class="deposit"></span> Deposit | Finance Price* <span class="total-finance-price"></span><br />Finance Price based on 23.75% rate*</div></div>');

jQuery(function() {

            // {
            //     !--this tag needs to be the same as the one
            //     for the featured product details below...--!
            // }

            var price = 0.00;

            {exp:channel:entries channel='lounge_furniture|bedroom_furniture|dining_room_furniture' dynamic = "no" status = 'Featured' limit = "1"}
            price = parseFloat('{product_details:price}'.replace(/[^0-9\.]+/gi, '')); 
            {/exp:channel:entries}

                var tw = [];
                var mt = 24;

                if (price > 4000.00)
                    mt = 36;

                tw = calculateFinanceAmounts(price, mt);

                if (tw.payment != '0.00') {
                    var st = struct.clone();
                    st.find('.finance-blue').text('R' + tw.payment);
                    st.find('.months').text(mt);
                    st.find('.deposit').text('R' + tw.deposit);
                    st.find('.total-finance-price').text('R' + tw.total);

                    jQuery('.auto-calculator-price').html('').append(st);
                } else
                    jQuery('.auto-calculator-price').hide();

            });
</script>
<section id="slider" class="container-fluid carousel slide main" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {exp:channel:entries channel="front_page" limit="1" entry_id="121" dynamic="no"} {slideshow}
        <div class="item{if slideshow:count=='1'} active{/if}">
            {exp:ce_img:single src="{slideshow:image}" alt="{slideshow:caption}" class="img-responsive"}
            <div class="content-container">
                <div class="carousel-caption">
                    <h1 class="fadeInDown d3">{slideshow:caption}</h1>
                    <a href="{slideshow:link}" class="main-btn fadeIn d4">{slideshow:link_caption}</a>
                </div>
            </div>
        </div>
        {/slideshow} {/exp:channel:entries}
    </div>
    <!--.row-->
    <!-- Controls -->
    <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#slider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</section>
<!--#slider-->
<div class='container-custom'>
    <section class="categories row feature-products">
            <div class="primary-image">
                {exp:channel:entries channel='advertising' entry_id='355' status='not closed' dynamic='no'} {advertising_large limit='1'}
                <div class="category double-height col-xs-12 padding-kill">
                    <a href='{advertising_large:link}'>
							{exp:ce_img:single src="{advertising_large:advert}" attributes='alt="" class="img-responsive" height="auto" width="100%"' allow_scale_larger="yes"}
						</a>
                </div>
                {/advertising_large} {/exp:channel:entries}
            </div>
            <div class="secondary-images">
                {exp:channel:entries channel='advertising' entry_id='355' status='not closed' dynamic='no'} {advertising_large limit='1' offset='1'}
                <div class="category col-xs-12 padding-kill">
                    <a href='{advertising_large:link}'>
							{exp:ce_img:single src="{advertising_large:advert}" attributes='alt="" class="img-responsive" height="auto" width="100%"' allow_scale_larger="yes"}
						</a>
                </div>
                {/advertising_large} {/exp:channel:entries} {exp:channel:entries channel='advertising' entry_id='355' status='not closed' dynamic='no'} {advertising_large limit='1' offset='2'}
                <div class="category col-xs-12 padding-kill">
                    <a href='{advertising_large:link}'>
							{exp:ce_img:single src="{advertising_large:advert}" attributes='alt="" class="img-responsive" height="auto" width="100%"' allow_scale_larger="yes"}
						</a>
                </div>
                {/advertising_large} {/exp:channel:entries}
            </div>
        <!-- /.container -->
    </section>
</div>
<section class="products container-custom">
    <ul id="productTabs" class="nav nav-tabs nav-justified clearfix borderTopBottom tab1" role="tablist">
        <li role="tab-navigation" class="active"><a href="#lounge-tab" aria-controls="home" role="tab" data-toggle="tab" data-tab="tab1">Lounge</a></li>
        <li role="tab-navigation"><a href="#dining-room-tab" aria-controls="profile" role="tab" data-toggle="tab" data-tab="tab2">Dining Room</a></li>
        <li role="tab-navigation"><a href="#bedroom-tab" aria-controls="profile" role="tab" data-toggle="tab" data-tab="tab3">Bedroom</a></li>
        <div class="clearfix"></div>
    </ul>
    <div class="tab-content">
        <div id="lounge-tab" class="tab-pane fade in active" role="tabpanel">
            <div class='row'>
                {exp:store:search channel="lounge_furniture" orderby="price" status="Open" limit="6" dynamic="no" orderby="random" category="not 29"}
                <div class="col-md-4 mb-30 product fadeInDown d{count}">
                    <a href="{title_permalink='lounge-furniture/detail'}" title="View {title}'s details">
                        <div class="product-image">
                            {product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" attributes='alt="{title}" class="img-responsive"' crop="yes" width="690" height="390" allow_scale_larger="yes"}{/product_feature_image}
                        </div>
                        <div class="product-details clearfix">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h4>{title}</h4>
                                </div>
                                <!--col-md-8-->
                                <div class="col-md-4">
                                    <p><b>{product_details:price}</b></p>
                                </div>
                                <!--col-md-4-->
                            </div>
                        </div>
                        <!--product-details-->
                    </a>
                </div>
                <!--.col-md-4-->
                {if count == 3}</div>
            <div class='row'>{/if} {/exp:store:search}
            </div>
        </div>
        <!--#lounge-tab-->
        <div id="dining-room-tab" class="tab-pane fade" role="tabpanel">
            <div class='row'>
                {exp:store:search channel="dining_room_furniture" orderby="price" status="Open" limit="6" dynamic=="no" orderby="random"}
                <div class="col-md-4 mb-30 product fadeInDown d{count}">
                    <a href="{title_permalink='dining-room-furniture/detail'}" title="View {title}'s details">
                        <div class="product-image">
                            {product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" attributes='alt="{title}" class="img-responsive"' crop="yes" width="690" height="390" allow_scale_larger="yes"}{/product_feature_image}
                        </div>
                        <div class="product-details clearfix">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h4>{title}</h4>
                                </div>
                                <!--col-md-8-->
                                <div class="col-md-4">
                                    <p><b>{product_details:price}</b></p>
                                </div>
                                <!--col-md-4-->
                            </div>
                        </div>
                        <!--product-details-->
                    </a>
                </div>
                <!--.col-md-4-->
                {if count == 3}</div>
            <div class='row'>{/if} {/exp:store:search}
            </div>
        </div>
        <!--#dining-room-tab-->
        <div id="bedroom-tab" class="tab-pane fade" role="tabpanel">
            <div class='row'>
                {exp:store:search channel="bedroom_furniture" orderby="price" status="Open" limit="6" dynamic=="no" orderby="random" category="not 31"}
                <div class="col-md-4 mb-30 product fadeInDown d{count}">
                    <a href="{title_permalink='bedroom-furniture/detail'}" title="View {title}'s details">
                        <div class="product-image">
                            {product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" attributes='alt="{title}" class="img-responsive"' crop="yes" width="690" height="390" allow_scale_larger="yes"}{/product_feature_image}
                        </div>
                        <div class="product-details clearfix">
                            <div class="row">
                                <div class="col-md-8 col-sm-8">
                                    <h4>{title}</h4>
                                </div>
                                <!--col-md-8-->
                                <div class="col-md-4">
                                    <p><b>{product_details:price}</b></p>
                                </div>
                                <!--col-md-4-->
                            </div>
                        </div>
                        <!--product-details-->
                    </a>
                </div>
                <!--.col-md-4-->
                {if count == 3}</div>
            <div class='row'>{/if} {/exp:store:search}
            </div>
        </div>
        <!--#bedroom-tab-->
    </div>
    <!--.tab-content-->
</section>
<!-- /.container -->
<!-- <div class='container-custom'>
    <section class="specials row padding-kill">
        {exp:channel:entries channel='advertising' entry_id='356' status='not closed' dynamic='no'} {advertising_large limit='1'}
        <div class="col-md-6 padding-kill bg-img specials" style='background-image:url({exp:ce_img:single src="{advertising_large:advert}" crop="yes" width="900" height="900" allow_scale_larger="yes" url_only="yes"})!important;'>
            <a href="{advertising_large:link}">
                <div class="content">
                    <h4>{advertising_large:caption}</h4>
                </div>
            </a>
        </div>
        {/advertising_large} {/exp:channel:entries} {exp:channel:entries channel='advertising' entry_id='356' status='not closed' dynamic='no'} {advertising_large limit='1' offset='1'}
        <div class="col-md-6 padding-kill bg-img specials" style='background-image:url({exp:ce_img:single src="{advertising_large:advert}" crop="yes" width="900" height="900" allow_scale_larger="yes" url_only="yes"})!important;'>
            <a href="{advertising_large:link}">
                <div class="content">
                    <h4>{advertising_large:caption}</h4>
                </div>
            </a>
        </div>
        {/advertising_large} {/exp:channel:entries}
    </section>
</div> -->

<div class="container-custom">
    
	<section class="specials row mb-20">
		{exp:channel:entries channel='advertising' entry_id='356' status='not closed' dynamic='no'}
		{advertising_large limit='1'}
		<div class="col-md-6 bg-img specials">
			
			<a href="{advertising_large:link}">

				{exp:ce_img:single src="{advertising_large:advert}" allow_scale_larger="yes" add_dims="no" attributes='class="img-responsive"'}

			</a>

		</div>
		{/advertising_large}
		{/exp:channel:entries}
		{exp:channel:entries channel='advertising' entry_id='356' status='not closed' dynamic='no'}
		{advertising_large limit='1' offset="1"}
		<div class="col-md-6 bg-img specials">
			
			<a href="{advertising_large:link}">

				{exp:ce_img:single src="{advertising_large:advert}" allow_scale_larger="yes" add_dims="no" attributes='class="img-responsive"'}

			</a>

		</div>
		{/advertising_large}
		{/exp:channel:entries}
	</section>

</div>


<section class="single-product">
    <div class="container-custom">
        {exp:channel:entries channel='lounge_furniture|bedroom_furniture|dining_room_furniture' dynamic="no" status='Featured' limit="1"}
        <section class="row product-of-the-week">
            <h3 class="section-title"><span>Product of the week</span></h3> {product_feature_image limit="1"}
            <div class="hidden"></div>
            <div class="col-md-6">
                <a href="/{relative_url}/{url_title}">

						{exp:ce_img:single src="{product_feature_image:image}" attributes="alt='{title}' width='100%' class='img-responsive' height='auto'" add_dims="no" width="1000" crop="no" allow_scale_larger="yes"}

					</a>
            </div>
            {/product_feature_image}
            <div class="col-md-6 col-sm-12">
                <div class="product-desc">
                    <p class="title uppercase border-kill">{title}</p>
                    <p class="desc margin-kill">{product_description}</p>
                </div>
                <div class="badges border-kill v-offset-30">
                    {product_materials} {exp:ce_img:single src="{product_materials:icon}" add_dims="no" max_width="150" crop="no" allow_scale_larger="yes"} {/product_materials}
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="starting-price uppercase">Starting Price</p>
                        <p class="large black">{product_details:price}</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <!--<p class="finance-price blue journal">Finance Price</p>-->
                        <div class='auto-calculator-price orange mb-30'></div>
                    </div>
                </div>
                {embed="_includes/_sales_contact" product_name="{title}" frs_title="{frs_title}"} {if segment_4=="thankyou"} {embed="_includes/_generic_thankyou"} {/if}
                <div class="row mb-30">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a data-toggle="modal" data-target="#myModal" class="main-btn solid btn-block">Enquire Now</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <a href="{path='finance/index'}" target="_blank" class="main-btn blue solid btn-block">Apply for finance</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
{/exp:channel:entries}
<section class="container-custom v-offset-40">
    <div class="row">
        {exp:channel:entries channel="front_page" entry_id="358" status="not closed"} {slideshow}
        <div class="col-md-6 finance-box mh500" style="background-image: url({exp:ce_img:single src=" {slideshow:image} " add_dims="no " allow_scale_larger="yes " max_width="1000 " url_only="yes "}) !important;">
            <div class="content">
                <img src="{site_url}base-theme-2016/img/get-it-on-finance.png" width="230" class="mb-30" alt="Get It On Finance">
                <p class="sub-text">{slideshow:caption}</p>
                <a href="{slideshow:link}" class="main-btn solid">{slideshow:link_caption}</a>
            </div>
            <div class="clearfix"></div>
        </div>
        {/slideshow} {/exp:channel:entries}
        <!--.col-md-6-->
        <div class="col-md-6 testimonials">
            <div class="content">
                <p class="title">
                    <span>Customer Reviews</span>
                </p>
                <div class='testimonials-dividing-line'></div>
                <div id="testimonials" class="carousel slide testimonials-slider row" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {exp:channel:entries channel="testimonials" entry_id="219" dynamic="no"} {testimonial}
                        <div class="item{if testimonial:count=='1'} active in{/if}">
                            <div class="carousel-caption">
                                <p class="testimonial">{testimonial:quote}</p>
                                <p class="author">- {testimonial:customer}</p>
                            </div>
                        </div>
                        {/testimonial} {/exp:channel:entries}
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#testimonials" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#testimonials" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <a href="{path='testimonials/index'}" class="main-btn solid">View More</a>
            </div>
        </div>
        <!--.col-md-6-->
    </div>
</section>
<!-- /.container-fluid -->
</div>
</section>
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('3049-983-10-6105');/*]]>*/</script><noscript><a href="https://www.olark.com/site/3049-983-10-6105/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->
{embed="_includes/_footer"}
