/*=============================================
Rochester Furniture
www.hellocavalry.com
Version: 1

Base campaign style - leverages main site styles
=============================================*/
/*Utilities - color, spacing & alignment
=============================================*/

@font-face {
    font-family: 'dancing_script_otregular';
    src: url('../fonts/ds/dancingscript-regular-webfont.eot');
    src: url('../fonts/ds/dancingscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ds/dancingscript-regular-webfont.woff') format('woff'),
         url('../fonts/ds/dancingscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/ds/dancingscript-regular-webfont.svg#dancing_script_otregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.ds{font-family: 'dancing_script_otregular';}

.orange-bg{background-color:#DB6A02;}
.orange{color:#DB6A02;}
.white-bg{background-color:#fff;}

.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-60{margin-bottom:60px;}

.padding{padding:10px;}
.padding-vertical-10{padding-top:10px;padding-bottom:10px;}
.padding-vertical-20{padding-top:20px;padding-bottom:20px;}
.padding-vertical-40{padding-top:40px;padding-bottom:40px;}
.padding-vertical-60{padding-top:60px;padding-bottom:60px;}

.center{text-align:center;}
img.centered{margin:0 auto;}
.border{display:block;width:80px;height:2px;background:#060606;margin:0 auto 10px auto;}
.white .border{background:#fff;}

.hover-trans img,#scroll-nav a{opacity:1;}
.hover-trans img:hover,#scroll-nav a:hover{opacity:.5;transition:opacity .5s ease-out;-moz-transition:opacity .5s ease-out;-webkit-transition:opacity .5s ease-out;-o-transition:opacity .5s ease-out;}

.border-bottom{border-bottom:1px solid #e9e9e9;height:1px;}

.faux-container{display:block;width:100%;height:auto;}
.faux-container img{margin-left:auto;margin-right:auto;}
.relative{position:relative;}



/*Campaign hack and slash
=============================================*/
body{background:#eee;}
#main{background:#fff;}

.sub-mast{width:100%;height:200px;background: url('../images/grass-strip.jpg') no-repeat scroll top center;border-bottom:20px solid #DB6A02;}
.sub-mast .absolute{position:absolute;width:100%;top:20px;z-index:100;}
.sub-mast .mast-circles{position:absolute;top:40px;background: url('../images/misc-circles-small.png') no-repeat scroll center center;width:100%;height:52px;}

.spring-brand{background:url('../images/SpringBranding-sm.png') no-repeat scroll center center;width:260px;height:265px;margin:0 auto;display:block;text-indent:-999px;}
.faux-border{border-bottom:10px solid #fff;-webkit-box-shadow:0px 5px 10px -6px #333;-moz-box-shadow:0px 5px 10px -6px #333;box-shadow:0px 5px 10px -6px #333;}

#block1{border-bottom:10px solid #fff;}

.sub-title{background: url('../images/orange-cap.png') no-repeat scroll center right;position:absolute;top:40px;color:#fff;padding-right:100px;padding-left:20px;}	
.sub-title p{font-size:13px;margin:0px;padding:10px 0;}	

.price-wrap{border-top:10px solid #fff;border-bottom:10px solid #fff;color:#fff;}
.grass-strip{background: url('../images/grass-strip.jpg') no-repeat scroll center center;}
.price-point{background: url('../images/green-end-cap.png') no-repeat scroll center left;padding:20px;}
.price-point .inner{padding-left:130px;}

.right-text{text-align:right;}
.right-text p.ds{padding-top:47px;}
p.ds{font-size:41px;letter-spacing:0.04em;}
p.small{font-size:13px;margin:0 0 10px 0;letter-spacing:0.04em;padding-left:3px;}
p.big{font-size:76px;margin:0 0 10px 0;font-weight:600;line-height:58px;letter-spacing:0.04em;}
p.sub{font-size:16px;margin:0 0 10px 0;letter-spacing:0.04em;padding-left:3px;}
span.hype{font-size:21px;font-style:italic;}

.finance-wrap{background-color:#DB6A02;color:#fff;}
.finance-wrap img{margin-top:-80px;}
.finance-wrap p.ds{margin:0 0 10px 0;padding-top:15px;}
.less-margin{margin-bottom:5px !important;}

#block2, #block3,#block4{border-top:10px solid #DB6A02;}
.push-top{padding-top:100px;}
.border-orange{width:100%;height:10px;background-color:#DB6A02;display:block;clear:both;}
#block4{border-bottom:10px solid #fff;}
#block4 .finance-wrap p.ds,#block5 .finance-wrap p.ds,#block6 .finance-wrap p.ds,#block7 .finance-wrap p.ds,#block8 .finance-wrap p.ds{padding-top:0px;}
#block5{border-bottom:10px solid #fff;}
#block6 .finance-wrap img{margin-top:-130px;}
#block6,#block7{border-bottom:10px solid #DB6A02;}


#contact{background: url('../images/sky.jpg') no-repeat scroll top center;border-top:10px solid #fff;}
.grass-footer{position:absolute;bottom:0;z-index:0;border-bottom:10px solid #fff;width:100%;background: url('../images/grass-footer.png') repeat-x scroll bottom left;height: 156px;}

.parallax-bg2{z-index:10;background-image: url('../images/misc-parallax-1.png'); background-attachment:fixed;background-position:50% 0;}
.parallax-bg3{z-index:10;background-image: url('../images/misc-parallax-2.png'); background-attachment:fixed;background-position:-50% 0;}

.push-bottom{padding-bottom:140px;}

.ds.large{color:#93C01F;}
.numbers{margin:0;padding:0;list-style:none;}
.numbers li{color:#DB6A02;font-size:18px;height:70px;}
.numbers li span{font-size:20px;}	
.numbers li strong{font-weight:bold !important;}
span.circle{background:url('../images/circle.png') scroll center center;width:30px;height:30px;display:inline-block;padding-top:4px;text-align:center;font-size:15px !important;}

#contact .large{font-size:48px;}

#scroll-nav{background-color:#93C01F;border-bottom:solid 10px #fff;display:none;}
#scroll-nav a{color:#fff;padding:10px;font-size:18px;display:block;text-align:center;}
/*Mobile hacks
=================*/

.mobile-price-wrap{background-color:#93C01F;color:#fff;padding:20px;}
.mobile-price-wrap p.ds{font-size:24px;letter-spacing:0.04em;}}
.mobile-price-wrap p.small{font-size:13px;margin:0 0 10px 0;letter-spacing:0.04em;padding-left:3px;}
.mobile-price-wrap p.big{font-size:48px;margin:0 0 10px 0;font-weight:600;line-height:38px;letter-spacing:0.04em;}
.mobile-price-wrap p.sub{font-size:14px;margin:0 0 10px 0;letter-spacing:0.04em;padding-left:3px;}

.pusher{width:100%;height:50px;}

@media(max-width:767px){
.block{margin-bottom:40px;}

}

/*Button - See .btn styles in bootstrap
=============================================*/
.btn-trans{border:1px solid #fff !important;background-color:transparent;border-radius:3px;color:#fff;text-transform:uppercase;letter-spacing:0.05em;font-size:14px;}
.btn-trans.btn-lg{padding:15px 25px;}
.btn-trans:hover{color:#fff;background:rgba(255,255,255,.1);filter:alpha(opacity=50);}
.btn-orange{color:#DB6A02;border:solid 1px #DB6A02;background-color:transparent;border-radius:3px;text-transform:uppercase;letter-spacing:0.05em;font-size:14px;}
.btn-orange:hover{color:#DB6A02;background:rgba(219,106,2,.1);filter:alpha(opacity=50);}
.vertical-borders{border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;padding:12px;text-align:center;display:block;}
.wish-list span{font-size:12px;}


/*Forms and form typography
=============================================*/
/*See lib/bootstrap-select for select dropdown styling*/
.form-generic label{display:block;text-align:center;margin-top:10px;margin-bottom:20px;font-size:0.8em;text-transform:uppercase;color:#fff;font-weight:200;letter-spacing:0.05em;}
.form-generic input{font-weight:200;}
.form-generic textarea{font-weight:200;}
.search,input.search{color:#fff;font-weight:200;letter-spacing:0.05em;font-size:21px;padding:5px 23px;outline:none;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #AA520A;background:rgba(219,106,2,1);border-radius:4px;}
.search span,.search-span{color:#111;padding:5px;font-size:16px;}
.search:hover{text-decoration:none;background:rgba(219,106,2,.5);}
.search-well{background:rgba(245,245,245,.2);border:1px solid #e3e3e3;padding-top:20px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05);}
.search-form input,.search-form select{font-size:14px;font-weight:200;}
.italic-input{font-style:italic;}
input.wish-list{background:transparent;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;border-right:0;border-left:0;width:100%;display:block;}
input.wish-list:hover{color:#111;}
input.wish-list:active,input.wish-list:focus{outline:none;}

#contact input,#contact select,#contact textarea{border:solid 2px #DB6A02;}
.footer-strip{width:100%;height:20px;background: url('../images/footer-strip.jpg') repeat-x scroll top left;clear:both;}

#section-nav{margin:0;padding:0;position:fixed;right:20px;top:24%;list-style:none;}
#section-nav li{margin:0 0 5px 0;padding:0;}
#section-nav li a{text-indent:-99999px;background: url('../images/section-nav.png') no-repeat scroll top left;width: 25px;height:18px;display:block;}
#section-nav li a:hover{background-position:bottom left;}
/*.form-control{height:45px;}*/

/*Primary navigation and branding
=============================================*/
.navbar-default .navbar-toggle .icon-bar{background-color:#fff;}
.navbar-default .navbar-toggle{border-color:#fff;}
.navbar-default .navbar-toggle:hover{background:rgba(255,255,255,.1);filter:alpha(opacity=50);}
.navbar{background-color:#DB6A02;border-bottom:10px solid #fff;border-top:0;border-right:0;border-left:0;border-radius:0;margin-bottom:0;}
#products-nav.navbar-nav a{color:#fff;text-transform:uppercase;font-size:16px;letter-spacing:0.03em;padding:8px 0;margin:0 15px;}
#sub-nav{margin:0;padding:0;list-style:none;}
#sub-nav a{color:#fff;text-transform:uppercase;font-size:12px;letter-spacing:0.04em;padding:8px 0;margin-left:10px;font-weight:200;}
#products-nav .dropdown-menu a{color:#111;padding:5px 70px 5px 10px;margin:0;font-size:0.9em;text-transform:uppercase;font-weight:300;}
#products-nav .dropdown-toggle{background-color:transparent;}
#products-nav .divider{height:1px;margin:5px 0;overflow:hidden;background-color:#e5e5e5;}
.navbar-nav > li > .dropdown-menu{margin-top:10px;}
/*Overwrites bootstrap style - margin-top:0;bootstrap.css 3909*/
.text-nav{margin:0;padding:0;list-style:none;}
.text-nav li{margin:0;}
.text-nav li a{text-transform:uppercase;display:block;padding:5px 0;font-size:14px;color:#666;}
.navbar-nav a,.text-nav li a{opacity:1;}
.navbar-nav a:hover,.text-nav li a:hover{opacity:.7;transition:opacity .7s ease-out;-moz-transition:opacity .7s ease-out;-webkit-transition:opacity .7s ease-out;-o-transition:opacity .7s ease-out;}
.navbar-nav li.current > a{border-bottom:solid 2px #fff;}
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{background-color:#f6f6f6;}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus{border-color:#fff;}
.cl-effect-3 a::after{position:absolute;top:100%;left:0;width:100%;height:4px;background:rgba(0,0,0,0.1);content:'';opacity:0;-webkit-transition:opacity 0.3s,-webkit-transform 0.3s;-moz-transition:opacity 0.3s,-moz-transform 0.3s;transition:opacity 0.3s,transform 0.3s;-webkit-transform:translateY(10px);-moz-transform:translateY(10px);transform:translateY(10px);}
.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);transform:translateY(0px);}

	

/*Footers
=============================================*/
#sub-footer .col-md-3{margin-bottom:20px;}
#sub-footer-newsletter{background-image: url('../images/parallax-bg-footer.jpg'); background-attachment:fixed;background-position:50% 0;}
#base-footer{background-color:#111;}
#base-footer .social{margin:0; padding:0;text-align: center;display:block;}
#base-footer .social li{display:inline-block;margin:0px 5px;}
#base-footer .social li a{display:block;width:36px;height:36px;text-indent:-9999px;opacity:1;}
#base-footer .social li.facebook a{background: url('../images/facebook-large.png') no-repeat scroll top left;}
#base-footer .social li.twitter a{background: url('../images/icons/twitter-large.png') no-repeat scroll top left;}
#base-footer .social li.google a{background: url('../images/google-large.png') no-repeat scroll top left;}
#base-footer .social li a:hover{opacity:.5;transition:opacity .5s ease-out;-moz-transition:opacity .5s ease-out;-webkit-transition:opacity .5s ease-out;-o-transition:opacity .5s ease-out;}
#base-footer p.caps a{color:#9B9B9B;}
#base-footer p.caps a:hover{color:#fff;}

