/*=============================================
Rochester Furniture
www.hellocavalry.com
Version: 1
===============================================
Custom media queries
=============================================*/

@media screen and (max-width: 860px) {
  .slider-nav #prev { opacity: 1; left: 10px !important;}
  .slider-nav #next { opacity: 1; right: 10px !important;}
  .slider-nav{top:28%;}
}

@media(max-width:767px){
#entry #main{margin-top:20px;}	

}
@media(min-width:768px){
section#hero{height:360px;overflow:hidden;}	
}

/*==============================MEDIUM SCREENS====*/
@media(min-width:992px){
section#hero{height:460px;overflow:hidden;}	
}
	
/*==============================LARGE SCREENS====*/
@media(min-width:1200px){
section#hero{height:860px;overflow:hidden;}	
}
