{embed="_includes/_header"
body_id="about"
body_class="static"
page_title="404"
description="404"
keywords="Rochester furniture, leather furniture, movable furniture, bedroom, dining room, lounge"
}

<section id="main" class="container v-offset-40">

	<div class="title mb-60 center-align">
		<h1>404</h1>
		<span class="border"></span>
	</div><!--title-->

	<div class="col-md-12">
		<div class="white-bg clearfix">
			<div class="col-md-12 center-align mb-40">
				<p class="mb-30">Sorry but we cant find the page you were looking for.</p>
				<a href="{site_url}" class="main-btn solid">Back to website</a>
			</div><!--col-md-12-->

			<div class="clearfix mb-40 col-md-12">
				<img src="{site_url}base-theme-2016/images/utilities/about-animated.jpg" class="animated fadeIn img-responsive centered" alt="It's not just furniture..It's Rochester">
			</div>
		</div>
	</div>

	{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
	<div class="col-md-12 full-width-advert mb-40">
		{advertising_large}
		<a href="{advertising_large:link}" title="{advertising_large:caption}">
		{exp:ce_img:single src="{advertising_large:advert}" alt="{advertising_large:caption}" class="img-responsive centered" crop="yes" width="1300" allow_scale_larger="yes"}
		</a>
		{/advertising_large}
	</div><!--full-width-advert-->
	{/exp:channel:entries}
		

</section><!--main-->



{embed="_includes/_footer"}