{exp:channel:entries channel="collections_dining" limit="1" status="not closed"}
{embed="_includes/_header"
body_id="entry"
body_class="furniture lounge detail"
page_title="{title}"
description="{exp:eehive_hacksaw}{product_description}{/exp:eehive_hacksaw}"
keywords="Lounge furniture, living room furniture"
canonical="{rel_canonical}"
}

<script src="{site_url}base-theme/js/rochester-calculator.js?1.1.171013"></script>
<script>
	
	var struct = jQuery('<div class="auto-calc-details"><div class="finance-blue gray" style="font-weight:500;"></div><div class="gray small per-month" style="padding-top:3px;font-weight:500;">&nbsp;pm &times; <span class="months"></span> Months</div><div class="small gray">'+
		'<span class="deposit"></span> Deposit | Finance Price* <span class="total-finance-price"></span><br />Finance Price based on 23.75% rate*</div></div>');
		
	jQuery(function(){
	
		var price = parseFloat('{collection_price}'.replace(/[^0-9\.]+/gi, ''));
		var amount = 'R' + price.toLocaleString();
		var tw = [];
		var mt = 24;
		
		if (price > 4000.00)
			mt = 36;
			
		tw = calculateFinanceAmounts(price, mt);
			
		if (tw.payment != '0.00')
		{
			var st = struct.clone();
			st.find('.finance-blue').text('R' + tw.payment);
			st.find('.months').text(mt);
			st.find('.deposit').text('R' + tw.deposit);
			st.find('.total-finance-price').text('R' + tw.total);
			
			jQuery('.auto-calculator-price').html('').append(st);
		}
		else
			jQuery('.auto-calculator-price').hide();


		$('.total-amount').text(amount);

			
	});
</script>
	
<section class="container-custom">
	
	<div class="row breadcrumbs">
	


		<div class="col-md-8 col-sm-8 col-xs-12">
			
			<p>You are Here: <span class="first"><a href='{path="/"}'>Home</a></span><span><a href='{path="collections"}'>Collections</a></span><span>{categories limit='1'}<a href='{path="bedroom-furniture"}'>{category_name}</a>{/categories}</span><span class="cur-prod">{title}</span></p>

		</div>
		<div class="col-md-4 col-sm-4 social col-xs-12">
			
			<p>Share this page</p>
			<a href="" onclick='window.open("https://www.facebook.com/sharer/sharer.php?u=" + escape("{title_permalink='bedroom-furniture/detail'}"), "sharewindow", "width=500,height=300"); return false;'><i class="fa fa-facebook"></i>
			</a><a href="" onclick='window.open("https://twitter.com/home?status=Have%20a%20look%20at%20the%20Rochester%20{title}%20-%20" + escape("{title_permalink='bedroom-furniture/detail'}"), "sharewindow", "width=500,height=350"); return false;'><i class="fa fa-twitter"></i></a>

		</div>

	</div>

</section>

<!-- START OF SINGLE PRODUCT MAIN CONTAINER -->

<section class="single-product scrollAnchor">
	<div class="container-custom">
		
		
		<div class="row top">
			
		    <div class="col-md-6 pr-100 pr-sm-15 pr-xs-15">
             
                    <div class="carousel slide" id="prod-slider">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

							{/exp:channel:entries}

							{exp:channel:entries channel="collections_dining" limit="1" status="not closed"}
							{included_furniture}
							{included_furniture:product_feature_image}
								<div class="item{if included_furniture:count == 2 || included_furniture:total_rows == 1} active{/if}" data-slide-number="{included_furniture:count}">
									{exp:ce_img:single src="{product_feature_image:image}" attributes="alt='{title}' width='100%' class='img-responsive'" add_dims="no" width="1000" crop="no" allow_scale_larger="yes"}
								</div>
							{/included_furniture:product_feature_image}
							{/included_furniture}
							{/exp:channel:entries}

							{exp:channel:entries channel="collections_dining" limit="1" status="not closed"}

                        </div><!-- Carousel inner -->
						
                        <a class="carousel-control left" data-slide="prev" href="#prod-slider"><i class="fa fa-angle-left"></i></a> <a class="carousel-control right" data-slide="next" href="#prod-slider"><i class="fa fa-angle-right"></i></a>
                  
                </div><!--carousel-slide-->

		        <!-- START OF PRODUCT SLIDER THUMBS -->
                <div class="row hidden-xs" id="slider-thumbs">
                    <!-- Bottom switcher of slider -->
                    <div class="thumbs-container">
	                    <ul class="thumbnails">
							
							{/exp:channel:entries}
							{exp:channel:entries channel="collections_dining" limit="1" status="not closed"}
							{included_furniture}
							{included_furniture:product_feature_image}
								<li>
									<a class="thumbnail{if product_feature_image:count == 2 || product_feature_image:total_rows == 1} active{/if}" id="carousel-selector-{included_furniture:count}">
										{exp:ce_img:single src="{product_feature_image:image}" attributes="alt='{title}' width='100%' class='img-responsive'" add_dims="no" width="400" height="260" crop="yes" allow_scale_larger="yes"}
									</a>
								</li>
							{/included_furniture:product_feature_image}
							{/included_furniture}
							{/exp:channel:entries}
							{exp:channel:entries channel="collections_dining" limit="1" status="not closed"}

	                       	<div class="clearfix"></div>
	                    </ul>
                    </div>
                </div>
				<!-- END PRODUCT SLIDER THUMBS -->

				{included_furniture}
				{included_furniture:product_gallery_options}
					
					{if product_gallery_options:title != '' || product_gallery_options:icon != '' || product_gallery_options:count == 1}
						<div class="slider-btns" style="border-top:1px solid #CCC;max-width:750px;padding-top:20px;margin: 10px auto;">
						{if product_gallery_options:count == 1}
							<div><p class="lead mt-10 mb-10" style="font-family:'Helvetica Neue',Helvetica,arial,sans-serif;font-weight:bold;font-size:1.1em; color:#333;">
							{if product_gallery_title != ''}
								{product_gallery_title}
							{/if}
							</p></div>
						{/if}

						<div class="colours sandbox">
							{if product_gallery_options:icon != ''}
							<button href="#" class="btn option-btn" data-toggle="modal" data-target="#colour-modal-{product_gallery_options:count}">
							<img src="{product_gallery_options:icon}" class="img-responsive" width="auto" height="auto"><span class="block text-center">{product_gallery_options:title}</span></button>
							{/if}
						</div>
						<!-- Modal -->
						<div class="modal fade colour-modal-contain" id="colour-modal-{product_gallery_options:count}" tabindex="-1" role="dialog" aria-labelledby="colourModal" >
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-body">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class="carousel slide" id="colour-slider-{product_gallery_options:count}">
											<!-- Carousel items -->
											<!-- Indicators -->

											<div class="carousel-inner">


											</div><!-- Carousel nav -->
											<a class="carousel-control transition left" data-slide="prev" href="#colour-slider-{product_gallery_options:count}"><i class="fa fa-angle-left"></i></a> <a class="carousel-control transition right" data-slide="next" href="#colour-slider-{product_gallery_options:count}"><i class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<script>
							jQuery(function(){
								colourModal("colour-modal-{product_gallery_options:count}", "prod-colours-{product_gallery_options:count}", "colour-slider-{product_gallery_options:count}");
							});
						</script>
						</div>
						{if product_gallery_options:count != 1}</div>{/if}
						<div class="prod-colours-{product_gallery_options:count} sandbox"><ol class="carousel-indicators"></ol>
						
					{/if}
					
					<div class="item" data-slide-number="{product_gallery_options:count}">
						{exp:ce_img:single src="{product_gallery_options:image}" attributes="alt='{title}' width='100%' class='img-responsive'" add_dims="no" width="1000" crop="no" allow_scale_larger="yes"}
					</div>
				{/included_furniture:product_gallery_options}


				{if '{included_furniture:product_gallery_options:total_rows}' != '0'}
						</div><!-- CLOSING prod-colours-x hidden div... -->
				{/if}
				{/included_furniture}
				
		    </div><!--col-md-6-->
			
			
	               <div class="col-md-6 col-sm-12">
				
	                   <div class="product-desc">
	                       <p class="title uppercase border-kill">{title}</p>
	                       
	                       <p class="desc margin-kill">{included_furniture:product_description}</p>
	                       

	                       {/exp:channel:entries}

	                       <div class="row">
	                       		<div class="collection-products">

	                       			{exp:channel:entries channel="collections_dining" limit="1" status="not closed"}
	                       			{included_furniture limit="4"}
	                       			<div class="col-lg-2 col-sm-3 col-xs-6">

	                       				{if included_furniture:channel_short_name == 'dining_room_furniture'}
	                       				<a href="{path='dining-room-furniture/detail/{included_furniture:url_title}'}">
	                       				{if:elseif included_furniture:channel_short_name == 'lounge_furniture'}
	                       				<a href="{path='lounge-furniture/detail/{included_furniture:url_title}'}">
	                       				{if:else}
	                       				<a href="{path='bedroom-furniture/detail/{included_furniture:url_title}'}">
	                       				{/if}
	                       				{included_furniture:product_feature_image}

		                       				{exp:ce_img:single src="{included_furniture:product_feature_image:image}" attributes="alt='{title}' class='img-responsive'" add_dims="no" height="120" width="160" crop="yes" allow_scale_larger="yes"}

	                       				{/included_furniture:product_feature_image}
	                       				<p>{included_furniture:title}</p>
	                       				</a>
	                       					                       				
	                       			</div>
	                       			{/included_furniture}
	                       			{/exp:channel:entries}
	                       		</div>
	                       </div>

	                       {exp:channel:entries channel="collections_dining" limit="1" status="not closed"}

	                       <hr>
	                   </div>
				
	                   <div class="row mt-20">
	                       <div class="col-lg-4 col-sm-6 col-xs-12">
	                            <p class="starting-price uppercase">Starting Price</p>
	                            <p class="large black weight-regular total-amount"></p>
	                       </div>
					
	                       <div class="col-lg-5 col-sm-6 col-xs-12">
	   						
						   <p class="finance-price uppercase">Finance Price</p>
						   <div class='auto-calculator-price mb-30'></div>
	   							
	                       </div>
					
	                   </div>
					   {embed="_includes/_sales_contact" product_name="{title}" frs_title="{frs_title}"}	
					   
					   	{if segment_4=="thankyou"}
					   	{embed="_includes/_generic_thankyou"}
					   	{/if}

					   	<div class="row mb-30">
				   			
					   		<div class="col-lg-4 col-sm-6 col-xs-6">
					   			
					   			<a data-toggle="modal" data-target="#myModal" class="main-btn btn-block">Enquire now</a>

					   		</div>
					   		<div class="col-lg-5 col-sm-6 col-xs-6">
					   			
					   			<a href="{path='finance/index'}" target="_blank" class="main-btn solid btn-block">Apply for finance</a>

					   		</div>

				   		</div>
					   
				   		<div class="row mb-20">
				   			<div class="col-lg-9">
				   				<div class="badges v-offset-30">
				                   {included_furniture:product_materials}
										{if product_materials:link != ''}
											<a href="{product_materials:link}" data-toggle="modal" data-target="#myModal">{exp:ce_img:single src="{product_materials:icon}" add_dims="no" max_width="150" crop="no" allow_scale_larger="yes"}</a>
										{if:else}
											{exp:ce_img:single src="{product_materials:icon}" add_dims="no" max_width="150" crop="no" allow_scale_larger="yes"}
										{/if}
									{/included_furniture:product_materials}
				                </div>
				   			</div>
				   		</div>

					   	
					   
                	   	<div class="row mb-20">
	                	   	<div class="col-lg-9">
							   <p class="small black">Prices may fluctuate in accordance with options and configuration. All products and prices on this website are subject to stock availability and price fluctuation - e&amp;oe. Unless otherwise stated complimentary products and accessories are not included in the price shown.</p>
						   	</div>
						</div>
           
	           </div><!--row-->
			   
			   
	       </div>
		   
		   
		   
	



	</div><!--container-custom-->
</section>
<!-- END SINGLE PRODUCT MAIN CONTAINER -->

<!-- START RELATED PRODUCTS -->

<section class="related-products">
		
	<div class="container-custom">
		
	<h3 class="section-title"><span>You May also like</span></h3>

		<div class="products">
			
			<div class="row p-row">
			
				{exp:playa:children field="related_products" status="not closed"}
					{exp:store:product entry_id="{entry_id}"}
					
						<div class="col-md-4 mb-30 product fadeInDown d{count}">
							<a href="{channel_url}/{url_title}">
								<div class="product-image">
									{product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" class="img-responsive" crop="yes" width="690" height="390" allow_scale_larger="yes"}{/product_feature_image}
									<button class="main-btn solid" type='button'>View Details</button>
								</div>
								<div class="product-details">
									<h4>{title}</h4>
									<p>{product_details:price}</p>
								</div>
							</a>
						</div>
					
					{/exp:store:product}
				{/exp:playa:children}
			
            </div>

		</div>
		
		{/exp:channel:entries}
		
		
		
		
		
		{exp:channel:entries channel='advertising' entry_id='99' status='not closed' dynamic='no'}
			{product_feature limit='1'}
				{if "{product_feature:title}" == "" && "{product_feature:button_text}" == ""}
					<div class="container-custom mt-40">
						<a href='{product_feature:link}'>
							{exp:ce_img:single src='{product_feature:advert}' max_width='1980' allow_scale_larger='yes' attributes='class="img-responsive"' add_dims="no"}
						</a>
					</div>
				{if:else}
					<div class="category mt-30">
						{exp:ce_img:single src='{product_feature:advert}' max_width='1980' allow_scale_larger='yes' attributes='class="img-responsive" width="100%" height="auto"' add_dims="no"}
						<div class="details">
							{if "{product_feature:title}" != ""}<h3>{product_feature:title}</h3>{/if}
							<p>&nbsp;</p>
							<a href="{product_feature:link}" class="main-btn solid">{if "{product_feature:button_text}" != ""}{product_feature:button_text}{if:else}View details{/if}</a>
						</div>
					</div>
				{/if}
			{/product_feature}
		{/exp:channel:entries}
		


	</div>

</section>

<!-- END RELATED PRODUCTS -->

<!-- Modal - add to wishlist -->
<div id="wish-list-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


{embed="_includes/_footer"}