{embed="_includes/_header"
body_id="collections"
body_class="collections"
page_title="Collections"
}


			<!-- MAST SECTION BEGIN -->
			<section class="mast lounge" style='background-image:url({exp:channel:categories channel="collections_bedroom" style="linear"}{if category_name == "Dining Collections"}{category_image}{/if}{/exp:channel:categories});'>
				<div class="container">
					<div class="content">
						<h1>Collections</h1>
					</div>
				</div>
			</section>
			<!-- MAST SECTION END -->
			
			
			<div class='temporary spacer' style='margin-top:40px'>&nbsp;</div>
			
			
			<!-- PRODUCTS SECTION BEGIN -->
			<section class="sub-categories">
				<div class="container-custom">
					<div class="row">
					
						{exp:channel:categories channel='collections_bedroom' style='linear'}
						
							<div class="col-md-4 col-sm-4 col-xs-12">
							
								{!-- these category url titles might not line up with the channel names, hence the multiple checks... --}
								{if category_url_title == "bedroom-collections"}<a href='{site_url}bedroom-collections' class="sub-category bb">
								{if:elseif category_url_title == "dining-collections"}<a href='{site_url}dining-collections' class="sub-category bb">
								{if:else}<a href='{site_url}lounge-collections' class="sub-category bb">
								{/if}
								
									<img src="{category_image}" alt="{category_name}" width="100%" height="auto">
									<div class="bottom-border"></div>
									<div class='button-container'>
										<button type='button'>View</button>
									</div>
									<div class="content">
										<!--<p class="best-buy"><span class="glyphicon glyphicon-star"></span>On sale</p>-->
										<p class="title">{category_name}</p>
									</div>
								</a>
							</div>
							
							{if count % 3 == 0}
								</div><div class='row'>
							{/if}
						
						{/exp:channel:categories}
					
					</div>
				</div>
			</section>
			<!-- PRODUCTS SECTION END -->
		
		
		
		
		{/if}




{embed="_includes/_footer"}