	
		</section><!--main-->
	</div><!--finance background-->
	

		<div id="sub-footer" class="container clearfix margin-bottom-60">

			<div class="col-md-3 margin-bottom-20">
				<h4>Furniture</h4>
				<ul class="text-nav">
					<li><a href="https://www.rochester.co.za/lounge-furniture" title="Lounge furniture">Lounge</a></li>
					<li><a href="https://www.rochester.co.za/bedroom-furniture" title="Bedroom furniture">Bedroom</a></li>
					<li><a href="https://www.rochester.co.za/dining-room-furniture" title="Dining Room furniture">Dining Room</a></li>
				</ul>
			</div><!--col-md-3-->

			<div class="col-md-6 clearfix margin-bottom-20">
				<div class="col-md-12 row clearfix">
					<h4>Branch Locator</h4>
				</div>
				<div class="col-md-6 row">
					<ul class="text-nav">
						<li><a class="{if segment_2=="branch-locator" AND segment_2==""}active{/if}" href="{path='branch-locator/index'}" title="All branches">All branches</a></li>
						{exp:channel:categories channel="branches" style="linear" show="5|6|34|33"}
						<li><a class="{if segment_3== category_url_title}active{/if}" href="{path='branch-locator/index'}" title="All branches in {category_name}">{category_name}</a></li>
						{/exp:channel:categories}

					</ul>
				</div><!--col-md-6-->

				<div class="col-md-6 row">
					<ul class="text-nav">
						{exp:channel:categories channel="branches" style="linear" show="8|10|11|38|46"}
						<li><a class="{if segment_3== category_url_title}active{/if}" href="{path='branch-locator/index'}" title="All branches in {category_name}">{category_name}</a></li>
						{/exp:channel:categories}



					</ul> 
				</div><!--col-md-6-->
			</div><!--col-md-6-->

			<div class="col-md-3">
				<h4>More</h4>
				<ul class="text-nav">
					<li><a href="{path='about/index'}" title="About Rochester">About</a></li>
					<li><a href="{path='news-media/index'}" title="News &amp; Media">News &amp; Media</a></li>
					<li><a href="{site_url}images/uploads/content/terms_conditions.pdf" title="Terms and conditions">Terms and conditions</a></li>
					<li><a href="{path='careers/index'}" title="Careers">Careers</a></li>
					<li><a href="{path='customer-feedback/index'}" title="Customer Feedback">Customer Feedback</a></li> 
					<li><a href="{path='testimonials/index'}" title="Testimonials">Testimonials</a></li>

				</ul>
			</div><!--col-md-3-->

		</div> <!-- /sub-footer -->


		<div id="sub-footer-newsletter" class="clearfix parallax-bg1">
			<div class="container clearfix padding-vertical-60">

				<div class="title center white">
					<h2>Join our mailing list</h2>
					<span class="border"></span>

					<div class="col-md-12">



						<form action="https://cavalrymedia.createsend.com/t/i/s/qhrx/" method="post" class="clearfix form-generic">
							<div class="col-md-6">
								<label for="name">Name</label>
								<input id="fieldName" name="cm-name" type="text" class="form-control" />
							</div>

							<div class="col-md-6">
								<label for="name">Email</label>
								<input id="fieldEmail" name="cm-qhrx-qhrx" type="email" class="form-control" required />
							</div>
							<div class="clearfix margin-bottom-40"></div>

							<div class="col-md-12">
								<input type="submit" name="submit" value="Sign me up" id="submit" class="btn btn-lg btn-trans">
							</div>
						</form>
					</div><!--col-md-12-->		

				</div><!--title-->

			</div> <!-- /container -->
		</div><!--sub-footer-newsletter-->

		<div id="base-footer" class="clearfix">
			<div class="container center padding-vertical-40">

				<ul class="social">
					<li class="facebook"><a href="https://www.facebook.com/RochesterHomeFurniture" title="Find us on Facebook" target="_blank">Facebook</a></li>
					<!--<li class="google"><a href="https://plus.google.com/117859202552179656037" rel="publisher" title="Find us on Google +" target="_blank">Google +</a></li>-->
					<li class="pinterest"><a href="http://www.pinterest.com/rochestersa/" rel="publisher" title="Find us on Pinterest" target="_blank">Pinterest</a></li>
					<li class="twitter"><a href="https://twitter.com/rochesterrsa" title="Follow us on Twitter" target="_blank">Twitter</a></li>
					<li class="instagram"><a href="https://instagram.com/rochesterfurniture" title="Find us on Instagram" target="_blank">Instagram</a></li>
				</ul>

				<div class="clearfix margin-bottom-20"></div>

				<p class="caps"><small>&copy; {current_time format='%Y'} ROCHESTER HOME FURNITURE (PTY) LTD. T/A ROCHESTER LUXURY LIVING. ALL RIGHTS RESERVED.</small></p>
			</div><!--container-->
		</div><!--base-footer-->
		
		
<!-- Core JavaScript
================================================== -->
{exp:minimee:js}
<script src="/base-theme/js/bootstrap.min.js"></script>
<script src="/base-theme/js/fittext.js"></script>
<script src="/base-theme/js/parallax.js"></script>
<script src="/base-theme/js/main.js"></script>
{/exp:minimee:js}

<!-- Page Specific 
================================================== -->
{if segment_1=="" OR segment_1=="lounge-furniture" OR segment_1=="dining-room-furniture" OR segment_1=="bedroom-furniture"}
<script src="/base-theme/lib/cycle2/cycle2.min.js"></script>
<script src="/base-theme/lib/cycle2/center.js"></script>
{/if}

{if segment_1=="lounge-furniture" OR segment_1=="dining-room-furniture" OR segment_1=="bedroom-furniture"}
<script src="/base-theme/lib/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript">

$(window).on('load', function () {
	$('.selectpicker').selectpicker();
});

</script>
{/if}

{if segment_2=="detail" OR segment_2=="entry" OR segment_1=="" OR segment_1=="la-z-boy"}
<script src="/base-theme/lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
	<div class="slides"></div>
	<h3 class="title blueimp-title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
</div>

<script src="/base-theme/js/royal-loader.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

// config
Royal_Preloader.config({
	mode:       'number',
	timeout:    2,
	showInfo:   false,
	background: ['#ffffff']
});
</script>
{/if}






{if segment_1=="la-z-boy"}

		
			<script src="/campaigns/la-z-boy/js/jQuery-Flex-Vertical-Center-master/jquery.flexverticalcenter.js"></script>
			<script src="/campaigns/la-z-boy/js/skrollr.min.js"></script>
			<script src="/campaigns/la-z-boy/js/skrollr.menu.min.js"></script>

			<script>
			$(document).ready(function(){
				$(".scroll-stage").height($(window).height());
				$(window).resize(function(){
					$(".scroll-stage").height($(window).height());
				});
			
				$('.v-center1').flexVerticalCenter({parentSelector: '#scroll-stage-1',verticalOffset: '0px' });
				$('.v-center2').flexVerticalCenter({parentSelector: '#scroll-stage-3',verticalOffset: '-50px' });
				$('.v-center3').flexVerticalCenter({parentSelector: '#scroll-stage-4', verticalOffset: '-50px'});
				$('.v-center4').flexVerticalCenter({parentSelector: '#scroll-stage-6', verticalOffset: '-50px' });
		 
		  
			});

       
	    
			var s = skrollr.init(
				smoothScrolling=true,
				smoothScrollingDuration=1000
	
			);

			skrollr.menu.init(s, {
				animate: true,

				easing: 'sqrt',

				duration: function(currentTop, targetTop) {
					return 1000;

				}

    
			});
			

				
			$('.buttons a.switch').each(function(){
				$(this).on('click', function(e){
							
					$('#switch-right div.fadeInUp').removeClass('fadeInUp').addClass('fadeOut');
					$('#switch-left div.fadeInDown').removeClass('fadeInDown').addClass('fadeOut');
									
					var data = $(this).data('target');
									
					if (!$(this).hasClass('on'))
					{
						$('.buttons a.switch.on').removeClass('on');
						$(this).toggleClass('on');
					}
									
					$('#switch-right div.'+data).addClass('fadeInUp');
					$('#switch-left div.'+data).addClass('fadeInDown');
									
					$('#switch-right div.fadeOut.'+data).removeClass('fadeOut');
					$('#switch-left div.fadeOut.'+data).removeClass('fadeOut');
									
					e.preventDefault();
						
				});
			});
	
	
			</script>
	



{/if}









{if last_segment=="thankyou"}
<!-- Google Code for Sales contact Conversion Page -->
<div style="display:none;">
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970223999;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "HxeLCJndxAoQ_-LRzgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970223999/?label=HxeLCJndxAoQ_-LRzgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</div>

<!-- Google Code for Contact a sales consultant Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 968082126;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "s0NrCNqDyQkQzoXPzQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/968082126/?label=s0NrCNqDyQkQzoXPzQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Google Code for Rochester ZW Leads Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 962803214;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "9bMwCPKYkFsQjuyMywM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/962803214/?label=9bMwCPKYkFsQjuyMywM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>



<!-- Google Code for Contact a sales consultant Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 947474121;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "zlc6CO_8g10QyZ3lwwM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/947474121/?label=zlc6CO_8g10QyZ3lwwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> 

{/if}



{if segment_1 == 'finance' AND segment_2 == 'completed'}
	<!-- Google Code for Apply For Finance Conversion Page -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 970223999;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "uXDgCNbz_V8Q_-LRzgM";
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970223999/?label=uXDgCNbz_V8Q_-LRzgM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
{/if}


<!-- Google Code for Remarketing Tag -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 962803214;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/962803214/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Google Code for Remarketing Tag - outer regions -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 947474121;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/947474121/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0035/7582.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>


</body>
</html>