
<div id="right-sidebar" class="col-md-3 clearfix">

	<div class="alert alert-warning">
		<p><b>Need help?</b></p>
		<p style='font-size:15px;'>
			If you need any assistance please contact us on <a href='mailto:creditapplication@rochester.co.za'>creditapplication@rochester.co.za</a> or call us on 010 003 8720.
		</p>
	</div>

</div><!--right-sidebar-->