{embed="_includes/_header"
body_id="finance"
body_class="static"
page_title="Finance Application"
description=""
keywords=""}

{if logged_out}
{redirect="finance/index"}
{/if}

<div class="title margin-bottom-30">
	<h1>Finance application</h1>
</div>



<div class='row'>

	<div class="col-md-9 clearfix">

		{exp:freeform:form
			form_name="finance_applications"
			return="finance/edit/%%entry_id%%"
			form:class="margin-bottom-40 edit-form"
			notify_admin="no"
			notify_user="no"
			inline_errors="yes"
			required="consumer_full_name|email|consumer_cell"}

		<h4 class='mt-30'>Requested Loan Term</h4>
		<div class="well clearfix mb-40">

			<div class='row'>

				<div class="col-md-12">
					<label for="consumer_postal_address_line_1">Product value and term</label>
				</div>

				<div class="col-md-12 clearfix">
					<div class="form-group">
						{freeform:field:product_value attr:class='form-control' attr:placeholder='Product value (R) *'}
						{if freeform:error:product_value}
						<div class="alert alert-danger">
							Please fill in the value of the product you would like to finance
						</div>
						{/if}
					</div>

					<div class="form-group">
						{freeform:field:product_term attr:class="form-control"}
					</div>
				</div>

			</div>

		</div>








		<div class='row'>

			<div class='col-md-6'>


				<h4>Consumer information</h4>
				<div class="well clearfix mb-40">

					<div class='row'>
				
						<div class="col-md-12">
							<label for="consumer_postal_address_line_1">Personal details</label>
						</div>

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_full_name attr:class='form-control' attr:placeholder='Full name *'}
								{if freeform:error:consumer_full_name}
								<div class="alert alert-danger">
									Please fill in your full name
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:email attr:class='form-control' attr:placeholder='Email *'}
								{if freeform:error:email}
								<div class="alert alert-danger">
									Please fill in a valid email address
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_cell attr:class='form-control' attr:placeholder='Cell number *'}
								{if freeform:error:consumer_cell}
								<div class="alert alert-danger">
									Please fill in your cell number
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_work_number attr:class='form-control' attr:placeholder='Work number *'}
								{if freeform:error:consumer_work_number}
								<div class="alert alert-danger">
									Please fill in your work contact number
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_id_number attr:class='form-control' attr:placeholder='ID or passport number *'}
								{if freeform:error:consumer_id_number}
								<div class="alert alert-danger">
									Please fill in a valid ID or passport number
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_gender attr:class="form-control"}
							</div>

							<!--<div class="form-group">
								{freeform:field:consumer_home_language attr:class='form-control' attr:placeholder='Home language *'}
								{if freeform:error:consumer_home_language}
								<div class="alert alert-danger">
								Please fill in your home language
								</div>
								{/if}
							</div> -->

							<!--<div class="form-group">
								{freeform:field:consumer_no_of_dependants attr:class='form-control' attr:placeholder='Number of dependants *'}
								{if freeform:error:consumer_no_of_dependants}
								<div class="alert alert-danger">
								Please fill in your number of dependants
								</div>
								{/if}
							</div> -->

							<div class="form-group">
								{freeform:field:consumer_marital_status attr:class="form-control"}
							</div>

							<script>
								jQuery(function(){
								var s = jQuery('select[name="consumer_marital_status"]');
								s.bind('change.rochester.co.za', toggleMaritalSection);
								toggleMaritalSection();

								// check the default values...
								if (jQuery('#freeform_consumer_full_name').val() == '' && jQuery('#freeform_consumer_full_name').siblings('.alert.alert-danger').length == 0)
								jQuery('#freeform_consumer_full_name').val('{exp:member:custom_profile_data}{custom_fullname}{/exp:member:custom_profile_data}');

								if (jQuery('#freeform_email').val() == '' && jQuery('#freeform_email').siblings('.alert.alert-danger').length == 0)
								jQuery('#freeform_email').val('{email}');

								if (jQuery('#freeform_consumer_cell').val() == '' && jQuery('#freeform_consumer_cell').siblings('.alert.alert-danger').length == 0)
								jQuery('#freeform_consumer_cell').val('{exp:member:custom_profile_data}{custom_contactnumber}{/exp:member:custom_profile_data}');

								// Fetch default values and populate

								// Citizenship
								if(jQuery('#freeform_consumer_citizenship').val() == '' && jQuery('#freeform_consumer_citizenship').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_citizenship').val('{exp:member:custom_profile_data}{custom_citizenship}{/exp:member:custom_profile_data}');

								// ID Number
								if(jQuery('#freeform_consumer_id_number').val() == '' && jQuery('#freeform_consumer_id_number').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_id_number').val('{exp:member:custom_profile_data}{custom_id_number}{/exp:member:custom_profile_data}');

								// Temporary Permit No
								if(jQuery('#freeform_consumer_temporary_permit_no').val() == '' && jQuery('#freeform_consumer_temporary_permit_no').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_temporary_permit_no').val('{exp:member:custom_profile_data}{custom_temporary_permit_no}{/exp:member:custom_profile_data}');

								// Permit Expiry Date
								if(jQuery('#freeform_consumer_permit_expiry_date').val() == '' && jQuery('#freeform_consumer_permit_expiry_date').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_permit_expiry_date').val('{exp:member:custom_profile_data}{custom_permit_expiry_date	}{/exp:member:custom_profile_data}');

								// Consumer Residential Address
								if(jQuery('#freeform_consumer_residential_address').val() == '' && jQuery('#freeform_consumer_residential_address').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_residential_address').val('{exp:member:custom_profile_data}{custom_home_address}{/exp:member:custom_profile_data}');

								// Consumer Period Emplyed
								if(jQuery('#freeform_consumer_period_employed').val() == '' && jQuery('#freeform_consumer_period_employed').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_period_employed').val('{exp:member:custom_profile_data}{custom_period_employed}{/exp:member:custom_profile_data}');

								// Consumer Gross Income
								if(jQuery('#freeform_consumer_gross_income').val() == '' && jQuery('#freeform_consumer_gross_income').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_gross_income').val('{exp:member:custom_profile_data}{custom_gross_salary}{/exp:member:custom_profile_data}');

								// Bank Name
								if(jQuery('#freeform_consumer_bank_name').val() == '' && jQuery('#freeform_consumer_bank_name').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_bank_name').val('{exp:member:custom_profile_data}{custom_name_of_bank}{/exp:member:custom_profile_data}');


								if(jQuery('#freeform_consumer_under_review').val() == '' && jQuery('#freeform_consumer_under_review').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_under_review').val('{exp:member:custom_profile_data}{custom_debt_review}{/exp:member:custom_profile_data}');


								// ++++++++++++++
								// Select Populators
								//++++++++++++++++

								if(jQuery('#freeform_consumer_marital_status').val() != '{exp:member:custom_profile_data}{custom_marital_status}{/exp:member:custom_profile_data}' && jQuery('#freeform_consumer_marital_status').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_marital_status option[value={exp:member:custom_profile_data}{custom_marital_status}{/exp:member:custom_profile_data}]').addClass('thisone').prop('selected',true);

								if(jQuery('#freeform_consumer_residential_type').val() != '{exp:member:custom_profile_data}{custom_type_of_dwelling}{/exp:member:custom_profile_data}' && jQuery('#freeform_consumer_residential_type').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_residential_type option[value={exp:member:custom_profile_data}{custom_type_of_dwelling}{/exp:member:custom_profile_data}]').addClass('thisone').prop('selected',true);

								if(jQuery('#freeform_consumer_residential_ownership').val() != '{exp:member:custom_profile_data}{custom_ownership}{/exp:member:custom_profile_data}' && jQuery('#freeform_consumer_residential_ownership').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_residential_ownership option[value={exp:member:custom_profile_data}{custom_ownership}{/exp:member:custom_profile_data}]').addClass('thisone').prop('selected',true);

								if(jQuery('#freeform_consumer_employment_type').val() != '{exp:member:custom_profile_data}{custom_employment_type}{/exp:member:custom_profile_data}' && jQuery('#freeform_consumer_employment_type').siblings('.alert.alert-danger').length == 0)
									jQuery('#freeform_consumer_employment_type option[value={exp:member:custom_profile_data}{custom_employment_type}{/exp:member:custom_profile_data}]').addClass('thisone').prop('selected',true);

								

								});
								function toggleMaritalSection()
								{
								var j = jQuery('#spouse-information-container');
								var s = jQuery('select[name="consumer_marital_status"]');
								var v = s.val();
								if (v == 'Married (COP)' || v == 'Married (ANC)')
								{
								j.siblings('.col-md-12').toggleClass('col-md-6', true).toggleClass('col-md-12', false);
								if (v == 'Married (COP)')
								{
								jQuery('.hidden-anc').show();
								jQuery('.visible-anc').hide();
								}
								else
								{
								jQuery('.hidden-anc').hide();
								jQuery('.visible-anc').show();
								}
								j.fadeIn(350);
								}
								else
								{
								j.siblings('.col-md-6').toggleClass('col-md-12', true).toggleClass('col-md-6', false);
								j.hide();
								}
								}
							</script>



						</div><!--col-md-12-->


						<!--<div class="col-md-12 mt-30">
							<label for="consumer_postal_address">Postal address</label>
						</div>-->

						<!--<div class="col-md-12 clearfix">
							
							
							<div class='form-group'>
							{freeform:field:consumer_postal_address attr:class='form-control' attr:placeholder='Postal address *'}
							{if freeform:error:consumer_postal_address}
							<div class="alert alert-danger">
							Please fill in your postal address
							</div>
							{/if}
							</div>
							
							<!--<div class="form-group">
							<input type="text" class="form-control" name="consumer_postal_address_line_1" id="consumer_postal_address_line_1" placeholder="Postal address line 1 *">
							{if freeform:error:consumer_postal_address_line_1}
							<div class="alert alert-danger">
							Please fill in your postal address line 1
							</div>
							{/if}
							
							</div>
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_postal_address_line_2" id="consumer_postal_address_line_2" placeholder="Postal address line 2 *">
							{if freeform:error:consumer_postal_address_line_2}
							<div class="alert alert-danger">
							Please fill in your postal address line 2
							</div>
							{/if}
							
							</div>
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_postal_address_province" id="consumer_postal_address_province" placeholder="Postal address province *">
							{if freeform:error:consumer_postal_address_province}
							<div class="alert alert-danger">
							Please fill in your postal address province
							</div>
							{/if}
							
						</div>-->

						<!--</div><!--colmd-12-->


						<!--<div class="col-md-6 clearfix">
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_postal_address_city" id="consumer_postal_address_city" placeholder="Postal address city *">
							{if freeform:error:consumer_postal_address_city}
							<div class="alert alert-danger">
							Please fill in your postal address line city
							</div>
							{/if}
							
							</div>
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_postal_address_zip" id="consumer_postal_address_zip" placeholder="Postal address zip code *">
							{if freeform:error:consumer_postal_address_zip}
							<div class="alert alert-danger">
							Please fill in your postal address zip code
							</div>
							{/if}
							
							</div>
							
						</div><!--col-md-6-->




						<div class="col-md-12 mt-30">
							<label for="consumer_residential_address_line_1">Residential address</label>
						</div>

						<div class="col-md-12 clearfix">

							<div class='form-group'>
								{freeform:field:consumer_residential_address attr:class='form-control' attr:placeholder='Residential address *'}
								{if freeform:error:consumer_residential_address}
								<div class="alert alert-danger">
									Please fill in your residential address
								</div>
								{/if}
							</div>


							<!--<div class="form-group">
								<input type="text" class="form-control" name="consumer_residential_address_line_1" id="consumer_residential_address_line_1" placeholder="Residential address line 1 *">
								{if freeform:error:consumer_residential_address_line_1}
								<div class="alert alert-danger">
								Please fill in your residential address line 1
								</div>
								{/if}
								
								</div>
								
								<div class="form-group">
								<input type="text" class="form-control" name="consumer_residential_address_line_2" id="consumer_residential_address_line_2" placeholder="Residential address line 2 *">
								{if freeform:error:consumer_residential_address_line_2}
								<div class="alert alert-danger">
								Please fill in your residential address line 2
								</div>
								{/if}
								
								</div>
								
								<div class="form-group">
								<input type="text" class="form-control" name="consumer_residential_address_province" id="consumer_residential_address_province" placeholder="Residential address province *">
								{if freeform:error:consumer_residential_address_province}
								<div class="alert alert-danger">
								Please fill in your residential address province
								</div>
								{/if}
								
							</div>-->


						</div><!--colmd-12-->


						<!--<div class="col-md-6 clearfix">
							
							<div class="form-group">
						<input type="text" class="form-control" name="consumer_residential_address_city" id="consumer_residential_address_city" placeholder="Residential address city *">
						{if freeform:error:consumer_residential_address_city}
						<div class="alert alert-danger">
						Please fill in your residential address line city
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="consumer_residential_address_zip" id="consumer_residential_address_zip" placeholder="Residential address zip code *">
						{if freeform:error:consumer_residential_address_zip}
						<div class="alert alert-danger">
						Please fill in your residential address zip code
						</div>
						{/if}
						
						</div>
						
						</div><!--col-md-6-->


						<div class="col-md-12">
							<div class="form-group">
								{freeform:field:consumer_period_of_residence attr:class='form-control' attr:placeholder='Period of residence *'}
								{if freeform:error:consumer_period_of_residence}
								<div class="alert alert-danger">
									Please fill in your period of residence
								</div>
								{/if}
							</div>

						</div><!--col-md-12-->

						<div class="col-md-12">
							<div class="form-group">
								{freeform:field:consumer_residential_ownership attr:class='form-control'}
								{if freeform:error:consumer_residential_ownership}
								<div class="alert alert-danger">
									Please select a valid ownership
								</div>
								{/if}
							</div>

						</div><!--col-md-12-->

						<div class="col-md-12">
							<div class="form-group">
								{freeform:field:consumer_residential_type attr:class='form-control'}
								{if freeform:error:consumer_residential_type}
								<div class="alert alert-danger">
									Please select a valid type
								</div>
								{/if}
							</div>

						</div><!--col-md-12-->











						<div class="col-md-12 mt-30">
							<label for="consumer_residential_address_line_1">Previous residential address <span style='font-weight:normal'><i>(if residing for less than 5 years at current address)</i></span></label>
						</div>

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_residential_address attr:class='form-control' attr:placeholder='Previous residential address'}
								{if freeform:error:consumer_previous_residential_address}
								<div class="alert alert-danger">
									Please fill in a previous residential address
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_period_of_residence attr:class='form-control' attr:placeholder='Previous residential address period of residence'}
								{if freeform:error:consumer_previous_period_of_residence}
								<div class="alert alert-danger">
									Please fill in a previous period of residence
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->










						<div class="col-md-12 mt-30">
							<label for="consumer_postal_address_line_1">Employment details</label>
						</div>

						<div class="col-md-12 clearfix">


							<div class="form-group">
								{freeform:field:consumer_employer attr:class='form-control' attr:placeholder='Employer *'}
								{if freeform:error:consumer_employer}
								<div class="alert alert-danger">
									Please fill in your employer
								</div>
								{/if}
							</div>


						</div><!--col-md-12-->

						<div class="col-md-12 clearfix">

							<div class='form-group'>
								{freeform:field:consumer_employer_address attr:class='form-control' attr:placeholder='Employer address *'}
								{if freeform:error:consumer_employer_address}
								<div class="alert alert-danger">
									Please fill in your employer address
								</div>
								{/if}
							</div>

							<!--<div class="form-group">
							<input type="text" class="form-control" name="consumer_employer_address_line_1" id="consumer_employer_address_line_1" placeholder="Employer address line 1 *">
							{if freeform:error:consumer_employer_address_line_1}
							<div class="alert alert-danger">
							Please fill in your employer address line 1
							</div>
							{/if}
							
							</div>
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_employer_address_line_2" id="consumer_employer_address_line_2" placeholder="Employer address line 2 *">
							{if freeform:error:consumer_employer_address_line_2}
							<div class="alert alert-danger">
							Please fill in your employer address line 2
							</div>
							{/if}
							
							</div>
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_employer_address_province" id="consumer_employer_address_province" placeholder="Employer address province *">
							{if freeform:error:consumer_employer_address_province}
							<div class="alert alert-danger">
							Please fill in your employer address province
							</div>
							{/if}
							
							</div>-->

						</div><!--colmd-12-->

						<!--<div class="col-md-6 clearfix">
						
						<div class="form-group">
						<input type="text" class="form-control" name="consumer_employer_address_city" id="consumer_employer_address_city" placeholder="Employer address city *">
						{if freeform:error:consumer_employer_address_city}
						<div class="alert alert-danger">
						Please fill in your employer address line city
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="consumer_employer_address_zip" id="consumer_employer_address_zip" placeholder="Employer address zip code *">
						{if freeform:error:consumer_employer_address_zip}
						<div class="alert alert-danger">
						Please fill in your employer address zip code
						</div>
						{/if}
						
						</div>
						
						</div><!--col-md-6-->


						<div class="col-md-12 clearfix">


							<!-- <div class="form-group">
						{freeform:field:consumer_job_description attr:class='form-control' attr:placeholder='Job description *'}
						{if freeform:error:consumer_job_description}
						<div class="alert alert-danger">
						Please fill in your job description
						</div>
						{/if}
						
						</div> -->


							<div class="form-group">
								{freeform:field:consumer_period_employed attr:class='form-control' attr:placeholder='Period employed *'}
								{if freeform:error:consumer_period_employed}
								<div class="alert alert-danger">
									Please fill in your employment period
								</div>
								{/if}
							</div>



							<div class="form-group">
								{freeform:field:consumer_gross_income attr:class='form-control' attr:placeholder='Gross income *'}
								{if freeform:error:consumer_gross_income}
								<div class="alert alert-danger">
									Please fill in your gross income
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_nett_income attr:class='form-control' attr:placeholder='Nett income *'}
								{if freeform:error:consumer_nett_income}
								<div class="alert alert-danger">
									Please fill in your nett income
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_other_income attr:class='form-control' attr:placeholder='Other income'}
								{if freeform:error:consumer_other_income}
								<div class="alert alert-danger">
									Please fill in your other income
								</div>
								{/if}
							</div>




						</div><!--col-md-12-->









						<div class="col-md-12 mt-30">
							<label for="consumer_residential_address_line_1">Previous employment details <span style='font-weight:normal'><i>(if employed for less than 5 years with current employer)</i></span></label>
						</div>

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_employer attr:class='form-control' attr:placeholder='Previous employer'}
								{if freeform:error:consumer_previous_employer}
								<div class="alert alert-danger">
									Please fill in a previous employer
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_employer_address attr:class='form-control' attr:placeholder='Previous employer address'}
								{if freeform:error:consumer_previous_employer_address}
								<div class="alert alert-danger">
									Please fill in a previous employer address
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_period_employed attr:class='form-control' attr:placeholder='Previous employment period'}
								{if freeform:error:consumer_previous_period_employed}
								<div class="alert alert-danger">
									Please fill in a previous employment period
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_employer_contact_number attr:class='form-control' attr:placeholder='Previous employer contact number'}
								{if freeform:error:consumer_previous_employer_contact_number}
								<div class="alert alert-danger">
									Please fill in a previous employer contact number
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->













						<div class="col-md-12 mt-30">
							<label for="consumer_postal_address_line_1">Expenses</label>
						</div>


						<div class="col-md-12">
							<div class="form-group">
								{freeform:field:consumer_home_loan_rent attr:class='form-control' attr:placeholder='Home loan / Rent'}
								{if freeform:error:consumer_home_loan_rent}
								<div class="alert alert-danger">
									Please fill in your current monthly home loan or rent payments
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_credit_cards_loans attr:class='form-control' attr:placeholder='Credit card / Personal loans / Study loans'}
								{if freeform:error:consumer_credit_cards_loans}
								<div class="alert alert-danger">
									Please fill in your monthly Credit card / Personal loans / Study loans payments
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_retail_accounts attr:class='form-control' attr:placeholder='Retail accounts'}
								{if freeform:error:consumer_retail_accounts}
								<div class="alert alert-danger">
									Please fill in your monthly retail account payments
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_water_and_electricity attr:class='form-control' attr:placeholder='Water and electricity'}
								{if freeform:error:consumer_water_and_electricity}
								<div class="alert alert-danger">
									Please fill in your water and electricity payments
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_school_fees attr:class='form-control' attr:placeholder='School fees'}
								{if freeform:error:consumer_school_fees}
								<div class="alert alert-danger">
									Please fill in your school fees payments
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_telephone attr:class='form-control' attr:placeholder='Telephone'}
								{if freeform:error:consumer_telephone}
								<div class="alert alert-danger">
									Please fill in your telephone payments
								</div>
								{/if}
							</div>



							<div class="form-group">
								{freeform:field:consumer_groceries attr:class='form-control' attr:placeholder='Groceries'}
								{if freeform:error:consumer_groceries}
								<div class="alert alert-danger">
									Please fill in your monthly groceries expenditure
								</div>
								{/if}
							</div>



							<div class="form-group">
								{freeform:field:consumer_transport attr:class='form-control' attr:placeholder='Transport'}
								{if freeform:error:consumer_transport}
								<div class="alert alert-danger">
									Please fill in your monthly transport expenditure
								</div>
								{/if}
							</div>


						</div><!--col-md-12-->
						
					</div>

				</div><!--well-->














			</div>

			<div class='col-md-6' id='spouse-information-container'>








				<div>

					<h4>Spouse information</h4>
					<div class="well clearfix mb-40">
					
						<div class='row'>

							<div class="col-md-12">
								<label for="spouse_postal_address_line_1">Personal details</label>
							</div>

							<div class="col-md-12 clearfix">

								<div class="checkbox">
									<label>
										{freeform:field:spouse_consent} I have my spouse's permission/consent to apply for finance.
									</label>
									{if freeform:error:spouse_consent}
									<div class="alert alert-danger">
										Please indicate that you have your spouse's consent
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_full_name attr:class='form-control' attr:placeholder='Full name *'}
									{if freeform:error:spouse_full_name}
									<div class="alert alert-danger">
										Please fill in your spouse's full name
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_email attr:class='form-control' attr:placeholder='Email *'}
									{if freeform:error:spouse_email}
									<div class="alert alert-danger">
										Please fill in a valid email address
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_cell attr:class='form-control' attr:placeholder='Cell number *'}
									{if freeform:error:spouse_cell}
									<div class="alert alert-danger">
										Please fill in your spouse's cell number
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_work_number attr:class='form-control' attr:placeholder='Work number *'}
									{if freeform:error:spouse_work_number}
									<div class="alert alert-danger">
										Please fill in your spouse's work contact number
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_id_number attr:class='form-control' attr:placeholder='ID or passport number *'}
									{if freeform:error:spouse_id_number}
									<div class="alert alert-danger">
										Please fill in a valid ID or passport number
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_gender attr:class="form-control"}
								</div>


								<div class="form-group visible-anc" style='display:none'>
									{freeform:field:spouse_home_language attr:class='form-control' attr:placeholder='Home language *'}
									{if freeform:error:spouse_home_language}
									<div class="alert alert-danger">
										Please fill in your spouse's home language
									</div>
									{/if}
								</div>


								<div class="form-group visible-anc" style='display:none'>
									{freeform:field:spouse_no_of_dependants attr:class='form-control' attr:placeholder='Number of dependants *'}
									{if freeform:error:spouse_no_of_dependants}
									<div class="alert alert-danger">
										Please fill in your spouse's number of dependants
									</div>
									{/if}
								</div>

							</div><!--col-md-12-->





							<div class="col-md-12 mt-30 hidden-anc">
								<label for="spouse_postal_address_line_1">Employment details</label>
							</div>

							<div class="col-md-12 clearfix hidden-anc">


								<div class="form-group">
									{freeform:field:spouse_employer attr:class='form-control' attr:placeholder='Employer *'}
									{if freeform:error:spouse_employer}
									<div class="alert alert-danger">
										Please fill in your spouse's employer
									</div>
									{/if}
								</div>


							</div><!--col-md-12-->

							<div class="col-md-12 clearfix hidden-anc">

								<div class='form-group'>
									{freeform:field:spouse_employer_address attr:class='form-control' attr:placeholder='Employer address *'}
									{if freeform:error:spouse_employer_address}
									<div class="alert alert-danger">
										Please fill in your spouse's employer address
									</div>
									{/if}
								</div>

							</div><!--colmd-12-->

							<div class="col-md-12 clearfix hidden-anc">

								<!-- <div class="form-group">
						{freeform:field:spouse_job_description attr:class='form-control' attr:placeholder='Job description *'}
						{if freeform:error:spouse_job_description}
						<div class="alert alert-danger">
						Please fill in your spouse's job description
						</div>
						{/if}
						
						</div> -->


								<div class="form-group">
									{freeform:field:spouse_period_employed attr:class='form-control' attr:placeholder='Period employed *'}
									{if freeform:error:spouse_period_employed}
									<div class="alert alert-danger">
										Please fill in your spouse's employment period
									</div>
									{/if}
								</div>



								<div class="form-group">
									{freeform:field:spouse_gross_income attr:class='form-control' attr:placeholder='Gross income *'}
									{if freeform:error:spouse_gross_income}
									<div class="alert alert-danger">
										Please fill in your spouse's gross income
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_nett_income attr:class='form-control' attr:placeholder='Nett income *'}
									{if freeform:error:spouse_nett_income}
									<div class="alert alert-danger">
										Please fill in your spouse's nett income
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_other_income attr:class='form-control' attr:placeholder='Other income'}
									{if freeform:error:spouse_other_income}
									<div class="alert alert-danger">
										Please fill in your spouse's other income
									</div>
									{/if}
								</div>




							</div><!--col-md-12-->


							<div class="col-md-12 mt-30 hidden-anc">
								<label for="consumer_postal_address_line_1">Expenses</label>
							</div>


							<div class="col-md-12 hidden-anc">
								<div class="form-group">
									{freeform:field:spouse_home_loan_rent attr:class='form-control' attr:placeholder='Home loan / Rent'}
									{if freeform:error:spouse_home_loan_rent}
									<div class="alert alert-danger">
										Please fill in your spouse's current monthly home loan or rent payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_credit_cards_loans attr:class='form-control' attr:placeholder='Credit card / Personal loans / Study loans'}
									{if freeform:error:spouse_credit_cards_loans}
									<div class="alert alert-danger">
										Please fill in your spouse's monthly Credit card / Personal loans / Study loans payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_retail_accounts attr:class='form-control' attr:placeholder='Retail accounts'}
									{if freeform:error:spouse_retail_accounts}
									<div class="alert alert-danger">
										Please fill in your spouse's monthly retail account payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_water_and_electricity attr:class='form-control' attr:placeholder='Water and electricity'}
									{if freeform:error:spouse_water_and_electricity}
									<div class="alert alert-danger">
										Please fill in your spouse's water and electricity payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_school_fees attr:class='form-control' attr:placeholder='School fees'}
									{if freeform:error:spouse_school_fees}
									<div class="alert alert-danger">
										Please fill in your spouse's school fees payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_telephone attr:class='form-control' attr:placeholder='Telephone'}
									{if freeform:error:spouse_telephone}
									<div class="alert alert-danger">
										Please fill in your spouse's telephone payments
									</div>
									{/if}
								</div>



								<div class="form-group">
									{freeform:field:spouse_groceries attr:class='form-control' attr:placeholder='Groceries'}
									{if freeform:error:spouse_groceries}
									<div class="alert alert-danger">
										Please fill in your spouse's monthly groceries expenditure
									</div>
									{/if}
								</div>



								<div class="form-group">
									{freeform:field:spouse_transport attr:class='form-control' attr:placeholder='Transport'}
									{if freeform:error:spouse_transport}
									<div class="alert alert-danger">
										Please fill in your spouse's monthly transport expenditure
									</div>
									{/if}
								</div>


							</div><!--col-md-12-->
							
						</div>

					</div><!--well-->

				</div>









			</div>

		</div>



















































		<h4>Relatives not living with the consumer</h4>


		<div class="well clearfix mb-40">
		
			<div class='row'>

				<div class="col-md-12">
					<label for="consumer_postal_address_line_1">Reference 1</label>
				</div>

				<div class="col-md-12 clearfix">
					<div class="form-group">
						{freeform:field:rel_ref_1_name attr:class='form-control' attr:placeholder='Full name'}
						{if freeform:error:rel_ref_1_name}
						<div class="alert alert-danger">
							Please fill in first references full name
						</div>
						{/if}
					</div>

					<div class="form-group">
						{freeform:field:rel_ref_1_relationship attr:class='form-control' attr:placeholder='Relationship'}
						{if freeform:error:rel_ref_1_relationship}
						<div class="alert alert-danger">
							Please indicate what your relationship to your first reference is
						</div>
						{/if}
					</div>

					<div class="form-group">
						{freeform:field:rel_ref_1_contact attr:class='form-control' attr:placeholder='Contact number'}
						{if freeform:error:rel_ref_1_contact}
						<div class="alert alert-danger">
							Please fill in your first references contact number
						</div>
						{/if}
					</div>




				</div><!--col-md-12-->

				<div class="col-md-12 clearfix">


					<div class='form-group'>
						{freeform:field:rel_ref_1_address attr:class='form-control' attr:placeholder='Reference address *'}
						{if freeform:error:rel_ref_1_address}
						<div class="alert alert-danger">
							Please fill in your first reference's address
						</div>
						{/if}
					</div>


					<!--<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_1_address_line_1" id="rel_ref_1_address_line_1" placeholder="Reference address line 1 *">
						{if freeform:error:rel_ref_1_address_line_1}
						<div class="alert alert-danger">
						Please fill in your first references address line 1
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_1_address_line_2" id="rel_ref_1_address_line_2" placeholder="Reference address line 2 *">
						{if freeform:error:rel_ref_1_address_line_2}
						<div class="alert alert-danger">
						Please fill in your first references address line 2
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_1_address_province" id="rel_ref_1_address_province" placeholder="Reference address province *">
						{if freeform:error:rel_ref_1_address_province}
						<div class="alert alert-danger">
						Please fill in your first references address province
						</div>
						{/if}
						
						</div>-->


				</div><!--colmd-12-->


				<!--<div class="col-md-6 clearfix">
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_1_address_city" id="rel_ref_1_address_city" placeholder="Reference address city *">
						{if freeform:error:rel_ref_1_address_city}
						<div class="alert alert-danger">
						Please fill in your first references address line city
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_1_address_zip" id="rel_ref_1_address_zip" placeholder="Reference address zip code *">
						{if freeform:error:rel_ref_1_address_zip}
						<div class="alert alert-danger">
						Please fill in your first references address zip code
						</div>
						{/if}
						
						</div>
						
						</div><!--col-md-6-->


				<div class="col-md-12 mt-30">
					<label for="consumer_postal_address_line_2">Reference 2</label>
				</div>

				<div class="col-md-12 clearfix">
					<div class="form-group">
						{freeform:field:rel_ref_2_name attr:class='form-control' attr:placeholder='Full name'}
						{if freeform:error:rel_ref_2_name}
						<div class="alert alert-danger">
							Please fill in first references full name
						</div>
						{/if}
					</div>

					<div class="form-group">
						{freeform:field:rel_ref_2_relationship attr:class='form-control' attr:placeholder='Relationship'}
						{if freeform:error:rel_ref_2_relationship}
						<div class="alert alert-danger">
							Please indicate what your relationship to your first reference is
						</div>
						{/if}
					</div>

					<div class="form-group">
						{freeform:field:rel_ref_2_contact attr:class='form-control' attr:placeholder='Contact number'}
						{if freeform:error:rel_ref_2_contact}
						<div class="alert alert-danger">
							Please fill in your first references contact number
						</div>
						{/if}
					</div>




				</div><!--col-md-22-->

				<div class="col-md-12 clearfix">

					<div class='form-group'>
						{freeform:field:rel_ref_2_address attr:class='form-control' attr:placeholder='Reference address *'}
						{if freeform:error:rel_ref_2_address}
						<div class="alert alert-danger">
							Please fill in your second reference's address
						</div>
						{/if}
					</div>

					<!--
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_2_address_line_1" id="rel_ref_2_address_line_1" placeholder="Reference address line 1 *">
						{if freeform:error:rel_ref_2_address_line_1}
						<div class="alert alert-danger">
						Please fill in your first references address line 1
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_2_address_line_2" id="rel_ref_2_address_line_2" placeholder="Reference address line 2 *">
						{if freeform:error:rel_ref_2_address_line_2}
						<div class="alert alert-danger">
						Please fill in your first references address line 2
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_2_address_province" id="rel_ref_2_address_province" placeholder="Reference address province *">
						{if freeform:error:rel_ref_2_address_province}
						<div class="alert alert-danger">
						Please fill in your first references address province
						</div>
						{/if}
						
						</div>-->


				</div><!--colmd-12-->


				<!--<div class="col-md-6 clearfix">
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_2_address_city" id="rel_ref_2_address_city" placeholder="Reference address city *">
						{if freeform:error:rel_ref_2_address_city}
						<div class="alert alert-danger">
						Please fill in your first references address line city
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_2_address_zip" id="rel_ref_2_address_zip" placeholder="Reference address zip code *">
						{if freeform:error:rel_ref_2_address_zip}
						<div class="alert alert-danger">
						Please fill in your first references address zip code
						</div>
						{/if}
						
						</div>
						
						</div><!--col-md-6-->

			</div>

		</div><!--well-->



		
		<h4>Additional Documents</h4>
		<div class="well clearfix mb-40">
		
			<div class='row'>
		
				<div class="col-md-6 clearfix">

					<div class="form-group">
						<p><small>Certified Copy of ID:<em></em></small></p>
						{freeform:field:consumer_document_id}
					</div>

					<div class="form-group">
						<p><small>3 Months bank statements:<em></em></small></p>
						{freeform:field:consumer_document_bank_statements}
					</div>
				</div>
				<div class="col-md-6 clearfix">
					<div class="form-group">
						<p><small>Latest Payslip:<em></em></small></p>
						{freeform:field:consumer_document_payslip}
					</div>

					<div class="form-group">
						<p><small>Proof of insurance:<em></em></small></p>
						{freeform:field:consumer_document_insurance}
					</div>

				</div>
			</div>
		</div>


		<h4>Insurance</h4>
		<div class="finance-container-background">
			<div class='protect-goods-container margin-top-lg margin-bottom-lg text-center'>
				<p>We also have a range of insurance options available, to cover your goods in the case of accidental loss, damage
				or theft. With our basic goods insurance the outstanding balance on your Credit Agreement will be settled. With our
				comprehensive goods insurance, your goods purchased on credit will be replaced without hassle. And for complete peace
				of mind we also offer basic and comprehensive cover for your credit agreement in the case of death, permanent or
				temporary disability and retrenchment. Speak to our in store financial consultant for more information.</p>
			</div>
		</div>
		<div class="well clearfix mb-40">
		
			<div class='row'>
		
				<div class="col-md-12 clearfix">

					<div class="form-group">
						<p><small>Do you have your own Insurance?<em></em></small></p>
						{freeform:field:customer_insurance_own_insurance attr:class="form-control"}
						{if freeform:error:customer_insurance_life_insurance}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Do you have life insurance?<em></em></small></p>
						{freeform:field:customer_insurance_life_insurance attr:class="form-control"}
						{if freeform:error:customer_insurance_life_insurance}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Do you have goods insurance?<em></em></small></p>
						{freeform:field:customer_insurance_goods_insurance attr:class="form-control"}
						{if freeform:error:customer_insurance_life_insurance}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>
					
				</div>

			</div>

		</div>











		<h4>NCA</h4>
		<div class="well clearfix mb-40">
		
			<div class='row'>

				<div class="col-md-12 clearfix">


					<div class="form-group">
						<p><small>Are you subject to an administration order?<em>*</em></small></p>
						{freeform:field:nca_admin_order attr:class="form-control"}
						{if freeform:error:nca_admin_order}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Have you applied to be placed under administration?<em>*</em></small></p>
						{freeform:field:nca_applied_admin attr:class="form-control"}
						{if freeform:error:nca_applied_admin}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Are you currently sequestrated?<em>*</em></small></p>
						{freeform:field:nca_sequestrated attr:class="form-control"}
						{if freeform:error:nca_sequestrated}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Have you applied to be sequestrated?<em>*</em></small></p>
						{freeform:field:nca_sequestrated_applied attr:class="form-control"}
						{if freeform:error:nca_sequestrated_applied}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Are you under debt review?<em>*</em></small></p>
						{freeform:field:nca_debt_review attr:class="form-control"}
						{if freeform:error:nca_debt_review}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Have you applied to be placed under debt review?<em>*</em></small></p>
						{freeform:field:nca_debt_review_applied attr:class="form-control"}
						{if freeform:error:nca_debt_review_applied}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>


				</div><!--colmd-12-->
				
			</div>

		</div><!--well-->


		<div class='terms-holder mt-20 mb-20' style="border-right-width:2px;">
			<p class="title text-center">SECURED LOAN AGREEMENT T's &amp; C's</p>
			<p class="text-center copyright">In terms of Section 92 of The Natiuonal Credit Act, 34 of 2005 Summary of Rights and Obligations in Respect of an Secured Loan</p>
			<ol>
				<li>The agreement shall be governed by the schedule and the standard terms and conditions of the agreement.</li>
				<li>This document merely constitutes a summary of some of the rights and obligations contained in the agreement for information purposes and does not constitute the agreement itself.</li>
			</ol>
			<p>This document merely constitutes a summary of some of the rights and obligations contained in the agreement for information purposes and does not constitute the agreement itself.This document merely constitutes a summary of some of the rights and obligations contained in the agreement for information purposes and does not constitute the agreement itself.</p>
			<p>This document merely constitutes a summary of some of the rights and obligations contained in the agreement for information purposes and does not constitute the agreement itself.This document merely constitutes a summary of some of the rights and obligations contained in the agreement for information purposes and does not constitute the agreement itself.</p>
			<a class="terms-link" href="{site_url}base-theme-2016/pdf/FinanceTC.pdf" target="_blank">View full T's &amp; C's</a>
		</div>

		<div class="checkbox terms-checkbox mb-60">
			<p>
				<input type="hidden" name="accept_terms">
				<input type="checkbox" name="accept_terms" id="accept_terms" value="1"/>
				<label for="accept_terms">I accept the terms and conditions</label>
			</p>
			<span>I hereby consent to the credit provider checking my credit record for the purposes of the pre-approval check</span>
		</div>

		<div class="alert alert-info mb-40">
			<p><b>Please note</b></p>
			<p>After you have captured your information you will be able to review and edit it before making your final submission. You can complete the application process at a later stage if you wish.</p>
		</div>

		<input type="submit" name="submit" value="Save &amp; Continue" id="submit" class="btn btn-lg btn-blue mb-60">

			{/exp:freeform:form}



		</div><!--col-md-9-->

	</div<!-- row -->


		{embed="finance/_sidebar"}





		{embed="_includes/_footer"}
		