{embed="_includes/_header"
body_id="finance"
body_class="static"
page_title="Finance Application Complete"
description=""
menu_class="no-border-bottom"
keywords=""}

{if logged_out}
{redirect="finance/application"}
{/if}



	<div class='row'>

		<div class="col-md-12 clearfix">
		
			<div class="title mt-30 mb-40 center">
				<h1 class="centered text-success">Success</h1>
			</div>
			
			<div class='row' style='margin-bottom:180px;'>
			
				<div class='col-sm-8 col-sm-offset-2'>
			
					<div class="alert alert-success" role="alert">

						<p class="lead"><b>We have received your application and one of our representatives will be in touch shortly.</b></p>
						<p>Please take note that your Tracking Reference number is:
						
							{exp:freeform:entries
								form_name="finance_applications"
								entry_id="{segment_3}"
								limit="1"
								status="open"
							}
							
							<b>#{freeform:entry_id}</b>
							
						
							{/exp:freeform:entries}
						</p>
						<p>
							An e-mail with your application details has also been mailed to you.
						</p>
						
						<p>&nbsp;</p>
						<p>
							In order to complete your application, please send an e-mail to creditapplication@rochester.co.za with the following required documentation:
						</p>
						<ul style='margin-top:10px; margin-bottom:20px;font-weight:bold;'>
							<li>A copy of your ID</li>
							<li>3 months bank statements</li>
							<li>A copy of you latest payslip</li>
							<li>Proof of insurance (only if applying with your own insurance option)</li>
						</ul>

					</div>
					
				</div>
				
			</div>
		
		</div><!--col-md-12-->
	
	</div>








{embed="_includes/_footer"}