{embed="_includes/_header"
body_id="finance"
body_class="static"
page_title="Finance Application"
description=""
menu_class="no-border-bottom"
keywords=""}

{if logged_out}
{redirect="finance/application"}
{/if}



{if segment_3 == ""}

	<div class="title margin-bottom-30">
		<h1>Pending application</h1>
	</div>

	<div class="alert alert-danger" role="alert">
		{exp:freeform:entries dynamic="no" author_id="CURRENT_USER" orderby="entry_date" sort="desc" limit="1" form_name="finance_applications" status="pending"} 
		<a class="alert-link" href="/finance/edit/{freeform:entry_id}">Click here to complete your application</a>
		{/exp:freeform:entries}
	</div>

{/if}





{if segment_3 != ""}

	<div class="title margin-bottom-30">
		<h1>Complete/review your application</h1>
	</div>
	
	<div class="alert alert-info">
		<p><b>Please note</b></p>
		<p>Make sure that you have filled in all of the fields and that the information is accurate before submitting your application.</p>
	</div>

	
	
	<div class='row'>

		<div class="col-md-9 clearfix">

			{exp:freeform:edit 
				form_id="6"
				entry_id="{segment_3}"
				return="finance/completed/%%entry_id%%"
				restrict_edit_to_author="yes"
				allow_status_edit="yes"
				status="open|pending"
				notify_on_edit="yes"
				notify_admin="yes"
				notify_user="yes"
				inline_errors="yes"
				form:class="margin-bottom-40 edit-form"
				
			}
	
				<h4 class='mt-30'>Purpose of application</h4>
	
				<div class="well clearfix mb-40">
				
					<div class='row'>

						<div class="col-md-12">
							<label for="consumer_postal_address_line_1">Product value and term</label>
						</div>

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:product_value attr:class='form-control' attr:placeholder='Product value (R) *'}
								{if freeform:error:product_value}
								<div class="alert alert-danger">
									Please fill in the value of the product you would like to finance
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:product_term attr:class="form-control"}
							</div>
						</div><!--col-md-12-->
						
					</div>
				
				</div><!--well-->


	
	
	
	
				<div class='row'>
				
					<div class='col-md-6'>
					
						<h4>Consumer information</h4>
						
						<div class="well clearfix mb-40">
						
							<div class='row'>

								<div class="col-md-12">
									<label for="consumer_postal_address_line_1">Personal details</label>
								</div>

								<div class="col-md-12 clearfix">
								
									<div class="form-group">
										{freeform:field:consumer_full_name attr:class="form-control" attr:placeholder='Full name *'}
										{if freeform:error:consumer_full_name}
										<div class="alert alert-danger">
											Please fill in your full name
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:email attr:class="form-control" attr:placeholder='Email *'}
										{if freeform:error:email}
										<div class="alert alert-danger">
											Please fill in a valid email address
										</div>
										{/if}
									</div>
				
									<div class="form-group">
										{freeform:field:consumer_cell attr:class="form-control" attr:placeholder='Cell number *'}
										{if freeform:error:consumer_cell}
										<div class="alert alert-danger">
											Please fill in your cell number
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_work_number attr:class="form-control" attr:placeholder='Work number *'}
										{if freeform:error:consumer_work_number}
										<div class="alert alert-danger">
											Please fill in your work contact number
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_id_number attr:class="form-control" attr:placeholder='ID or passport number *'}
										{if freeform:error:consumer_id_number}
										<div class="alert alert-danger">
											Please fill in a valid ID or passport number
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_gender attr:class="form-control"}
									</div>


									<!-- <div class="form-group">
										<p><small>Home language<em>*</em></small></p>
										{freeform:field:consumer_home_language attr:class="form-control"}
										{if freeform:error:consumer_home_language}
										<div class="alert alert-danger">
											Please fill in your home language
										</div>
										{/if}
									</div> -->


									<!-- <div class="form-group">
										<p><small>Number of dependants<em>*</em></small></p>
										{freeform:field:consumer_no_of_dependants attr:class="form-control"}
										{if freeform:error:consumer_no_of_dependants}
										<div class="alert alert-danger">
											Please fill in your number of dependants
										</div>
										{/if}
									</div> -->

									<div class="form-group">
										{freeform:field:consumer_marital_status attr:class="form-control"}
									</div>
									
									<script>
										jQuery(function(){
										var s = jQuery('select[name="consumer_marital_status"]');
										s.bind('change.rochester.co.za', toggleMaritalSection);
										toggleMaritalSection();

										// check the default values...
										if (jQuery('#freeform_consumer_full_name').val() == '' && jQuery('#freeform_consumer_full_name').siblings('.alert.alert-danger').length == 0)
										jQuery('#freeform_consumer_full_name').val('{exp:member:custom_profile_data}{custom_fullname}{/exp:member:custom_profile_data}');
										if (jQuery('#freeform_email').val() == '' && jQuery('#freeform_email').siblings('.alert.alert-danger').length == 0)
										jQuery('#freeform_email').val('{email}');
										if (jQuery('#freeform_consumer_cell').val() == '' && jQuery('#freeform_consumer_cell').siblings('.alert.alert-danger').length == 0)
										jQuery('#freeform_consumer_cell').val('{exp:member:custom_profile_data}{custom_contactnumber}{/exp:member:custom_profile_data}');

										// Work Number
										if(jQuery('#freeform_consumer_work_number').val() == '' && jQuery('#freeform_consumer_work_number').siblings('.alert.alert-danger').length == 0)
											jQuery('#freeform_consumer_work_number').val('{exp:member:custom_profile_data}{custom_contactnumber}{/exp:member:custom_profile_data}');

										// Citizenship
										if(jQuery('#freeform_consumer_citizenship').val() == '' && jQuery('#freeform_consumer_citizenship').siblings('.alert.alert-danger').length == 0)
											jQuery('#freeform_consumer_citizenship').val('{exp:member:custom_profile_data}{custom_citizenship}{/exp:member:custom_profile_data}');

										// ID Number
										if(jQuery('#freeform_consumer_id_number').val() == '' && jQuery('#freeform_consumer_id_number').siblings('.alert.alert-danger').length == 0)
											jQuery('#freeform_consumer_id_number').val('{exp:member:custom_profile_data}{custom_id_number}{/exp:member:custom_profile_data}');

										// Temporary Permit No
										if(jQuery('#freeform_consumer_temporary_permit_no').val() == '' && jQuery('#freeform_consumer_temporary_permit_no').siblings('.alert.alert-danger').length == 0)
											jQuery('#freeform_consumer_temporary_permit_no').val('{exp:member:custom_profile_data}{custom_temporary_permit_no}{/exp:member:custom_profile_data}');

										// Permit Expiry Date
										if(jQuery('#freeform_consumer_permit_expiry_date').val() == '' && jQuery('#freeform_consumer_permit_expiry_date').siblings('.alert.alert-danger').length == 0)
											jQuery('#freeform_consumer_permit_expiry_date').val('{exp:member:custom_profile_data}{custom_permit_expiry_date	}{/exp:member:custom_profile_data}');

										// Consumer Residential Address
										if(jQuery('#freeform_consumer_residential_address').val() == '' && jQuery('#freeform_consumer_residential_address').siblings('.alert.alert-danger').length == 0)
											jQuery('#freeform_consumer_residential_address').val('{exp:member:custom_profile_data}{custom_home_address}{/exp:member:custom_profile_data}');

										// Consumer Period Emplyed
										if(jQuery('#freeform_consumer_period_employed').val() == '' && jQuery('#freeform_consumer_period_employed').siblings('.alert.alert-danger').length == 0)
											jQuery('#freeform_consumer_period_employed').val('{exp:member:custom_profile_data}{custom_period_employed}{/exp:member:custom_profile_data}');

										// Consumer Gross Income
										if(jQuery('#freeform_consumer_gross_income').val() == '' && jQuery('#freeform_consumer_gross_income').siblings('.alert.alert-danger').length == 0)
											jQuery('#freeform_consumer_gross_income').val('{exp:member:custom_profile_data}{custom_gross_salary}{/exp:member:custom_profile_data}');

										// Bank Name
										if(jQuery('#freeform_consumer_bank_name').val() == '' && jQuery('#freeform_consumer_bank_name').siblings('.alert.alert-danger').length == 0)
											jQuery('#freeform_consumer_bank_name').val('{exp:member:custom_profile_data}{custom_name_of_bank}{/exp:member:custom_profile_data}');

										
										if(jQuery('#freeform_consumer_under_review').val() == '' && jQuery('#freeform_consumer_under_review').siblings('.alert.alert-danger').length == 0)
											jQuery('#freeform_consumer_under_review').val('{exp:member:custom_profile_data}{custom_debt_review}{/exp:member:custom_profile_data}');


										});
										function toggleMaritalSection()
										{
										var j = jQuery('#spouse-information-container');
										var s = jQuery('select[name="consumer_marital_status"]');
										var v = s.val();
										if (v == 'Married (COP)' || v == 'Married (ANC)')
										{
										j.siblings('.col-md-12').toggleClass('col-md-6', true).toggleClass('col-md-12', false);
										if (v == 'Married (COP)')
										{
										jQuery('.hidden-anc').show();
										jQuery('.visible-anc').hide();
										}
										else
										{
										jQuery('.hidden-anc').hide();
										jQuery('.visible-anc').show();
										}
										j.fadeIn(350);
										}
										else
										{
										j.siblings('.col-md-6').toggleClass('col-md-12', true).toggleClass('col-md-6', false);
										j.hide();
										}
										}
									</script>
				
								</div><!--col-md-12-->

								<!--<div class="col-md-12 clearfix">
								
									<div class='form-group'>
										<p><small>Postal address<em>*</em></small></p>
										{freeform:field:consumer_postal_address attr:class='form-control' attr:placeholder='Postal address *'}
										{if freeform:error:consumer_postal_address}
											<div class="alert alert-danger">
												Please fill in your postal address
											</div>
										{/if}
									</div>


									<!--<div class="form-group">
										<p><small>Postal address line 1<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_postal_address_line_1" id="consumer_postal_address_line_1" value="{freeform:edit_data:consumer_postal_address_line_1}">
										{if freeform:error:consumer_postal_address_line_1}
										<div class="alert alert-danger">
											Please fill in your postal address line 1
										</div>
										{/if}

									</div>

									<div class="form-group">
										<p><small>Postal address line 2<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_postal_address_line_2" id="consumer_postal_address_line_2" value="{freeform:edit_data:consumer_postal_address_line_2}">
										{if freeform:error:consumer_postal_address_line_2}
										<div class="alert alert-danger">
											Please fill in your postal address line 2
										</div>
										{/if}

									</div>

									<div class="form-group">
										<p><small>Postal address province<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_postal_address_province" id="consumer_postal_address_province" value="{freeform:edit_data:consumer_postal_address_province}">
										{if freeform:error:consumer_postal_address_province}
										<div class="alert alert-danger">
											Please fill in your postal address province
										</div>
										{/if}

									</div>-->

								<!--</div><!--colmd-12-->


								<!--<div class="col-md-6 clearfix">

									<div class="form-group">
										<p><small>Postal address city<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_postal_address_city" id="consumer_postal_address_city" value="{freeform:edit_data:consumer_postal_address_city}">
										{if freeform:error:consumer_postal_address_city}
										<div class="alert alert-danger">
											Please fill in your postal address line city
										</div>
										{/if}

									</div>

									<div class="form-group">
										<p><small>Postal address zip code<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_postal_address_zip" id="consumer_postal_address_zip" value="{freeform:edit_data:consumer_postal_address_zip}">
										{if freeform:error:consumer_postal_address_zip}
										<div class="alert alert-danger">
											Please fill in your postal address zip code
										</div>
										{/if}

									</div>
									<!--colmd-6--
								</div>-->


								
								<div class="col-md-12 mt-30">
									<label for="consumer_residential_address_line_1">Residential address</label>
								</div>
								
								<div class="col-md-12 clearfix">
			
									<div class='form-group'>
										{freeform:field:consumer_residential_address attr:class='form-control' attr:placeholder='Residential address *'}
										{if freeform:error:consumer_residential_address}
											<div class="alert alert-danger">
												Please fill in your residential address
											</div>
										{/if}
									</div>

									<!--<div class="form-group">
										<p><small>Residential address line 1<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_residential_address_line_1" id="consumer_residential_address_line_1" value="{freeform:edit_data:consumer_residential_address_line_1}">
										{if freeform:error:consumer_residential_address_line_1}
										<div class="alert alert-danger">
											Please fill in your residential address line 1
										</div>
										{/if}

									</div>

									<div class="form-group">
										<p><small>Residential address line 2<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_residential_address_line_2" id="consumer_residential_address_line_2" value="{freeform:edit_data:consumer_residential_address_line_2}">
										{if freeform:error:consumer_residential_address_line_2}
										<div class="alert alert-danger">
											Please fill in your residential address line 2
										</div>
										{/if}

									</div>

									<div class="form-group">
										<p><small>Residential address province<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_residential_address_province" id="consumer_residential_address_province" value="{freeform:edit_data:consumer_residential_address_province}">
										{if freeform:error:consumer_residential_address_province}
										<div class="alert alert-danger">
											Please fill in your residential address province
										</div>
										{/if}

									</div>-->

								</div><!--colmd-12-->


								<!--<div class="col-md-6 clearfix">

									<div class="form-group">
										<p><small>residential address city<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_residential_address_city" id="consumer_residential_address_city" value="{freeform:edit_data:consumer_residential_address_city}">
										{if freeform:error:consumer_residential_address_city}
										<div class="alert alert-danger">
											Please fill in your residential address line city
										</div>
										{/if}

									</div>

									<div class="form-group">
										<p><small>residential address zip code<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_residential_address_zip" id="consumer_residential_address_zip" value="{freeform:edit_data:consumer_residential_address_zip}">
										{if freeform:error:consumer_residential_address_zip}
										<div class="alert alert-danger">
											Please fill in your residential address zip code
										</div>
										{/if}

									</div>

								</div><!--col-md-6-->


								<div class="col-md-12">
									<div class="form-group">
										{freeform:field:consumer_period_of_residence attr:class="form-control" attr:placeholder='Period of residence *'}
										{if freeform:error:consumer_period_of_residence}
										<div class="alert alert-danger">
											Please fill in your period of residence
										</div>
										{/if}
									</div>
								</div><!--col-md-12-->
								
			
								<div class="col-md-12">
									<div class="form-group">
										{freeform:field:consumer_residential_ownership attr:class='form-control'}
										{if freeform:error:consumer_residential_ownership}
										<div class="alert alert-danger">
											Please select a valid ownership
										</div>
										{/if}
									</div>
								</div><!--col-md-12-->
								
			
								<div class="col-md-12">
									<div class="form-group">
										{freeform:field:consumer_residential_type attr:class='form-control'}
										{if freeform:error:consumer_residential_type}
										<div class="alert alert-danger">
											Please select a valid type
										</div>
										{/if}
									</div>
								</div><!--col-md-12-->
			
			
			
			
								<div class="col-md-12 mt-30">
									<label for="consumer_residential_address_line_1">Previous residential address <span style='font-weight:normal'><i>(if residing for less than 5 years at current address)</i></span></label>
								</div>
								
			
								<div class="col-md-12 clearfix">
									<div class="form-group">
										{freeform:field:consumer_previous_residential_address attr:class='form-control' attr:placeholder='Previous residential address'}
										{if freeform:error:consumer_previous_residential_address}
										<div class="alert alert-danger">
											Please fill in a previous residential address
										</div>
										{/if}
									</div>
								</div><!--col-md-12-->
			
								<div class="col-md-12 clearfix">
									<div class="form-group">
										{freeform:field:consumer_previous_period_of_residence attr:class='form-control' attr:placeholder='Previous residential address period of residence'}
										{if freeform:error:consumer_previous_period_of_residence}
										<div class="alert alert-danger">
											Please fill in a previous period of residence
										</div>
										{/if}
									</div>
								</div><!--col-md-12-->










								<div class="col-md-12 mt-30">
									<label for="consumer_postal_address_line_1">Employment details</label>
								</div>

								<div class="col-md-12 clearfix">
									<div class="form-group">
										{freeform:field:consumer_employer attr:class="form-control" attr:placeholder='Employer *'}
										{if freeform:error:consumer_employer}
										<div class="alert alert-danger">
											Please fill in your employer
										</div>
										{/if}
									</div>
								</div><!--col-md-12-->

								<div class="col-md-12 clearfix">
									<div class='form-group'>
										{freeform:field:consumer_employer_address attr:class='form-control' attr:placeholder='Employer address *'}
										{if freeform:error:consumer_employer_address}
											<div class="alert alert-danger">
												Please fill in your employer address
											</div>
										{/if}
									</div>

									<!--
									<div class="form-group">
										<p><small>employer address line 1<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_employer_address_line_1" id="consumer_employer_address_line_1" value="{freeform:edit_data:consumer_employer_address_line_1}">
										{if freeform:error:consumer_employer_address_line_1}
										<div class="alert alert-danger">
											Please fill in your employer address line 1
										</div>
										{/if}

									</div>

									<div class="form-group">
										<p><small>employer address line 2<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_employer_address_line_2" id="consumer_employer_address_line_2" value="{freeform:edit_data:consumer_employer_address_line_2}">
										{if freeform:error:consumer_employer_address_line_2}
										<div class="alert alert-danger">
											Please fill in your employer address line 2
										</div>
										{/if}

									</div>

									<div class="form-group">
										<p><small>employer address province<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_employer_address_province" id="consumer_employer_address_province" value="{freeform:edit_data:consumer_employer_address_province}">
										{if freeform:error:consumer_employer_address_province}
										<div class="alert alert-danger">
											Please fill in your employer address province
										</div>
										{/if}

									</div>-->


								</div><!--colmd-6-->


								<!--<div class="col-md-6 clearfix">

									<div class="form-group">
										<p><small>employer address city<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_employer_address_city" id="consumer_employer_address_city" value="{freeform:edit_data:consumer_employer_address_city}">
										{if freeform:error:consumer_employer_address_city}
										<div class="alert alert-danger">
											Please fill in your employer address line city
										</div>
										{/if}

									</div>

									<div class="form-group">
										<p><small>employer address zip code<em>*</em></small></p>
										<input type="text" class="form-control" name="consumer_employer_address_zip" id="consumer_employer_address_zip" value="{freeform:edit_data:consumer_employer_address_zip}">
										{if freeform:error:consumer_employer_address_zip}
										<div class="alert alert-danger">
											Please fill in your employer address zip code
										</div>
										{/if}

									</div>

								</div><!--col-md-6-->


								<div class="col-md-12 clearfix">


								<!-- <div class="form-group">
									<p><small>Job description<em>*</em></small></p>
									{freeform:field:consumer_job_description attr:class="form-control"}
									{if freeform:error:consumer_job_description}
									<div class="alert alert-danger">
										Please fill in your job description
									</div>
									{/if}

								</div> -->


									<div class="form-group">
										{freeform:field:consumer_period_employed attr:class="form-control" attr:placeholder='Period employed *'}
										{if freeform:error:consumer_period_employed}
										<div class="alert alert-danger">
											Please fill in your employment period
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_gross_income attr:class="form-control" attr:placeholder='Gross income *'}
										{if freeform:error:consumer_gross_income}
										<div class="alert alert-danger">
											Please fill in your gross income
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_nett_income attr:class="form-control" attr:placeholder='Nett income *'}
										{if freeform:error:consumer_nett_income}
										<div class="alert alert-danger">
											Please fill in your nett income
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_other_income attr:class="form-control" attr:placeholder='Other income'}
										{if freeform:error:consumer_other_income}
										<div class="alert alert-danger">
											Please fill in your other income
										</div>
										{/if}
									</div>

								</div><!--col-md-12-->
			
			
			
			
			
			
			
			
								<div class="col-md-12 mt-30">
									<label for="consumer_residential_address_line_1">Previous employment details <span style='font-weight:normal'><i>(if employed for less than 5 years with current employer)</i></span></label>
								</div>
			
								<div class="col-md-12 clearfix">
									<div class="form-group">
										{freeform:field:consumer_previous_employer attr:class='form-control' attr:placeholder='Previous employer'}
										{if freeform:error:consumer_previous_employer}
										<div class="alert alert-danger">
											Please fill in a previous employer
										</div>
										{/if}
									</div>
								</div><!--col-md-12-->
			
								<div class="col-md-12 clearfix">
									<div class="form-group">
										{freeform:field:consumer_previous_employer_address attr:class='form-control' attr:placeholder='Previous employer address'}
										{if freeform:error:consumer_previous_employer_address}
										<div class="alert alert-danger">
											Please fill in a previous employer address
										</div>
										{/if}
									</div>
								</div><!--col-md-12-->
			
								<div class="col-md-12 clearfix">
									<div class="form-group">
										{freeform:field:consumer_previous_period_employed attr:class='form-control' attr:placeholder='Previous employment period'}
										{if freeform:error:consumer_previous_period_employed}
										<div class="alert alert-danger">
											Please fill in a previous employment period
										</div>
										{/if}
									</div>
								</div><!--col-md-12-->
			
								<div class="col-md-12 clearfix">
									<div class="form-group">
										{freeform:field:consumer_previous_employer_contact_number attr:class='form-control' attr:placeholder='Previous employer contact number'}
										{if freeform:error:consumer_previous_employer_contact_number}
										<div class="alert alert-danger">
											Please fill in a previous employer contact number
										</div>
										{/if}
									</div>
								</div><!--col-md-12-->
			
			
			
			
			
			
			
			
			


								<div class="col-md-12 mt-30">
									<label for="consumer_postal_address_line_1">Expenses</label>
								</div>


								<div class="col-md-12">
								
									<div class="form-group">
										{freeform:field:consumer_home_loan_rent attr:class="form-control" attr:placeholder='Home loan / Rent'}
										{if freeform:error:consumer_home_loan_rent}
										<div class="alert alert-danger">
											Please fill in your current monthly home loan or rent payments
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_credit_cards_loans attr:class="form-control" attr:placeholder='Credit card / Personal loans / Study loans'}
										{if freeform:error:consumer_credit_cards_loans}
										<div class="alert alert-danger">
											Please fill in your monthly Credit card / Personal loans / Study loans payments
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_retail_accounts attr:class="form-control" attr:placeholder='Retail accounts'}
										{if freeform:error:consumer_retail_accounts}
										<div class="alert alert-danger">
											Please fill in your monthly retail account payments
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_water_and_electricity attr:class="form-control" attr:placeholder='Water and electricity'}
										{if freeform:error:consumer_water_and_electricity}
										<div class="alert alert-danger">
											Please fill in your water and electricity payments
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_school_fees attr:class="form-control" attr:placeholder='School fees'}
										{if freeform:error:consumer_school_fees}
										<div class="alert alert-danger">
											Please fill in your school fees payments
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_telephone attr:class="form-control" attr:placeholder='Telephone'}
										{if freeform:error:consumer_telephone}
										<div class="alert alert-danger">
											Please fill in your telephone payments
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_groceries attr:class="form-control" attr:placeholder='Groceries'}
										{if freeform:error:consumer_groceries}
										<div class="alert alert-danger">
											Please fill in your monthly groceries expenditure
										</div>
										{/if}
									</div>

									<div class="form-group">
										{freeform:field:consumer_transport attr:class="form-control" attr:placeholder='Transport'}
										{if freeform:error:consumer_transport}
										<div class="alert alert-danger">
											Please fill in your monthly transport expenditure
										</div>
										{/if}
									</div>

								</div><!--col-md-12-->
								
							</div>
							
						</div><!--well-->
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
						
					</div>
					
					<div class='col-md-6' id='spouse-information-container'>
					
					
					
					
					
					
					
					
					
					
					
						<div>
						
							<h4>Spouse information</h4>
							
							<div class="well clearfix mb-40">
							
								<div class='row'>

									<div class="col-md-12">
										<label for="spouse_postal_address_line_1">Personal details</label>
									</div>

									<div class="col-md-12 clearfix">
				
										<div class="checkbox">
											<label>
												{freeform:field:spouse_consent} I have my spouse's permission/consent to apply for finance.
											</label>
											{if freeform:error:spouse_consent}
											<div class="alert alert-danger">
												Please indicate that you have your spouse's consent
											</div>
											{/if}
										</div>
			
										<div class="form-group">
											{freeform:field:spouse_full_name attr:class='form-control' attr:placeholder='Full name *'}
											{if freeform:error:spouse_full_name}
											<div class="alert alert-danger">
												Please fill in your spouse's full name
											</div>
											{/if}
										</div>

										<div class="form-group">
											{freeform:field:spouse_email attr:class='form-control' attr:placeholder='Email *'}
											{if freeform:error:spouse_email}
											<div class="alert alert-danger">
												Please fill in a valid email address
											</div>
											{/if}
										</div>
				
										<div class="form-group">
											{freeform:field:spouse_cell attr:class='form-control' attr:placeholder='Cell number *'}
											{if freeform:error:spouse_cell}
											<div class="alert alert-danger">
												Please fill in your spouse's cell number
											</div>
											{/if}
										</div>

										<div class="form-group">
											{freeform:field:spouse_work_number attr:class='form-control' attr:placeholder='Work number *'}
											{if freeform:error:spouse_work_number}
											<div class="alert alert-danger">
												Please fill in your spouse's work contact number
											</div>
											{/if}
										</div>

										<div class="form-group">
											{freeform:field:spouse_id_number attr:class='form-control' attr:placeholder='ID or passport number *'}
											{if freeform:error:spouse_id_number}
											<div class="alert alert-danger">
												Please fill in a valid ID or passport number
											</div>
											{/if}
										</div>

										<div class="form-group">
											{freeform:field:spouse_gender attr:class="form-control"}
										</div>


										<div class="form-group visible-anc">
											{freeform:field:spouse_home_language attr:class='form-control' attr:placeholder='Home language *'}
											{if freeform:error:spouse_home_language}
											<div class="alert alert-danger">
												Please fill in your spouse's home language
											</div>
											{/if}
										</div>


										<div class="form-group visible-anc">
											{freeform:field:spouse_no_of_dependants attr:class='form-control' attr:placeholder='Number of dependants *'}
											{if freeform:error:spouse_no_of_dependants}
											<div class="alert alert-danger">
												Please fill in your spouse's number of dependants
											</div>
											{/if}
										</div>
				
									</div><!--col-md-12-->





									<div class="col-md-12 mt-30 hidden-anc">
										<label for="spouse_postal_address_line_1">Employment details</label>
									</div>

									<div class="col-md-12 clearfix hidden-anc">


										<div class="form-group">
											{freeform:field:spouse_employer attr:class='form-control' attr:placeholder='Employer *'}
											{if freeform:error:spouse_employer}
											<div class="alert alert-danger">
												Please fill in your spouse's employer
											</div>
											{/if}
										</div>


									</div><!--col-md-12-->

									<div class="col-md-12 clearfix hidden-anc">

										<div class='form-group'>
											{freeform:field:spouse_employer_address attr:class='form-control' attr:placeholder='Employer address *'}
											{if freeform:error:spouse_employer_address}
												<div class="alert alert-danger">
													Please fill in your spouse's employer address
												</div>
											{/if}
										</div>

									</div><!--colmd-12-->

									<div class="col-md-12 clearfix hidden-anc">

										<!-- <div class="form-group">
											{freeform:field:spouse_job_description attr:class='form-control' attr:placeholder='Job description *'}
											{if freeform:error:spouse_job_description}
											<div class="alert alert-danger">
												Please fill in your spouse's job description
											</div>
											{/if}

										</div> -->


										<div class="form-group">
											{freeform:field:spouse_period_employed attr:class='form-control' attr:placeholder='Period employed *'}
											{if freeform:error:spouse_period_employed}
											<div class="alert alert-danger">
												Please fill in your spouse's employment period
											</div>
											{/if}
										</div>

										<div class="form-group">
											{freeform:field:spouse_gross_income attr:class='form-control' attr:placeholder='Gross income *'}
											{if freeform:error:spouse_gross_income}
											<div class="alert alert-danger">
												Please fill in your spouse's gross income
											</div>
											{/if}
										</div>

										<div class="form-group">
											{freeform:field:spouse_nett_income attr:class='form-control' attr:placeholder='Nett income *'}
											{if freeform:error:spouse_nett_income}
											<div class="alert alert-danger">
												Please fill in your spouse's nett income
											</div>
											{/if}
										</div>

										<div class="form-group">
											{freeform:field:spouse_other_income attr:class='form-control' attr:placeholder='Other income'}
											{if freeform:error:spouse_other_income}
											<div class="alert alert-danger">
												Please fill in your spouse's other income
											</div>
											{/if}
										</div>

									</div><!--col-md-12-->
			
			
									<div class="col-md-12 mt-30 hidden-anc">
										<label for="consumer_postal_address_line_1">Expenses</label>
									</div>
				
				
									<div class="col-md-12 hidden-anc">
									
										<div class="form-group">
											{freeform:field:spouse_home_loan_rent attr:class='form-control' attr:placeholder='Home loan / Rent'}
											{if freeform:error:spouse_home_loan_rent}
											<div class="alert alert-danger">
												Please fill in your spouse's current monthly home loan or rent payments
											</div>
											{/if}
										</div>
							
							
										<div class="form-group">
											{freeform:field:spouse_credit_cards_loans attr:class='form-control' attr:placeholder='Credit card / Personal loans / Study loans'}
											{if freeform:error:spouse_credit_cards_loans}
											<div class="alert alert-danger">
												Please fill in your spouse's monthly Credit card / Personal loans / Study loans payments
											</div>
											{/if}
										</div>
						
						
										<div class="form-group">
											{freeform:field:spouse_retail_accounts attr:class='form-control' attr:placeholder='Retail accounts'}
											{if freeform:error:spouse_retail_accounts}
											<div class="alert alert-danger">
												Please fill in your spouse's monthly retail account payments
											</div>
											{/if}
										</div>
						
						
										<div class="form-group">
											{freeform:field:spouse_water_and_electricity attr:class='form-control' attr:placeholder='Water and electricity'}
											{if freeform:error:spouse_water_and_electricity}
											<div class="alert alert-danger">
												Please fill in your spouse's water and electricity payments
											</div>
											{/if}
										</div>
						
						
										<div class="form-group">
											{freeform:field:spouse_school_fees attr:class='form-control' attr:placeholder='School fees'}
											{if freeform:error:spouse_school_fees}
											<div class="alert alert-danger">
												Please fill in your spouse's school fees payments
											</div>
											{/if}
										</div>


										<div class="form-group">
											{freeform:field:spouse_telephone attr:class='form-control' attr:placeholder='Telephone'}
											{if freeform:error:spouse_telephone}
											<div class="alert alert-danger">
												Please fill in your spouse's telephone payments
											</div>
											{/if}
										</div>
						
						
						
										<div class="form-group">
											{freeform:field:spouse_groceries attr:class='form-control' attr:placeholder='Groceries'}
											{if freeform:error:spouse_groceries}
											<div class="alert alert-danger">
												Please fill in your spouse's monthly groceries expenditure
											</div>
											{/if}
										</div>
						
						
						
										<div class="form-group">
											{freeform:field:spouse_transport attr:class='form-control' attr:placeholder='Transport'}
											{if freeform:error:spouse_transport}
											<div class="alert alert-danger">
												Please fill in your spouse's monthly transport expenditure
											</div>
											{/if}
										</div>
							
							
									</div><!--col-md-12-->
									
								</div>

							</div><!--well-->
		
						</div>
						
						
						
						
						
						
						
						
						
						
					</div>
					
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				<h4>Relatives not living with the consumer</h4>
				
				<div class="well clearfix mb-40">
				
					<div class='row'>
					
						<div class="col-md-12">
							<label for="consumer_postal_address_line_1">Reference 1</label>
						</div>

						<div class="col-md-12 clearfix">
						
							<div class="form-group">
								{freeform:field:rel_ref_1_name attr:class='form-control' attr:placeholder='Full name'}
								{if freeform:error:rel_ref_1_name}
								<div class="alert alert-danger">
									Please fill in first references full name
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:rel_ref_1_relationship attr:class='form-control' attr:placeholder='Relationship'}
								{if freeform:error:rel_ref_1_relationship}
								<div class="alert alert-danger">
									Please indicate what your relationship to your first reference is
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:rel_ref_1_contact attr:class='form-control' attr:placeholder='Contact number'}
								{if freeform:error:rel_ref_1_contact}
								<div class="alert alert-danger">
									Please fill in your first references contact number
								</div>
								{/if}
							</div>
							
						</div><!--col-md-12-->
						
						
						
						
						<div class="col-md-12 clearfix">
						
							<div class='form-group'>
								{freeform:field:rel_ref_1_address attr:class='form-control' attr:placeholder='Reference address *'}
								{if freeform:error:rel_ref_1_address}
									<div class="alert alert-danger">
										Please fill in your first reference's address
									</div>
								{/if}
							</div>

							<!--
							<div class="form-group">
								<p><small>Reference address line 1<em>*</em></small></p>
								<input type="text" class="form-control" name="rel_ref_1_address_line_1" id="rel_ref_1_address_line_1" value="{freeform:edit_data:rel_ref_1_address_line_1}">
								{if freeform:error:rel_ref_1_address_line_1}
								<div class="alert alert-danger">
									Please fill in your Reference address line 1
								</div>
								{/if}

							</div>

							<div class="form-group">
								<p><small>Reference address line 2<em>*</em></small></p>
								<input type="text" class="form-control" name="rel_ref_1_address_line_2" id="rel_ref_1_address_line_2" value="{freeform:edit_data:rel_ref_1_address_line_2}">
								{if freeform:error:rel_ref_1_address_line_2}
								<div class="alert alert-danger">
									Please fill in your Reference address line 2
								</div>
								{/if}

							</div>

							<div class="form-group">
								<p><small>Reference address province<em>*</em></small></p>
								<input type="text" class="form-control" name="rel_ref_1_address_province" id="rel_ref_1_address_province" value="{freeform:edit_data:rel_ref_1_address_province}">
								{if freeform:error:rel_ref_1_address_province}
								<div class="alert alert-danger">
									Please fill in your Reference address province
								</div>
								{/if}

							</div>-->
							
						</div><!--colmd-12-->


						<!--<div class="col-md-6 clearfix">

							<div class="form-group">
								<p><small>Reference address city<em>*</em></small></p>
								<input type="text" class="form-control" name="rel_ref_1_address_city" id="rel_ref_1_address_city" value="{freeform:edit_data:rel_ref_1_address_city}">
								{if freeform:error:rel_ref_1_address_city}
								<div class="alert alert-danger">
									Please fill in your Reference address line city
								</div>
								{/if}

							</div>

							<div class="form-group">
								<p><small>Reference address zip code<em>*</em></small></p>
								<input type="text" class="form-control" name="rel_ref_1_address_zip" id="rel_ref_1_address_zip" value="{freeform:edit_data:rel_ref_1_address_zip}">
								{if freeform:error:rel_ref_1_address_zip}
								<div class="alert alert-danger">
									Please fill in your Reference address zip code
								</div>
								{/if}

							</div>

						</div><!--col-md-6-->


						<div class="col-md-12 mt-30">
							<label for="consumer_postal_address_line_2">Reference 2</label>
						</div>

						<div class="col-md-12 clearfix">
						
							<div class="form-group">
								{freeform:field:rel_ref_2_name attr:class='form-control' attr:placeholder='Full name'}
								{if freeform:error:rel_ref_2_name}
								<div class="alert alert-danger">
									Please fill in 2nd references full name
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:rel_ref_2_relationship attr:class='form-control' attr:placeholder='Relationship'}
								{if freeform:error:rel_ref_2_relationship}
								<div class="alert alert-danger">
									Please indicate what your relationship to your 2nd reference is
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:rel_ref_2_contact attr:class='form-control' attr:placeholder='Contact number'}
								{if freeform:error:rel_ref_2_contact}
								<div class="alert alert-danger">
									Please fill in your 2nd references contact number
								</div>
								{/if}
							</div>
							
						</div><!--col-md-22-->
						
						
						
						<div class="col-md-12 clearfix">
						
							<div class='form-group'>
								{freeform:field:rel_ref_2_address attr:class='form-control' attr:placeholder='Reference address *'}
								{if freeform:error:rel_ref_2_address}
									<div class="alert alert-danger">
										Please fill in your 2nd reference's address
									</div>
								{/if}
							</div>

							<!--
							<div class="form-group">
								<p><small>Reference address line 1<em>*</em></small></p>
								<input type="text" class="form-control" name="rel_ref_2_address_line_1" id="rel_ref_2_address_line_1" value="{freeform:edit_data:rel_ref_2_address_line_1}">
								{if freeform:error:rel_ref_2_address_line_1}
								<div class="alert alert-danger">
									Please fill in your Reference address line 1
								</div>
								{/if}

							</div>

							<div class="form-group">
								<p><small>Reference address line 2<em>*</em></small></p>
								<input type="text" class="form-control" name="rel_ref_2_address_line_2" id="rel_ref_2_address_line_2" value="{freeform:edit_data:rel_ref_2_address_line_2}">
								{if freeform:error:rel_ref_2_address_line_2}
								<div class="alert alert-danger">
									Please fill in your Reference address line 2
								</div>
								{/if}

							</div>

							<div class="form-group">
								<p><small>Reference address province<em>*</em></small></p>
								<input type="text" class="form-control" name="rel_ref_2_address_province" id="rel_ref_2_address_province" value="{freeform:edit_data:rel_ref_2_address_province}">
								{if freeform:error:rel_ref_2_address_province}
								<div class="alert alert-danger">
									Please fill in your Reference address province
								</div>
								{/if}

							</div>-->

						</div><!--colmd-12-->


						<!--<div class="col-md-6 clearfix">

							<div class="form-group">
								<p><small>Reference address city<em>*</em></small></p>
								<input type="text" class="form-control" name="rel_ref_2_address_city" id="rel_ref_2_address_city" value="{freeform:edit_data:rel_ref_2_address_city}">
								{if freeform:error:rel_ref_2_address_city}
								<div class="alert alert-danger">
									Please fill in your Reference address line city
								</div>
								{/if}

							</div>

							<div class="form-group">
								<p><small>Reference address zip code<em>*</em></small></p>
								<input type="text" class="form-control" name="rel_ref_2_address_zip" id="rel_ref_2_address_zip" value="{freeform:edit_data:rel_ref_2_address_zip}">
								{if freeform:error:rel_ref_2_address_zip}
								<div class="alert alert-danger">
									Please fill in your Reference address zip code
								</div>
								{/if}

							</div>

						</div><!--col-md-6-->
						
					</div>
					
				</div><!--well-->
				
				
				
				
				
				
				
				
				
				
				
				<h4>Insurance</h4>
				
				<div class='protect-goods-container margin-top-lg margin-bottom-lg text-center'>
					<p>We also have a range of insurance options available, to cover your goods in the case of accidental loss, damage
					or theft. With our basic goods insurance the outstanding balance on your Credit Agreement will be settled. With our
					comprehensive goods insurance, your goods purchased on credit will be replaced without hassle. And for complete peace
					of mind we also offer basic and comprehensive cover for your credit agreement in the case of death, permanent or
					temporary disability and retrenchment. Speak to our in store financial consultant for more information.</p>
				</div>

				<div class="well clearfix mb-40">
			
					<div class='row'>
				
						<div class="col-md-12 clearfix">
			
							<div class="form-group">
								<p><small>Do you have your own insurance?<em></em></small></p>
								{freeform:field:customer_insurance_own_insurance attr:class="form-control"}
								{if freeform:error:customer_insurance_life_insurance}
									<div class="alert alert-danger">
										Please select an appropriate option
									</div>
								{/if}
							</div>
					
							<div class="form-group">
								<p><small>Do you have life insurance?<em></em></small></p>
								{freeform:field:customer_insurance_life_insurance attr:class="form-control"}
								{if freeform:error:customer_insurance_life_insurance}
									<div class="alert alert-danger">
										Please select an appropriate option
									</div>
								{/if}
							</div>
							
							<div class="form-group">
								<p><small>Do you have goods insurance?<em></em></small></p>
								{freeform:field:customer_insurance_goods_insurance attr:class="form-control"}
								{if freeform:error:customer_insurance_goods_insurance}
									<div class="alert alert-danger">
										Please select an appropriate option
									</div>
								{/if}
							</div>
						
						</div>
						
					</div>
					
				</div>
				
				
				
				
				
				
				
				
				
				
				
				
				<h4>NCA</h4>
				
				<div class="well clearfix mb-40">
				
					<div class='row'>
					
						<div class="col-md-12 clearfix">

							<div class="form-group">
								<p><small>Are you subject to an administration order?<em>*</em></small></p>
								{freeform:field:nca_admin_order attr:class="form-control"}
								{if freeform:error:nca_admin_order}
									<div class="alert alert-danger">
										Please select an appropriate option
									</div>
								{/if}
							</div>

							<div class="form-group">
								<p><small>Have you applied to be placed under administration?<em>*</em></small></p>
								{freeform:field:nca_applied_admin attr:class="form-control"}
								{if freeform:error:nca_applied_admin}
									<div class="alert alert-danger">
										Please select an appropriate option
									</div>
								{/if}
							</div>

							<div class="form-group">
								<p><small>Are you currently sequestrated?<em>*</em></small></p>
								{freeform:field:nca_sequestrated attr:class="form-control"}
								{if freeform:error:nca_sequestrated}
									<div class="alert alert-danger">
										Please select an appropriate option
									</div>
								{/if}
							</div>

							<div class="form-group">
								<p><small>Have you applied to be sequestrated?<em>*</em></small></p>
								{freeform:field:nca_sequestrated_applied attr:class="form-control"}
								{if freeform:error:nca_sequestrated_applied}
									<div class="alert alert-danger">
										Please select an appropriate option
									</div>
								{/if}
							</div>

							<div class="form-group">
								<p><small>Are you under debt review?<em>*</em></small></p>
								{freeform:field:nca_debt_review attr:class="form-control"}
								{if freeform:error:nca_debt_review}
									<div class="alert alert-danger">
										Please select an appropriate option
									</div>
								{/if}
							</div>

							<div class="form-group">
								<p><small>Have you applied to be placed under debt review?<em>*</em></small></p>
								{freeform:field:nca_debt_review_applied attr:class="form-control"}
								{if freeform:error:nca_debt_review_applied}
									<div class="alert alert-danger">
										Please select an appropriate option
									</div>
								{/if}
							</div>
							
						</div><!--colmd-12-->
						
					</div>
					
				</div><!--well-->

				<input type="hidden" name="status" id="status" value="open">
		
				<div class="alert alert-info mb-40">
					<p><b>Please note</b></p>
					<p>Make sure that you have filled in all of the fields and that the information is accurate before submitting your application.</p>
				</div>
		
				{freeform:general_errors}
				<div>{freeform:error_message}</div>
				{/freeform:general_errors}
		
				<input type='hidden' name='application_tracking_number' id='application_tracking_number' value='' />
				<input type="submit" name="submit" value="Submit your application" id="submit" class="btn btn-lg btn-blue mb-60" onclick='return updateTrackingNumber();'>

			{/exp:freeform:edit}
	
			<script type='text/javascript'>
	
				String.prototype.hashCode = function() {
					var hash = 0, i, chr, len;
					if (this.length == 0) return hash;
					for (i = 0, len = this.length; i < len; i++)
					{
						chr   = this.charCodeAt(i);
						hash  = ((hash << 5) - hash) + chr;
						hash |= 0; // Convert to 32bit integer
					}
					return hash;
				};
			
				function updateTrackingNumber()
				{
					var date = new Date();
					var hash = Math.abs(jQuery('#freeform_consumer_full_name').val().hashCode());
					hash += Math.abs(jQuery('#freeform_email').val().hashCode());
					var time = date.getTime() + '';
					var tracker = (hash + '').substring(0, 5) + time.substring(time.length - 5);
					jQuery('#application_tracking_number').val(tracker);
					return true;
				}
			</script>

		</div><!--col-md-9-->

	{embed="finance/_sidebar"}
	
	</div><!-- row... -->

{/if}

{embed="_includes/_footer"}