{embed="_includes/_header"
body_id="finance"
body_class="static"
page_title="Finance Application"
description=""
keywords=""}


	<div class="col-sm-6 col-sm-offset-3 text-center finance-heading-container clearfix">
		<img src="{site_url}base-theme-2016/images/get-it-on-finance.png" alt="Get It On Finance" />
	</div>
	
	<div class="col-sm-10 col-sm-offset-1 clearfix text-center">
		<p class="lead">Our furniture is now even more accessible with great finance offers with up to 36 months to pay.<br />
		Choose your Rochester style and start the convenient finance application process right here online.</p>
	</div>
	
	<div class="col-sm-8 col-sm-offset-2 clearfix">
		<div class="section-heading"><div><h4>How it works</h4></div></div>
	</div>
	
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clearfix margin-bottom-sm margin-top-md">
		<div class='row'>
			<div class='col-sm-4'>
				<div class='application-detail-container'>
					<div class='circle circle1'></div>
					<h4>Fill in the quick application form</h4>
				</div>
			</div><div class='col-sm-4'>
				<div class='application-detail-container'>
					<div class='circle circle3'></div>
					<h4>Find out how much you qualify for</h4>
				</div>
			</div><div class='col-sm-4'>
				<div class='application-detail-container'>
					<div class='circle circle2'></div>
					<h4>Complete the application process &amp; submit documents</h4>
					
				</div>
			</div>
		</div>
	</div>
	
	
	{if !logged_in}
		<div class='col-sm-12 clearfix text-center margin-top-lg margin-bottom-md'>
			<a href="" onclick='jQuery("#register-modal").modal("show"); return false;' class="btn btn-lg btn-orange-solid">Let's get started</a>
		</div>
	{/if}
	
	<div class="col-sm-8 col-sm-offset-2 clearfix">
		<div class="section-heading"><div></div></div>
	</div>
	
	
	<!--<div class="col-sm-8 col-sm-offset-2">
		<div class="section-heading"><div><h4>Credit calculator</h4></div></div>
	</div>
	
	<div class="col-sm-10 col-sm-offset-1 clearfix text-center margin-bottom-md margin-top-md">
		<p>Our furniture is now even more accessible with great finance offers with up to 48 months to pay.<br />
		Choose your Rochester style and start the convenient finance application process right here online.</p>
	</div>

	<div class="col-sm-10 col-sm-offset-1 clearfix search-well">

			<div class="col-sm-5 margin-bottom-20">
				<input type="text" class="form-control" id="calculator_finance_amount" placeholder="Input your amount...">
			</div>

			<div class="col-md-5 margin-bottom-20">
				<select class="form-control" id="calculator_finance_terms" data-width="100%" title="Choose your terms...">
					
					
					<option value="12">12 Months</option>
					<option value="24">24 Months</option>
					<option value="36">36 Months</option>
					<option value="48">48 Months</option>
					
				</select>
			</div>

				<div class="clearfix col-md-2 margin-bottom-20 center">
					<input class="search blue-search italic" type="submit"  id="calculator_finance_button" onclick="calculateRochesterFinance(); return false;" value="Calculate">
				</div>

		</div>
		
	<div class="col-sm-10 col-sm-offset-1 clearfix">
		<div class="row offset-top text-center">
			<div class="col-sm-4 col-sm-offset-4">
				<div id="calculator_monthly_installment_container"> </div>
				<div id="calculator_deposit_container"> </div>
				<div id="calculator_total_credit_container"> </div>
			</div>
		</div>
		<div class='text-center offset-top'>
			<a href="" onclick='jQuery("#register-modal").modal("show"); return false;' class="btn btn-lg btn-orange-solid">Let's get started</a>
		</div>
	</div>
	
	<div class="col-sm-12 clearfix">
		<p>Img to be placed here</p>
	</div>-->

	<div class="col-sm-12 clearfix">
		<div class='protect-goods-container margin-top-lg margin-bottom-lg text-center'>
			<p>We also have a range of insurance options available, to cover your goods in the case of accidental loss, damage
			or theft. With our basic goods insurance the outstanding balance on your Credit Agreement will be settled. With our
			comprehensive goods insurance, your goods purchased on credit will be replaced without hassle. And for complete peace
			of mind we also offer basic and comprehensive cover for your credit agreement in the case of death, permanent or
			temporary disability and retrenchment. Speak to our in store financial consultant for more information.</p>
			{if !logged_in}
				<a href="" onclick='jQuery("#register-modal").modal("show"); return false;' class="btn btn-lg btn-orange-solid mt-20 mb-10">Let's get started</a>
			{/if}
		</div>
	</div>

	<!-- sneaky script where the magic happens..! -->
	
	<script>
		
		function calculateRochesterFinance()
		{
			var input_amount = jQuery("#calculator_finance_amount");
			var select_terms = jQuery("#calculator_finance_terms");
			
			var installment_container	= jQuery('#calculator_monthly_installment_container');
			var deposit_container		= jQuery('#calculator_deposit_container');
			var total_credit_container	= jQuery('#calculator_total_credit_container');
			
			var terms = select_terms.val().replace(/[^\d]/g, '');
			var amount = input_amount.val().replace(/[^\d.]/g, '');
			if (amount != '' && terms != '')
			{
				terms = parseInt(terms);
				amount = parseFloat(amount);
				
				var amounts = calculateFinanceAmounts(amount, terms);
				if (amounts.payment != "0.00")
				{
					installment_container.text('R ' + amounts.payment + 'p/m');
					deposit_container.text('R ' + amounts.deposit + ' deposit');
					total_credit_container.text('R ' + amounts.total + ' total financed credit');
				}
				else
				{
					installment_container.text('There are no finance options available for that amount and terms.');
					deposit_container.text('');
					total_credit_container.text('');
				}
			}
			else
			{
				installment_container.text('There are no finance options available for that amount and terms.');
				deposit_container.text('');
				total_credit_container.text('');
			}
		}
		
	</script>



	<!-- sign in modal... -->
	
	<div class="modal fade" id='sign-in-modal'>
		<div class="modal-dialog">
			<div class="modal-content">
				{exp:freemember:login return="finance/index-sandbox/thanks" error_handling="inline" error_delimiters='<span class="error">|</span>'}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Sign In</h4>
					</div>
					
					<div class="modal-body">
						<div class="form-group">
							<label>E-Mail Address</label>
							<input type='text' name='email' value='{email}' class='form-control' />
							{error:email}
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type='password' name='password' value='' class='form-control' />
							{error:password}
						</div>
						<div>
							<br />
							<a href='' onclick='jQuery("#sign-in-modal").modal("hide"); setTimeout(function(){jQuery("#register-modal").modal("show");}, 750); return false;'>...need to register?</a>
						</div>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Sign in</button>
					</div>
					
					{if error:email OR error:password}
						<script>jQuery(function(){jQuery('#sign-in-modal').modal('show');});</script>
					{/if}
				{/exp:freemember:login}
			</div>
		</div>
	</div>
	
	
	
	
	<!-- register modal... -->
	<style>
		.modal-open .modal {
			overflow-y: visible !important;
		}
		.form-group {
			margin-bottom: 30px;
		}
	</style>
	<div class="modal fade" id='register-modal'>
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				{exp:freemember:register
					return="finance/index-sandbox/thanks"
					form_class="register-form"
					group_id="8"
					ajax='yes'
				}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Pre-Approval Form</h4>
					</div>
					
					<div class="modal-body">

					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								
								<div class="form-group">
									<label>Title, Name &amp; Surname</label>
									<input type='text' name='custom_fullname' value='{custom_fullname}' class='form-control' data-field="consumer_full_name"/>
									{error:custom_fullname}
								</div>
								<div class="form-group">
									<label>Marital status</label>
									<select name="custom_marital_status" class="form-control" data-field="consumer_marital_status">
									    <option value="">Select one...</option>
									    {custom_marital_status_options}
									</select>
									{error:custom_marital_status}
								</div>
								<div class="form-group">
									<label>Citizenship</label>
									<input type='text' name='custom_citizenship' value='{custom_citizenship}' class='form-control' data-field="consumer_citizenship" />
									{error:custom_citizenship}
								</div>
								<div class="form-group">
									<label>ID Number/Passport Number</label>
									<input type='text' name='custom_id_number' value='{custom_id_number}' class='form-control' data-field="consumer_id_number"/>
									{error:custom_id_number}
								</div>
								<div class="form-group">
									<label>Temporary Permit No. (Non-SA Citizens)</label>
									<input type='text' name='custom_temporary_permit_no' value='{custom_temporary_permit_no}' class='form-control' data-field="consumer_temporary_permit_no"/>
									{error:custom_temporary_permit_no}
								</div>
								<div class="form-group">
									<label>Permit Expiry Date (Non-SA Citizens)</label>
									<input type='text' name='custom_permit_expiry_date' value='{custom_permit_expiry_date}' class='form-control' data-field="consumer_permit_expiry_date"/>
									{error:custom_permit_expiry_date}
								</div>
								<div class="form-group">
									<label>Contact Number</label>
									<input type='text' name='custom_contactnumber' value='{custom_contactnumber}' class='form-control' data-field="consumer_cell"/>
									{error:custom_contactnumber}
								</div>
								<div class="form-group">
									<label>E-Mail Address</label>
									<input type='text' name='email' value='{email}' class='form-control'/>
									{error:email}
								</div>

							</div>
							<div class="col-sm-6 col-xs-12">
								



								<div class="form-group">
									<label>Type of dwelling</label>
									<select name="custom_type_of_dwelling" class="form-control" data-field="consumer_residential_type">
									    <option value="">Select one...</option>
									    {custom_type_of_dwelling_options}
									</select>
									{error:custom_type_of_dwelling}
								</div>
								<div class="form-group">
									<label>Ownership</label>
									<select name="custom_ownership" class="form-control" data-field="consumer_residential_ownership">
									    <option value="">Select one...</option>
									    {custom_ownership_options}
									</select>
									{error:custom_ownership}
								</div>
								<div class="form-group">
									<label>Home Address</label>
									<input type='text' name='custom_home_address' value='{custom_home_address}' class='form-control' data-field="consumer_residential_address"/>
									{error:custom_home_address}
								</div>
								<div class="form-group">
									<label>Employment Type (Permanent or Contract)</label>
									<select name="custom_employment_type" class="form-control" data-field="consumer_employment_type">
									    <option value="">Select one...</option>
									    {custom_employment_type_options}
									</select>
									{error:custom_employment_type}
								</div>
								<div class="form-group">
									<label>Period employed at current employer</label>
									<input type='text' name='custom_period_employed' value='{custom_period_employed}' class='form-control' data-field="consumer_period_employed"/>
									{error:custom_period_employed}
								</div>
								<div class="form-group">
									<label>Gross Salary</label>
									<input type='text' name='custom_gross_salary' value='{custom_gross_salary}' class='form-control' data-field="consumer_gross_income"/>
									{error:custom_gross_salary}
								</div>
								<div class="form-group">
									<label>Name of bank</label>
									<input type='text' name='custom_name_of_bank' value='{custom_name_of_bank}' class='form-control' data-field="consumer_bank_name"/>
									{error:custom_name_of_bank}
								</div>
								



							</div>

							<div class="col-xs-12">
								<div class="form-group">
									<label>Are you currently under or have you applied to be placed under: Administration order / Sequestration / Debt Review</label>
									<select name="custom_debt_review" class="form-control" data-field="consumer_under_review">
									    <option value="">Select one...</option>
									    {custom_debt_review_options}
									</select>
									{error:custom_debt_review}
								</div>
								<div class="form-group">
									<label>May we or any of our associated companies market to you?</label>
									<select name="custom_company_marketing" class="form-control" data-field="consumer_marketing_opt_in">
									    <option value="">Select one...</option>
									    {custom_company_marketing_options}
									</select>
									{error:custom_company_marketing}
								</div>
								<div class="form-group">
									<label>Password</label>
									<input type='password' name='password' value='' class='form-control' />
									{error:password}
								</div>
								<div class="form-group">
									<label>Confirm Password</label>
									<input type='password' name='password_confirm' value='' class='form-control' />
									{error:password_confirm}
								</div>
								<div class=terms-holder>
									<p class="title text-center">PRE-AGREEMENT STATEMENT</p>
									<p class="text-center copyright">In terms of Section 92 of The Natiuonal Credit Act, 34 of 2005 Summary of Rights and Obligations in Respect of an Secured Loan</p>
									<ol>
										<li>The agreement shall be governed by the schedule and the standard terms and conditions of the agreement.</li>
										<li>This document merely constitutes a summary of some of the rights and obligations contained in the agreement for information purposes and does not constitute the agreement itself.</li>
									</ol>
									<p>This document merely constitutes a summary of some of the rights and obligations contained in the agreement for information purposes and does not constitute the agreement itself.This document merely constitutes a summary of some of the rights and obligations contained in the agreement for information purposes and does not constitute the agreement itself.</p>
									<p>This document merely constitutes a summary of some of the rights and obligations contained in the agreement for information purposes and does not constitute the agreement itself.This document merely constitutes a summary of some of the rights and obligations contained in the agreement for information purposes and does not constitute the agreement itself.</p>
									<a class="terms-link" href="{site_url}base-theme-2016/pdf/FinanceTC.pdf" target="_blank">View full T's &amp; C's</a>
								</div>
								<div class="checkbox terms-checkbox">
									<p>
										<input type="hidden" name="accept_terms">
										<input type="checkbox" name="accept_terms" id="accept_terms" value="1"/>
										<label for="accept_terms">I accept the terms and conditions</label>
									</p>
									<span>I hereby consent to the credit provider checking my credit record for the purposes of the pre-approval check</span>
									{if error:accept_terms}
										<div>
											{error:accept_terms}
										</div>
									{/if}
								</div>
							</div>

						</div>
					</div>

						<div>
							<br />
							<a href='' onclick='jQuery("#register-modal").modal("hide"); setTimeout(function(){jQuery("#sign-in-modal").modal("show");}, 750); return false;'>...already registered?</a>
						</div>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Register</button>
					</div>
					
					{if error:email OR error:password OR error:password_confirm OR error:accept_terms}
						<script>jQuery(function(){jQuery('#register-modal').modal('show');});</script>
					{/if}
					
				{/exp:freemember:register}
			</div>
		</div>
	</div>


	<div id="freeform-entry-holder" style="display:none;">
		{exp:freeform:form
		form_id="30"
		return="finance/index-sandbox/thanks/"
		status="open|pending"
		notify_on_edit="yes"
		notify_admin="yes"
		notify_user="yes"
		form:id="create-entry"
		}

		{freeform:field:consumer_full_name attr:class="form-control" attr:placeholder='Full name *'}
		{freeform:field:consumer_cell attr:class="form-control" attr:placeholder='Cell number *'}

		{freeform:field:consumer_id_number attr:class="form-control" attr:placeholder='ID or passport number *'}
		<input type="text" name="consumer_marital_status" id="freeform_consumer_marital_status" class="form-control">
		<input type="text" name="consumer_residential_address" id="freeform_consumer_residential_address" class="form-control">
		<input type="text" name="consumer_residential_ownership" id="freeform_consumer_residential_ownership" class="form-control">
		<input type="text" name="consumer_residential_type" id="freeform_consumer_residential_type" class="form-control">
		{freeform:field:consumer_period_employed attr:class="form-control" attr:placeholder='Period employed *'}
		{freeform:field:consumer_gross_income attr:class="form-control" attr:placeholder='Gross income *'}
		{freeform:field:consumer_citizenship attr:class="form-control" attr:placeholder='consumer_citizenship'}
		{freeform:field:consumer_employment_type attr:class="form-control" attr:placeholder='consumer_employment_type'}
		{freeform:field:consumer_temporary_permit_no attr:class="form-control" attr:placeholder='consumer_temporary_permit_no'}
		
		{freeform:field:consumer_permit_expiry_date attr:class="form-control" attr:placeholder='consumer_permit_expiry_date'}
		{freeform:field:consumer_bank_name attr:class="form-control" attr:placeholder='consumer_bank_name'}
		{freeform:field:consumer_marketing_opt_in attr:class="form-control" attr:placeholder='consumer_marketing_opt_in'}
		{freeform:field:consumer_under_review attr:class="form-control" attr:placeholder='consumer_under_review'}

		<input type="text" name="consumer_application_status" id="freeform_consumer_application_status" value="NEW">

		{/exp:freeform:form}
	</div>


	{if last_segment == "thanks"}

	<div class="modal fade" id='thanks'>
		<div class="modal-dialog">
			<div class="modal-content text-center">

				<h3 style="margin-top:30px;">Thank you for your submission.</h3>
				<p>We will be in contact soon!</p>

				<script>jQuery(function(){jQuery('#thanks').modal('show');});</script>

			</div>
		</div>
	</div>

	{/if}

{embed="_includes/_footer"}