{embed="_includes/_header"
body_id="finance"
body_class="static"
menu_class="no-border-bottom"
page_title="Finance Application"
description=""
keywords=""}

{if logged_out}

	<div class="col-sm-6 col-sm-offset-3 text-center finance-heading-container clearfix">
		<img src="{site_url}base-theme-2016/images/get-it-on-finance.png" alt="Get It On Finance" width="250"/>
	</div>
	
	<div class="col-sm-10 col-sm-offset-1 clearfix text-center">
		<p class="lead">Our furniture is now even more accessible with great finance offers with up to 36 months to pay.<br />
		Choose your Rochester style and start the convenient finance application process right here online.</p>
	</div>
	
	<div class="col-sm-8 col-sm-offset-2 clearfix">
		<div class="section-heading"><div><h4 style="background-color:#FFFFFD!important">For a quick answer</h4></div></div>
	</div>
	
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clearfix margin-bottom-md">
		<div class='row'>
			<div class='col-sm-4'>
				<div class='sms-detail-container search-well'>
					<div class='text'>
						<p>SMS 36003<br />
						to find out if you qualify</p>
					</div>
				</div>
			</div><div class='col-sm-4'>
				<div class='sms-detail-container search-well'>
					<div class='text'>
						<p>SMS your name#surname#ID number#income to 36003</p>
					</div>
				</div>
			</div><div class='col-sm-4'>
				<div class='sms-detail-container search-well'>
					<div class='text'>
						<p>For example:<br />Marian#Wilson<br />#90013176713#R2000</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-sm-8 col-sm-offset-2 clearfix">
		<div class="section-heading"><div><h4>How to apply</h4></div></div>
	</div>
	
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clearfix margin-bottom-sm margin-top-md">
		<div class='row'>
			<div class='col-sm-4'>
				<div class='application-detail-container'>
					<div class='circle circle1'></div>
					<h4>Create an account and fill in the online application</h4>
				</div>
			</div><div class='col-sm-4'>
				<div class='application-detail-container'>
					<div class='circle circle2'></div>
					<h4>Submit your supporting documents</h4>
				</div>
			</div><div class='col-sm-4'>
				<div class='application-detail-container'>
					<div class='circle circle3'></div>
					<h4>Find out how much you qualify for*</h4>
					
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div class='col-sm-12 clearfix text-center margin-top-lg margin-bottom-md'>
		<a href="" onclick='jQuery("#register-modal").modal("show"); return false;' class="btn btn-lg btn-orange-solid">Let's get started</a>
	</div>
	
	
	<div class="col-sm-8 col-sm-offset-2 clearfix">
		<div class="section-heading"><div><h4>OR download the form</h4></div></div>
	</div>
	
	<div class='col-sm-12 clearfix text-center margin-top-lg margin-bottom-md'>
		<a href="{site_url}base-theme-2016/pdf/ManualApplicationForm.pdf" class="btn btn-lg btn-orange-solid">Click here to download</a>
	</div>
	
	<!--<div class="col-sm-8 col-sm-offset-2">
		<div class="section-heading"><div><h4>Credit calculator</h4></div></div>
	</div>
	
	<div class="col-sm-10 col-sm-offset-1 clearfix text-center margin-bottom-md margin-top-md">
		<p>Our furniture is now even more accessible with great finance offers with up to 48 months to pay.<br />
		Choose your Rochester style and start the convenient finance application process right here online.</p>
	</div>

	<div class="col-sm-10 col-sm-offset-1 clearfix search-well">

			<div class="col-sm-5 margin-bottom-20">
				<input type="text" class="form-control" id="calculator_finance_amount" placeholder="Input your amount...">
			</div>

			<div class="col-md-5 margin-bottom-20">
				<select class="form-control" id="calculator_finance_terms" data-width="100%" title="Choose your terms...">
					
					
					<option value="12">12 Months</option>
					<option value="24">24 Months</option>
					<option value="36">36 Months</option>
					<option value="48">48 Months</option>
					
				</select>
			</div>

				<div class="clearfix col-md-2 margin-bottom-20 center">
					<input class="search blue-search italic" type="submit"  id="calculator_finance_button" onclick="calculateRochesterFinance(); return false;" value="Calculate">
				</div>

		</div>
		
	<div class="col-sm-10 col-sm-offset-1 clearfix">
		<div class="row offset-top text-center">
			<div class="col-sm-4 col-sm-offset-4">
				<div id="calculator_monthly_installment_container"> </div>
				<div id="calculator_deposit_container"> </div>
				<div id="calculator_total_credit_container"> </div>
			</div>
		</div>
		<div class='text-center offset-top'>
			<a href="" onclick='jQuery("#register-modal").modal("show"); return false;' class="btn btn-lg btn-orange-solid">Let's get started</a>
		</div>
	</div>-->
	
	<div class="col-sm-12 clearfix">
		<div class='protect-goods-container margin-top-lg margin-bottom-lg'>
			<h4>Protect your goods</h4>
			<p>We also have a range of insurance options available, to cover your goods in the case of accidental loss, damage
			or theft. With our basic goods insurance the outstanding balance on your Credit Agreement will be settled. With our
			comprehensive goods insurance, your goods purchased on credit will be replaced without hassle. And for complete peace
			of mind we also offer basic and comprehensive cover for your credit agreement in the case of death, permanent or
			temporary disability and retrenchment. Speak to our in store financial consultant for more information.</p>
		</div>
	</div>

	<!-- sneaky script where the magic happens..! -->
	
	<script>
		
		function calculateRochesterFinance()
		{
			var input_amount = jQuery("#calculator_finance_amount");
			var select_terms = jQuery("#calculator_finance_terms");
			
			var installment_container	= jQuery('#calculator_monthly_installment_container');
			var deposit_container		= jQuery('#calculator_deposit_container');
			var total_credit_container	= jQuery('#calculator_total_credit_container');
			
			var terms = select_terms.val().replace(/[^\d]/g, '');
			var amount = input_amount.val().replace(/[^\d.]/g, '');
			if (amount != '' && terms != '')
			{
				terms = parseInt(terms);
				amount = parseFloat(amount);
				
				var amounts = calculateFinanceAmounts(amount, terms);
				if (amounts.payment != "0.00")
				{
					installment_container.text('R ' + amounts.payment + 'p/m');
					deposit_container.text('R ' + amounts.deposit + ' deposit');
					total_credit_container.text('R ' + amounts.total + ' total financed credit');
				}
				else
				{
					installment_container.text('There are no finance options available for that amount and terms.');
					deposit_container.text('');
					total_credit_container.text('');
				}
			}
			else
			{
				installment_container.text('There are no finance options available for that amount and terms.');
				deposit_container.text('');
				total_credit_container.text('');
			}
		}
		
	</script>



	<!-- sign in modal... -->
	
	<div class="modal fade" id='sign-in-modal'>
		<div class="modal-dialog">
			<div class="modal-content">
				{exp:freemember:login return="finance/index" error_handling="inline" error_delimiters='<span class="error">|</span>'}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Sign In</h4>
					</div>
					
					<div class="modal-body">
						<div class="form-group">
							<label>E-Mail Address</label>
							<input type='text' name='email' value='{email}' class='form-control' />
							{error:email}
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type='password' name='password' value='' class='form-control' />
							{error:password}
						</div>
						<div>
							<br />
							<a href='' onclick='jQuery("#sign-in-modal").modal("hide"); setTimeout(function(){jQuery("#register-modal").modal("show");}, 750); return false;'>...need to register?</a>
						</div>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Sign in</button>
					</div>
					
					{if error:email OR error:password}
						<script>jQuery(function(){jQuery('#sign-in-modal').modal('show');});</script>
					{/if}
				{/exp:freemember:login}
			</div>
		</div>
	</div>
	
	
	
	
	<!-- register modal... -->
	
	<div class="modal fade" id='register-modal'>
		<div class="modal-dialog">
			<div class="modal-content">
				{exp:freemember:register return="finance/index" error_handling="inline" error_delimiters='<span class="error">|</span>' group_id="8"}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Register</h4>
					</div>
					
					<div class="modal-body">
						<p class='small'><b>Please note:</b> You must be permanently employed in order to apply for finance.</p>
						<div class="form-group">
							<label>Full Name And Surname</label>
							<input type='text' name='custom_fullname' value='{custom_fullname}' class='form-control' />
							{error:custom_fullname}
						</div>
						<div class="form-group">
							<label>Cell Number</label>
							<input type='text' name='custom_contactnumber' value='{custom_contactnumber}' class='form-control' />
							{error:custom_contactnumber}
						</div>
						<div class="form-group">
							<label>E-Mail Address</label>
							<input type='text' name='email' value='{email}' class='form-control' />
							{error:email}
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type='password' name='password' value='' class='form-control' />
							{error:password}
						</div>
						<div class="form-group">
							<label>Confirm Password</label>
							<input type='password' name='password_confirm' value='' class='form-control' />
							{error:password_confirm}
						</div>
						<div class="checkbox">
						<input type="checkbox" name="accept_terms" id="accept_terms" value="1">
							<label for="accept_terms">
								I accept the terms and conditions <a href="{site_url}base-theme-2016/pdf/FinanceTC.pdf" target="_blank">(View)</a>
							</label>
							<style>
								.modal input[type="checkbox"]:not(:checked) + label:before, .modal input[type="checkbox"]:checked + label:before, .modal input[type="checkbox"]:not(:checked) + label:after, .modal input[type="checkbox"]:checked + label:after {
									top: 0 !important;
								}
							</style>
							{if error:accept_terms}
								<div>
									{error:accept_terms}
								</div>
							{/if}
						</div>
						<div>
							<br />
							<a href='' onclick='jQuery("#register-modal").modal("hide"); setTimeout(function(){jQuery("#sign-in-modal").modal("show");}, 750); return false;'>...already registered?</a>
						</div>
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Register</button>
					</div>
					
					{if error:email OR error:password OR error:password_confirm OR error:accept_terms}
						<script>jQuery(function(){jQuery('#register-modal').modal('show');});</script>
					{/if}
					
				{/exp:freemember:register}
			</div>
		</div>
	</div>

			
{/if}



{if logged_in}

	<div class='row'>

		<div class="col-md-12 clearfix">
		
			<div class="title mt-70 mb-40 center">
				<h1 class="centered">Pending application</h1>
			</div>
			
			<div class='row' style='margin-bottom:250px;'>
			
				<div class='col-sm-6 col-sm-offset-3'>
			
					<div class="alert alert-danger text-center" role="alert">

						{exp:freeform:entries dynamic="no" author_id="CURRENT_USER" orderby="entry_date" sort="desc" limit="1" form_name="finance_applications" status="pending"} 
						<a class="alert-link" href="{path='/'}finance/edit/{freeform:entry_id}">Click here to complete your application</a>

							{if freeform:no_results}

								{redirect="finance/application"}

							{/if}
							
						{/exp:freeform:entries}

					</div>
					
				</div>
				
			</div>
		</div><!--col-md-12-->
	
	</div>

{/if}


{embed="_includes/_footer"}