{embed="_includes/_header"
body_id="finance"
body_class="static"
page_title="Finance Application"
description=""
keywords=""}

{if logged_out}
{redirect="finance/index"}
{/if}

<div class="title margin-bottom-30">
	<h1>Finance application</h1>
</div>



<div class='row'>

	<div class="col-md-9 clearfix">

		{exp:freeform:form
			form_name="finance_applications_sandbox"
			return="finance/edit/%%entry_id%%"
			form:class="margin-bottom-40 edit-form"
			notify_admin="no"
			notify_user="no"
			inline_errors="yes"
			required="consumer_full_name|email|consumer_cell"}

		<h4 class='mt-30'>Requested Loan Term</h4>
		<div class="well clearfix mb-40">

			<div class='row'>

				<div class="col-md-12">
					<label for="consumer_postal_address_line_1">Product value and term</label>
				</div>

				<div class="col-md-12 clearfix">
					<div class="form-group">
						{freeform:field:product_value attr:class='form-control' attr:placeholder='Product value (R) *'}
						{if freeform:error:product_value}
						<div class="alert alert-danger">
							Please fill in the value of the product you would like to finance
						</div>
						{/if}
					</div>

					<div class="form-group">
						{freeform:field:product_term attr:class="form-control"}
					</div>
				</div>

			</div>

		</div>








		<div class='row'>

			<div class='col-md-6'>


				<h4>Consumer information</h4>
				<div class="well clearfix mb-40">

					<div class='row'>
				
						<div class="col-md-12">
							<label for="consumer_postal_address_line_1">Personal details</label>
						</div>

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_full_name attr:class='form-control' attr:placeholder='Full name *'}
								{if freeform:error:consumer_full_name}
								<div class="alert alert-danger">
									Please fill in your full name
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:email attr:class='form-control' attr:placeholder='Email *'}
								{if freeform:error:email}
								<div class="alert alert-danger">
									Please fill in a valid email address
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_cell attr:class='form-control' attr:placeholder='Cell number *'}
								{if freeform:error:consumer_cell}
								<div class="alert alert-danger">
									Please fill in your cell number
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_work_number attr:class='form-control' attr:placeholder='Work number *'}
								{if freeform:error:consumer_work_number}
								<div class="alert alert-danger">
									Please fill in your work contact number
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_id_number attr:class='form-control' attr:placeholder='ID or passport number *'}
								{if freeform:error:consumer_id_number}
								<div class="alert alert-danger">
									Please fill in a valid ID or passport number
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_gender attr:class="form-control"}
							</div>

							<!--<div class="form-group">
								{freeform:field:consumer_home_language attr:class='form-control' attr:placeholder='Home language *'}
								{if freeform:error:consumer_home_language}
								<div class="alert alert-danger">
								Please fill in your home language
								</div>
								{/if}
							</div> -->

							<!--<div class="form-group">
								{freeform:field:consumer_no_of_dependants attr:class='form-control' attr:placeholder='Number of dependants *'}
								{if freeform:error:consumer_no_of_dependants}
								<div class="alert alert-danger">
								Please fill in your number of dependants
								</div>
								{/if}
							</div> -->

							<div class="form-group">
								{freeform:field:consumer_marital_status attr:class="form-control"}
							</div>

							<script>
								jQuery(function(){
								var s = jQuery('select[name="consumer_marital_status"]');
								s.bind('change.rochester.co.za', toggleMaritalSection);
								toggleMaritalSection();

								// check the default values...
								if (jQuery('#freeform_consumer_full_name').val() == '' && jQuery('#freeform_consumer_full_name').siblings('.alert.alert-danger').length == 0)
								jQuery('#freeform_consumer_full_name').val('{exp:member:custom_profile_data}{custom_fullname}{/exp:member:custom_profile_data}');
								if (jQuery('#freeform_email').val() == '' && jQuery('#freeform_email').siblings('.alert.alert-danger').length == 0)
								jQuery('#freeform_email').val('{email}');
								if (jQuery('#freeform_consumer_cell').val() == '' && jQuery('#freeform_consumer_cell').siblings('.alert.alert-danger').length == 0)
								jQuery('#freeform_consumer_cell').val('{exp:member:custom_profile_data}{custom_contactnumber}{/exp:member:custom_profile_data}');
								});
								function toggleMaritalSection()
								{
								var j = jQuery('#spouse-information-container');
								var s = jQuery('select[name="consumer_marital_status"]');
								var v = s.val();
								if (v == 'Married (COP)' || v == 'Married (ANC)')
								{
								j.siblings('.col-md-12').toggleClass('col-md-6', true).toggleClass('col-md-12', false);
								if (v == 'Married (COP)')
								{
								jQuery('.hidden-anc').show();
								jQuery('.visible-anc').hide();
								}
								else
								{
								jQuery('.hidden-anc').hide();
								jQuery('.visible-anc').show();
								}
								j.fadeIn(350);
								}
								else
								{
								j.siblings('.col-md-6').toggleClass('col-md-12', true).toggleClass('col-md-6', false);
								j.hide();
								}
								}
							</script>



						</div><!--col-md-12-->


						<!--<div class="col-md-12 mt-30">
							<label for="consumer_postal_address">Postal address</label>
						</div>-->

						<!--<div class="col-md-12 clearfix">
							
							
							<div class='form-group'>
							{freeform:field:consumer_postal_address attr:class='form-control' attr:placeholder='Postal address *'}
							{if freeform:error:consumer_postal_address}
							<div class="alert alert-danger">
							Please fill in your postal address
							</div>
							{/if}
							</div>
							
							<!--<div class="form-group">
							<input type="text" class="form-control" name="consumer_postal_address_line_1" id="consumer_postal_address_line_1" placeholder="Postal address line 1 *">
							{if freeform:error:consumer_postal_address_line_1}
							<div class="alert alert-danger">
							Please fill in your postal address line 1
							</div>
							{/if}
							
							</div>
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_postal_address_line_2" id="consumer_postal_address_line_2" placeholder="Postal address line 2 *">
							{if freeform:error:consumer_postal_address_line_2}
							<div class="alert alert-danger">
							Please fill in your postal address line 2
							</div>
							{/if}
							
							</div>
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_postal_address_province" id="consumer_postal_address_province" placeholder="Postal address province *">
							{if freeform:error:consumer_postal_address_province}
							<div class="alert alert-danger">
							Please fill in your postal address province
							</div>
							{/if}
							
						</div>-->

						<!--</div><!--colmd-12-->


						<!--<div class="col-md-6 clearfix">
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_postal_address_city" id="consumer_postal_address_city" placeholder="Postal address city *">
							{if freeform:error:consumer_postal_address_city}
							<div class="alert alert-danger">
							Please fill in your postal address line city
							</div>
							{/if}
							
							</div>
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_postal_address_zip" id="consumer_postal_address_zip" placeholder="Postal address zip code *">
							{if freeform:error:consumer_postal_address_zip}
							<div class="alert alert-danger">
							Please fill in your postal address zip code
							</div>
							{/if}
							
							</div>
							
						</div><!--col-md-6-->




						<div class="col-md-12 mt-30">
							<label for="consumer_residential_address_line_1">Residential address</label>
						</div>

						<div class="col-md-12 clearfix">

							<div class='form-group'>
								{freeform:field:consumer_residential_address attr:class='form-control' attr:placeholder='Residential address *'}
								{if freeform:error:consumer_residential_address}
								<div class="alert alert-danger">
									Please fill in your residential address
								</div>
								{/if}
							</div>


							<!--<div class="form-group">
								<input type="text" class="form-control" name="consumer_residential_address_line_1" id="consumer_residential_address_line_1" placeholder="Residential address line 1 *">
								{if freeform:error:consumer_residential_address_line_1}
								<div class="alert alert-danger">
								Please fill in your residential address line 1
								</div>
								{/if}
								
								</div>
								
								<div class="form-group">
								<input type="text" class="form-control" name="consumer_residential_address_line_2" id="consumer_residential_address_line_2" placeholder="Residential address line 2 *">
								{if freeform:error:consumer_residential_address_line_2}
								<div class="alert alert-danger">
								Please fill in your residential address line 2
								</div>
								{/if}
								
								</div>
								
								<div class="form-group">
								<input type="text" class="form-control" name="consumer_residential_address_province" id="consumer_residential_address_province" placeholder="Residential address province *">
								{if freeform:error:consumer_residential_address_province}
								<div class="alert alert-danger">
								Please fill in your residential address province
								</div>
								{/if}
								
							</div>-->


						</div><!--colmd-12-->


						<!--<div class="col-md-6 clearfix">
							
							<div class="form-group">
						<input type="text" class="form-control" name="consumer_residential_address_city" id="consumer_residential_address_city" placeholder="Residential address city *">
						{if freeform:error:consumer_residential_address_city}
						<div class="alert alert-danger">
						Please fill in your residential address line city
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="consumer_residential_address_zip" id="consumer_residential_address_zip" placeholder="Residential address zip code *">
						{if freeform:error:consumer_residential_address_zip}
						<div class="alert alert-danger">
						Please fill in your residential address zip code
						</div>
						{/if}
						
						</div>
						
						</div><!--col-md-6-->


						<div class="col-md-12">
							<div class="form-group">
								{freeform:field:consumer_period_of_residence attr:class='form-control' attr:placeholder='Period of residence *'}
								{if freeform:error:consumer_period_of_residence}
								<div class="alert alert-danger">
									Please fill in your period of residence
								</div>
								{/if}
							</div>

						</div><!--col-md-12-->

						<div class="col-md-12">
							<div class="form-group">
								{freeform:field:consumer_residential_ownership attr:class='form-control'}
								{if freeform:error:consumer_residential_ownership}
								<div class="alert alert-danger">
									Please select a valid ownership
								</div>
								{/if}
							</div>

						</div><!--col-md-12-->

						<div class="col-md-12">
							<div class="form-group">
								{freeform:field:consumer_residential_type attr:class='form-control'}
								{if freeform:error:consumer_residential_type}
								<div class="alert alert-danger">
									Please select a valid type
								</div>
								{/if}
							</div>

						</div><!--col-md-12-->











						<div class="col-md-12 mt-30">
							<label for="consumer_residential_address_line_1">Previous residential address <span style='font-weight:normal'><i>(if residing for less than 5 years at current address)</i></span></label>
						</div>

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_residential_address attr:class='form-control' attr:placeholder='Previous residential address'}
								{if freeform:error:consumer_previous_residential_address}
								<div class="alert alert-danger">
									Please fill in a previous residential address
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_period_of_residence attr:class='form-control' attr:placeholder='Previous residential address period of residence'}
								{if freeform:error:consumer_previous_period_of_residence}
								<div class="alert alert-danger">
									Please fill in a previous period of residence
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->










						<div class="col-md-12 mt-30">
							<label for="consumer_postal_address_line_1">Employment details</label>
						</div>

						<div class="col-md-12 clearfix">


							<div class="form-group">
								{freeform:field:consumer_employer attr:class='form-control' attr:placeholder='Employer *'}
								{if freeform:error:consumer_employer}
								<div class="alert alert-danger">
									Please fill in your employer
								</div>
								{/if}
							</div>


						</div><!--col-md-12-->

						<div class="col-md-12 clearfix">

							<div class='form-group'>
								{freeform:field:consumer_employer_address attr:class='form-control' attr:placeholder='Employer address *'}
								{if freeform:error:consumer_employer_address}
								<div class="alert alert-danger">
									Please fill in your employer address
								</div>
								{/if}
							</div>

							<!--<div class="form-group">
							<input type="text" class="form-control" name="consumer_employer_address_line_1" id="consumer_employer_address_line_1" placeholder="Employer address line 1 *">
							{if freeform:error:consumer_employer_address_line_1}
							<div class="alert alert-danger">
							Please fill in your employer address line 1
							</div>
							{/if}
							
							</div>
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_employer_address_line_2" id="consumer_employer_address_line_2" placeholder="Employer address line 2 *">
							{if freeform:error:consumer_employer_address_line_2}
							<div class="alert alert-danger">
							Please fill in your employer address line 2
							</div>
							{/if}
							
							</div>
							
							<div class="form-group">
							<input type="text" class="form-control" name="consumer_employer_address_province" id="consumer_employer_address_province" placeholder="Employer address province *">
							{if freeform:error:consumer_employer_address_province}
							<div class="alert alert-danger">
							Please fill in your employer address province
							</div>
							{/if}
							
							</div>-->

						</div><!--colmd-12-->

						<!--<div class="col-md-6 clearfix">
						
						<div class="form-group">
						<input type="text" class="form-control" name="consumer_employer_address_city" id="consumer_employer_address_city" placeholder="Employer address city *">
						{if freeform:error:consumer_employer_address_city}
						<div class="alert alert-danger">
						Please fill in your employer address line city
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="consumer_employer_address_zip" id="consumer_employer_address_zip" placeholder="Employer address zip code *">
						{if freeform:error:consumer_employer_address_zip}
						<div class="alert alert-danger">
						Please fill in your employer address zip code
						</div>
						{/if}
						
						</div>
						
						</div><!--col-md-6-->


						<div class="col-md-12 clearfix">


							<!-- <div class="form-group">
						{freeform:field:consumer_job_description attr:class='form-control' attr:placeholder='Job description *'}
						{if freeform:error:consumer_job_description}
						<div class="alert alert-danger">
						Please fill in your job description
						</div>
						{/if}
						
						</div> -->


							<div class="form-group">
								{freeform:field:consumer_period_employed attr:class='form-control' attr:placeholder='Period employed *'}
								{if freeform:error:consumer_period_employed}
								<div class="alert alert-danger">
									Please fill in your employment period
								</div>
								{/if}
							</div>



							<div class="form-group">
								{freeform:field:consumer_gross_income attr:class='form-control' attr:placeholder='Gross income *'}
								{if freeform:error:consumer_gross_income}
								<div class="alert alert-danger">
									Please fill in your gross income
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_nett_income attr:class='form-control' attr:placeholder='Nett income *'}
								{if freeform:error:consumer_nett_income}
								<div class="alert alert-danger">
									Please fill in your nett income
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_other_income attr:class='form-control' attr:placeholder='Other income'}
								{if freeform:error:consumer_other_income}
								<div class="alert alert-danger">
									Please fill in your other income
								</div>
								{/if}
							</div>




						</div><!--col-md-12-->









						<div class="col-md-12 mt-30">
							<label for="consumer_residential_address_line_1">Previous employment details <span style='font-weight:normal'><i>(if employed for less than 5 years with current employer)</i></span></label>
						</div>

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_employer attr:class='form-control' attr:placeholder='Previous employer'}
								{if freeform:error:consumer_previous_employer}
								<div class="alert alert-danger">
									Please fill in a previous employer
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_employer_address attr:class='form-control' attr:placeholder='Previous employer address'}
								{if freeform:error:consumer_previous_employer_address}
								<div class="alert alert-danger">
									Please fill in a previous employer address
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_period_employed attr:class='form-control' attr:placeholder='Previous employment period'}
								{if freeform:error:consumer_previous_period_employed}
								<div class="alert alert-danger">
									Please fill in a previous employment period
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->

						<div class="col-md-12 clearfix">
							<div class="form-group">
								{freeform:field:consumer_previous_employer_contact_number attr:class='form-control' attr:placeholder='Previous employer contact number'}
								{if freeform:error:consumer_previous_employer_contact_number}
								<div class="alert alert-danger">
									Please fill in a previous employer contact number
								</div>
								{/if}
							</div>
						</div><!--col-md-12-->










						<!-- Expenses for Applicant section 1 -->


						<div class="col-md-12 mt-30">
							<label for="consumer_postal_address_line_1">Applicant - Expenditure</label>
						</div>


						<div class="col-md-12">

							<div class="form-group">
								{freeform:field:consumer_home_loan_account attr:class='form-control' attr:placeholder='Home Loan Account'}
								{if freeform:error:consumer_home_loan_account}
								<div class="alert alert-danger">
									Please fill in your current home loan account
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_home_loan_rent attr:class='form-control' attr:placeholder='Home Rental Account'}
								{if freeform:error:consumer_home_loan_rent}
								<div class="alert alert-danger">
									Please fill in your current monthly rent repayments
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_furniture_retail_accounts attr:class='form-control' attr:placeholder='Furniture Retail Accounts'}
								{if freeform:error:consumer_furniture_retail_accounts}
								<div class="alert alert-danger">
									Please fill in your monthly furniture account expense
								</div>
								{/if}
							</div>



							<div class="form-group">
								{freeform:field:consumer_clothing_accounts attr:class='form-control' attr:placeholder='Clothing Accounts'}
								{if freeform:error:consumer_clothing_accounts}
								<div class="alert alert-danger">
									Please fill in your monthly clothing account expense
								</div>
								{/if}
							</div>



							<div class="form-group">
								{freeform:field:consumer_credit_cards_loans attr:class='form-control' attr:placeholder='Credit Card Accounts'}
								{if freeform:error:consumer_credit_cards_loans}
								<div class="alert alert-danger">
									Please fill in your monthly Credit card payment
								</div>
								{/if}
							</div>



							<div class="form-group">
								{freeform:field:consumer_personal_loans attr:class='form-control' attr:placeholder='Personal Loan Accounts'}
								{if freeform:error:consumer_personal_loans}
								<div class="alert alert-danger">
									Please fill in your monthly Personal loan payments
								</div>
								{/if}
							</div>




							<div class="form-group">
								{freeform:field:consumer_micro_loan attr:class='form-control' attr:placeholder='Micro Loan Accounts'}
								{if freeform:error:consumer_micro_loan}
								<div class="alert alert-danger">
									Please fill in your monthly micro loan payments
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_educational_loans attr:class='form-control' attr:placeholder='Educational Loan Accounts'}
								{if freeform:error:consumer_educational_loans}
								<div class="alert alert-danger">
									Please fill in your monthly educational loan payments
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_business_loans attr:class='form-control' attr:placeholder='Business Loan Accounts'}
								{if freeform:error:consumer_business_loans}
								<div class="alert alert-danger">
									Please fill in your monthly business loan payments
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_car_finance attr:class='form-control' attr:placeholder='Car Finance Account/s'}
								{if freeform:error:consumer_car_finance}
								<div class="alert alert-danger">
									Please fill in your monthly car finance payments
								</div>
								{/if}
							</div>



							<div class="form-group">
								{freeform:field:consumer_insurance_short_long_term attr:class='form-control' attr:placeholder='Insurance (Short &amp; Long Term)'}
								{if freeform:error:consumer_insurance_short_long_term}
								<div class="alert alert-danger">
									Please fill in your monthly insurance payments
								</div>
								{/if}
							</div>


							<div class="form-group">
								{freeform:field:consumer_fixed_line_contract attr:class='form-control' attr:placeholder='Fixed Line Contracts'}
								{if freeform:error:consumer_fixed_line_contract}
								<div class="alert alert-danger">
									Please fill in your monthly fixed line payments
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_cell attr:class='form-control' attr:placeholder='Cellular Contracts'}
								{if freeform:error:consumer_cell}
								<div class="alert alert-danger">
									Please fill in your monthly cellphone payments
								</div>
								{/if}
							</div>

							<div class="form-group">
								{freeform:field:consumer_internet_contract attr:class='form-control' attr:placeholder='Internet Contracts'}
								{if freeform:error:consumer_internet_contract}
								<div class="alert alert-danger">
									Please fill in your monthly internet costs
								</div>
								{/if}
							</div>
							
							</div>







							<div class="col-md-12 mt-30">
								<label for="consumer_postal_address_line_1">Applicant - Living Expenses (Not paid on credit)</label>
							</div>

							<div class="col-md-12">

								<div class="form-group">
									{freeform:field:consumer_groceries attr:class='form-control' attr:placeholder='Groceries'}
									{if freeform:error:consumer_groceries}
									<div class="alert alert-danger">
										Please fill in your monthly groceries expenditure
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:consumer_school_fees attr:class='form-control' attr:placeholder='School fees'}
									{if freeform:error:consumer_school_fees}
									<div class="alert alert-danger">
										Please fill in your school fees payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:consumer_transport attr:class='form-control' attr:placeholder='Transport Costs'}
									{if freeform:error:consumer_transport}
									<div class="alert alert-danger">
										Please fill in your transport costs
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:consumer_prepaid_fixed_line attr:class='form-control' attr:placeholder='Pre-Paid Fixed Line'}
									{if freeform:error:consumer_prepaid_fixed_line}
									<div class="alert alert-danger">
										Please fill in your monthly prepaid fixed line costs
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:consumer_prepaid_cellular attr:class='form-control' attr:placeholder='Pre-Paid Cellular'}
									{if freeform:error:consumer_prepaid_cellular}
									<div class="alert alert-danger">
										Please fill in your monthly prepaid cellular expenses
									</div>
									{/if}
								</div>
								<div class="form-group">
									{freeform:field:consumer_prepaid_internet_line attr:class='form-control' attr:placeholder='Pre-Paid Internet Line'}
									{if freeform:error:consumer_prepaid_internet_line}
									<div class="alert alert-danger">
										Please fill in your monthly prepaid internet expenses
									</div>
									{/if}
								</div>
								<div class="form-group">
									{freeform:field:consumer_other_credit_contracts attr:class='form-control' attr:placeholder='Other Credit Contracts'}
									{if freeform:error:consumer_other_credit_contracts}
									<div class="alert alert-danger">
										Please fill in any other credit contracts you may have
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:consumer_water_and_electricity attr:class='form-control' attr:placeholder='Utilities (Water &amp; electricity, Rates)'}
									{if freeform:error:consumer_water_and_electricity}
									<div class="alert alert-danger">
										Please fill in your utility bills (Water/Lights/Rates)
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:consumer_other_expenses attr:class='form-control' attr:placeholder='Other Expenses'}
									{if freeform:error:consumer_other_expenses}
									<div class="alert alert-danger">
										Please fill in your other expenses
									</div>
									{/if}
								</div>


						</div><!--col-md-12-->
						
					</div>

				</div><!--well-->














			</div>

			<div class='col-md-6' id='spouse-information-container'>








				<div>

					<h4>Spouse information</h4>
					<div class="well clearfix mb-40">
					
						<div class='row'>

							<div class="col-md-12">
								<label for="spouse_postal_address_line_1">Personal details</label>
							</div>

							<div class="col-md-12 clearfix">

								<div class="checkbox">
									<label>
										{freeform:field:spouse_consent} I have my spouse's permission/consent to apply for finance.
									</label>
									{if freeform:error:spouse_consent}
									<div class="alert alert-danger">
										Please indicate that you have your spouse's consent
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_full_name attr:class='form-control' attr:placeholder='Full name *'}
									{if freeform:error:spouse_full_name}
									<div class="alert alert-danger">
										Please fill in your spouse's full name
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_email attr:class='form-control' attr:placeholder='Email *'}
									{if freeform:error:spouse_email}
									<div class="alert alert-danger">
										Please fill in a valid email address
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_cell attr:class='form-control' attr:placeholder='Cell number *'}
									{if freeform:error:spouse_cell}
									<div class="alert alert-danger">
										Please fill in your spouse's cell number
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_work_number attr:class='form-control' attr:placeholder='Work number *'}
									{if freeform:error:spouse_work_number}
									<div class="alert alert-danger">
										Please fill in your spouse's work contact number
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_id_number attr:class='form-control' attr:placeholder='ID or passport number *'}
									{if freeform:error:spouse_id_number}
									<div class="alert alert-danger">
										Please fill in a valid ID or passport number
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_gender attr:class="form-control"}
								</div>


								<div class="form-group visible-anc" style='display:none'>
									{freeform:field:spouse_home_language attr:class='form-control' attr:placeholder='Home language *'}
									{if freeform:error:spouse_home_language}
									<div class="alert alert-danger">
										Please fill in your spouse's home language
									</div>
									{/if}
								</div>


								<div class="form-group visible-anc" style='display:none'>
									{freeform:field:spouse_no_of_dependants attr:class='form-control' attr:placeholder='Number of dependants *'}
									{if freeform:error:spouse_no_of_dependants}
									<div class="alert alert-danger">
										Please fill in your spouse's number of dependants
									</div>
									{/if}
								</div>

							</div><!--col-md-12-->





							<div class="col-md-12 mt-30 hidden-anc">
								<label for="spouse_postal_address_line_1">Employment details</label>
							</div>

							<div class="col-md-12 clearfix hidden-anc">


								<div class="form-group">
									{freeform:field:spouse_employer attr:class='form-control' attr:placeholder='Employer *'}
									{if freeform:error:spouse_employer}
									<div class="alert alert-danger">
										Please fill in your spouse's employer
									</div>
									{/if}
								</div>


							</div><!--col-md-12-->

							<div class="col-md-12 clearfix hidden-anc">

								<div class='form-group'>
									{freeform:field:spouse_employer_address attr:class='form-control' attr:placeholder='Employer address *'}
									{if freeform:error:spouse_employer_address}
									<div class="alert alert-danger">
										Please fill in your spouse's employer address
									</div>
									{/if}
								</div>

							</div><!--colmd-12-->

							<div class="col-md-12 clearfix hidden-anc">

								<!-- <div class="form-group">
						{freeform:field:spouse_job_description attr:class='form-control' attr:placeholder='Job description *'}
						{if freeform:error:spouse_job_description}
						<div class="alert alert-danger">
						Please fill in your spouse's job description
						</div>
						{/if}
						
						</div> -->


								<div class="form-group">
									{freeform:field:spouse_period_employed attr:class='form-control' attr:placeholder='Period employed *'}
									{if freeform:error:spouse_period_employed}
									<div class="alert alert-danger">
										Please fill in your spouse's employment period
									</div>
									{/if}
								</div>



								<div class="form-group">
									{freeform:field:spouse_gross_income attr:class='form-control' attr:placeholder='Gross income *'}
									{if freeform:error:spouse_gross_income}
									<div class="alert alert-danger">
										Please fill in your spouse's gross income
									</div>
									{/if}
								</div>

								<div class="form-group">
									{freeform:field:spouse_nett_income attr:class='form-control' attr:placeholder='Nett income *'}
									{if freeform:error:spouse_nett_income}
									<div class="alert alert-danger">
										Please fill in your spouse's nett income
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_other_income attr:class='form-control' attr:placeholder='Other income'}
									{if freeform:error:spouse_other_income}
									<div class="alert alert-danger">
										Please fill in your spouse's other income
									</div>
									{/if}
								</div>




							</div><!--col-md-12-->


							<div class="col-md-12 mt-30 hidden-anc">
								<label for="consumer_postal_address_line_1">Expenses</label>
							</div>


							<div class="col-md-12 hidden-anc">
								<div class="form-group">
									{freeform:field:spouse_home_loan_rent attr:class='form-control' attr:placeholder='Home loan / Rent'}
									{if freeform:error:spouse_home_loan_rent}
									<div class="alert alert-danger">
										Please fill in your spouse's current monthly home loan or rent payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_credit_cards_loans attr:class='form-control' attr:placeholder='Credit card / Personal loans / Study loans'}
									{if freeform:error:spouse_credit_cards_loans}
									<div class="alert alert-danger">
										Please fill in your spouse's monthly Credit card / Personal loans / Study loans payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_retail_accounts attr:class='form-control' attr:placeholder='Retail accounts'}
									{if freeform:error:spouse_retail_accounts}
									<div class="alert alert-danger">
										Please fill in your spouse's monthly retail account payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_water_and_electricity attr:class='form-control' attr:placeholder='Water and electricity'}
									{if freeform:error:spouse_water_and_electricity}
									<div class="alert alert-danger">
										Please fill in your spouse's water and electricity payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_school_fees attr:class='form-control' attr:placeholder='School fees'}
									{if freeform:error:spouse_school_fees}
									<div class="alert alert-danger">
										Please fill in your spouse's school fees payments
									</div>
									{/if}
								</div>


								<div class="form-group">
									{freeform:field:spouse_telephone attr:class='form-control' attr:placeholder='Telephone'}
									{if freeform:error:spouse_telephone}
									<div class="alert alert-danger">
										Please fill in your spouse's telephone payments
									</div>
									{/if}
								</div>



								<div class="form-group">
									{freeform:field:spouse_groceries attr:class='form-control' attr:placeholder='Groceries'}
									{if freeform:error:spouse_groceries}
									<div class="alert alert-danger">
										Please fill in your spouse's monthly groceries expenditure
									</div>
									{/if}
								</div>



								<div class="form-group">
									{freeform:field:spouse_transport attr:class='form-control' attr:placeholder='Transport'}
									{if freeform:error:spouse_transport}
									<div class="alert alert-danger">
										Please fill in your spouse's monthly transport expenditure
									</div>
									{/if}
								</div>


							</div><!--col-md-12-->
							
						</div>

					</div><!--well-->

				</div>









			</div>

		</div>



















































		<h4>Relatives not living with the consumer</h4>


		<div class="well clearfix mb-40">
		
			<div class='row'>

				<div class="col-md-12">
					<label for="consumer_postal_address_line_1">Reference 1</label>
				</div>

				<div class="col-md-12 clearfix">
					<div class="form-group">
						{freeform:field:rel_ref_1_name attr:class='form-control' attr:placeholder='Full name'}
						{if freeform:error:rel_ref_1_name}
						<div class="alert alert-danger">
							Please fill in first references full name
						</div>
						{/if}
					</div>

					<div class="form-group">
						{freeform:field:rel_ref_1_relationship attr:class='form-control' attr:placeholder='Relationship'}
						{if freeform:error:rel_ref_1_relationship}
						<div class="alert alert-danger">
							Please indicate what your relationship to your first reference is
						</div>
						{/if}
					</div>

					<div class="form-group">
						{freeform:field:rel_ref_1_contact attr:class='form-control' attr:placeholder='Contact number'}
						{if freeform:error:rel_ref_1_contact}
						<div class="alert alert-danger">
							Please fill in your first references contact number
						</div>
						{/if}
					</div>




				</div><!--col-md-12-->

				<div class="col-md-12 clearfix">


					<div class='form-group'>
						{freeform:field:rel_ref_1_address attr:class='form-control' attr:placeholder='Reference address *'}
						{if freeform:error:rel_ref_1_address}
						<div class="alert alert-danger">
							Please fill in your first reference's address
						</div>
						{/if}
					</div>


					<!--<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_1_address_line_1" id="rel_ref_1_address_line_1" placeholder="Reference address line 1 *">
						{if freeform:error:rel_ref_1_address_line_1}
						<div class="alert alert-danger">
						Please fill in your first references address line 1
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_1_address_line_2" id="rel_ref_1_address_line_2" placeholder="Reference address line 2 *">
						{if freeform:error:rel_ref_1_address_line_2}
						<div class="alert alert-danger">
						Please fill in your first references address line 2
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_1_address_province" id="rel_ref_1_address_province" placeholder="Reference address province *">
						{if freeform:error:rel_ref_1_address_province}
						<div class="alert alert-danger">
						Please fill in your first references address province
						</div>
						{/if}
						
						</div>-->


				</div><!--colmd-12-->


				<!--<div class="col-md-6 clearfix">
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_1_address_city" id="rel_ref_1_address_city" placeholder="Reference address city *">
						{if freeform:error:rel_ref_1_address_city}
						<div class="alert alert-danger">
						Please fill in your first references address line city
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_1_address_zip" id="rel_ref_1_address_zip" placeholder="Reference address zip code *">
						{if freeform:error:rel_ref_1_address_zip}
						<div class="alert alert-danger">
						Please fill in your first references address zip code
						</div>
						{/if}
						
						</div>
						
						</div><!--col-md-6-->


				<div class="col-md-12 mt-30">
					<label for="consumer_postal_address_line_2">Reference 2</label>
				</div>

				<div class="col-md-12 clearfix">
					<div class="form-group">
						{freeform:field:rel_ref_2_name attr:class='form-control' attr:placeholder='Full name'}
						{if freeform:error:rel_ref_2_name}
						<div class="alert alert-danger">
							Please fill in first references full name
						</div>
						{/if}
					</div>

					<div class="form-group">
						{freeform:field:rel_ref_2_relationship attr:class='form-control' attr:placeholder='Relationship'}
						{if freeform:error:rel_ref_2_relationship}
						<div class="alert alert-danger">
							Please indicate what your relationship to your first reference is
						</div>
						{/if}
					</div>

					<div class="form-group">
						{freeform:field:rel_ref_2_contact attr:class='form-control' attr:placeholder='Contact number'}
						{if freeform:error:rel_ref_2_contact}
						<div class="alert alert-danger">
							Please fill in your first references contact number
						</div>
						{/if}
					</div>




				</div><!--col-md-22-->

				<div class="col-md-12 clearfix">

					<div class='form-group'>
						{freeform:field:rel_ref_2_address attr:class='form-control' attr:placeholder='Reference address *'}
						{if freeform:error:rel_ref_2_address}
						<div class="alert alert-danger">
							Please fill in your second reference's address
						</div>
						{/if}
					</div>

					<!--
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_2_address_line_1" id="rel_ref_2_address_line_1" placeholder="Reference address line 1 *">
						{if freeform:error:rel_ref_2_address_line_1}
						<div class="alert alert-danger">
						Please fill in your first references address line 1
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_2_address_line_2" id="rel_ref_2_address_line_2" placeholder="Reference address line 2 *">
						{if freeform:error:rel_ref_2_address_line_2}
						<div class="alert alert-danger">
						Please fill in your first references address line 2
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_2_address_province" id="rel_ref_2_address_province" placeholder="Reference address province *">
						{if freeform:error:rel_ref_2_address_province}
						<div class="alert alert-danger">
						Please fill in your first references address province
						</div>
						{/if}
						
						</div>-->


				</div><!--colmd-12-->


				<!--<div class="col-md-6 clearfix">
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_2_address_city" id="rel_ref_2_address_city" placeholder="Reference address city *">
						{if freeform:error:rel_ref_2_address_city}
						<div class="alert alert-danger">
						Please fill in your first references address line city
						</div>
						{/if}
						
						</div>
						
						<div class="form-group">
						<input type="text" class="form-control" name="rel_ref_2_address_zip" id="rel_ref_2_address_zip" placeholder="Reference address zip code *">
						{if freeform:error:rel_ref_2_address_zip}
						<div class="alert alert-danger">
						Please fill in your first references address zip code
						</div>
						{/if}
						
						</div>
						
						</div><!--col-md-6-->

			</div>

		</div><!--well-->






		<h4>Insurance</h4>
		<div class="well clearfix mb-40">
		
			<div class='row'>
		
				<div class="col-md-12 clearfix">

					<div class="form-group">
						<p><small>Do you have your own Insurance?<em></em></small></p>
						{freeform:field:customer_insurance_own_insurance attr:class="form-control"}
						{if freeform:error:customer_insurance_life_insurance}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Do you have life insurance?<em></em></small></p>
						{freeform:field:customer_insurance_life_insurance attr:class="form-control"}
						{if freeform:error:customer_insurance_life_insurance}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Do you have goods insurance?<em></em></small></p>
						{freeform:field:customer_insurance_goods_insurance attr:class="form-control"}
						{if freeform:error:customer_insurance_life_insurance}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>
					
				</div>

			</div>

		</div>











		<h4>NCA</h4>
		<div class="well clearfix mb-40">
		
			<div class='row'>

				<div class="col-md-12 clearfix">


					<div class="form-group">
						<p><small>Are you subject to an administration order?<em>*</em></small></p>
						{freeform:field:nca_admin_order attr:class="form-control"}
						{if freeform:error:nca_admin_order}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Have you applied to be placed under administration?<em>*</em></small></p>
						{freeform:field:nca_applied_admin attr:class="form-control"}
						{if freeform:error:nca_applied_admin}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Are you currently sequestrated?<em>*</em></small></p>
						{freeform:field:nca_sequestrated attr:class="form-control"}
						{if freeform:error:nca_sequestrated}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Have you applied to be sequestrated?<em>*</em></small></p>
						{freeform:field:nca_sequestrated_applied attr:class="form-control"}
						{if freeform:error:nca_sequestrated_applied}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Are you under debt review?<em>*</em></small></p>
						{freeform:field:nca_debt_review attr:class="form-control"}
						{if freeform:error:nca_debt_review}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>

					<div class="form-group">
						<p><small>Have you applied to be placed under debt review?<em>*</em></small></p>
						{freeform:field:nca_debt_review_applied attr:class="form-control"}
						{if freeform:error:nca_debt_review_applied}
						<div class="alert alert-danger">
							Please select an appropriate option
						</div>
						{/if}
					</div>


				</div><!--colmd-12-->
				
			</div>

		</div><!--well-->


		<div class="alert alert-info mb-40">
			<p><b>Please note</b></p>
			<p>After you have captured your information you will be able to review and edit it before making your final submission. You can complete the application process at a later stage if you wish.</p>
		</div>

		<input type="submit" name="submit" value="Save &amp; Continue" id="submit" class="btn btn-lg btn-blue mb-60">

			{/exp:freeform:form}



		</div><!--col-md-9-->

	</div<!-- row -->


		{embed="finance/_sidebar"}





		{embed="_includes/_footer"}
		