<div id="sidebar" class="col-md-4">

	
	<h4>Categories</h4>
	<div class="list-group custom-borders margin-bottom-40">
		<a class="{if segment_2==''}active{/if} list-group-item" href="{path='careers/index'}">All</a>
		{exp:channel:categories channel="careers" style="linear"}
		<a class="{if segment_3== category_url_title}active{/if} list-group-item" href="{path='careers/index'}">{category_name}</a>
		{/exp:channel:categories}
	</div>

	{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
	<div class="sidebar-advert margin-bottom-40">
		{advertising_small}
		<a href="{advertising_small:link}" title="{advertising_small:caption}">
		{exp:ce_img:single src="{advertising_small:advert}" alt="{advertising_small:caption}" class="img-responsive" crop="yes" width="690" allow_scale_larger="yes"}
		</a>
		{/advertising_small}
	</div><!--sidebar-width-advert-->
	{/exp:channel:entries}

</div><!--sidebar-->