{embed="_includes/_header"
body_id="careers"
body_class="static"
page_title="Careers at Rochester Furniture"
description="Join the Rochester Furniture family."
keywords="careers, jobs, vacancies"
}


<section id="news-media" class="container v-offset-40 news">

	<div class="title mb-30 center-align v-offset-10">
		<h1 class="caps-spaced">Careers at Rochester Furniture</h1>
		<span class="border"></span>
		
		
	</div><!--title-->

	<div class="clearfix"></div>

	<div class="container news clearfix">


		<div class="news-block col-md-8 clearfix mb-40">
		
			
			{exp:channel:entries channel="careers" limit="10" paginate="bottom" status="Open|Featured" show_expired="no"}
			
				{if no_results}
				<h2>There are currently no open positions to display.</h2>
				{/if}
				
			<div class="col-md-2 mb-20 center-align">
				<span class="date">{entry_date format="%d"}</span>
				<span class="date lower"><small>{entry_date format="%M"}</small></span>
			</div>
			<div class="col-md-10">
				<h2>{title}</h2>
				{job_detail}
				<p class="black">Location: {job_detail:location} // Available: {job_detail:available}</p>
				{/job_detail}
				
				{job_introduction}
				<p class="view-more clearfix"><a href="{title_permalink='careers/job-detail'}" class="italic black" title="Read {title}">More information <span class="glyphicon glyphicon-play-circle orange"></span></a></p>
			</div><!--col-md-10-->
			<div class="col-md-12 row clearfix border-bottom mb-40"></div><!--border-bottom-->
			
			
				{paginate}
				{pagination_links}
			<div class="clearfix mb-60">
				<div class="col-3"></div>
				<div class="col-lg-6 col-md-12 col-sm-12 clearfix">

					<ul class="pager">
						{first_page}
						<li class="previous"><a href="{pagination_url}"><i class="icon-chevron-left"></i> First pg</a></li>
						{/first_page}

						{page}
						<li {if current_page}class="current"{/if}><a href="{pagination_url}" class="page-{pagination_page_number}">{pagination_page_number}</a></li>
						{/page}

						{last_page}
						<li class="next"><a href="{pagination_url}">Last pg <i class="icon-chevron-right"></i></a></li>
						{/last_page}
					</ul>
				</div>
				<div class="col-3"></div>
			</div><!--col-12-->
			{/pagination_links}
			{/paginate}
			
			{/exp:channel:entries}


		</div><!--news-block-->


		{embed="careers/_sidebar"}


	</div><!--container-->



</section><!--main-->

{embed="_includes/_footer"}