{exp:channel:entries channel="careers" limit="1" status="Open|Featured" show_expired="no"}
{embed="_includes/_header"
body_id="careers"
body_class="entry"
page_title="{title}"
description="{job_introduction}"
keywords="careers, jobs, vacancies"
}


<section id="news-media" class="container v-offset-40 news">

	<div class="title mb-60 center-align">
		<h2 class="caps-spaced">Careers at Rochester Furniture</h2>
		<span class="border"></span>
		{embed="_includes/_addthis"}

	</div><!--title-->

	<div class="clearfix"></div>

	<div class="container news clearfix">


		<div class="news-block col-md-8 clearfix mb-40">


			<div class="col-md-2 mb-20 center-align">
				<span class="date">{entry_date format="%d"}</span>
				<span class="date lower"><small>{entry_date format="%M"}</small></span>
			</div>
			<div class="col-md-10">

				<h1>{title}</h1>


				{job_introduction}

				<h2>Requirements</h2>
				{job_requirements}

				<h2>Specification</h2>
				{job_specification}
				
					<div class="panel panel-default">
						<!-- Default panel contents -->
						<div class="panel-heading"><b>Job details</b></div>
						<!-- List group -->
						<ul class="list-group margin-kill job-detail">
							{job_detail}
							<li class="list-group-item black">Location: {job_detail:location}</li>
							<li class="list-group-item black">Available: {job_detail:available}</li>
							<li class="list-group-item black">Type: {job_detail:type}</li>
							<li class="list-group-item black">AA/EE: {job_detail:aa_ee}</li>
							<li class="list-group-item black">Offer: {job_detail:offer}</li>
							<li class="list-group-item black">Reference: {job_detail:reference}</li>
							{/job_detail}
						</ul>
					</div>

				<h2>Contact information</h2>
				{job_contact_information}
				
				{exp:freeform:form
					form_id="29"
					return="careers/job-detail/{segment_3}/thank-you"
					ajax="no"
				}
				
					<input type='hidden' name='job_application_title' value='{title}' />
					<div class='hidden'>{freeform:field:job_application_-_cv_upload attr:onchange="uploadCV(this);"}</div>
					
					<div class='text-center'>
						<p style='margin-bottom:5px;'>Or apply online today:</p>
						<label for='freeform_job_application_-_cv_upload0' class='btn btn-lg btn-orange upload-field-label' style='margin-bottom:20px;'>Submit CV</label>
					</div>
					
					<p>
						Only shortlisted candidates will be contacted, if you haven't heard from us in 7 to 10 days, please consider your application
						to be unsuccessful.
					</p>
					
				{/exp:freeform:form}

			</div><!--col-md-10-->
			<div class="col-md-12 row clearfix border-bottom mb-20 v-offset-20"></div><!--border-bottom-->



			{/exp:channel:entries}


		</div><!--news-block-->


		{embed="careers/_sidebar"}


	</div><!--container-->



</section><!--main-->


	{if last_segment == 'thank-you'}
	
		<div class="modal fade" tabindex="-1" role="dialog" id='thank-you-modal'>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title">Thank you for your application!</h3>
					</div>
					
					<div class="modal-body">
						<p>We will be in touch as soon as possible!</p>
						<p>
							Please remember that only shortlisted candidates will be contacted, if you haven't heard from us in 7 to 10 days, please consider your application
							to be unsuccessful.
						</p>
					</div>
					
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<script>
		
			var ol = window.onload;
			window.onload = function(){
				jQuery('#thank-you-modal').modal('show');
				if (typeof ol == 'function')
					ol();
			};
		
		</script>
	
	{/if}


	<script>

		function uploadCV(field)
		{
			jQuery('.upload-field-label').text('Please wait...');
			var form = jQuery(field).parents('form:first');
			form.submit();
		}
	
	</script>


{embed="_includes/_footer"}