{exp:channel:entries channel="branches" limit="1" status="not Closed"}
{embed="_includes/_header"
body_id="branches"
body_class="static"
menu_class="border-bottom"
page_title="{title}"
description="{exp:eehive_hacksaw}{branch_physical_address}{/exp:eehive_hacksaw}"
keywords=""
}

<section id="main" class="container-custom padding-vertical-40">

	<div class="row mt-60 mb-60">

		<div class="col-lg-6 col-lg-offset-3 col-xs-12 col-xs-offset-0">

			<div class="title margin-bottom-20 center text-center">
				<h1>{title}</h1>
				<span class="border"></span>

				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style addthis_16x16_style" style="width: 100px; margin: 0 auto;">
					<a class="addthis_button_facebook"></a>
					<a class="addthis_button_twitter"></a>
					<a class="addthis_button_pinterest_share"></a>
					<a class="addthis_button_google_plusone_share"></a>
					<a class="addthis_button_email"></a>
				</div>
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53032b7654108454"></script>
				<!-- AddThis Button END -->
			</div><!--title-->

			<div class="row">

				<div class="panel-group col-md-12 custom-accordion margin-bottom-60" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<p class="italic center">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="orange">
									Contact this branch directly
								</a>
							</p>
						</div>
						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body">

								{exp:freeform:form
									form_name="branch"
									return="contact/thankyou"
									required="name|email"
									form:class="form-generic padding-vertical-40"
									admin_notify="{branch_email_contact}"
									admin_cc_notify="hellocavalry@gmail.com"
								}

								<input type="hidden" name="branch_name" value="{title}">

								<div class="form-group">
									<input type="text" class="form-control" name="name" id="name" placeholder="Full name *">
								</div>

								<div class="form-group">
									<input type="email" class="form-control" name="email" id="email" placeholder="Email *">
								</div>

								<div class="form-group">
									<input type="text" class="form-control" name="contact_number" id="contact_number" placeholder="Contact number">
								</div>

								<div class="form-group">
									<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
								</div>

								<div class="form-group">
									<textarea class="form-control" rows="5" name="message" placeholder="MESSAGE *"></textarea>
								</div>

								<input type="submit" name="submit" value="Submit" id="submit" class="btn btn-lg btn-orange">
								{/exp:freeform:form}	

							</div><!--panel-body-->
						</div>
					</div>
				</div><!--panel-group-->

				{if segment_2=="thankyou"}
				<div class="col-md-12 clearfix center margin-bottom-60">
					<h2>Thank you for contacting us</h2>
					<p class="strapline">A representative of Rochester Furniture {title} will be in touch shortly.</p>
					<span class="border"></span>
				</div><!--col-md-12-->
				{/if}

				<div class="col-md-4">
					<h4>Physical Address</h4>
					{branch_physical_address}
					<h4>GPS COORDINATES</h4>
					<p>{branch_gps_coordinates}</p>
				</div><!--col-md-4-->

				<div class="col-md-4">
					<h4>Contact information</h4>
					{branch_contact_points}
					<p class="black margin-bottom-10"><span class="glyphicon glyphicon-record"></span>&nbsp;{branch_contact_points:contact_point}</p>
					{/branch_contact_points}

				</div><!--col-md-4-->

				<div class="col-md-4">
					<h4>Opening &amp; closing times</h4>
					{if branch_opening_closing !=""}{branch_opening_closing}{if:else}Mall hours{/if}
				</div><!--col-md-4-->

			</div>

			<div class="clearfix margin-bottom-40"></div>

			<a href="{path='branch-locator/index'}" title="All branches" class="italic center vertical-borders orange">View all branches</a>

			<div class="clearfix margin-bottom-40"></div>
			{/exp:channel:entries}


			{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
			<div class="col-md-12 full-width-advert margin-bottom-40">
				{advertising_large}
				<a href="{advertising_large:link}" title="{advertising_large:caption}">
					{exp:ce_img:single src="{advertising_large:advert}" alt="{advertising_large:caption}" class="img-responsive" crop="yes" width="100%" allow_scale_larger="yes"}
				</a>
				{/advertising_large}
			</div><!--full-width-advert-->
			{/exp:channel:entries}

		</div>

	</div>

</section><!--main-->


{embed="_includes/_footer"}