
	/* preloader stuff... */
	
	#cavalry-preloader-curtain
	{
		/* included inline as it cant afford any CSS blocking... */
	}
	
	@-moz-keyframes spin	{ 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin	{ 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin			{ 100% { transform: rotate(360deg); } }
	
	#cavalry-preloader-curtain .preloader-contents
	{
		position: absolute;
		width: 100%;
		top: 50%;
		
		text-align: center;
		margin-top: -85px;
	}
	
	#cavalry-preloader-curtain .preloader-contents img
	{
		width: 60px;
		height: 60px;
	
		-webkit-animation:spin 2s linear infinite;
		-moz-animation:spin 2s linear infinite;
		animation:spin 2s linear infinite;
	}
	
	#cavalry-preloader-counter
	{
		position: fixed;
		width: 100%;
		top: 50%;
		
		font-size: 40px;
		z-index: 1001;
		
		text-align: center;
		color: #888;
		font-size: 14px;
		font-family: 'Helvetica Neue',Helvetica,arial,sans-serif;
	}
	
	.blanket-homepage-link
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
	
	.sentiment{background: url('../images/sentiment.png') no-repeat;display:block;width:50px;height:50px;padding-top:15px;}
	.sentiment.negative{background-position:bottom center;}
	
	.hiddenFields{display:none!important;}
	
	div.category > a
	{
		position: static;
		max-width: 100%;
		width: 100%;
		height:100%;
		background-size: 100% !important;
	}
	
	div.category:before
	{
		display: none;
	}
	
/*	div.category > a:before
	{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .3);
		-webkit-transition: all .35s;
		transition: all .35s;
	}*/
	
	div.category > a:hover:before
	{
		background: rgba(0, 0, 0, .3);
	}
	
	div.category.double-height > a > img
	{
		position: static;
		max-width: 100%;
		top: 0;
		left: 0;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	
	.category:not(.double-height) img
	{
		position: static;
		top: 0;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	
	
	
	
	/* yumpu particulars... */
	
	.yumpu-modal
	{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		
		width: 100%;
		height: 100%;
		
		z-index: 10;
	}
	
	.yumpu-modal .yumpu-close
	{
		position: absolute;
		top: 30px;
		right: 30px;
		
		color: #fff;
		font-size: 3em;
		line-height: 0.7em;
		
		z-index: 11;
		cursor: pointer;
	}
	
	.yumpu-modal .yumpu-pageflip
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	
	
	
	h1.centered
	{
		text-transform: uppercase;
		letter-spacing: 0.20em;
		text-align: center;
	}
	
	.search-well
	{
		border: 1px solid #e3e3e3;
		background-color: #fff;
	}

	.border
	{
		display: block;
		width: 80px;
		height: 2px;
		background: #060606;
		margin: 0 auto 10px auto;
	}
	
	p.lead
	{
		color: #999999;
	}
	
	.makeVisible
	{
		opacity: 0;
	}
	
	#masonry-container .box.killer
	{
		margin: 0;
	}
	
	#masonry-container .inner-box
	{
		border: #ececec solid 1px;
		margin-bottom: 30px;
		padding: 15px;
		width: 100%;
		background-color: #ffffff;
	}
	
	.edit-form .form-group p
	{
		color: #111;
		text-transform: uppercase;
		font-weight: 400 !important;
		margin: 5px 0;
	}
	
	#finance .btn-blue:hover, #finance .btn-orange-solid:hover
	{
		opacity: 0.5;
	}
	
	#finance .btn-blue
	{
		background-color: #157787;
		border: solid 2px #074756;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		font-size: 0.8em;
	}
	
	#finance .well
	{
		background-color: #f7f7f7;
		border-color: #dddddd;
		box-shadow: none;
	}
	
	.finance-nav {
		background-color: #0F6881;
		padding: 15px 0;
		border-top: 5px solid #fff;
		margin-bottom: 30px;
	}
	
	.finance-nav p {
		color: #fff;
		margin: 0;
		padding: 0;
		font-size: 32px !important;
		line-height: 32px;
		letter-spacing: 0.06em !important;
		font-weight: 200;
	}
	
	.colour-modal-contain .carousel-inner .item
	{
		background-size: contain;
	}
	
	.finance-blue.blue
	{
		font-size: 19px;
	}
	
	.finance-blue.blue, .blue.small
	{
		display: inline-block;
		color: #096780;
	}
	
	.blue.small
	{
		font-size: 14px;
	}
	.no-svg .main .carousel-caption {
		top: 30%;
	}
	.no-svg .main.carousel .content-container {
		width: 50%;
		left: 25%;
	}
	.no-svg .finance-box .content {
		top: 10%;
	}