/*============================================
Rochester Furniture
www.hellocavalry.com
Version: 2

Core website styles and structure
=============================================*/


/* fonts... */


@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../fonts/gteesti/GTEestiProDisplayTrial-Bold.eot');
    src: url('../fonts/gteesti/GTEestiProDisplayTrial-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gteesti/GTEestiProDisplayTrial-Bold.woff2') format('woff2'),
        url('../fonts/gteesti/GTEestiProDisplayTrial-Bold.woff') format('woff'),
        url('../fonts/gteesti/GTEestiProDisplayTrial-Bold.ttf') format('truetype'),
        url('../fonts/gteesti/GTEestiProDisplayTrial-Bold.svg#GTEestiProDisplayTrial-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('../fonts/gteesti/GTEestiProTextTrial-Regular.eot');
    src: url('../fonts/gteesti/GTEestiProTextTrial-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gteesti/GTEestiProTextTrial-Regular.woff2') format('woff2'),
        url('../fonts/gteesti/GTEestiProTextTrial-Regular.woff') format('woff'),
        url('../fonts/gteesti/GTEestiProTextTrial-Regular.ttf') format('truetype'),
        url('../fonts/gteesti/GTEestiProTextTrial-Regular.svg#GTEestiProTextTrial-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('../fonts/gteesti/GTEestiProTextTrial-Light.eot');
    src: url('../fonts/gteesti/GTEestiProTextTrial-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gteesti/GTEestiProTextTrial-Light.woff2') format('woff2'),
        url('../fonts/gteesti/GTEestiProTextTrial-Light.woff') format('woff'),
        url('../fonts/gteesti/GTEestiProTextTrial-Light.ttf') format('truetype'),
        url('../fonts/gteesti/GTEestiProTextTrial-Light.svg#GTEestiProTextTrial-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Text';
    src: url('../fonts/gteesti/GTEestiProTextTrial-Medium.eot');
    src: url('../fonts/gteesti/GTEestiProTextTrial-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gteesti/GTEestiProTextTrial-Medium.woff2') format('woff2'),
        url('../fonts/gteesti/GTEestiProTextTrial-Medium.woff') format('woff'),
        url('../fonts/gteesti/GTEestiProTextTrial-Medium.ttf') format('truetype'),
        url('../fonts/gteesti/GTEestiProTextTrial-Medium.svg#GTEestiProTextTrial-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


/* basics... */

html,
body {
    background-color: #FFF;
}
body.detail {
    background-color: #FFF;
}


/*		Google Tracking Pixel Hide		*/

body > img, body > iframe {
	display: none;
}

/*======================================*/

a {
    color: #000;
    text-decoration: none !important;
}

a:hover,
a:focus,
a:active {
    color: #000;
    outline: none !important;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.weight-light {
    font-weight: 300;
}
.weight-regular {
    font-weight: 500;
}
.weight-bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.margin-kill {
    margin: 0 !important;
}

.mb-kill {
    margin-bottom: 0 !important;
}
.mr-kill {
    margin-right: 0 !important;
}

.padding-kill {
    padding: 0 !important;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.transition {
    transition: all .4s;
}

.fadeOut {
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.border-div {
    position: absolute;
    background: #EFEFEF;
}

.border-div.v {
    height: 100%;
    width: 1px;
    top: 0;
    right: 0;
}

.border-div.h {
    position: relative;
    height: 1px;
    width: 90%;
    left: 5%;
    top: 0;
}

.overflow-hide {
    overflow: hidden !important;
    position: fixed;
    width: 100%;
}

section.row {
    padding: 40px 0;
}

.section-title {
    position: relative;
    top: -10px;
    border-bottom: 2px solid #999;
    text-align: center;
    margin: 10px 0 60px;
}

.section-title span {
    position: relative;
    top: 12px;
    background: #FFF;
    color: #222;
    padding: 10px 30px;
    font-size: 23px;
    letter-spacing: 0.5em;
    font-weight: 500;
}

.white-bg {
    background-color: #fff;
    padding: 40px;
    border: 1px solid #CCC;
}

.black-bg {
    background: #000;
}

.blue {
    color: #096780;
}

.gray {
    color: #9d9d9d;
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.border-kill {
    border: 0 !important;
}

.mh500 {
    max-height: 500px;
}

img.centered {
    margin: 0 auto;
}
hr {
    border-color: #D7D7D7;
}


/* ========= CSS Animations + Keyframes ======== */

.fadeInDown {
    -webkit-animation: fadeInDown 1.5s forwards;
    animation: fadeInDown 1.5s forwards;
}

.fadeInDown.d0 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.fadeInDown.d1 {
    -webkit-animation-delay: .125s;
    animation-delay: .125s;
}

.fadeInDown.d2 {
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

.fadeInDown.d3 {
    -webkit-animation-delay: .375s;
    animation-delay: .375s;
}

.fadeInDown.d4 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.fadeInDown.d5 {
    -webkit-animation-delay: .625s;
    animation-delay: .625s;
}

.fadeInDown.d6 {
    -webkit-animation-delay: .75s;
    animation-delay: .75s;
}

.fadeIn {
    -webkit-animation: fadeIn 2.5s forwards;
    animation: fadeIn 2.5s forwards;
}

.loading {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(255, 255, 255, .4);
}

.visible .loading {
    opacity: 1;
    visibility: visible;
}

.loading:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(25, 25, 25) rgb(200, 200, 200);
    border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: spin 3.45s infinite;
    -ms-animation: spin 3.45s infinite;
    -webkit-animation: spin 3.45s infinite;
    -moz-animation: spin 3.45s infinite;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10%, 0);
        transform: translate3d(0, -10%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(1080deg);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* FALLBACKS FOR CSS ANIMATIONS FOR IE9*/

.no-cssanimations .fadeInDown,
.no-cssanimations .fadeIn {
    opacity: 1 !important;
}

.no-csstransforms3d .sub-category > img {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.no-csstransforms3d .sub-category:hover > img,
.no-csstransforms3d .sub-category:active > img {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1.1);
    transform: translateX(-50%) translateY(-50%) scale(1.1);
}

.no-csstransitions .load-more .loading .ie9 {
    background-image: url(../images/preloader-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.no-csstransitions .load-more .loading:before {
    display: none;
}


/* ========= Buttons CSS ======== */

.main-btn {
    background: transparent;
    padding: 14px 30px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    border: 1px solid #000;
    outline: none;
    font-size: .9em;
    line-height: 1em;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    transition: all .25s;
    letter-spacing: 3px;
    font-weight: 500;
}

.product .main-btn {
    width: 200px;
    margin: 0 auto;
}

.main-btn.small {
    max-width: 150px;
}

.main-btn.squished
{
	padding: 8px 15px;
}

.main-btn.gray {
    background: #ECECEC;
    border-color: #CCC;
    color: #777;
}

.main-btn.dark-gray {
    background: #313131;
    border-color: #CCC;
    color: #FFF;
}

.main-btn.white {
    background: #FFF;
    color: #000;
    border-color: #FFF;
}

.main-btn:hover,
.main-btn:active,
.main-btn:focus {
    background: #000000;
    color: #FFF;
    opacity: 1;
}

.main-btn.white:hover,
.main-btn.white:active,
.main-btn.white:focus {
    border-color: #000;
}

.main-btn.solid {
    background: #000000;
    color: #FFF;
}

.main-btn.blue {
    background: rgba(9, 103, 128, .7);
}

.main-btn.blue:hover,
.main-btn.blue:active,
.main-btn.blue.solid {
    background: #096780;
}

.option-btn {
    outline: none !important;
    background: transparent;
    border: 1px solid #CCC;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.option-btn img {
    margin:0 auto;
}

/* Option Btn - Sandbox */

.sandbox .option-btn {
    -webkit-box-shadow: 0px 8px 25px #CCC;
    -moz-box-shadow: 0px 8px 25px #CCC;
    box-shadow: 0px 8px 25px #CCC;
}
.sandbox .option-btn:hover {
    background: transparent;
    -webkit-box-shadow: 0 0 0 #CCC;
    -moz-box-shadow: 0 0 0 #CCC;
    box-shadow: 0 0 0 #CCC;
}


.option-btn:hover, .option-btn:active {
    background: #DDDDDD;
    border-color: #000;
}

.option-btn span {
    display: block;
    text-align: center;
    margin-top: 4px;
}

.form .main-btn,
.main-btn.w100 {
    width: 100%;
}


.carousel-control {
    -webkit-filter: none !important;
    filter: none !important;
    background-image: none !important;
}

.main-btn.load-more {
    display: block;
    margin: 30px auto;
    max-width: 500px;
    width: 100%;
    box-shadow: 0px 0px 1px #333;
    position: relative;
}

.main-btn.load-more.visible {
    background: #ECECEC !important;
    cursor: none;
}

.main .main-btn {
    opacity: 0;
}

.nav-toggle {
    background: transparent;
    float: right;
    width: auto;
    border: 1px solid rgba(255, 255, 255, .7);
    margin: 9px 0;
    padding: 6px 10px;
    border-radius: 2px;
}

.nav-toggle > * {
    float: left;
    margin: 0;
    color: rgba(255, 255, 255, .7);
}

.nav-toggle p {
    line-height: 2em;
    margin-top: 2px;
}

.nav-toggle .bars {
    width: 30px;
    margin: 0 0 0 10px;
}

.nav-toggle .bar {
    position: relative;
    display: block;
    background: rgba(255, 255, 255, .7);
    height: 3px;
    width: 100%;
    margin: 4px 0;
}

.nav-toggle .bar:first-child {
    margin-top: 2px;
}

.nav-toggle .bar:last-child {
    margin-bottom: 0;
}


/* ========= Bootstrap Shortcodes CSS ======== */

#productTabs {
    position: relative;
    margin-bottom: 40px;
}



#productTabs > li {
    width: 33.33333%;
    float: left;
}

.tabs-container {
    border-bottom: 1px solid #CCC;
}

.nav-tabs {
    min-height: 39px;
    max-height: 39px;
    border-bottom: 1px solid #CCC;
}
.single-product .nav-tabs {
    min-height: 33px;
    max-height: 33px;
}

.nav-tabs>li a {
    background: transparent !important;
    border: none !important;
    color: #999;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 1em;
    padding: 8px;
    transition: all .3s;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-tabs>li.active {
    color: #000;
    background: #FFF;
    border: 1px solid #000;
    margin-top: -2px;
    box-shadow:  0 1px 5px #bbbbbb;
}

.nav-tabs>li.active a {
    color: #000;
}

.nav-tabs>li a:hover,
.nav-tabs>li a:focus {
    color: #000;
}

.tabs-container .tab-content ul {
    list-style-type: circle;
    list-style-position: inside;
}
.tabs-container .tab-content ul li {
    margin-bottom: 6px;
}

div[id^=colour-modal] .modal-content {
    background: transparent;
    border: 0;
    box-shadow: none;
}

div[id^=colour-modal].colour-modal-contain .modal-dialog {
    position: absolute;
    max-width: 1280px;
    width: 85%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

div[id^=colour-modal] .carousel-inner,
div[id^=colour-modal] .carousel-inner .item img {
    max-height: 750px !important;
}

div[id^=colour-modal] .modal-body {
    padding: 0;
    max-height: 100vh;
}

div[id^=colour-modal] .modal-footer {
    background: #000;
    border-color: #000;
    border-radius: 0 0 4px 4px;
}

div[id^=colour-modal] .modal-footer p {
    margin: 0;
    color: #FFF;
}

div[id^=colour-modal] .item {
    background-size: contain;
}

div[id^=colour-modal] .carousel-control {
    background-image: none !important;
    width: 7%;
}

div[id^=colour-modal] .carousel-control.left {
    left: -7%;
}

div[id^=colour-modal] .carousel-control.right {
    right: -7%;
}

div[id^=colour-modal].modal .carousel-control i {
    display: block;
    width: 100%;
}

div[id^=colour-modal].colour-modal-contain .carousel-inner .item {
    background-position: center;
}

div[id^=colour-modal] .carousel-indicators li {
    border: 1px solid #000;
    background: transparent;
    transition: all .3s;
}

div[id^=colour-modal] .carousel-indicators li.active {
    background: #000;
}

.modal .carousel-control i {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    opacity: .7;
    font-size: 2.6em;
    transition: all .4s;
}

.modal .modal-button i {
    font-size: 40px;
    color: #000;
}

.modal .modal-button:hover {
    opacity: 1;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #000;
}

.modal .modal-button#left-button {
    top: 50%;
    left: 5px;
}

.modal .modal-button#right-button {
    top: 50%;
    right: 5px;
}

.colour-modal-contain.modal .close {
    position: absolute;
    top: 0;
    right: -40px;
    opacity: .5;
    color: #FFF;
    font-size: 3.5em;
    z-index: 4;
    outline: none !important;
    transition: all .4s;
}

#promo-modal.modal .close {
    position: absolute;
    top: 0;
    right: -40px;
    opacity: .5;
    color: #FFF;
    font-size: 3.5em;
    z-index: 4;
    outline: none !important;
    transition: all .4s;
}

div[id^=colour-modal] .close:hover {
    opacity: 1;
}

.modal-open .modal {
    overflow: hidden;
    max-height: 100vh;
    padding: 15px !important;
}

#promo-modal .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 90%;
    height: 90vh;
    width: 100%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

#promo-modal .modal-content {
    border: 0;
    border-radius: 2px;
    background: transparent;
    box-shadow: none;
}

#promo-modal .item {
    height: 100%;
}

#promo-modal.modal .close {
    top: -50px;
    right: 20px;
}

#promo-modal .carousel-control {
    width: auto;
    background-image: none;
    top: -45px;
    max-height: 40px;
}

#promo-modal .carousel-control span {
    margin-top: 0;
    top: 0;
}

#promo-modal .carousel-control.right {
    right: 20px;
}

#promo-modal .carousel-control.left {
    left: 20px;
}

#promo-modal .carousel-control .sr-only {
    position: relative;
    top: 5px;
}

#promo-modal .left .sr-only {
    left: 60px;
}

#promo-modal .right .sr-only {
    right: 40px;
}

#promo-modal .modal-body {
    padding: 0;
}

#promo-modal .carousel-inner {
    height: 100%;
}

#promo-modal .col-lg-4 .form {
    position: absolute;
    background: #000;
    left: 2.5%;
    width: 100%;
    max-width: 95%;
    padding: 40px 60px;
}

#promo-modal .form h5 {
    font-size: 2em;
    letter-spacing: 2px;
    color: #FFF;
    margin: 0 0 40px;
    text-transform: uppercase;
}

#promo-modal .form p {
    color: #FFF;
    font-size: .8em;
    line-height: 1em;
    margin: 5px 0;
    text-align: center;
}

#promo-modal .text-input {
    background: #FFF;
    border-radius: 0;
    border: none;
    margin: 0 0 20px;
    color: #888;
    text-transform: uppercase;
    font-size: .85em;
}

#promo-modal .main-btn {
    background: rgba(111, 4, 4, 0.8);
    box-shadow: none;
    font-size: 1em;
    margin: 0 0 10px;
}

#promo-modal .main-btn:hover,
#promo-modal .main-btn:active {
    background: rgba(111, 4, 4, 1);
}

#promo-modal textarea.text-input {
    max-height: 300px;
    min-height: 150px;
}

.main .carousel-indicators {
    bottom: 0px;
}
.main .carousel-indicators li {
    border: 0;
    background: #FFF;
    opacity: 0.6;
    margin: 0 7px;
    width: 10px !important;
    height: 10px !important;
}
.main .carousel-indicators li.active {
    opacity: 1;
}



/* ========= Form CSS ======== */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form .main-btn {
    margin-top: 10px;
}

.text-input {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border: 0;
    /* border: 1px solid #CCC; */
    padding: 15px;
    margin: 0;
    font-size: 14px;
    outline: none !important;
    border-radius: 3px;
    max-height: 50px;
    transition: all .35s;
}

.text-input:focus {
    border-color: rgba(221, 106, 0, 1);
}


/*=Utilities=================================*/

.v-offset-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.v-offset-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.v-offset-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.v-offset-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.v-offset-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.v-offset-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.box-10 {
    padding: 10px;
}

.align-center {
    text-align: center;
}

.hover-opacity {
    opacity: 1;
}

.hover-opacity:hover {
    opacity: .6;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
}

.borderTopBottom {
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}


/*=Structural=================================*/

.container-custom {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

#master-navigation .sticky-nav {
    position: fixed;
    top: -90px;
    transition: all .3s;
    opacity: 0;
    z-index: 4;
}
#master-navigation > #navbar-alpha:first-child {
    position: relative;
    top: 0;
    z-index: 5;
}
#master-navigation > #navbar-alpha .main-nav-container > .container-custom {
    border-bottom: 2px solid #000;
}
#master-navigation.no-border-bottom > #navbar-alpha .main-nav-container > .container-custom {
    border-bottom: 2px solid transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#master-navigation.no-border-bottom > #navbar-alpha.sticky-nav .main-nav-container > .container-custom {
    border-color: #000 !important;
}
#master-navigation .sticky-nav.stickified {
    top: 0;
    opacity: 1;
}

#master-navigation.sticky {
    position: fixed;
    width: 100%;
    top: -200px;
    transition: all .3s;
}
#navbar-omega {
    background-color: #212121;
}

#navbar-omega a {
    color: #999;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.06em;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar-omega a:hover,
#navbar-omega a:focus {
    background-color: transparent;
    color: #fff;
}

#logo {
    padding: 28.5px 0;
    max-width: 260px;
    width: 100%;
}

#navbar-alpha {
    width: 100%;
    position: relative;
    z-index: 5;
    top: 0;
}

.stickified #navbar-alpha {
    top: 0px !important;
}

#navbar-alpha .main-nav-container {
    background: #FFFFFF;
    position: relative;
    z-index: 5;
}

#navbar-alpha .nav-item-alpha {
    color: #000000;
    font-size: .85em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
    padding: 10px 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#navbar-alpha .nav-item-alpha.main-btn {
    padding: 10px 30px;
    color: #FFF;
}

#navbar-alpha .nav-item-alpha.main-btn:hover {
    color: #000;
}

#navbar-alpha .nav-item-alpha.nav-open {
    color: #CCC;
}

#navbar-alpha .nav-item-alpha i {
    position: relative;
    -webkit-animation:  flipIcon .4s 1 reverse ease-in-out forwards;
    -moz-animation:  flipIcon .4s 1 reverse ease-in-out forwards;
    animation:  flipIcon .4s 1 reverse ease-in-out forwards;
}
#navbar-alpha .nav-item-alpha.nav-open i {
    -webkit-animation:  flipIconOut .4s 1 reverse ease-in-out forwards;
    -moz-animation:  flipIconOut .4s 1 reverse ease-in-out forwards;
    animation:  flipIconOut .4s 1 reverse ease-in-out forwards;
}

#navbar-alpha .nav-item-alpha.search {
    margin-left: 40px;
}

@media(max-width:1200px) and (min-width:992px) {
    #navbar-alpha .nav-item-alpha.search {
        margin-left: 0px;
    }
}

@-webkit-keyframes flipIcon {
  0%   { -webkit-transform: scale(1.0) rotate(0deg);-moz-transform: scale(1.0) rotate(0deg);transform: scale(1.0) rotate(0deg); }
  50% { opacity: 1; -webkit-transform: scale(1.5) rotate(90deg);-moz-transform: scale(1.5) rotate(90deg);transform: scale(1.5) rotate(90deg)}
  100% { -webkit-transform: scale(1.0) rotate(180deg);-moz-transform: scale(1.0) rotate(180deg);transform: scale(1.0) rotate(180deg); }
}
@-moz-keyframes flipIcon {
  0%   { -webkit-transform: scale(1.0) rotate(0deg);-moz-transform: scale(1.0) rotate(0deg);transform: scale(1.0) rotate(0deg); }
  50% { opacity: 1; -webkit-transform: scale(1.5) rotate(90deg);-moz-transform: scale(1.5) rotate(90deg);transform: scale(1.5) rotate(90deg)}
  100% { -webkit-transform: scale(1.0) rotate(180deg);-moz-transform: scale(1.0) rotate(180deg);transform: scale(1.0) rotate(180deg); }
}
@keyframes flipIcon {
    0%   { -webkit-transform: scale(1.0) rotate(0deg);-moz-transform: scale(1.0) rotate(0deg);transform: scale(1.0) rotate(0deg); }
    50% { opacity: 1; -webkit-transform: scale(1.5) rotate(90deg);-moz-transform: scale(1.5) rotate(90deg);transform: scale(1.5) rotate(90deg)}
    100% { -webkit-transform: scale(1.0) rotate(180deg);-moz-transform: scale(1.0) rotate(180deg);transform: scale(1.0) rotate(180deg); }
}



@-webkit-keyframes flipIconOut {
  0%   { -webkit-transform: scale(1.0) rotate(180deg);-moz-transform: scale(1.0) rotate(180deg);transform: scale(1.0) rotate(180deg); }
  50% { opacity: 1; -webkit-transform: scale(1.5) rotate(90deg);-moz-transform: scale(1.5) rotate(90deg);transform: scale(1.5) rotate(90deg)}
  100% { -webkit-transform: scale(1.0) rotate(0deg);-moz-transform: scale(1.0) rotate(0deg);transform: scale(1.0) rotate(0deg); }
}
@-moz-keyframes flipIconOut {
  0%   { -webkit-transform: scale(1.0) rotate(180deg);-moz-transform: scale(1.0) rotate(180deg);transform: scale(1.0) rotate(180deg); }
  50% { opacity: 1; -webkit-transform: scale(1.5) rotate(90deg);-moz-transform: scale(1.5) rotate(90deg);transform: scale(1.5) rotate(90deg)}
  100% { -webkit-transform: scale(1.0) rotate(0deg);-moz-transform: scale(1.0) rotate(0deg);transform: scale(1.0) rotate(0deg); }
}
@keyframes flipIconOut {
    0%   { -webkit-transform: scale(1.0) rotate(180deg);-moz-transform: scale(1.0) rotate(180deg);transform: scale(1.0) rotate(180deg); }
    50% { opacity: 1; -webkit-transform: scale(1.5) rotate(90deg);-moz-transform: scale(1.5) rotate(90deg);transform: scale(1.5) rotate(90deg)}
    100% { -webkit-transform: scale(1.0) rotate(0deg);-moz-transform: scale(1.0) rotate(0deg);transform: scale(1.0) rotate(0deg); }
}



@media(min-width:1500px) {
    #navbar-alpha .nav-item-alpha.search {
        margin-left: 70px;
    }
}

#navbar-alpha .nav-item-alpha .menu-toggle {
    position: relative;
    width: 25px;
    overflow: hidden;
}
#navbar-alpha .nav-item-alpha .menu-toggle .bar {
    position: relative;
    background: #000;
    display: block;
    height: 3px;
    margin: 0 0 5px 0;
    width: 100%;
    top: 0;
    right: 0;
    -webkit-transition:  all .3s;
    -moz-transition:  all .3s;
    transition:  all .3s;
}
#navbar-alpha .nav-item-alpha .menu-toggle .bar2 {
    margin-left: 50%;
    width: 50%;
}
#navbar-alpha .nav-item-alpha .menu-toggle .bar:last-child {
    margin-bottom: 0;
}

/* Open states */
#navbar-alpha .nav-item-alpha .menu-toggle.open .bar {
    opacity: 0;
}
#navbar-alpha .nav-item-alpha .menu-toggle.open .bar2 {
    right: -25px;
}
#navbar-alpha .nav-item-alpha .menu-toggle.open .bar1, #navbar-alpha .nav-item-alpha .menu-toggle.open .bar3 {
    opacity: 1;
}
#navbar-alpha .nav-item-alpha .menu-toggle.open .bar1 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
}
#navbar-alpha .nav-item-alpha .menu-toggle.open .bar3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);   
    top: -8px;
}


#navbar-alpha .navbar-nav > li {
    margin: 0 35px 0 0;
}

#navbar-alpha .navbar-nav > li:last-child {
    margin-right: 20px;
}

#navbar-alpha .nav-item-alpha:hover,
#navbar-alpha .nav-item-alpha:focus {
    background-color: transparent;
}

#navbar-alpha .col-md-9 {
    position: relative;
}

#navbar-alpha .search {
    position: relative;
    z-index: 2;
    padding: 0;
}

#navbar-alpha .search .glyphicon {
    position: relative;
    left: 0;
    padding: 10px;
    transition: all .4s;
}

#navbar-alpha .search .glyphicon-search,
#navbar-alpha .search.active .glyphicon-remove {
    opacity: 1;
    visibility: visible;
}

#navbar-alpha .search.active .glyphicon-search,
#navbar-alpha .search .glyphicon-remove {
    opacity: 0;
    visibility: hidden;
}

#navbar-alpha .search .glyphicon-remove {
    position: absolute;
    font-size: 1.3em;
}

#navbar-alpha .search .glyphicon-search {
    padding: 12px;
    font-size: 1.3em;
    margin-top: -2px;
}

#navbar-alpha .search.active {
    color: #000;
}

.search-form {
    position: absolute;
    top: 50%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    width: 0;
    max-width: 400px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-form.visible {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.search-form:after {
    content: '';
    position: absolute;
    right: 50px;
    width: 350px;
    background: #000;
    height: 2px;
}

#mobile-search {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(255,255,255);
    background: rgba(255,255,255,.98);
    z-index: 100;
}
#mobile-search .form-holder {
    min-height: 100vh;
}

#mobile-search .form-holder .search-holder {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
#mobile-search .form-holder .search-holder > * {
    display: inline-block;
}
#mobile-search .form-holder .search-holder button {
    border: none;
    background: none;
    color: #000;
}
#mobile-search .search-input {
    background: transparent;
    border-bottom: 2px solid #000;
    border-radius: 0;
    max-width: 300px;
    width: 100%;
}
#mobile-search #logo {
    max-width: 187px;
    left: 42px;
}
#mobile-search .menu-close {
    margin-right: 65px;
    margin-top: -5px;
}
@media(max-width:400px) {
    #mobile-search #logo {
        max-width: 140px;
        padding-top: 15px;
        left: 15px;
    }
    #mobile-search .search-input {
        max-width: 190px;
    }
    #mobile-search .menu-close {
        margin-right: 15px;
    }
    #mobile-search .menu-close img {
        width: 18px;
    }
}


/* =================== Custom Design Styles =====================*/


/* //       Desktop Nav        //*/
#master-navigation .dropdown {
    position: absolute;
    background: #FFF;
    width: 100%;
    top: 0;
    /* box-shadow: 1px 1px 5px #efefef; */
    overflow: hidden;
    padding: 25px 0;
    visibility: hidden;
    opacity: 0;
}
#master-navigation #navbar-alpha:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 5%;
    max-width: 90%;
    width: 90%;
    height: 2px;
    background: #000;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    z-index: 5;
    opacity: 0;
}
#master-navigation.open #navbar-alpha:after {
    opacity: 1;
}
#master-navigation.no-border-bottom.open > #navbar-alpha .main-nav-container > .container-custom {
    border-color: #000;
}
/* #master-navigation .dropdown > .container-custom {
    border-top: 2px solid #000;
} */
#master-navigation .dropdown.in {
    z-index: 3;
}

#master-navigation .dropdown .row {
    position: relative;
    top: -90px;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all .7s;
}

#master-navigation .dropdown.in .row {
    top: 0;
    opacity: 1;
    visibility: visible;
}

#master-navigation .dropdown .nav-links .main-btn {
    display: block;
    margin: 20px auto;
}

#master-navigation .dropdown ul li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#master-navigation .dropdown ul li a, .dropdown ul.titles li {
    display: block;
    font-size: 14px;
    color: #939393;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 10px;
    letter-spacing: 0.2em;
}

#master-navigation .dropdown ul.titles li {
    color: #000;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 17px;
}

/* //       Mobi Slide Nav        //*/
#mobi-slide {
    position: relative;
    top: 0;
    background-color: #FFF;
    height: 100%;
    overflow: hidden;
    display: none;
    padding: 40px 0 0;
}

.slide-open #mobi-overlay {
    opacity: 1;
    visibility: visible;
}

#mobi-slide .search {
    height: 50px;
}

#mobi-slide .side-nav {
    background-color: #FFF;
    padding: 0 20px;
}

.side-nav > ul {
    padding: 10px 0 0 0;
}

.side-nav > li {
    line-height: 50px;
    min-height: 50px;
    position: relative;
    overflow: visible;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #bfbfbf;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.side-nav > li > a {
    color: #333;
    padding: 0 10px;
    position: relative;
    display: block;
    border-radius: 5px;
    z-index: 1;
    font-size: .8em;
}
.side-nav > li > a:not(.dropdown-trigger) {
    padding: 0 30px;
}

.side-nav > li .dropdown-trigger {
    padding: 0 30px;
    background: #FFF;
}

.side-nav > li.open > a {
    color: #FFF;
    background: #000;
    border-radius: 5px 5px 0 0;
}

.side-nav > li .dropdown-trigger:after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 1.6em;
    color: #555;
    transition: all .4s;
}

.side-nav > li.open .dropdown-trigger:after {
    color: #FFF;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.side-nav .sub-entries {
    background: #FFF;
    max-height: 0px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    -webkit-transition: max-height .5s;
    -moz-transition: max-height .5s;
    transition: max-height .5s;
    z-index: 1;
}

.side-nav .sub-entries li a {
    padding: 0 45px;
}

.side-nav .sub-entries li.title {
    color: #000;
    padding: 0 45px;
    background: #f3f3f3;
    font-size: 14px;
}

.side-nav .open .sub-entries {
    max-height: 700px;
    transition-delay: .5s;
}

.side-nav > li ul a {
    text-decoration: none;
    color: #8E8E8E;
    background: #FFF;
    font-size: 13px;
    display: inline-block;
    line-height: 2em;
    padding: 0 30px;
}

.additional-nav .nav-links {
    padding: 40px 20px;
}
.additional-nav .nav-links li {
    margin: 3px 0;
}
.additional-nav .nav-links li a {
    display: inline-block;
    padding: 5px;
    color: #bdbdbd;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 13px;
}

#mobi-slide .search .form > * {
    width: auto;
    display: inline-block;
    font-size: .8em;
    padding: 10px;
    min-height: 38px;
    max-height: 38px;
    margin: 6px 0;
}

.search .text-input {
    min-width: 70%;
    left: 1%;
}

.side-nav .no-delay .sub-entries {
    transition-delay: 0s !important;
}

body {
    position: relative;
    left: 0;
    transition: left .4s;
}



#desktop-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 100;
}

#desktop-modal .nav-holder {
    padding: 30px;
    background: #000;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 40px #bfbfbf;
}
#desktop-modal .nav-holder ul li {
    color: #FFF;
    display: inline-block;
    margin: 0 30px;
}
#desktop-modal .nav-holder ul li a {
    color: #dbdbdb;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#desktop-modal .nav-holder ul li a:hover {
    color: #FFF;
}
#desktop-modal .menu-close img {
    position: relative;
    right: -45px;
    top: -25px;
}
#desktop-modal .carousel-indicators {
    position: relative;
    text-align: left;
    margin-left: 0;
    left: 15px;
}
#desktop-modal .carousel-indicators > li {
    background: #dfdfdf;
    border: none !important;
    margin:  0 15px 0 0;
    width: 8px !important;
    height: 8px !important;
}
#desktop-modal .carousel-indicators > li.active {
    background: #000;
}
#desktop-modal .item {
    padding: 40px 0;
}


/* //       Mast      //*/

.mast {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 480px;
    text-align: center;
}

.mast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, .2);
}

.mast .content {
    max-width: 1170px;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mast h1 {
    color: #FFF;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#desktop-modal .carousel-caption {
    color: #000;
    position: static;
    text-shadow: none !important;
    text-align: left;
    padding-right: 100px;
}


/* //       Main Carousel       //*/

.carousel.main {
    position: relative;
    padding: 0;
}

.main .carousel-inner {
    min-height: 800px;
}

.main .carousel-control, #desktop-modal .carousel-control {
    top: 50%;
    height: 50px;
    width: 50px;
    z-index: 3;
    font-size: 30px;
    color: #000;
    opacity: 1;
    background-image: none !important;
    text-shadow: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.main .carousel-control.left {
    left: 8%;
}

.main .carousel-control.right {
    right: 8%;
}

#desktop-modal .carousel-control.left {
    left: -8%;
}

#desktop-modal .carousel-control.right {
    right: -8%;
}

.main.carousel .item {
    position: absolute;
    background-size: cover !important;
    height: 100%;
    width: 100%;
}

.main .carousel-inner .item > img {
    height: 100%;
}

.carousel.main .item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    z-index: 2;
}
.carousel.main .item.no-filter:before {
    display:none;
}

.carousel.main .content-container {
    position: absolute;
    max-width: 1170px;
    width: 100%;
    top: 0;
    left: 50%;
    height: 100%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main .carousel-caption {
    position: relative;
    top: 50%;
    left: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main .carousel-caption h1 {
    color: #FFF;
    text-transform: uppercase;
    margin: 10px 0 30px;
    font-size: 3em;
    line-height: 2em;
    text-shadow: none;
    letter-spacing: 8px;
    opacity: 0;
}

.testimonials-slider .carousel-caption {
    position: relative;
    text-shadow: none !important;
    left: 0;
    right: 0;
    margin: 10px auto;
    max-width: 400px;
    padding-bottom: 0;
}

.testimonials-slider .carousel-control {
    background-image: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    color: #555 !important;
    width: 40px;
    height: 40px;
    text-shadow: none;
}

.testimonials-slider .carousel-control.left {
    left: 10%;
}

.testimonials-slider .carousel-control.right {
    right: 10%;
}


/* //       Promotions Strip        //*/

#promotions-strip h3 {
    position: relative;
    color: #3B6549;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
    max-width: 90%;
    left: 5%;
}

#promotions-strip p {
    font-size: 1.1em;
    text-transform: uppercase;
    color: #777;
    letter-spacing: 1px;
}

#promotions-strip b {
    color: #444;
}


/* //       Categories Layout       //*/

.category:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    transition: all .35s;
}
.relative {
    position: relative;
}
.category.relative:before {
    display: block;
}

.secondary-images .category {
    position: relative;
    text-align: left;
    margin-bottom: 5%;
    overflow: hidden;
}
.secondary-images .category:last-child {
    margin-bottom: 0;
}
.feature-products {
    transition: all .45s;
}
.feature-products .category {
    overflow:visible;
}

.category h3 {
    color: #FFF;
    font-size: 24px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin: 0;
}

.category p {
    color: #FFF;
    font-size: 1.4em;
    margin: 0;
}

.category.double-height img {
    position: absolute;
    max-width: 135%;
    top: 50%;
    width: 135%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.category.black h3,
.category.black p {
    color: #222;
}

.category .main-btn {
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
}

.category.double-height {
    text-align: center;
}

.category:not(.double-height) img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}

.category .details {
    position: absolute;
    top: 50%;
    left: 5%;
    z-index: 2;
    width: 90%;
    -webkit-transform: translateY(-65px);
    -ms-transform: translateY(-65px);
    transform: translateY(-65px);
}

.category:hover .main-btn,
.cur-cat .category .main-btn {
    opacity: 1;
    visibility: visible;
}

.category:hover:before {
    background: rgba(0, 0, 0, .3);
}

.categories {
    padding: 40px 15px !important;
}

.categories .primary-image {
    width: 100%;
    max-width: 66.25%;
    float: left;
    margin-right: 1.5%;
}
.categories .secondary-images {
    width: 100%;
    max-width: 31.75%;
    float: left;
    margin-left: 0;
}


/* //       Current Category Layout       //*/

.cur-cat {
    padding: 100px 0 0;
}

.cur-cat .category:before {
    background: rgba(0, 0, 0, .2);
}


/* //       Single Category Layout       //*/

.mast .best-buy {
    display: block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .8em;
    color: #C1C1C1;
    margin: 0;
    transition: all .35s;
}

.mast .best-buy span {
    display: block;
    font-size: 1.4em;
}

.product-filter {
    position: relative;
    padding: 15px 0;
    background: #F7F7F7;
}

.product-filter form > * {
    width: auto;
    display: inline-block;
    vertical-align: middle;
}

.product-filter .text-input {
    background: #FFF;
    min-width: 320px;
    border: 1px solid #ddd;
    max-height: 40px;
    padding: 10px 15px;
}

.product-filter .main-btn {
    margin-left: 12px;
}

.product-filter .dropdown-menu {
    max-width: 230px;
    width: 100%;
}

.product-filter .dropdown > span {
    display: inline-block;
    vertical-align: middle;
    color: #444;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}

.products.single-cat {
    background: #FFF;
    padding: 100px 0 50px;
}


/* //       Sub Categories Layout       //*/

.sub-categories {
    padding: 20px 0 40px;
}

.sub-category {
    display: block;
    position: relative;
    min-height: 260px;
    max-height: 260px;
    margin-bottom: 30px;
    overflow: hidden;
}

.sub-category .bottom-border {
    width: 100%;
    height: 128px;
    height: 64px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../images/promo-border-bottom.png);
    
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    
    opacity: 0;
}

.sub-category .button-container {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    bottom: 40px;
    left: 0;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    z-index: 3;
}
.sub-category .button-container button {
    background: #000;
    padding: 14px 20px;
    color: #fff;
    border: none;
    outline: none;
    font-size: .9em;
    line-height: 1em;
    letter-spacing: 2px;
    cursor: pointer;
    text-shadow: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .25s;
}

.sub-categories .col-sm-4 a:hover .bottom-border {
    opacity: 0.55;
}
.sub-categories .col-sm-4 a:hover .button-container {
    opacity: 1;
}

.sub-category:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    transition: all .35s;
}

.sub-category:hover:before {
    background: rgba(0, 0, 0, .3);
}

.sub-category img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 155%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale3D(1, 1, 1);
    -ms-transform: translateX(-50%) translateY(-50%) scale3D(1, 1, 1);
    transform: translateX(-50%) translateY(-50%) scale3D(1, 1, 1);
    transition: all .35s;
}

.sub-category:hover img {
    -webkit-transform: translateX(-50%) translateY(-50%) scale3D(1.1, 1.1, 1);
    -ms-transform: translateX(-50%) translateY(-50%) scale3D(1.1, 1.1, 1);
    transform: translateX(-50%) translateY(-50%) scale3D(1.1, 1.1, 1);
    -webkit-backface-visibility: hidden;
}

.sub-category .content {
    position: absolute;
    left: 0;
    z-index: 2;
    top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sub-category .best-buy {
    display: none;
    margin: 0;
}

.sub-category.bb .best-buy {
    display: block;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .8em;
    color: #C1C1C1;
    transition: all .35s;
}

.sub-category .best-buy span {
    display: block;
    font-size: 1.4em;
}

.sub-category .title {
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.3em;
    color: #FFF;
    letter-spacing: 4px;
    transition: all .35s;
    max-width: 300px;
    margin: 0 auto;
    text-shadow: 0px 1px 5px #000;
}

.sub-category:hover .best-buy,
.sub-category:hover .best-buy,
.sub-category:hover .title {
    color: #FFF;
    text-shadow: 0px 1px 2px #000;
}


/* //       Products Layout         //*/

.product {
    opacity: 0;
}

.product .product-image {
    position: relative;
    padding: 0;
    overflow: hidden;
    background: #FFF no-repeat center;
    background-size: cover;
}

.product .product-image .special-icon {
    position:  absolute;
    top: 0;
    right:  0;
    width:  auto;
    height: auto;
    z-index: 0;
}

.product .product-image > img {
    width: 100% !important;
}

.product .product-image .sale-banner {
    background: #000;
    position: absolute;
    top: -105px;
    right: -105px;
    transform: rotateZ(45deg);
    width: 200px;
    height: 200px;
    -webkit-backface-visibility: hidden;
}

.product .product-image .sale-banner .promo-text {
    position: absolute;
    left: 20%;
    bottom: 15px;
    width: 60%;
    color: #FFF;
    font-size: 1em;
    line-height: 1.2em;
    text-align: center;
}

.product .product-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    opacity: 0;
    transition: all .4s;
    z-index: 1;
}

.product:hover .product-image:before {
    opacity: 1;
}

.product .main-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.product:hover .main-btn {
    opacity: 1;
    visibility: visible;
}
.related-products .product .product-details {
    border: none;
    font-weight: 500;
}

.product .product-details {
    background: transparent;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    padding: 15px 0;
    transition: all .4s;
    min-height: 80px;
}

.product:hover .product-details {
    border-color: rgba(0, 0, 0, .6);
}

.product-details h4 {
    color: #555;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    letter-spacing: 0.2em;
    margin: 0;
}

.product-details p {
    display: inline-block;
    text-align: right;
    float: right;
    margin: 0;
    letter-spacing: 0.2em;
    color: #222;
}


/* //       Specials        //*/

.specials .bg-img {
    /*min-height: 570px;
    max-height: 570px;*/
    overflow: hidden;
}

/*.specials .bg-img:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    transition: all .35s;
    z-index: 1;
}*/

.specials .bg-img:hover:before {
    background: rgba(0, 0, 0, .2);
}

.specials .content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.specials h4 {
    position: relative;
    color: #FFF;
    letter-spacing: 4px;
    font-size: 3em;
    opacity: 1;
    visibility: visible;
    transition: all .25s;
    top: 0;
}

specials .main-btn {
    opacity: 0;
    visibility: hidden;
    top: 45%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.specials > a {
    position: relative;
}

.specials > div:hover .main-btn {
    opacity: 1;
    visibility: visible;
    top: 50%;
}

/* .specials > div:hover h4 {
    opacity: 0;
    visibility: hidden;
    top: -30px;
} */
.specials > div:hover h4 {
    text-shadow: 0px 1px 10px #000;
    /* color: #000; */
}


/* //       Featured Product        //*/

.single-product {
    background: #FFF;
    padding: 40px 0;
}

.single-product .actions {
    margin-bottom: 30px;
}

.single-product .actions .main-btn {
    width: auto;
}


/*.single-product .product-desc > * {
    max-width: 450px;
}*/

.single-product .col-lg-5 > .row {
    padding: 0 30px;
}

.product-desc .title {
    color: #111;
    font-size: 2.2em;
    line-height: 1em;
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    margin-top: 15px;
}

.product-desc .desc {
    color: #888888;
    font-size: .95em;
    line-height: 1.5em;
    /* border-bottom: 1px solid #d7d7d7; */
    padding-bottom: 20px;
}

.badges {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 20px 0;
}

.badges .icon-holder {
    text-align: center;
}
.badges img {
    max-width: 50px;
    display: inline-block;
}
.badges .icon-holder {
    display: inline-block;
    padding-right: 20px;
    max-width: 80px;
    vertical-align: top;
}

.badges .icon-holder > * {
    display: inline-block;
}
.badges .icon-holder > small {
    font-size: .7em;
    margin-top: 5px;
    line-height: 1em;
}

.badges .icon-holder > *

.details div[class^=col-],
.actions div[class^=col-] {
    padding: 0;
}

.pricing-spacer {
    height: 150px;
}

.starting-price, .finance-price {
    color: #111;
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
}
.finance-price {
    color: #A0A0A0;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.auto-calculator-price .finance-blue, .auto-calculator-price .per-month {
    display: inline-block;
    font-size: 1.3em;
}
.auto-calculator-price .per-month {
    font-size: 1em;
    margin-bottom: 5px;
}

.large.black {
    font-weight: 500;
    font-size: 27px;
    line-height: 27px;
}

.price span {
    display: block;
    color: #222;
}

.financing {
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-weight: bold;
}

.financing i {
    display: block;
}

.financing span {
    font-size: 1.2em;
}

.terms {
    font-size: .8em;
    line-height: 1.2em;
}

.prod-terms p {
    font-size: .7em;
    line-height: 1.4em;
    margin-top: 10px;
}

.single-product .colours {
    position: relative;
    top: 0;
    right: 0;
    padding: 0px;
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
}

.single-product .colours.sandbox, .single-product div[class^='prod-colours'] {
    display: inline-block;
    width: auto;
    margin: 3px;
}

.single-product .colours a {
    background: #000;
    display: block;
    opacity: .8;
    font-size: .9em;
    font-weight:bold;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 0;
}

#prod-slider.carousel,
#slider-thumbs {
    max-width: 750px;
    max-height: 500px;
    margin: 0 auto 1px;
}

#prod-slider.carousel {
    min-height: 100%;
    margin: 0 auto 20px;
    overflow: hidden;
}

#prod-slider .carousel-inner .item {
    /*max-height: 500px;
    min-height: 500px;*/
}

#prod-slider .carousel-control {
    background-image: none !important;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    border-radius: 50%;
    color: #EFEFEF;
    opacity: 0;
    font-size: 2.8em;
    padding: 10px;
    transition: all .6s;
}

#prod-slider .carousel-control {
    text-shadow: 0 3px 2px rgba(0, 0, 0, .6);
}

#prod-slider:hover .carousel-control {
    opacity: 1;
}

#prod-slider .carousel-control:hover {
    color: #000;
}

#prod-slider .carousel-control.left:hover {
    padding-left: 4px;
}

#prod-slider .carousel-control.right:hover {
    padding-right: 4px;
}

#prod-slider .carousel-control.right {
    right: -10px;
}

#prod-slider .carousel-control.left {
    left: -10px;
}

#prod-slider:hover .carousel-control.right {
    right: 0;
}

#prod-slider:hover .carousel-control.left {
    left: 0;
}

#slider-thumbs {
    border-top: 1px solid #CCC;
    padding-top: 20px;
    width: 100%;
    overflow: hidden;
}

#slider-thumbs .thumbnail {
    padding: 1px;
    border: 0;
    border-radius: 0;
    max-height: 150px;
    width: 100%;
    opacity: .3;
    cursor: pointer;
    transition: all .3s;
}

#slider-thumbs .thumbnail:hover,
#slider-thumbs .thumbnail.active {
    opacity: 1;
}

#prod-slider .carousel-inner .item,
#slider-thumbs .thumbnail {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#slider-thumbs .thumbnail img {
    position: relative;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#slider-thumbs .thumbnails {
    position: relative;
    float: left;
}

#slider-thumbs .thumbnails > li {
    float: left;
    width: 260px;
    padding: 0 5px 0 0;
}

.thumbs-container {
    position: relative;
    left: 0;
}


/* Single Product Details */

.sp-details {
    background: #FBFBFB;
    padding: 40px 0;
}

.detail-tabs.nav-tabs {
    margin: 0 0 5px 0;
}

.detail-tabs.nav-tabs > li {
    float: left;
    width: 25%;
    text-align: center;
}

.detail-tabs.nav-tabs > li > a {
    position: relative;
    /* display: inline-block; */
    color: #111;
    font-size: 12px;
    letter-spacing: 0.06em;
    font-weight: 300;
    z-index: 2;
    margin-right: 0;
}

.detail-tabs.nav-tabs > li.active > a {
    color: #000;
    background: #FFF;
}

.detail-tab-content {
    padding: 20px 10px;
}

.detail-tab-content p {
    color: #555;
    font-size: .95em;
    line-height: 1.7em;
}

.detail-tab-content .fadeInDown {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
}


/* Related products */

.related-products {
    background: #FFF;
    padding: 40px 0;
}


/* Collections */

.collection-products p {
    font-size: .65em;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 0;
    letter-spacing: 2px;
}




/* //       Finance Box        //*/

.finance-box {
    position: relative;
    overflow: hidden;
    padding: 0;
    background-color: #FFF;  
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 1%;
}


/*.finance-box img {
    position: relative;
    width: 100%;
}*/

.finance-box {
    width: 100%;
    max-width: 49%;
    
}
.finance-box .content {
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.finance-box .title {
    color: #FFF;
    font-size: 4em;
    line-height: 1.1em;
}

.finance-box .title i {
    display: block;
    font-size: .9em;
}

.finance-box .sub-text {
    color: #FFF;
    padding: 20px;
    font-size: 1em;
    line-height: 1.3em;
    max-width: 400px;
    margin: 0 auto 40px;
}


/* //       Testimonials        //*/

.testimonials {
    width: 49%;
    max-width: 49%;
    margin-left: 1%;
    position: relative;
    text-align: center;
    padding: 65px 0;
    background: #FFF;
    border: 1px solid #000;
    overflow: hidden;
}

.testimonials .title {
    color: #111;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1em;
    margin-bottom: 5px;
    font-weight: 500;
}

.testimonials-dividing-line
{
	display: block;
    margin: 12px auto 25px;
    width: 45%;
    height: 1px;
    border-top: 2px solid #ddd;
}

.testimonials .satisfaction {
    color: #BBB;
    text-transform: uppercase;
    font-size: .8em;
    margin: 0;
}

.testimonials .stars span {
    color: orange;
    margin: 0 2px;
}

.testimonials p {
    color: #737373;
    font-size: .9em;
    line-height: 1.7em;
}

.testimonials .author {
    font-style: italic;
    margin-bottom: 30px;
}


/* //       Newsletter       //*/

#newsletter {
    position: relative;
    padding: 60px 0;
    background: #FFF url('../../images/uploads/advertising/newsletter-backdrop.jpg') no-repeat center;
    background-size: cover;
}

#newsletter:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(20, 20, 20, .2);
}

#newsletter .container {
    position: relative;
    z-index: 3;
}

#newsletter .form-group .col-md-8 {
    text-align: right;
}

#newsletter .form-group .col-md-4 {
    text-align: left;
}

#newsletter .form-group .text-input {
    display: inline-block;
    border-radius: 0;
    max-width: 300px;
    min-width: 260px;
    margin: 0 10px;
    max-height: 40px;
    background: rgba(255, 255, 255, .15);
    color: #EFEFEF;
    border: 1px solid rgba(255,255,255,.2);
    line-height: 1em;
    letter-spacing: 2px;
}

#newsletter .form-group .text-input:focus {
    border-color: #FFF;
}

#newsletter h4 {
    position: relative;
    z-index: 2;
    font-size: 1.5em;
    color: #FFF;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

#newsletter .main-btn {
    min-height: 40px;
    max-height: 40px;
    display: inline-block;
    vertical-align: middle;
    background: #FFF;
    color: #000;
    font-size: .9em;
    font-weight: 500;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 0;
}


/* //       Single Product      //*/

.breadcrumbs {
    background: #FFF;
    border-bottom: 1px solid #ddd;
    padding: 35px 0 30px;
}

.breadcrumbs p {
    margin: 0;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: .6em;
    font-weight: bold;
    color: #111;
}

.breadcrumbs .col-md-8 span {
    margin: 0 2px;
    font-weight: normal;
}

.breadcrumbs .col-md-8 span:after {
    content: '/';
    position: relative;
    height: 1em;
    display: inline-block;
    color: #000;
    margin-left: 6px;
}

.breadcrumbs .col-md-8 p span:last-child:after {
    display: none;
}

.breadcrumbs .col-md-8 p > span {
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 0.1em;
}
.breadcrumbs .col-md-8 p > span.cur-prod {
    color: #bbbbbb;
    font-weight: 500;
}

.breadcrumbs .col-md-8 span.first {
    margin-left: 20px;
}

.breadcrumbs .social {
    text-align: right;
}

.breadcrumbs .social > * {
    color: #bbbbbb;
    display: inline-block;
    width: auto;
    margin: 0 8px;
    vertical-align: middle;
}
.breadcrumbs .social > p {
    font-size: .8em;
    letter-spacing: 3px;
    font-weight: 500;
}

.breadcrumbs .social i {
    font-size: 1.1em;
    color: #bbbbbb;
    transition: all .4s;
}

.breadcrumbs .social i:hover {
    color: #000;
}

.prod-info ul {
    position: relative;
    margin-bottom: 15px;
}

.prod-info ul li {
    margin-bottom: 5px;
    padding-left: 15px;
    font-size: .9em;
    color: #777;
}

.prod-info ul li:before {
    content: '-';
    position: relative;
    left: -10px;
    width: 5px;
    height: 5px;
}

.info-title {
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 30px 0 15px;
    color: #888;
}


/* //       Promotions Page       //*/

#clockdiv {
    position: absolute;
    top: -100px;
    width: 100%;
    color: #FFF;
}

#clockdiv > span {
    color: #EFEFEF;
    font-size: 1.7em;
    margin-left: 3px;
    margin-right: 3px;
}

#clockdiv > span:after {
    position: relative;
    content: '';
    top: 50%;
    right: -20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#clockdiv p {
    color: #FFF;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 1.1em;
}

.grid {
    padding: 80px 0;
    position: relative;
    float: none;
}

.grid-sizer,
.promotion-item {
    width: 48%;
    float: left;
    margin: 0 1% 2%;
    min-height: 200px;
}

.promotion-item.double .product-image {
    min-height: 350px;
}

.promotion-item .product-image {
    min-height: 250px;
    max-height: 250px;
}

.promotion-item .product-image:before {
    opacity: 1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+1,000000+45,000000+80,000000+100&0+1,0.25+80,0.6+100 */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 1%, rgba(0, 0, 0, 0.14) 45%, rgba(0, 0, 0, 0.25) 80%, rgba(0, 0, 0, 0.6) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#99000000', GradientType=0);
    /* IE6-9 */
}

.promotion-item:hover .product-image:before {
    opacity: .4;
}

.promotion-item {
    opacity: .5;
}

.promotion-item .product-details p span {
    color: #FFF;
    display: block;
    margin: 2px 0;
    font-weight: bold;
    font-size: 1.4em;
}

.product-details span.prev {
    font-size: .8em !important;
    text-decoration: line-through;
}

.promotion-item .product-details h4 {
    float: left;
    color: #FFF;
    letter-spacing: 2px;
    font-size: 1em;
}

.promotion-item .product-details h4 span {
    position: relative;
    display: block;
    color: #EFEFEF;
    font-size: .6em;
    text-transform: uppercase;
    margin-top: 5px;
}

.promotion-item .product-details {
    background: red;
    padding: 15px 20px;
    border-bottom: 0;
}


/* //       Footer       //*/

#footer-navigation h5 {
    color: #222;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
}

#footer-navigation ul li {
    margin: 6px 0px 6px 0px;
}

#footer-navigation ul li a {
    color: #888;
    padding: 5px 0;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 13px;
}

#footer-navigation ul li a:hover {
    color: #000;
}

#foundation {
    background: #F7F7F7;
}

#foundation i {
    color: #333;
    font-size: 1.6em;
}

#foundation .col-md-4 a {
    margin: 0 4px;
}

#foundation .creds {
    margin: 0;
    text-transform: uppercase;
    font-size: .8em;
    color: #999;
}


/* //       News Block Styles       //*/

.news-block .list-group.job-detail {
    line-height: 1.3em !important;
}

.news-block .panel-heading {
    background: #000;
    padding: 15px;
    color: #FFF;
}

.news-block p {
    color: #777;
}

.news-block span.date {
    color: #000;
    font-size: 1.6em !important;
    line-height: 1.4em;
    display: block;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.news-block span.date.lower {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.news-block .border-bottom {
    border-bottom: 1px solid #E0E0E0;
    height: 1px;
}

#news-media .news-block h2 {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 2px;
}

.list-group {
    background: transparent;
}

.list-group-item.active,
.list-group .list-group-item:hover,
.list-group .list-group-item:active {
    background-color: #000;
    border-color: #F4F2F2;
    color: #FFF;
    opacity: 1;
}

.list-group-item {
    transition: all .3s;
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid #EFEFEF;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 !important;
}

.job-detail .list-group-item.active,
.list-group.job-detail .list-group-item:hover,
.list-group.job-detail .list-group-item:active {
    background: transparent;
    color: #111;
}






/*==============================Media Queries====*/

@media (min-width:1200px) and (max-width: 1420px) {
    .single-product .col-lg-5 .col-lg-4,
    .single-product .col-lg-5 .col-lg-8 {
        width: 50%;
    }
}

@media (max-width: 1500px) {
    #promo-modal .col-lg-4 .form {
        padding: 30px;
    }
}

@media (max-width: 1400px) {
    #prod-slider .carousel-inner .item {
        /*min-height: 300px;
        max-height: 300px;*/
    }
    .category h3 {
        font-size: 2.2em;
    }
    .testimonials {
        min-height: 500px;
    }
    div[id^=colour-modal] .modal-dialog {
        max-width: 90%;
    }
}

@media(max-width:1350px) and (min-width:1200px) {
    #desktop-modal .carousel-control.right {
        right: -1%;
    }
    #desktop-modal .carousel-control.left {
        left: -1%;
    }
    #desktop-modal .carousel-inner>.item {
        padding: 0 40px;
    }
    #desktop-modal .carousel-indicators {
        margin-left: 30px;
    }
    #desktop-modal .menu-close img {
        right: 15px;
    }
}

@media (max-width: 1200px) {
    #newsletter .form-group .text-input {
        float: left;
        width: 100%;
        margin: 0 1.5%;
    }
    .product-details h4 {
        font-size: .9em;
    }
    .mast .content {
        left: 0;
    }
    .sub-category {
        min-height: 170px;
        max-height: 170px;
    }
    .testimonials-slider .carousel-caption {
        max-width: 300px;
    }
    .product .main-btn {
        font-size: .7em;
    }
    .main .carousel-inner {
        min-height: 600px;
    }
    .nav-tabs>li.active {
        margin-top: -2px;
    }
    .product .product-image .special-icon {
        max-width:  60px;
    }
    .navbar-right {
        margin: 0 !important;
    }
}

@media(max-width:1200px) and (min-width:992px) {
    #navbar-alpha .navbar-nav > li {
        margin:  0 20px 0 0;
    }
    #navbar-alpha .navbar-nav > li:last-child {
        margin-right: 10px;
    }
    #master-navigation #navbar-alpha:after {
        width: 992px;
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .single-product .colours {
        margin: 20px auto 40px;
    }
    .product-of-the-week {
        text-align: center;
    }
    .pricing-spacer {
        height: 130px;
    }
    .single-product .product-desc > * {
        max-width: 100%;
    }
    #navbar-alpha .nav-item-alpha {
        font-size: .7em;
        padding: 14.5px 5px;
    }
    #navbar-alpha .nav-item-alpha.menu-toggle {
        padding: 17px 5px;
    }
    #navbar-alpha .col-md-9 {
        padding: 0;
    }
    #navbar-alpha .search .glyphicon-search,
    #navbar-alpha .search.active .glyphicon-remove {
        padding: 4px;
    }
    .breadcrumbs {
        padding: 20px 0;
    }
    .text-input.search-input {
        max-height: 40px;
    }
    #navbar-alpha .search .glyphicon-remove {
        top: 50%;
        margin-top: -13px;
    }
    #navbar-alpha .search.active {
        right: 8px;
    }
    #prod-slider .carousel-control {
        opacity: 1;
    }
    #prod-slider .carousel-control.left {
        left: 10px !important;
    }
    #prod-slider .carousel-control.right {
        right: 10px !important;
    }
    .specials .bg-img:first-child {
        margin-bottom: 30px;
    }
    .specials .main-btn {
        top: 200% !important;
        opacity: 1;
        visibility: visible;
    }
    .main .carousel-inner {
        min-height: 500px;
    }
    .main .carousel-inner .item > img,
    .main .carousel-inner {
        max-height: 500px;
    }
    .main .carousel-caption h1 {
        font-size: 2.6em;
        line-height: 1em;
    }
    .carousel .main-btn {
        width: 200px;
        padding: 10px 20px;
    }
    .category {
        text-align: left !important;
    }
    .category .main-btn {
        opacity: 1;
        visibility: visible;
        padding: 12px 20px;
        width: auto;
    }
    .nav-tabs.nav-justified>li {
        float: left;
        width: 33.3333333%;
    }
    .nav-tabs.nav-justified>li>a {
        font-size: 1em;
    }
    .sub-category {
        min-height: 150px;
        max-height: 150px;
    }
    .sub-category .title {
        font-size: 13px;
    }
    .mast h1 {
        font-size: 2.5em;
    }
    .product-filter .col-lg-6 {
        text-align: center !important;
        margin: 5px auto;
    }
    .product .product-image:before {
        opacity: .3;
    }
    .product:hover .product-image:before {
        opacity: .2;
    }
    .product .main-btn {
        background: #000;
        opacity: .8;
        color: #fff;
        top: auto;
        left: 0;
        margin: 0;
        width: 100%;
        bottom: 0%;
        visibility: visible;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }
    .navbar-right {
        margin-right: 0 !important;
    }
    #footer-navigation .branches h5 {
        padding-left: 15px;
        margin-top: 20px;
    }
    #footer-navigation {
        text-align: center;
    }
    #footer-navigation .padding-kill {
        padding: 0 30px !important;
    }
    .modal .carousel-control i {
        font-size: 1.8em;
    }
    .main .carousel-inner {
        min-height: 400px;
    }
    #promo-modal .carousel-control .sr-only {
        display: none;
    }
    #promo-modal .carousel-control {
        left: 70px;
    }
    #promo-modal .carousel-control.left {
        left: 30px;
    }
    #promo-modal .carousel-control.right {
        right: auto;
    }
    #promo-modal.quote-visible .modal-dialog {
        overflow-y: auto;
    }
    #promo-modal button.main-btn {
        position: absolute;
        top: -45px;
        border: none;
        padding: 15px 0;
        font-size: .8em;
        display: block;
        max-width: 230px;
        width: 100%;
        left: 50%;
        margin-left: -115px;
        border-radius: 0;
    }
    #promo-modal .col-lg-4 {
        position: absolute;
        width: 100%;
        top: -20px;
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease-out;
    }
    #promo-modal .col-lg-4.active {
        opacity: 1;
        visibility: visible;
        top: 0;
    }
    #promo-modal .col-lg-4 .form {
        max-width: 100%;
        left: 0;
    }
    #promo-modal .carousel-control span {
        margin-top: 10px;
        font-size: 1.3em;
    }
    #promo-modal.quote-visible .modal-dialog {
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
    }
    #promo-modal .form h5 {
        text-align: center;
        margin-top: 20px;
    }
    .grid-sizer,
    .promotion-item {
        width: 90%;
        margin: 0 5% 4%;
    }
    #promo-modal.modal .close {
        top: -45px;
    }
    #promo-modal button.main-btn.active {
        top: 0;
        padding: 10px 0;
        z-index: 10;
    }
    .product .product-image .special-icon {
        max-width: none;
    }
    #master-navigation #navbar-alpha:after {
        left: 2.5%;
        right: 2.5%;
        max-width: 95%;
        width: 95%;
    }
    #master-navigation .sticky-nav {
        display: none;
    }
    .breadcrumbs .col-md-8 p > span {
        font-size: 1.2em;
    }
    .single-product {
        padding: 30px 0;
    }
}

@media (max-width: 991px) {
    #logo {
        padding:12px 0;
        width: 100%;
        max-width: 100%;
        position: absolute;
    }
    .product .product-details {
        height: auto !important;
    }
    .nav-tabs {
        min-height: auto;
    }
    .finance-box, .testimonials {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .product-desc .title {
        margin-top: 40px;
    }
    #navbar-alpha .search .glyphicon-search, #navbar-alpha .search .glyphicon-remove {
        font-size: 1.5em;
        padding: 4px;
    }
    .main .carousel-indicators {
        bottom: 10px;
    }
}

@media(max-width:991px) and (min-width:767px) {
    .breadcrumbs p, .breadcrumbs .social > p {
        font-size: .5em;
    }
    .breadcrumbs .social {
        line-height: 11px;
    }
    .breadcrumbs .social i {
        font-size: 0.9em;
    }
}

@media (max-width: 767px) {
    .pricing-spacer.smaller {
        height: 90px;
    }
    #productTabs {
        min-height: 100%;
        max-height: 100%;
    }
    .nav-tabs.nav-justified > li {
        width: 100%;
    }
    #footer-navigation .row > div[class^=col-md-] > div {
        padding: 0;
    }
    #footer-navigation .col-md-2 {
        padding: 0 15px !important;
    }
    #footer-navigation .col-sm-6 {
        margin-bottom: 40px;
    }
    .single-product .col-lg-5 > .row {
        text-align: center;
        margin: 20px 0;
    }
    #newsletter .main-btn {
        display: block;
        margin: 30px auto 0;
    }
    #foundation .col-xs-12 {
        text-align: center !important;
    }
    #productTabs:after,
    #productTabs:before {
        display: none;
    }
    .categories .mb-60 {
        margin-bottom: 0;
    }
    .prod-info ul {
        margin-bottom: 0;
    }
    .details div[class^=col-],
    .actions div[class^=col-] {
        margin: 10px 0 5px;
    }
    .nav-tabs {
        min-height: 0;
        max-height: 100%;
    }
    #navbar-alpha .navbar-nav > li:last-child .search .glyphicon-search {
        text-align: center;
    }
    .section-title span {
        letter-spacing: 2px;
        font-size: 1.3em;
    }
    .specials .main-btn {
        width: auto;
    }
    .product-desc .title {
        font-size: 1.8em;
    }
    .testimonials {
        padding: 80px 20px;
    }
    .carousel:not('#slider') .carousel-inner {
        max-width: 80%;
        margin: 0 auto;
    }
    .carousel-control .glyphicon-chevron-right {
        right: 75%;
    }
    .testimonials-slider .carousel-control.right {
        right: 0;
    }
    .carousel-control .glyphicon-chevron-left {
        left: 75%;
    }
    .testimonials-slider .carousel-control.left {
        left: 0;
    }
    #navbar-alpha .navbar-nav > li {
        float: left;
    }
    #logo {
        max-width: 170px;
        margin: 0;
        position: relative;
        width: 200px;
    }
    #navbar-alpha .col-md-9 {
        padding: 0 15px;
    }
    .navbar-nav {
        margin: 7.5px 0;
    }
    #navbar-omega a {
        padding: 0 15px;
    }
    #desktop-dropdown .dropdown .nav-links ul {
        border-bottom: 0;
    }
    #desktop-dropdown .dropdown ul li:nth-child(3n) {
        border-right: 1px solid #D2D2D2;
    }
    #desktop-dropdown .dropdown ul li:nth-child(n+7) {
        border-bottom: 1px solid #D2D2D2;
    }
    #desktop-dropdown .dropdown ul li:last-of-type {
        border-top: 0;
    }
    #desktop-dropdown .dropdown ul li {
        width: 50%;
    }
    .search-form {
        top: auto;
        bottom: -6px;
        max-width: 95%;
        right: 2.5%;
    }
    #navbar-alpha .search .glyphicon-remove {
        right: 0;
        left: auto;
        margin-top: -14px;
    }
    #slider .carousel-control .glyphicon-chevron-right {
        right: -25%;
    }
    #slider .carousel-control .glyphicon-chevron-left {
        left: -25%;
    }
    .main .carousel-caption h1 {
        font-size: 2.2em;
        margin: 10px 0 20px;
        line-height: 1.2em;
    }
    .products .tab-pane .fadeInDown {
        opacity: 1;
        -webkit-animation: none;
        animation: none;
    }
    .breadcrumbs .row > div {
        text-align: center;
    }
    .single-product {
        padding: 20px 0;
    }
    .category h3 {
        font-size: 1.8em;
    }
    .category p {
        font-size: 1.2em;
    }
    .category .main-btn {
        font-size: .7em;
    }
    #newsletter .form-group .text-input {
        max-width: 500px;
        width: 100%;
        margin: 10px auto;
        display: block;
        float: none;
    }
    .specials h4 {
        font-size: 2.4em;
    }
    .badges {
        margin: 20px 0 40px !important;
    }
    #footer-navigation .branches > .col-md-6:first-of-type,
    #footer-navigation .branches > .col-md-6:first-of-type ul li:last-child {
        margin-bottom: 0;
    }
    #footer-navigation .branches h5 {
        padding-left: 0;
        margin-top: 0;
    }
    #foundation .col-md-4 {
        margin-top: 10px;
    }
    .main-btn {
        font-size: .7em;
    }
    .side-nav .main-btn {
        display: block;
        line-height: 2.4em;
        margin: 8px 0 10px;
        padding: 8px 0;
        width: 100%;
    }
    #productTabs > li {
        width: 100%;
    }
    #promo-modal .form h5 {
        font-size: 1.4em;
    }
    #promo-modal .modal-dialog {
        top: 55%;
    }
    .auto-calc-details div:last-child {
        display: block;
    }
    .auto-calculator-price {
        margin-bottom: 40px !important;
    }
    .finance-price {
        line-height: 1em;
        margin: 10px 0;
    }
    .block-xs {
        display: block !important;
    }
    .main-btn {
        line-height: 1.1em;
    }
    div[id^=colour-modal] .carousel-inner {
        max-height: 400px !important;
    }
    #master-navigation.stickified .sticky-placeholder {
        display: none;
    }
    .categories .primary-image, .categories .secondary-images {
        max-width: 100% !important;
        float: none;
    }
    .primary-image .category {
        margin-bottom: 5%;
    }
    .nav-tabs {
        min-height: auto !important;
    }
    .detail-tabs.nav-tabs > li {
        width: 100%;
    }
    .detail-tabs.nav-tabs > li > a {
        padding: 12px 8px;
    }
    .category .details {
        -webkit-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        transform: translateY(-25%);
    }
    .navbar-right {
        float: right;
    }
    #logo {
        padding: 16px 0;
    }
    .breadcrumbs, .breadcrumbs .social {
        text-align: center;
    }
    .breadcrumbs .social {
        margin-top: 5px;
    }
    .breadcrumbs {
        padding: 20px 0;
    }
    .breadcrumbs .col-md-8 p, .breadcrumbs .social > p {
        font-size: .6em;
    }
    .breadcrumbs .col-md-8 p > span {
        font-size: 1em;
    }
    .breadcrumbs .col-md-8 span.first {
        margin-left: 10px;
    }
    .breadcrumbs .social i {
        font-size: .8em;
    }
    #navbar-alpha .navbar-nav > li:last-child {
        margin-right: 0;
    }
    .single-product .nav-tabs {
        max-height: 100%;
    }
    .colour-modal-contain.modal .close {
        font-size: 2em;
        right: 0;
        top: -35px;
    }
    div[id^=colour-modal] .carousel-indicators {
        display: none;
    }
    div[id^=colour-modal] .carousel-control {
        opacity: 1;
        bottom: -14%;
        top: auto;
    }
    div[id^=colour-modal] .carousel-control.left {
        left: 0%;
    }
    div[id^=colour-modal] .carousel-control.right {
        right: 0%;
    }
}

@media (max-width: 767px) and (min-width: 500px) {
    #footer-navigation .col-xs-12 {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .detail-tabs.nav-tabs > li {
        width: 100%;
    }
    #clockdiv > span {
        font-size: 1.3em;
    }
    #clockdiv p {
        font-size: .9em;
        margin-bottom: 0;
    }
    .col-xxs-12 {
        width: 100% !important;
    }
    .mt-xxs-10 {
        margin-top: 10px !important;
    }
    .main .carousel-control {
        display: none;
    }
}

@media (max-width: 380px) {
    .promotion #mobi-slide > .close {
        position: fixed;
        right: 0 !important;
        display:none;
    }
    .mast h1 {
        font-size: 2em;
    }
    .side-nav > li .dropdown-trigger {
        padding: 0 15px;
    }
    .side-nav > li .dropdown-trigger:after {
        right: 15px;
    }
    .side-nav .sub-entries li.title, .side-nav .sub-entries li a {
        padding: 0 30px;
    }

}

@media (max-width: 350px) {
    .section-title span {
        position: absolute;
        width: 90%;
        left: 5%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    #mobi-slide {
        width: 100%;
    }
    #mobi-slide .search {
        height: auto;
    }
    .search .text-input {
        max-width: 80%;
        width: 100% !important;
    }
    #mobi-slide .search .main-btn {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .container-custom {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container-custom {
        width: 992px;
    }
}

@media (min-width: 1200px) {
    .container-custom {
        width: 90%;
    }
}
