
	/* overrides... */

	.section-title.grey span
	{
		background-color: #f4f2f2;
	}

	.product.opaque
	{
		opacity: 1;
	}

	@media (max-width: 992px)
	{
		#navbar-alpha .search.active
		{
			right: 0;
		}
	}




	/* main styles... */

	.nav-item-alpha.shopping-cart
	{
		position: relative;

		width: 38px;
		height: 38px;

		background-image: url(../images/icon-cart.png);
		background-size: 25px 20px;
		background-position: center;
		background-repeat: no-repeat;
	}

	.nav-item-alpha.shopping-cart span.number
	{
		position: absolute;
		top: 3px;
		right: -1px;

		font-weight: bold;
		font-size: 9px;
		line-height: 9px;
		text-align: center;

		padding: 3px 0 0 1px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #fff;
		color: #dd6a00;
	}




	/* mast... */

	.mast-breadcrumb
	{
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;

		text-align: center;

		padding: 60px 0;
	}

	.mast-breadcrumb .breadcrumb-text
	{
		text-transform: uppercase;
		font-size: 0.65em;
		letter-spacing: 1px;
		font-weight: 500;
	}

	.mast-breadcrumb .breadcrumb-text,
	.mast-breadcrumb .breadcrumb-text a
	{
		color: #d6d6d6;
	}

	.mast-breadcrumb .breadcrumb-text span
	{
		color: #6d6d6d;
	}

	.mast-breadcrumb .mast-title
	{
		color: #fff;
		font-size: 2.5em;
		text-transform: uppercase;

		letter-spacing: 7.5px;
		font-weight: 500;

		margin: 15px 0 0;
	}




	/* containers... */

	.mattresses-container.intro
	{
		min-height: 600px;
		background-image: url(../images/bg-mattresses.jpg);
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
	}

	.mattresses-container.big-rotator
	{
		background-color: #fff;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.mattresses-container.best-sellers,
	.mattresses-container.adverts
	{
		padding-top: 50px;
		padding-bottom: 50px;
	}




	/* main feature... */

	.mattresses-container .main-details
	{
		padding: 30px 0 50px;
		text-align: center;
	}

	.mattresses-container .main-details .moon-and-stars
	{
		display: inline-block;
		margin: 30px 0 15px;

		width: 50px;
		height: 50px;
		background-image: url(../images/icon-moon-stars.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.mattresses-container .main-details .main-mattress-title
	{
		color: #fff;
		text-transform: uppercase;
		font-size: 1.65em;
		letter-spacing: 5.5px;
		padding: 0 25%;
	}

	.mattresses-container .main-details .main-mattress-price
	{
		font-family: serif;
		font-style: italic;
		color: #b1b1b1;
		font-weight: bold;
		font-size: 0.9em;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		margin: 10px 0 20px;
	}

	.mattresses-container .col-sm-4
	{
		padding-left: 35px;
		padding-right: 35px;
	}

	.mattresses-container .mattress-feature
	{
		text-align: center;
		padding-bottom: 45px;
	}

	.mattresses-container .mattress-feature .main-image
	{
		position: relative;
		padding: 15px;
	}

	.mattresses-container .mattress-feature .main-image img.non-circle
	{
		position: absolute;
		margin-top: -76px;
		top: 50%;
		left: 0;

		-webkit-transition: all ease-out 0.25s;
		-moz-transition: all ease-out 0.25s;
		transition: all ease-out 0.25s;
	}

	.mattresses-container .mattress-feature:hover .main-image img.non-circle
	{
		transform: scale(1.02, 1.02);
	}

	.mattresses-container .mattress-feature .main-title
	{
		color: #fff;
		font-weight: bold;
		font-size: 1.05em;
		margin: 0 0 15px;
	}

	.mattresses-container .mattress-feature .main-title,
	.mattresses-container .mattress-feature .main-btn.squished
	{
		opacity: 0;

		-webkit-transition: all ease-out 0.35s;
		-moz-transition: all ease-out 0.35s;
		transition: all ease-out 0.35s;
	}

	.mattresses-container .mattress-feature:hover .main-title,
	.mattresses-container .mattress-feature:hover .main-btn.squished
	{
		opacity: 1;
	}




	/* rotators... */

	.big-rotator .rotator-slides
	{
		position: relative;
		overflow: hidden;
	}

	.big-rotator .rotator-slides .rotator-slide
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		display: none;
	}

	.big-rotator .rotator-slides .rotator-slide-placeholder
	{
		visibility: hidden;
		padding-bottom: 20px;
	}

	.big-rotator .rotator-slides .arrows .left-arrow,
	.big-rotator .rotator-slides .arrows .right-arrow
	{
		position: absolute;
		top: 50%;
		margin-top: -16px;
		left: 0px;

		width: 18px;
		height: 33px;

		background-image: url(../images/left-right-arrows.png);
		background-size: 36px 33px;
		background-position: -18px 0px;

		cursor: pointer;
	}

	.big-rotator .rotator-slides .arrows .right-arrow
	{
		background-position: 0px 0px;
		left: auto;
		right: 0px;
	}




	/* search page... */

	.mattresses-search-main-container
	{
		padding: 45px 0 30px;
	}

	.filter-expanders-container
	{
		padding-top: 60px;
	}

	.filter-plain,
	.filter-expander
	{
		background-color: #fff;
	}

	.filter-plain a
	{
		display: block;

		padding: 18px 0;
		color: #e07818;
		font-size: 0.75em;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.filter-expander
	{
		display: none;

		cursor: pointer;
	}

	.filter-expander .expander-title
	{
		background-color: #373737;
		color: #fff;

		letter-spacing: 2px;
		font-size: 0.75em;
		font-weight: bold;
		text-transform: uppercase;

		background-image: url(../images/selection-expander-icons.png);
		background-repeat: no-repeat;
		background-size: 87px 243px;
		background-position-x: right;
		background-position-y: -157px;

		padding: 18px 14px;
	}

	.filter-expander.open .expander-title
	{
		background-position-y: -35px;
	}

	.filter-expander .expander-contents
	{
		display: none;
	}

	.filter-expander .filter
	{
		border: 1px solid #f2f2f2;
		border-style: none none solid;

		padding: 18px 14px 18px 45px;
		color: #222222;
		font-size: 0.75em;
		font-weight: 400;
		letter-spacing: 1px;

		cursor: pointer;

		background-image: url(../images/selection-tick-icons.png);
		background-size: 80px 160px;
		background-repeat: no-repeat;
		background-position: -17px -95px;

		-webkit-transition: background-color 0.15s linear;
		-moz-transition: background-color 0.15s linear;
		transition: background-color 0.15s linear;
	}

	.filter-expander .filter.active
	{
		background-position: -17px -15px;
	}

	.filter-expander .filter:hover
	{
		background-color: #f6f6f6;
	}

	.items-master-filters
	{
		border: 1px solid #dddddd;
		border-style: none none solid;
		margin: 0 0 20px;
		padding: 0 0 20px;
	}

	.items-master-filters .master-types > div
	{
		padding: 3px 0;

		display: inline-block;
		vertical-align: top;

		font-size: 0.7em;
		letter-spacing: 1.1px;
		font-weight: 500;
		color: #222;
	}

	.items-master-filters .master-types > div.selector
	{
		margin: 0 0 0 25px;
		padding: 3px 0 3px 22px;

		background-image: url(../images/selection-tick-icons.png);
		background-size: 80px 160px;
		background-repeat: no-repeat;
		background-position: -31px -110px;

		cursor: pointer;
	}

	.items-master-filters .master-types > div.selector.active
	{
		background-position: -31px -30px;
		color: #e07818;
	}

	.items-master-filters .master-ordering > .dropdown-accompanying,
	.items-master-filters .master-ordering > .dropdown-clickable
	{
		display: inline-block;
		vertical-align: middle;
	}

	.items-master-filters .master-ordering > .dropdown-accompanying
	{
		font-size: 0.7em;
		letter-spacing: 1.1px;
		font-weight: 500;
		color: #222;
		text-transform: uppercase;
	}

	.items-master-filters .master-ordering > .dropdown-clickable
	{
		border: 1px solid #ebebeb;

		font-size: 0.7em;
		letter-spacing: 1.1px;
		font-weight: 500;
		color: #adadad;
		background-color: #fff;

		padding: 10px 15px;
		margin: -10px 0 -10px 10px;

		width: 155px;
		cursor: pointer;

		background-image: url(../images/down-arrow-black.png);
		background-size: 11px 6px;
		background-position: 130px 14px;
		background-repeat: no-repeat;
	}

	.items-master-filters .master-ordering ul.dropdown-menu
	{
		border: 1px solid #ebebeb;
		border-radius: 0px;

		width: 155px;
		min-width: auto;
		top: 25px;

		font-size: 0.7em;
		letter-spacing: 1.1px;
		font-weight: 500;
		color: #adadad;
		background-color: #fff;
	}

	.items-master-filters .master-ordering ul.dropdown-menu li
	{
		padding: 5px 15px;
		cursor: pointer;
	}

	.items-master-filters .master-ordering ul.dropdown-menu li:hover
	{
		color: #e07818;
	}

	.items-static-store
	{
		display: none;
	}

	.items-dynamic-store .item
	{
		position: relative!important;
		top: auto!important;
		left: auto!important;
	}
	
	.items-dynamic-store .product-details
	{
		height: 83px;
	}




	/* mattress details page... */

	.spyglass
	{
		position: relative;
		display: none;
	}

	.spyglass .spyglass-glass
	{
		border: 2px solid #ccc;
		z-index: 10;

		top: 0;
		left: 0;

		position: absolute;
		border-radius: 50%;
		width: 230px;
		height: 230px;

		display: none;
	}

	.spyglass .spyglass-curtain
	{
		position: absolute;
		top: 0;
		left: 0;

		z-index: 11;

		width: 100%;
		height: 100%;

		background-color: transparent;
		opacity: 0;
	}

	.spyglass-thumbs
	{
		text-align: center;
		margin-top: -15px;
		position: relative;
	}

	.spyglass-thumbs .thumb
	{
		display: inline-block;
		border: 2px solid #d1d1d1;
		border-radius: 2px;
		margin: 0px 5px 10px;
		cursor: pointer;
	}

	.spyglass-thumbs .thumb img
	{
		width: 65px;
	}

	section.mattress-main-details
	{
		padding: 50px 0;
	}

	section.mattress-main-details .main-details .badge
	{
		padding: 5px 10px;
		font-size: 10px;
		margin-bottom: 15px;
	}

	section.mattress-main-details .main-details h3
	{
		font-size: 1.6em;
		font-weight: 500;
		letter-spacing: 3.5px;
		margin-bottom: 10px;
	}

	section.mattress-main-details .main-details .price > div
	{
		display: inline-block;
		vertical-align: middle;
	}

	section.mattress-main-details .main-details .price .main-price
	{
		font-size: 1.2em;
		font-weight: bold;
		color: #636363;
	}

	section.mattress-main-details .main-details .price .price-details
	{
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		color: #12b763;
		margin-left: 15px;
	}

	section.mattress-main-details .main-details p
	{
		font-size: 0.8em;
		letter-spacing: 0.2px;
		color: #7b7b7b;
		line-height: 1.4em;
	}

	section.mattress-main-details .main-details p.small
	{
		font-size: 0.7em;
		text-transform: uppercase;
		letter-spacing: 0.2px;
		color: #7b7b7b;
		line-height: 1.3em;
	}

	section.mattress-main-details .main-details .award-badges
	{
		margin: -3px 0;
	}

	section.mattress-main-details .main-details .award-badges img
	{
		width: 50px;
		display: inline-block;
		vertical-align: middle;
		margin: 3px 6px 3px 0;
	}

	section.mattress-main-details .main-details .dropdown button,
	.payment-select .dropdown button
	{
		border: 1px solid #d5d5d5;
		background-color: #fff;
		color: #666;
		font-size: 0.7em;
		text-transform: uppercase;
		letter-spacing: 0.2px;
		padding: 13px 22px;
		width: 180px;
		text-align: left;
	}

	section.mattress-main-details .main-details .dropdown button span.caret,
	.payment-select .dropdown button span.caret
	{
		float: right;
		margin: 3px 0 0;
	}

	section.mattress-main-details .main-details .dropdown ul.dropdown-menu,
	.payment-select .dropdown ul.dropdown-menu
	{
		width: 180px;
		min-width: auto;
		max-width: auto;

		border-radius: 0px;
		border: 1px solid #d5d5d5;
		background-color: #fff;
	}

	section.mattress-main-details .main-details .dropdown ul.dropdown-menu li,
	.payment-select .dropdown ul.dropdown-menu li
	{
		color: #666;
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 0.2px;
		padding: 8px 22px;

		cursor: pointer;
	}

	section.mattress-main-details .main-details .buy-now > *
	{
		display: inline-block;
		vertical-align: bottom;
		margin-right: 5px;
		margin-bottom: 5px;
	}

	section.mattress-main-details .main-details .product-disclaimer
	{
		font-size: 11px;
		color: #bebebe;
		line-height: 13px;
		letter-spacing: 0.3px;
	}

	section.mattress-main-details .main-details hr
	{
		border-color: #dedede;
	}

	/* ***** */

	section.product-specifications
	{
		background-color: #fff;
		padding: 50px 0;
	}

	section.product-specifications .tabs-container-custom
	{
		width: 80%;
		max-width: 800px;
		margin: 0 auto;
	}

	section.product-specifications .tabs-container-custom .tabs-inner
	{
		padding-left: 30px;
		padding-right: 30px;
	}

	section.product-specifications .tabs-container-custom .tabs
	{
		margin-left: -30px;
		margin-right: -30px;
	}

	section.product-specifications .tabs-container-custom .tabs .tab
	{
		float: left;
		width: 33%;
		padding: 0 30px;
	}

	section.product-specifications .tabs-container-custom .tabs .tab div
	{
		position: relative;
		text-align: center;

		color: #000;
		text-transform: uppercase;
		font-size: 0.85em;
		font-weight: 500;
		letter-spacing: 1px;

		padding: 15px 0;
		cursor: pointer;

		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	section.product-specifications .tabs-container-custom .tabs .tab.active div span
	{
		position: relative;
		z-index: 2;
	}

	section.product-specifications .tabs-container-custom .tabs .tab div:after
	{
		content: '';
		display: block;

		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;

		background-color: #b2b2b2;
		width: 100%;
		height: 5px;

		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}

	section.product-specifications .tabs-container-custom .tabs .tab div:hover:after
	{
		background-color: #db6d07;
	}

	section.product-specifications .tabs-container-custom .tabs .tab.active div
	{
		color: #fff;
	}

	section.product-specifications .tabs-container-custom .tabs .tab.active div:after
	{
		background-color: #db6d07;
		height: 100%;
	}

	section.product-specifications .tabs-container-custom .tab-content
	{
		clear: both;
	}

	section.product-specifications .tabs-container-custom .tab-content div
	{
		padding: 30px 0 0;
		font-size: 0.9em;
		letter-spacing: 0.4px;
		color: #4c4c4c;

		display: none;
	}

	/* ***** */

	section.ecommerce-banner
	{
		padding: 50px 0;
	}

	section.ecommerce-banner img.banner-logo
	{
		max-height: 65px;
	}

	section.ecommerce-banner .banner-container
	{
		padding: 40px;
		background-size: cover;
		text-align: right;
	}

	section.ecommerce-banner .banner-container .ecommerce-box
	{
		text-align: left;
		width: 280px;
		background-color: #fff;
		padding: 20px;
		display: inline-block;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .thumbnail-container
	{
		clear: both;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .thumbnail-container .thumb
	{
		float: left;
		width: 50%;
		padding-right: 6px;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .thumbnail-container .thumb img
	{
		width: 100%;
		padding: 3px;
		border: 1px solid #ccc;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .thumbnail-container .product-details
	{
		float: left;
		width: 50%;
		padding-left: 6px;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .thumbnail-container .product-details h4
	{
		margin-bottom: 10px;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .thumbnail-container .product-details .price .main-price
	{
		font-size: 0.9em;
		font-weight: bold;
		margin-bottom: 10px;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .thumbnail-container .product-details .price .price-details
	{
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		color: #12b763;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .inadvertent-label:before
	{
		content: '';
		display: block;
		clear: both;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .inadvertent-label,
	section.ecommerce-banner .banner-container .ecommerce-box .dropdown button,
	section.ecommerce-banner .banner-container .ecommerce-box .main-btn
	{
		margin: 0 auto;
		width: 84%;
		display: block;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .inadvertent-label
	{
		margin: 18px auto 10px;

		color: #c4c4c4;
		text-transform: uppercase;
		font-size: 9px;
		letter-spacing: 0.5px;
		font-weight: 500;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .dropdown button
	{
		margin: 0px auto 10px;

		border: 1px solid #d5d5d5;
		background-color: #fff;
		color: #666;
		font-size: 0.7em;
		text-transform: uppercase;
		letter-spacing: 0.2px;
		padding: 13px 22px;
		text-align: left;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .dropdown button span.caret
	{
		float: right;
		margin-top: 5px;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .dropdown ul.dropdown-menu
	{
		width: 84%;
		min-width: auto;
		max-width: auto;
		left: 8%;

		border-radius: 0px;
		border: 1px solid #d5d5d5;
		background-color: #fff;
	}

	section.ecommerce-banner .banner-container .ecommerce-box .dropdown ul.dropdown-menu li
	{
		color: #666;
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 0.2px;
		padding: 8px 22px;

		cursor: pointer;
	}

	/* ***** */

	.badges-feature
	{
		padding: 60px 0;
		background-color: #fff;
	}

	.badges-feature h3
	{
		font-size: 1.5em;
		text-align: center;
		text-transform: uppercase;
	}

	.badges-feature .feature
	{
		text-align: center;
	}

	.badges-feature .feature .badge-icon
	{
		margin: 35px 0 25px;
	}

	.badges-feature .feature .badge-icon img
	{
		width: 70px;
	}

	.badges-feature .feature .badge-description
	{
		padding: 0 30px;
		font-size: 0.8em;
		line-height: 1.3em;
		letter-spacing: 0.4px;
		color: #7f7f7f;
	}

	/* ***** */

	.related-products.grey
	{
		background-color: transparent;
	}




	/* cart page... */

	.cart-title-bar
	{
		background-color: #fff;
		border: 2px solid #efefef;
		border-style: none none solid;
		padding: 30px 0;
	}

	.cart-title-bar table
	{
		width: 100%;
	}

	.cart-title-bar table td
	{
		width: 33.3333333333%;
		vertical-align: middle;
	}

	.cart-title-bar table td.returns-text
	{
		/*background-image: url(../images/icon-return.png);*/
		background-repeat: no-repeat;
		background-size: 22px 17px;
		background-position: left;
		/*padding-left: 30px;*/
	}

	.cart-title-bar table td.returns-text a
	{
		color: #858585;
		font-size: 0.65em;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 0.7px;
		
		cursor: default;
	}

	.cart-title-bar table td.your-cart-text
	{
		color: #000;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.2em;
		letter-spacing: 0.8px;
	}

	.cart-title-bar table td.continue-shopping-text
	{
		font-size: 0.9em;
		font-weight: 600;
		letter-spacing: 0.7px;
	}

	.cart-title-bar table td.continue-shopping-text a
	{
		color: #e48833;
	}

	.cart-line-items
	{
		background-color: #fff;
		padding: 20px 0 50px;
	}

	.line-item
	{
		margin: 35px 0 0;
	}

	.line-item:after
	{
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}

	.line-item .item-title
	{
		color: #000;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: 1.1px;
		font-size: 1.2em;
	}

	.line-item .item-price
	{
		color: #666;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 1px;
		font-size: 1.1em;
	}

	.line-item .pull-left.quantity
	{
	}

	.line-item .dropdown button
	{
		border: 1px solid #d5d5d5;
		background-color: #fff;
		color: #666;
		font-size: 0.7em;
		text-transform: uppercase;
		letter-spacing: 0.2px;
		padding: 13px 22px;
		width: 180px;
		text-align: left;
	}

	.line-item .dropdown button span.caret
	{
		float: right;
		margin: 3px 0 0;
	}

	.line-item .dropdown ul.dropdown-menu
	{
		width: 180px;
		min-width: auto;
		max-width: auto;
		border-radius: 0px;
		border: 1px solid #d5d5d5;
		background-color: #fff;
	}

	.line-item .dropdown ul.dropdown-menu li
	{
		color: #666;
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 0.2px;
		padding: 8px 22px;
		cursor: pointer;
	}

	.line-item p.small
	{
		font-size: 0.7em;
		text-transform: uppercase;
		letter-spacing: 0.2px;
		color: #959595;
		line-height: 1.3em;
	}

	.line-item p.small.black
	{
		font-size: 0.8em;
		font-weight: 600;
		letter-spacing: 0.7px;
		color: #000;
		line-height: 1.1em;
	}

	.line-item .input-group
	{
		width: 108px;
	}

	.line-item .input-group button
	{
		padding: 9px 15px;
	}

	.line-item .input-group .input-qty
	{
		width: 45px;
		height: auto;
		padding: 9px 5px;
		text-align: center;
	}

	.line-item .remove-item
	{
		background-color: #ffcccc;
		border-radius: 50%;
		width: 27px;
		height: 27px;
		display: block;
		color: #fff;
		text-align: center;
		padding: 0;
		font-size: 19px;
		line-height: 19px;
		margin: 38px 0 0;
		border: none;
	}

	.line-item .remove-item.inline
	{
		display: inline-block;
		margin: 0 0 0 10px;
	}

	.line-item .small-orange,
	.line-item .medium-orange,
	.line-item .large-orange
	{
		color: #e48833;
		font-weight: 600;
	}

	.line-item .small-orange
	{
		font-size: 0.65em;
		letter-spacing: 0.5px;
	}

	.line-item .medium-orange
	{
		font-size: 0.9em;
		letter-spacing: 1px;
	}

	.line-item .large-orange
	{
		font-size: 1.2em;
		letter-spacing: 1px;
	}

	.line-item .pull-left.total-amount
	{
		margin-left: 40px;
	}

	.line-item hr
	{
		border-width: 2px;
		border-color: #efefef;
	}

	.same-as-billing
	{
		position: absolute;
		top: 0;
		right: 15px;
	}

	.form-errors
	{
		color: #c00;
		font-size: 11px;
		margin: 3px 0 0;
	}
	
	.add-pillows-container
	{
		background-color: #f9f9f9;
		padding: 55px 0;
		display: none;
	}
	
	.add-pillows-container h4
	{
		text-align: center;
		font-weight: bold;
		letter-spacing: 1.1px;
		margin: 0 0 55px;
		text-transform: none;
		font-size: 1.2em;
		line-height: 1.4em;
	}
	
	.add-pillows-container h5
	{
		font-weight: bold;
		margin: 0 0 15px;
	}
	
	.add-pillows-container p
	{
		font-size: 0.75em;
		color: #000;
		line-height: 1.2em;
		margin: 0;
	}
	
	.add-pillows-container div.price
	{
		font-weight: bold;
		margin: 15px 0 25px;
	}
	
	.add-pillows-container .pillow-icon
	{
		width: 65px;
	}
	
	.add-pillows-container .main-btn
	{
		background-color: #000;
		font-size: 0.6em;
	}




	/* cart footer container for mobile... */

	.mobile-cart-footer
	{
		position: fixed;
		display: none;

		bottom: 0px;
		left: 0px;
		width: 100%;

		background-color: #000;
		padding: 25px 0 35px;
		z-index: 100;
	}

	.mobile-cart-footer table
	{
		color: #fff;
	}

	.mobile-cart-footer table th
	{
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		padding: 0 17px 0 0;
	}

	.mobile-cart-footer table td
	{
		font-size: 16px;
		font-weight: bold;
		padding: 6px 17px 0 0;
		font-weight: 500;
		vertical-align: top;
		letter-spacing: 0.5px;
	}

	.mobile-cart-footer table td .tiny-text
	{
		font-size: 8px;
		font-weight: 500;
		text-transform: uppercase;
	}

	.mobile-cart-footer .subtext
	{
		color: #808080;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 500;
		margin: 12px 0 0;
	}

	.mobile-cart-footer .pull-left,
	.mobile-cart-footer .pull-right
	{
		float: none!important;
	}

	.mobile-cart-footer .pull-right
	{
		padding: 30px 0 0;
	}

	.mobile-cart-footer-spacer
	{
		display: none;
		height: 180px;
	}




	/* media queries... */

	@media (min-width: 1200px)
	{
		.mattresses-container.intro
		{
			min-height: 800px;
		}

		.mattresses-container .mattress-feature .main-image
		{
			padding: 25px;
		}

		.mattresses-container .mattress-feature .main-image img.non-circle
		{
			margin-top: -96px;
		}
	}

	@media (min-width: 992px) and (max-width: 1199px)
	{
		.filter-expanders-container
		{
			padding-top: 113px;
		}

		.items-master-filters .master-ordering,
		.items-master-filters .master-types
		{
			float: none!important;
			display: block;
		}

		.items-master-filters .master-ordering
		{
			margin: 25px 0 10px;
		}
	}

	@media (max-width: 991px)
	{
		.filter-expanders-container
		{
			padding-top: 0px;
		}

		.items-master-filters .master-ordering,
		.items-master-filters .master-types
		{
			float: none!important;
			display: block;
		}

		.items-master-filters .master-ordering
		{
			margin: 25px 0 10px;
		}

		.items-master-filters .master-types
		{
			margin-top: 40px;
		}

		.mattresses-container.intro
		{
			height: auto;
		}

		.mattresses-container .mattress-feature .main-image img.non-circle
		{
			margin-top: -54px;
		}

		#navbar-alpha .nav-item-alpha.shopping-cart
		{
			width: 30px;
			height: 30px;
			margin-top: 10px;
		}

		/* ***** */

		section.product-specifications
		{
			padding: 40px 0;
		}

		section.product-specifications .tabs-container-custom
		{
			width: 95%;
		}

		section.product-specifications .tabs-container-custom .tabs-inner
		{
			padding-left: 20px;
			padding-right: 20px;
		}

		section.product-specifications .tabs-container-custom .tabs
		{
			margin-left: -20px;
			margin-right: -20px;
		}

		section.product-specifications .tabs-container-custom .tabs .tab
		{
			padding: 0 20px;
		}
	}

	@media (max-width: 767px)
	{
		.items-master-filters .master-types > div
		{
			display: block;
		}

		.items-master-filters .master-types > div.selector
		{
			margin: 6px 0 0 0;
		}

		.mattresses-container .mattress-feature .main-title,
		.mattresses-container .mattress-feature .main-btn.squished
		{
			opacity: 1;
		}

		.mattresses-container .mattress-feature .main-image
		{
			width: 280px;
			height: 280px;

			margin-left: auto;
			margin-right: auto;
		}

		.mattresses-container .mattress-feature .main-image img.non-circle
		{
			margin-top: -84px;
		}

		.spyglass-thumbs .thumb img
		{
			width: 50px;
		}

		.mattress-main-details form .buy-now > *
		{
			margin-bottom: 5px;
		}

		section.product-specifications .tabs-container-custom .tabs .tab
		{
			float: none;
			display: block;
			width: 100%;
			margin-bottom: 10px;
		}

		section.ecommerce-banner .banner-container
		{
			padding: 30px 0;
		}

		section.ecommerce-banner .banner-container .ecommerce-box
		{
			display: block;
			margin: 0 auto;
		}

		/* ***** */

		.mobile-cart-footer,
		.mobile-cart-footer-spacer
		{
			display: block;
		}
	}
