
	.countdown-mast
	{
		position: relative;
		color: #fff;
	}

	.countdown-timer
	{
		position: absolute;
		width: 100%;
		bottom: 50px;
		text-align: center;
	}
	
	.countdown-timer .heading
	{
		text-transform: uppercase;
		font-size: 1.8em;
		letter-spacing: 0.5px;
		margin: 0 auto 50px;
		max-width: 1000px;
	}
	
	.countdown-timer .countdown
	{
		font-weight: bold;
		font-size: 33px;
		letter-spacing: 1.5px;
		margin: 5px 0 0;
	}

	.countdown-timer .countdown .time-container {
		position: relative;
		display: inline-block;
	}
	
	.countdown-timer .countdown .bg {
		background: #DB6A02;
		margin: 0 4px;
		color: #FFF;
		padding: 5px;
	}

	.countdown-timer .countdown span.text {
		display: block;
		position: relative;
		top: -30px;
		font-size: .35em;
		text-transform: uppercase;
	}

	.countdown-timer .countdown .colon-seperator::before {
		content: ':';
		position: relative;
		width: 5px;
		height: 100%;
		top: 0;
		left: 6px;
		margin: 0 4px;
		color: #DB6A02;
		border-radius: 50%;
	}
	.countdown-timer .countdown .colon-seperator b {
		display: none;
		position: relative;
		width: 5px;
		height: 100%;
		top: 0;
		left: 3px;
		margin: 0 4px;
		color: #DB6A02;
	}

	.no-svg .countdown-timer .countdown .colon-seperator b {
		display: inline-block;
	}

	.promotions-grid-container .container
	{
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.promotions-grid
	{
		margin-left: -20px;
		margin-right: -20px;
	}
	
	.promotions-grid-item
	{
		width: 50%;
		padding: 20px;
		cursor: pointer;
		display:inline-block;
	}
	
	.promotions-grid-item .image-container
	{
		position: relative;
	}
	
	.promotions-grid-item .image-container .bottom-border
	{
		width: 100%;
		height: 128px;
		position: absolute;
		bottom: 0;
		left: 0;
		background-image: url(../images/promo-border-bottom.png);
		
		-webkit-transition: opacity 0.2s ease-out;
		transition: opacity 0.2s ease-out;
		
		opacity: 0;
	}
	
	.promotions-grid-item .image-container .button-container
	{
		width: 100%;
		text-align: center;
		
		position: absolute;
		bottom: 20px;
		left: 0;
		
		-webkit-transition: opacity 0.2s ease-out;
		transition: opacity 0.2s ease-out;
		
		opacity: 0;
	}
	
	.promotions-grid-item .image-container .button-container button
	{
		background: rgba(221, 106, 0, 1);
		padding: 14px 20px;
		color: #fff;
		border: none;
		outline: none;
		font-size: .9em;
		line-height: 1em;
		letter-spacing: 2px;
		cursor: pointer;
		text-shadow: none;
		text-align: center;
		text-transform: uppercase;
		border-radius: 3px;
		transition: all .25s;
	}
	
	.promotions-grid-item:hover .image-container .bottom-border
	{
		opacity: 0.55;
	}
	
	.promotions-grid-item:hover .image-container .button-container
	{
		opacity: 1;
	}
	
	.pattern-detail-container
	{
		color: #ffffff;
		padding: 16px 0 17px 35px;
	}
	
	.pattern-detail-container:after
	{
		content: '';
		display: block;
		clear: both;
	}
	
	.pattern-detail-container .name-container,
	.pattern-detail-container .price-container
	{
		float: left;
	}
	
	.pattern-detail-container .name-container
	{
		width: 57%;
	}
	
	.pattern-detail-container .name-container .main
	{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 1.1px;
		margin: 0 0 7px;
	}
	
	.pattern-detail-container .name-container .secondary
	{
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 1px;
	}
	
	.pattern-detail-container .price-container .main
	{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 21px;
		letter-spacing: 2px;
		margin: 3px 0 0;
	}
	
	.pattern-detail-container .price-container .secondary
	{
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 1px;
		font-weight: bold;
		text-decoration: line-through;
	}
	
	
	
	
	/* modal... */
	
	.promotions-modal-curtain
	{
		position: fixed;
		width: 100%;
		height: 100%;
		
		z-index: 2000;
		background-color: #fff;
		opacity: 0.85;
		
		top: 0;
		left: 0;
		
		display: none;
	}
	
	.promotions-modal-container
	{
		position: fixed;
		width: 100%;
		top: 50px;
		
		z-index: 2001;
		
		display: none;
	}
	
	.promotions-modal-container:after
	{
		content: '';
		clear: both;
		display: block;
	}
	
	.promotions-modal-container .form-container
	{
		float: left;
		width: 350px;
		overflow: hidden;
		height: 600px;
		position:relative;
	}
	
	.promotions-modal-container .form-container .inner-form-container
	{
		position: absolute;
		height: 550px;
		width: 350px;
		background-position: center;
		
		top: 25px;
		left: 100%;
		z-index: 10;

		padding: 35px;
		-webkit-transition: all .35s;
		transition: all .35s;
	}

/* 	.promotions-modal-container .form-container .inner-form-container.first
	{
		left: 0;
	} */
	.promotions-modal-container .form-container .inner-form-container.in
	{
		left: 0 !important;
		z-index: 11;
	}
	
	.promotions-modal-container .form-container .inner-form-container h3
	{
		color: #fff;
		letter-spacing: 0.6px;
		font-size: 1.35em;
		line-height: 1.45em;
		font-weight: 500;
	}

	.promotions-modal-container .form-container .inner-form-container .form-scroller {
		cursor: pointer;
		margin: 5px auto;
		display: block;
		width: auto;
		font-size: 1.2em;
		color: #FFF;
		text-align: center;
		font-weight: bold;
	}
	
	.promotions-modal-container .form-container .inner-form-container input[type="text"],
	.promotions-modal-container .form-container .inner-form-container input[type="email"],
	.promotions-modal-container .form-container .inner-form-container textarea
	{
		border-radius: 0px;
		border: none;
		box-shadow: none;
		padding: 12px 17px;
		height: auto;
		font-size: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	.promotions-modal-container .form-container .inner-form-container textarea
	{
		height: 110px;
	}
	
	.promotions-modal-container .form-container .inner-form-container input[type="submit"]
	{
		display: block;
		text-align: center;
		color: #fff;
		font-size: 0.7em;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-radius: 0px;
		border: none;
		width: 100%;
		padding: 12px;
	}
	
	.promotions-modal-container .form-container .inner-form-container .tiny-text
	{
		font-size: 9px;
		color: #f5f5f5;
		text-align: center;
		margin: 10px 0 0;
		letter-spacing: 0.3px;
		display: none;
	}
	
	.promotions-modal-container .link-container
	{
		height: 25px;
	}
	
	.promotions-modal-container .link-container span
	{
		text-transform: uppercase;
		font-size: 13px;
		font-weight: bold;
		cursor: pointer;
	}
	.promotions-modal-container .form-container .inner-form-container.sandbox {
		left: 0;
		height: 100%;
	}
	.promotions-modal-container .form-container .inner-form-container .custom-message {
		position: absolute;
		top: 0;
		left:0;
		opacity: 0;
		z-index: 9;
		height: 100%;
		width: 100%;
		padding: 20px;
		overflow: hidden;
		-webkit-transition: all .4s;
		-moz-transition: all .4s;
		transition: all .4s;
	}
	.promotions-modal-container .form-container .inner-form-container .custom-message.visible {
		opacity: 1;
	}
	.promotions-modal-container .form-container .inner-form-container .custom-message p {
		font-family: Helvetica,arial,sans-serif;
		font-size: 1.1em;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.promotions-modal-container .form-container .inner-form-container .custom-message li {
		font-family: Helvetica,arial,sans-serif;
		font-weight:500;
		line-height: 1.4em;
	}
	.promotions-modal-container .form-container .inner-form-container.sandbox .form-generic {
		position: relative;
		z-index: 10;
		-webkit-transition: all .4s;
		-moz-transition: all .4s;
		transition: all .4s;
	}
	
	
	
	/* slides... */
	
	.slides-container
	{
		width: 575px;
		float: left;
		margin: 0 15px 0 0;
		
		position: relative;
	}
	
	.slides-container .slides
	{
		background-color: #fff;
		position: relative;
	}
	
	.slides-container .slides .slide
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 1;
		transition: all 1s;
		visibility: hidden;
	}
	
	.slides-container .slides .slide.active
	{
		opacity: 1;
		position: relative;
		visibility: visible;
	}
	
	.slide .image-container
	{
		position: relative;
		width: 100%;
		background-position: top;
		background-size: cover;
	}
	
	.slide .price-details-container
	{
		position: relative;
		width: 100%;
		overflow: hidden;
	}
	
	.slide .price-details-container .left-half
	{
		color: #fff;
	}
	
	.slide .price-details-container .left-half .inner-container,
	.slide .price-details-container .right-half .inner-container
	{
		height: 120px;
	}
	
	.price-details-container .left-half .old-price
	{
		padding: 18px 0 7px 25px;
		letter-spacing: 1.5px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.price-details-container .left-half .new-price
	{
		font-size: 54px;
		font-weight: bold;
		padding: 0 0 0 25px;
		line-height: 42px;
	}
	
	.price-details-container .left-half .extra-price
	{
		padding: 7px 0 0 25px;
		letter-spacing: 1.1px;
		font-size: 13px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.slide .price-details-container .right-half
	{
		position: absolute;
		right: -4%;
		top: 0;
		width: 64%;
	}
	
	.slide .price-details-container .right-half .inner-container
	{
		background-color: #fff;		
		box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.4);
	}
	
	.slide .price-details-container .right-half .straightener
	{
		padding: 0 29px 0 25px;
	}
	
	.right-half .straightener .finance-header
	{
		padding: 18px 0 5px;
		letter-spacing: 1.5px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.right-half .straightener .finance-line
	{
		height: 4px;
		background-color: #fff!important;
	}
	
	.right-half .straightener .finance-price
	{
		vertical-align: middle;
		font-size: 33px;
		font-weight: bold;
		line-height: 38px;
		display: inline-block;
		padding: 1px 4px 1px 0;
	}
	
	.right-half .straightener .finance-desc
	{
		vertical-align: middle;
		display: inline-block;
		font-size: 10px;
		font-weight: bold;
	}
	
	
	
	
	/* large displays... */
	
	@media (min-width:1200px)
	{
		.price-details-container .left-half .old-price			{ padding: 18px 0 7px 45px; }
		.price-details-container .left-half .new-price			{ padding: 0 0 0 45px; }		
		.price-details-container .left-half .extra-price			{ padding: 7px 0 0 45px; }
		.slide .price-details-container .right-half				{ right: -3%; width: 58%; }
		.slide .price-details-container .right-half .straightener	{ padding: 0 55px 0 45px; }
		.right-half .straightener .finance-price					{ font-size: 45px; line-height: 41px; padding: 1px 3px 1px 0; }
		.promotions-modal-container .slides-container			{ width: 775px; }
	}
	
	@media (max-width: 992px) 
	{
		.promotions-modal-container .form-container .inner-form-container {
			width: 100%;
		}
	}

	@media (min-width:768px) and (max-width:991px)
	{
		.pattern-detail-container .name-container	{ width: 55%; padding-right: 30px; }
	
		.promotions-modal-container											{ margin-top: 0px; padding-top: 25px; padding-bottom: 40px; top: 0; height: 100%; overflow-y: auto; }
		.slides-container													{ width: auto; margin: 0 0 20px; float: none; }
		.promotions-modal-container .form-container							{ width: auto; float: none; }
		.promotions-modal-container .form-container .inner-form-container	{ height: auto; }
		
		.promotions-modal-container .link-container							{ height: 30px; }
		.promotions-modal-container .link-container span						{ font-size: 16px; }
		.promotions-modal-container .link-container .pull-left				{ width: 33%; }
		.promotions-modal-container .link-container .pull-left.visible-xs	{ text-align: center; }
		.promotions-modal-container .link-container .pull-right				{ width: 33%; text-align: right; }
	}
	
	@media (max-width:767px)
	{
		.promotions-grid-item										{ width: 100%; }
		.promotions-grid-item:hover .image-container .bottom-border	{ opacity: 0.55; }
		.promotions-grid-item .image-container .button-container		{ opacity: 1; }
		
		.promotions-modal-container						{ margin-top: 0px; padding-top: 25px; padding-bottom: 40px; top: 0; height: 100%; overflow-y: auto; }
		.slides-container								{ width: auto; margin: 0 0 20px; float: none; }
		.promotions-modal-container .form-container		{ width: auto; float: none; }
		.promotions-modal-container .form-container .inner-form-container	{ height: auto; }
		
		.promotions-modal-container .link-container							{ height: 30px; }
		.promotions-modal-container .link-container span						{ font-size: 16px; }
		.promotions-modal-container .link-container .pull-left				{ width: 33%; }
		.promotions-modal-container .link-container .pull-left.visible-xs	{ text-align: center; }
		.promotions-modal-container .link-container .pull-right				{ width: 33%; text-align: right; }
		
		.slides-container .slides	{ height: 100%; }
		
		.slide .price-details-container .right-half					{ width: auto; position: static; }
		.slide .price-details-container .right-half .inner-container	{ -webkit-transform: skewX(0deg); transform: skewX(0deg); }
		.slide .price-details-container .right-half .straightener		{ -webkit-transform: skewX(0deg); transform: skewX(0deg); }
		.slide .price-details-container								{ position: static; }
		.slide .price-details-container:after						{ content: ''; display: block; clear: both; }
	}
	@media (max-width: 600px) 
	{
		.countdown-timer {
			position: relative;
			bottom: 0;
		}
		.countdown-timer .countdown {
			font-size: 25px;
		}
		.countdown-timer .countdown span.text {
			color: #333;
			font-size: .45em;
		}
	}