/*=============================================
Rochester Furniture
www.hellocavalry.com
Version: 2

Typography styles - overrides Bootstrap
=============================================*/
body{color:#9B9B9B;font:normal 16px GT Eesti Pro Text,Helvetica,arial,sans-serif;font-weight:300;}

@font-face {
    font-family: 'journalregular';
    src: url('../fonts/journal/journal-webfont.eot');
    src: url('../fonts/journal/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/journal/journal-webfont.woff') format('woff'),
         url('../fonts/journal/journal-webfont.ttf') format('truetype'),
         url('../fonts/journal/journal-webfont.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.journal{font-family: 'journalregular';}
.eesti {font-family:'GT Eesti Pro Text';}
.finance-price{font-size:42px;}

::selection { background: #060606; color: #fff; }
::-moz-selection { background: #060606; color: #fff; }


.orange{color:#444;}
a.orange:hover{color:#111;}
.black{color:#111;}
a.black:hover{color:#444;}
.title.white h2{color:#ffffff !important;}

a{color:#444;}
a:hover{text-decoration:none;color:#111;}

p{line-height:1.6em;margin:0 0 20px;}
em{font-style:italic;}
strong{font-weight:400;}
.bold{color:#111;font-weight:bold;}
small{font-size:0.8em;letter-spacing:0.05em;}
.small{font-size:12px;letter-spacing:0.05em;line-height:1.2em;}

h1,h2,h3,h4,h5,h6{color:#060606;font-style:normal;font-weight:300;line-height:1.17em;margin:0 0 20px;}
#main h1,h2.faux-h1,.caps-spaced{font-size:2.4em;text-transform:uppercase;letter-spacing:0.20em;}
h2{font-size:2.4em;}
#main h2,#sub-footer-newsletter h2,#hero h2,#mast-feature h2,.slideshow-wrap h2{text-transform:uppercase;letter-spacing:0.20em;}
#mast-feature h2,#mast-feature .btn{color:#fff;text-shadow:1px 1px 1px #000;text-transform:uppercase;}
#news-media .news-block h2{font-size:2.1em;}
h3{font-size:1em;text-transform:uppercase;letter-spacing:0.20em;}
h4{font-size:1em;text-transform:uppercase;font-weight:400;}
h5{font-size:1em;font-weight:400;}
h6{font-size:0.8em;text-transform:uppercase;font-weight:400;}

.strapline{font-size:18px;}
.sub-heading{margin:48px auto;max-width:630px;font-size:18px;}
.caps{text-transform:uppercase;}
.italic{font-family:Georgia,"Times New Roman", Times, serif;font-style:italic;}

ul.bullet-list{padding:0 0 0 17px;}
ul.bullet-list li{padding:0 0 10px 0;line-height:1.6em;}

#news-media .news-block ul{line-height:2em;margin-bottom:2em;}