{embed="_includes/_header"
body_id="lounge-collection"
body_class="furniture"
page_title="Lounge Collections"
}
		

			<!-- MAST SECTION BEGIN -->
			<section class="mast lounge" style='background-image:url({exp:channel:categories channel="collections_bedroom" style="linear"}{if category_url_title == "lounge-collections"}{category_image}{/if}{/exp:channel:categories});'>
				<div class="container">
					<div class="content">
						<h1>Lounge Collections</h1>
					</div>
				</div>
			</section>
			<!-- MAST SECTION END -->

			
			
			
			<section class="products single-cat scrollAnchor">
				
				<div class="container-custom">
					<div class="row p-row">
					
						{exp:channel:entries channel='collections_lounge' status='not closed'
							orderby='{if last_segment == "low-to-high" || last_segment == "high-to-low"}price{/if}'
							sort='{if last_segment == "low-to-high"}asc{if:elseif last_segment == "high-to-low"}desc{/if}'}
						
							<div class="col-md-4 mb-30 product fadeInDown d{count}">
								<a href="{title_permalink='lounge-collections/listing'}">
									<div class="product-image">
										{exp:ce_img:single src='{collection_mast_image}' width='690' height='390' crop='yes' allow_scale_larger='yes' attributes='class="img-responsive"' add_dims="no"}
									</div>
									<div class="product-details clearfix">
										<div class="row">
											<div class="col-md-8 col-sm-8">	
												<h4>{title}</h4>
											</div><!--col-md-8-->
								
											<div class="col-md-4 col-sm-4">	
												<p><b>{collection_price}</b></p>
											</div><!--col-md-4-->
								
										</div>
									</div><!--product-details-->
								</a>
							</div>
							
							{if count % 3 == 0}
								</div><div class='row p-row'>
							{/if}
						
						{/exp:channel:entries}
					
					</div>
					
				</div>
			</section>
			
			
			
{embed="_includes/_footer"}