{exp:channel:entries channel='collections_lounge' status='not closed' limit='1'}{embed="_includes/_header"
body_id="lounge-collection"
body_class="furniture"
page_title="{title}"
}
		

			<!-- MAST SECTION BEGIN -->
			<section class="mast lounge" style='background-image:url({collection_mast_image});'>
				<div class="container">
					<div class="content">
						<h1>{title}</h1>
					</div>
				</div>
			</section>
			<!-- MAST SECTION END -->

			
			
			
			<section class="products single-cat scrollAnchor">
				
				<div class="container-custom">
					<div class="row p-row">
					
						{included_furniture}
						
							<div class="col-md-4 mb-30 product fadeInDown d{count}">
							
								{if included_furniture:channel_short_name == "lounge_furniture"}<a href="{path='lounge-furniture/detail/{included_furniture:url_title}'}">
								{if:elseif included_furniture:channel_short_name == "lounge_furniture"}<a href="{path='lounge-furniture/detail/{included_furniture:url_title}'}">
								{if:else}<a href="{path='bedroom-furniture/detail/{included_furniture:url_title}'}">
								{/if}
							
									<div class="product-image">
									{included_furniture:product_feature_image limit='1'}
										{exp:ce_img:single src='{product_feature_image:image}' width='690' height='390' crop='yes' allow_scale_larger='yes' attributes='class="img-responsive"' add_dims="no"}
									{/included_furniture:product_feature_image}
									</div>
									<div class="product-details clearfix">
										<div class="row">
											<div class="col-md-8 col-sm-8">	
												<h4>{included_furniture:title}</h4>
											</div><!--col-md-8-->
								
											<div class="col-md-4 col-sm-4">	
												{exp:store:product entry_id="{included_furniture:entry_id}"}<p><b>{price}</b></p>{/exp:store:product}
											</div><!--col-md-4-->
								
										</div>
									</div><!--product-details-->
								</a>
							</div>
							
							{if included_furniture:count % 3 == 0}
								</div><div class='row p-row'>
							{/if}
						
						{/included_furniture}
					
					</div>
					
				</div>
			</section>
			
			
			
{embed="_includes/_footer"}
{/exp:channel:entries}