<div id="sub-footer" class="container clearfix margin-bottom-60">

	<div class="col-md-3 margin-bottom-20">
		<h4>Furniture</h4>
		<ul class="text-nav">
			<li><a href="{path='lounge-furniture/index'}" title="Lounge furniture">Lounge</a></li>
			<li><a href="{path='bedroom-furniture/index'}" title="Bedroom furniture">Bedroom</a></li>
			<li><a href="{path='dining-room-furniture/index'}" title="Dining Room furniture">Dining Room</a></li>
		</ul>
	</div><!--col-md-3-->

	<div class="col-md-6 clearfix margin-bottom-20">
		<div class="col-md-12 row clearfix">
			<h4>Branch Locator</h4>
		</div>
		<div class="col-md-6 row">
		<ul class="text-nav">
			{exp:channel:entries channel="branches" dynamic="no" sort="asc" orderby="title" status="Open|Featured" entry_id="3|7|8|16|17|18|65|19|31|9|20|131"}
			<li class=""><a href="{title_permalink='branch-locator/detail'}" title="View the {title} branch's contact details">{title}</a></li>
			{/exp:channel:entries}
		</ul>
	</div><!--col-md-6-->

	<div class="col-md-6 row">
		<ul class="text-nav">
			{exp:channel:entries channel="branches" dynamic="no" sort="asc" orderby="title" status="Open|Featured" entry_id="21|22|23|24|25|26|27|28|29|30"}
			<li class=""><a href="{title_permalink='branch-locator/detail'}" title="View the {title} branch's contact details">{title}</a></li>
			{/exp:channel:entries}
				
		</ul>
	</div><!--col-md-6-->
	</div><!--col-md-6-->
	
	<div class="col-md-3">
		<h4>More</h4>
		<ul class="text-nav">
			<li><a href="{path='about/index'}" title="About Rochester">About Rochester</a></li>
			<li><a href="{path='news-media/index'}" title="News &amp; Media">News &amp; Media</a></li>
			<li><a href="{site_url}images/uploads/content/terms_conditions.pdf" title="Terms and conditions">Terms and conditions</a></li>
			<!-- <li class=""><a href="{path='contact/index'}" title="Contact Us">Contact Us</a></li> -->
				
		</ul>
	</div><!--col-md-3-->

</div> <!-- /sub-footer -->


<div id="sub-footer-newsletter" class="clearfix parallax-bg1">
	<div class="container clearfix padding-vertical-60">

		<div class="title center white">
			<h2>Join our mailing list</h2>
			<span class="border"></span>

			<div class="col-md-12">
				
				
				
				<form action="http://cavalrymedia.createsend.com/t/i/s/qhrx/" method="post" class="clearfix form-generic">
					<div class="col-md-6">
						<label for="name">Name</label>
						<input id="fieldName" name="cm-name" type="text" class="form-control" />
					</div>
					
					<div class="col-md-6">
					<label for="name">Email</label>
					<input id="fieldEmail" name="cm-qhrx-qhrx" type="email" class="form-control" required />
					</div>
					<div class="clearfix margin-bottom-40"></div>

					<div class="col-md-12">
						<input type="submit" name="submit" value="Sign me up" id="submit" class="btn btn-lg btn-trans">
					</div>
				</form>
			</div><!--col-md-12-->		

		</div><!--title-->

	</div> <!-- /container -->
</div><!--sub-footer-newsletter-->

<div id="base-footer" class="clearfix">
	<div class="container center padding-vertical-40">

		<ul class="social">
			<li class="facebook"><a href="https://www.facebook.com/RochesterHomeFurniture" title="Find us on Facebook" target="_blank">Facebook</a></li>
			<li class="google"><a href="https://plus.google.com/117859202552179656037" rel="publisher" title="Find us on Google +" target="_blank">Google +</a></li>
		</ul>

		<div class="clearfix margin-bottom-20"></div>

		<p class="caps"><small>&copy; {current_time format="%Y"} ROCHESTER HOME FURNITURE (PTY) LTD. T/A ROCHESTER LUXURY LIVING. ALL RIGHTS RESERVED.</small></p>
	</div><!--container-->
</div><!--base-footer-->

<!-- Core JavaScript
================================================== -->
{exp:minimee:js}
<script src="/base-theme/js/bootstrap.min.js"></script>
<script src="/base-theme/js/fittext.js"></script>
<script src="/base-theme/js/parallax.js"></script>
<script src="/base-theme/js/main.js"></script>
{/exp:minimee:js}
<!-- Page Specific 
================================================== -->
{if segment_1=="" OR segment_1=="lounge-furniture" OR segment_1=="dining-room-furniture" OR segment_1=="bedroom-furniture"}
<script src="/base-theme/lib/cycle2/cycle2.min.js"></script>
<script src="/base-theme/lib/cycle2/center.js"></script>
{/if}

{if segment_1=="lounge-furniture" OR segment_1=="dining-room-furniture" OR segment_1=="bedroom-furniture"}
<script src="/base-theme/lib/bootstrap-select/bootstrap-select.min.js"></script>
<script type="text/javascript">

$(window).on('load', function () {
	$('.selectpicker').selectpicker();
});

</script>
{/if}

{if segment_2=="detail" OR segment_2=="entry"}
<script src="/base-theme/lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js"></script>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
	<div class="slides"></div>
	<h3 class="title blueimp-title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
</div>

<script src="/base-theme/js/royal-loader.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

// config
Royal_Preloader.config({
	mode:       'number',
	timeout:    2,
	showInfo:   false,
	background: ['#ffffff']
});
</script>
{/if}

{if last_segment=="thankyou"}
<!-- Google Code for Sales contact Conversion Page -->
<div style="display:none;">
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970223999;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "HxeLCJndxAoQ_-LRzgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970223999/?label=HxeLCJndxAoQ_-LRzgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</div>
{/if}


</body>
</html>