{redirect="lounge-furniture/sandbox/giant-daybed-with-ottoman/"}

{exp:channel:entries channel="bedroom_furniture" limit="1" status="not closed"}
{embed="_includes/_header"
body_id="entry"
body_class="furniture bedroom"
page_title="{title}"
description="{exp:eehive_hacksaw}{product_description}{/exp:eehive_hacksaw}"
keywords="Bedroom furniture"
canonical="{rel_canonical}"

}



<div class="slideshow-wrap clearfix">
	<div id="under-index" class="cycle-slideshow" data-cycle-loader="wait" data-cycle-fx="scroll" data-cycle-speed="1500" data-cycle-timeout="0" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-center-horz="true" data-cycle-auto-height="container">
		{product_feature_image}
		{exp:ce_img:single src="{product_feature_image:image}" alt="{product_feature_image:caption}" class="img-responsive" crop="yes" width="1400" allow_scale_larger="yes"}
		{/product_feature_image}
	</div><!--cycle-slideshow-->

	{if {product_feature_image:total_rows} !='1'}
		<div class="slider-nav">
			<a href="#" id="prev">Prev</a> 
			<a href="#" id="next">Next</a>
		</div>
	{/if}
	
	<div class="content-anchor clearfix">
		<a href="#main" class="scroll"><i class="glyphicon glyphicon-chevron-down"></i></a>	
	</div><!--content-anchor-->
</div><!--slideshow-wrap-->


<section id="main" class="container clearfix padding-vertical-40 margin-bottom-40">


	<div class="title margin-bottom-30 center">
		<h1>{title}</h1>
		<span class="border"></span>
	</div><!--title-->
	{if '{product_gallery_options:total_rows}' > 0 OR '{faux_sale_end}' > '{current_time}' OR '{product_link:total_rows}' > 0} 


		<div class="clearfix options center margin-bottom-20">
			<div class="color-options-panel clearfix">






					{product_gallery_options limit="1"}
						<div class="clearfix config-ops-container">
							<a href="{product_gallery_options:image}" title="{product_gallery_options:caption}" class="hover-trans {if product_gallery_options:icon ==''}color-icon{/if} config-ops" data-gallery="g3">{if product_gallery_options:icon !=''}<img src="{product_gallery_options:icon}" class="product-icon-spacer">{if:else}View options{/if}</a>
					{/product_gallery_options}

					{product_gallery_options offset="1"}
					<a href="{product_gallery_options:image}" title="{product_gallery_options:caption}" class="hover-trans hide" data-gallery="g3"><i class="glyphicon glyphicon-record"></i></a>
					{/product_gallery_options}

					
					{product_gallery_options limit="1"}
					<p class="italic black">{if '{product_gallery_options:title}' !="0"}{product_gallery_options:title}{if:else}Options{/if}</p>
					</div>
					{/product_gallery_options}
					




					{if '{faux_sale_end}' > '{current_time}'}
					<div class="clearfix config-ops-container">
						{faux_sale_icon}
						<a href="{faux_sale_icon:link}" title="{faux_sale_icon:title}" target="_blank" class="hover-trans config-ops">
							<img src="{faux_sale_icon:image}" class="product-icon-spacer">
						</a>
						<p class="italic black">{faux_sale_icon:title}</p>
						{/faux_sale_icon}
					</div>
					{/if}


						{if product_link}
						<div class="clearfix config-ops-container">
							{product_link}
							<a href="{product_link:link}" title="{product_link:title}" target="_blank" class="hover-trans config-ops">
								<img src="{product_link:icon}" class="product-icon-spacer">
							</a>
							<p class="italic black">{product_link:title}</p>
							{/product_link}
						</div>
						{/if}



			</div><!--color-options-options-->
		</div><!--options-->
	{/if}

	<div class="col-md-12 center">
		<p class="strapline">{product_description}</p>
	</div>


	<div class="clearfix margin-bottom-40"></div>
	{embed='_includes/_like-and-win-widget' product_id='{entry_id}'}
	<div class="border-bottom clearfix"></div>
	<div class="clearfix margin-bottom-40"></div>

	<!-- {exp:store:product entry_id="{entry_id}" return="{segment_1}/{segment_2}/{segment_3}"}
	<input type="hidden" id="item_qty" name="item_qty" class="input-mini pull-right" value="1" />
	<input type="submit" name="submit" value="Add this to your Christmas wish list" id="add_to_wishlist" class="italic center vertical-borders orange wish-list">
	{/exp:store:product}

	<div style="width:100%;margin:0 auto;text-align:center;">
	<img src="https://www.rochester.co.za/campaigns/xmas/wish/img/small-bow-blue.png" width="70" height="42" style="margin:-10px auto 0 auto;">
	</div>

	<div class="clearfix margin-bottom-40"></div> -->


	<div class="col-md-4 margin-bottom-20">
		<h4>Starting price</h4>
		<p class="price-point">{product_details:price}</p>
		<p>Prices may fluctuate in accordance with options and configuration. All products and prices on this website are subject to stock availability and price  fluctuation - e&amp;oe. Unless otherwise stated complimentary products and accessories are not included in the price shown.</p>
		<div class="clearfix margin-bottom-20"></div>
		<a data-toggle="modal" data-target="#myModal" class="btn btn-lg btn-orange btn-block">Contact a sales consultant</a>
	</div><!--col-md-4-->

	<div class="col-md-3 margin-bottom-20">
		<h4>Product information</h4>

		<ul class="bullet-list black">
			{product_information}
			<li>{product_information:row}</li>
			{/product_information}
		</ul>
		{product_information_descriptor}
	</div><!--col-md-4-->

	<div class="col-md-1 margin-bottom-20">
		{product_materials}
		{if product_materials:link}<a href="{product_materials:link}" target="_blank" title="Find out more about {product_materials:caption}">{/if}
		<img src="{product_materials:icon}" class="img-responsive margin-bottom-10" alt="{product_materials:caption}">
		{if product_materials:link}</a>{/if}
		{/product_materials}
	</div><!--col-md-1-->


	<div class="col-md-3 margin-bottom-20">
		{if product_features}
		<h4>Features</h4>
		{product_features}
		{/if}
	</div><!--col-md-4-->


	{embed="_includes/_sales_contact" product_name="{title}" frs_title="{frs_title}"}	



	{if segment_4=="thankyou"}
	{embed="_includes/_generic_thankyou"}
	{/if}

	<div class="clearfix margin-bottom-40"></div>

	<a href="{path='bedroom-furniture/index'}" title="View all lounge furniture" class="italic center vertical-borders orange">View all bedroom furniture</a>

	<div class="clearfix margin-bottom-40"></div>
		{embed="bedroom-furniture/_search"}
	
		<div class="clearfix margin-bottom-40"></div>
		<div class="border-bottom clearfix margin-bottom-40"></div>

		<div class="col-md-12">
			<h4>You may also like</h4>
		</div><!--col-md-4-->
		{exp:playa:children field="related_products" status="not closed"}
		{exp:store:product entry_id="{entry_id}"}
		<div class="col-md-4 product-block clearfix">
			<a href="{comment_url_title_auto_path}" title="View {title}s details" class="hover-trans">{product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" class="img-responsive" crop="yes" width="690" height="390" allow_scale_larger="yes"}{/product_feature_image}</a>
			<div class="col-md-8 caps row">
				<p>{title}</p>
				<p class="visible-xs visible-sm bold">{product_details:price}</p>

			</div><!--col-md-8-->
			<p class="pull-right hidden-xs hidden-sm bold">{product_details:price}</p>

			<div class="clearfix"></div>
			<p class="view-more"><a href="{comment_url_title_auto_path}" class="italic">View details <span class="glyphicon glyphicon-play-circle orange"></span></a></p>
		</div><!--product-block-->
		{/exp:store:product}
		{/exp:playa:children}
		
		{/exp:channel:entries}


	{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
	<div class="col-md-12 full-width-advert">
		{advertising_large}
		<a href="{advertising_large:link}" title="{advertising_large:caption}">
			{exp:ce_img:single src="{advertising_large:advert}" alt="{advertising_large:caption}" class="img-responsive" crop="yes" width="1100" allow_scale_larger="yes"}
		</a>
		{/advertising_large}
	</div><!--full-width-advert-->
	{/exp:channel:entries}

</section><!--main-->


<!-- Modal - add to wishlist -->
<div id="wish-list-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


{embed="_includes/_footer"}