{embed="_includes/_header"
body_id="lounge"
body_class="furniture"

{if segment_2==""}
page_title="Lounge and living room Furniture"
{if:else}
{exp:channel:category_heading channel="lounge_furniture"}page_title="{category_name}"{/exp:channel:category_heading}
{/if}

description="View our large range of lounge and living room furniture. From lounge suites to occasional chairs and coffee and side tables."
keywords="Lounge furniture, living room"
}



<section id="main" class="container clearfix padding-vertical-40">

	<div id="search" class="col-md-12 margin-bottom-40">
		<div class="title margin-bottom-20 center">
			<h1>Lounge and Living room furniture</h1>
			<span class="border"></span>
		</div><!--title-->
		
	</div><!--search-->
	
	{if segment_2 == ""}


		{exp:store:search channel="lounge_furniture" orderby="price" status="Open"}
	<div class="col-md-4 product-block clearfix">

		<a href="{title_permalink='lounge-furniture/detail'}" title="View {title}'s details" class="hover-trans">{product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" alt="{title}" class="img-responsive" crop="yes" width="690" height="390" allow_scale_larger="yes"}{/product_feature_image}</a>

		<div class="col-md-8 caps row">
			<p>{title}</p>
			<p class="visible-xs visible-sm bold">{product_details:price}</p>
		</div><!--col-md-8-->

		<p class="pull-right hidden-xs hidden-sm bold">{product_details:price}</p>

		<div class="clearfix"></div>

		<p class="view-more"><a href="{title_permalink='lounge-furniture/detail'}" class="italic">View details <span class="glyphicon glyphicon-play-circle orange"></span></a></p>
	</div><!--product-block-->
	{/exp:store:search}

{if:else}

	
{exp:store:search channel="lounge_furniture" orderby="price" status="Open|Case-goods"}

	<div class="col-md-4 product-block clearfix">

		<a href="{title_permalink='lounge-furniture/detail'}" title="View {title}'s details" class="hover-trans">{product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" alt="{title}" class="img-responsive" crop="yes" width="690" height="390" allow_scale_larger="yes"}{/product_feature_image}</a>

		<div class="col-md-8 caps row">
			<p>{title}</p>
			<p class="visible-xs visible-sm bold">{product_details:price}</p>
		</div><!--col-md-8-->

		<p class="pull-right hidden-xs hidden-sm bold">{product_details:price}</p>

		<div class="clearfix"></div>

		<p class="view-more"><a href="{title_permalink='lounge-furniture/detail'}" class="italic">View details <span class="glyphicon glyphicon-play-circle orange"></span></a></p>
	</div><!--product-block-->
		{/exp:store:search}

{/if}

	<div class="clearfix row-breaker"></div>

	{exp:low_variables:single var='var_advert_nested'}



	<div class="clearfix row-breaker"></div>

	{if segment_2 == ""}
	{exp:store:search channel="lounge_furniture" status="Case-goods"}
	
	<div class="col-md-4 product-block clearfix">

		<a href="{title_permalink='lounge-furniture/detail'}" title="View {title}'s details" class="hover-trans">{product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" alt="{title}" class="img-responsive" crop="yes" width="690" height="390" allow_scale_larger="yes"}{/product_feature_image}</a>

		<div class="col-md-8 caps row">
			<p>{title}</p>
			<p class="visible-xs visible-sm bold">{product_details:price}</p>
		</div><!--col-md-8-->

		<p class="pull-right hidden-xs hidden-sm bold">{product_details:price}</p>

		<div class="clearfix"></div>

		<p class="view-more"><a href="{title_permalink='lounge-furniture/detail'}" class="italic">View details <span class="glyphicon glyphicon-play-circle orange"></span></a></p>
	</div><!--product-block-->
	{/exp:store:search}
	{/if}

</section><!--main-->



{embed="_includes/_footer"}