{embed="_includes/_header"
body_id="testimonials"
body_class="static"
page_title="Customer Testimonials"
description="See what others are saying about us"
keywords="Rochester furniture, leather furniture, movable furniture, bedroom, dining room, lounge"
}

	{exp:channel:entries channel="testimonials" entry_id="219" dynamic="no"}

		<div class='container mb-60'>
			{exp:ce_img:single src="{banner}" alt="Delivery success" class="img-responsive mt-50 mb-40" crop="yes" width="1140" allow_scale_larger="yes"}
			
			<h1 class='centered'>Customer testimonials</h1>
			<span class="border"></span>
			<p class="lead text-center mb-35">See what others are saying about us</p>
			
			<div id="masonry-container">
				<div class="row">
					{testimonial limit="9"}

					<div class="box col-md-4 killer">
						{exp:ce_img:single src="{testimonial:image}" alt="{testimonial:customer} makeVisible" class="img-responsive" crop="yes" width="600" allow_scale_larger="yes"}
						
						<div class="inner-box clearfix">
							
							<p class="italic orange">{testimonial:customer}</p>
							<p>{testimonial:quote}</p>
						</div><!--inner-box-->
					</div><!--box-->
					{/testimonial}
					
					{testimonial offset="9"}

					<div class="box col-md-4 killer">
						{exp:ce_img:single src="{testimonial:image}" alt="{testimonial:customer}" class="img-responsive makeVisible" crop="yes" width="600" allow_scale_larger="yes"}
						
						<div class="inner-box makeVisible">
							
							<p class="italic orange">{testimonial:customer}</p>
							<p>{testimonial:quote}</p>
						</div><!--inner-box-->
					</div><!--box-->
					{/testimonial}
				</div><!--row-->
			</div><!--masonry-container-->
			
		</div>
		
	{/exp:channel:entries}
	
	<script src="{site_url}base-theme-2016/lib/masonry/masonry.pkgd.min.js"></script>
	<script>
	
		addOnloadEvent(function(){
			var container = jQuery('#masonry-container');
			// initialize
			container.masonry({
				itemSelector: '.box'
			});
			
			jQuery(window).on("scroll resize", function() {
				jQuery(".makeVisible").each(function(index, element) {
					if (isScrolledIntoView(element)) {
					   jQuery(element).animate({opacity: 1.0}, 500);
					}
				});
			});
		});
	
		function isScrolledIntoView(elem)
		{
			var centerY = Math.max(0,((jQuery(window).height()-jQuery(elem).outerHeight()) / 1) 
						  + jQuery(window).scrollTop());

			var elementTop = jQuery(elem).offset().top;
			var elementBottom = elementTop + jQuery(elem).height();

			return elementTop <= centerY && elementBottom >= centerY;
		}
				
	</script>

{embed="_includes/_footer"}



