{embed="_includes/_header"
body_id="xmas-box"
body_class="furniture lounge"
page_title="Rochester Furniture Christmas competition!"
description="Find the mystery gift box on the Rochester website to enter to win a prize every week until Christmas."


}




<section id="main" class="container clearfix padding-vertical-40 margin-bottom-40">
<img src="{site_url}/campaigns/christmas/images/xmas-giveaway.jpg" class="img-responsive">


	<div class="title margin-bottom-30 center">
		<h1>Win With Our Mystery Gift Box</h1>
		<span class="border"></span>
	</div><!--title-->
	
	
	<div class="clearfix margin-bottom-40"></div>
	
	<!-- <div class="col-md-10 col-md-offset-1 center margin-bottom-30">
		<p class="strapline">We're giving away gifts every week until Christmas. Simply find one of the boxes on our website, fill in your details and stand a chance to win a <a href="https://www.rochester.co.za/lounge-furniture/detail/miami-couch" target="_blank">Miami Couch!</a></p>
	</div> -->
	
	
	<!-- <div class="clearfix margin-bottom-40"></div>

	<div class="title margin-bottom-30 center">
			<h1 style="font-size: 36px;">How it works</h1>
			<span class="border"></span>
		</div> -->
		
		
	<div id="content" class="col-md-12 clearfix margin-bottom-60">
		
	<div class="col-md-6 center">
		<p class="georgia red">1</p>
		<img src="{site_url}campaigns/christmas/mystery-box/b1.png">
	<p class="lead">Browse through our website</p>	
	</div><!--col-md-6-->
	
	
	
		<div class="col-md-6 center">
			<p class="georgia red">2</p>
			<img src="{site_url}campaigns/christmas/mystery-box/b2.png">
			<p class="lead">Find one of the mystery boxes</p>	
		</div><!--col-md-6-->
		
		
			<div class="clearfix"></div>
		
		<div class="col-md-6 center">
			<p class="georgia red">3</p>
			<img src="{site_url}campaigns/christmas/mystery-box/b3.png">
		<p class="lead">Fill in your information</p>
		</div><!--col-md-6-->


			<div class="col-md-6 center">
				<p class="georgia red">4</p>
				<img src="{site_url}campaigns/christmas/mystery-box/b4.png">
				<p class="lead">Share your entry on Facebook. Simple!</p>	
			</div><!--col-md-6-->
				<div class="clearfix"></div>
			
		
	
	</div><!--col-md-12-->
	
	
	<div class="title margin-bottom-30 center">
			<h1 style="font-size: 36px;">You could win a Revive Cushion Top mattress set</h1>
			<span class="border"></span>
		</div>
		
	<div class="col-md-8 col-md-offset-2">	
<a href="https://www.rochester.co.za/bedroom-furniture/detail/revive-cushion-top" target="_blank"><img src="{site_url}campaigns/christmas/mystery-box/Revive-Cusion-Top-web.jpg" class="img-responsive"></a>
</div>


<div class="col-md-12 center clearfix padding-vertical-20 margin-bottom-10">
			<a href="{site_url}" class="btn btn-lg btn-orange" target="_blank" style="background-color:#d12229;color:#fff">Click Here To Start Searching</a>

		</div>
	
	<div class="clearfix margin-bottom-40"></div>



	

	

</section><!--main-->




{embed="_includes/_footer"}