{if group_id!="1"}
{redirect="lounge-furniture/index"}
{/if}

{embed="_includes/_header"
body_id="wishlist"
body_class="static"
page_title="Wish list"
description="Create and view your wish list"
keywords="Rochester furniture, leather furniture, movable furniture, bedroom, dining room, lounge"
}

<div id="wish-mast" class="clearfix container-fluid">
	<div class="title center col-md-6 col-md-offset-3 clearfix">
		<div class="logo"></div>
		<h1>Share your wish list</h1>
		<span class="border"></span>
		<div class="clearfix"></div>

	</div><!--title-->

</div><!--wish-mast-->
	{exp:store:orders order_hash="{segment_3}"}
<div class="clearfix share center margin-bottom-60">
	<div class="container">
		<div class="col-md-12 clearfix row share center">
			<p class="brown">Share on Facebook to improve your chance of winning your wish.</p>
			<div class="clearfix"></div>
			<div class="arrow-wrap clearfix col-md-6 col-md-offset-3 center">
				<span class="arrow hidden-xs hidden-sm hidden-xs hidden-md"></span>
				<a href="" onclick="shareOnFacebook('https://www.rochester.co.za/christmas/view-wish-list/{order_hash}'); return false;" class="btn btn-lg btn-orange hidden-xs">&hearts; Share on Facebook</a>
				<a href="" onclick="shareOnFacebook('https://www.rochester.co.za/christmas/view-wish-list/{order_hash}'); return false;" class="btn btn-lg btn-orange visible-xs btn-block margin-bottom-10">&hearts; Share on Facebook</a>
				<span class="arrow arrow-inv hidden-xs hidden-sm hidden-xs hidden-md"></span>
			</div>
		</div><!--col-md-12-->
	</div><!--container-->
</div><!--share-->

<section id="main" class="container clearfix">



	{if no_items}
	<div class="col-md-12 margin-bottom-60 clearfix row topBotBorder center">
		<p class="orange pull-left">There are no items in your wish list</p>
		<a href="{path='lounge-furniture/index'}" class="btn btn-lg btn-orange pull-right" >Add Some items</a>
	</div>
	{/if}




	<div class="col-md-10 col-md-offset-1">


		{items}
		{exp:channel:entries entry_id="{entry_id}" status="not closed"}



		<div class="col-md-5 margin-bottom-40 product-img">
			<p class="georgia red pull-left">{item:count}</p>
			<div class="wrap relative clearfix">
				<span class="cap"></span>
				<div class="clearfix"></div>
				{product_feature_image limit="1"}
				<a href="{comment_auto_path}{url_title}" target="_blank" class="hover-trans">{exp:ce_img:single src="{product_feature_image:image}" alt="{product_feature_image:caption}" class="img-responsive img-circle img-border" crop="yes" width="400" height="400" allow_scale_larger="yes"}</a>
				{/product_feature_image}
			</div><!--wrap-->
		</div><!--col-md-5-->

		<div class="col-md-7">

			<p class="inline-title"><a href="{comment_auto_path}{url_title}" target="_blank">{item_qty} x {title}</a></p>

			<p>{product_description}</p>
			<p>Starting price<br /><span class="black inline-title">{price}</span></p>
			<div style="clear:both" class="clearfix margin-bottom-20"></div>


		</div><!--col-md-7-->
		<div style="clear:both" class="clearfix border-bottom margin-bottom-40"></div>


		{/exp:channel:entries}
		{/items}



		
	</div><!--col-md-10-->
	
	<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '828851687136381',
			xfbml      : true,
			version    : 'v2.1'
		});
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		function shareOnFacebook(link)
		{
			FB.ui(
				{
					method: 'feed',
					link: link,
					name: '{billing_first_name}\'s Rochester Christmas Wish list',
					caption: 'Win this Christmas with Rochester!',
					picture: 'https://www.rochester.co.za/campaigns/xmas/wish/img/XmasWish-Cover.png',
					description: 'Create your dream Rochester Furniture wish list today and share it with your friends to stand a chance of winning!'
					}, function(response){});

					/*FB.login(function(){
					FB.api('/me/feed', 'post', {
					message		: 'Check out this Rochester wishlist! Create and share your own wishlist and you could win your wishlist furniture!',
					link		: link
					});
					}, {scope: 'publish_actions'});*/
				}
				</script>


{/exp:store:orders}



		{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
		<div class="col-md-12 full-width-advert">
			{advertising_large}
			<a href="{advertising_large:link}" title="{advertising_large:caption}">
				{exp:ce_img:single src="{advertising_large:advert}" alt="{advertising_large:caption}" class="img-responsive" crop="yes" width="1100" allow_scale_larger="yes"}
			</a>
			{/advertising_large}
		</div><!--full-width-advert-->
		{/exp:channel:entries}

			</section><!--main-->

			<div class="clearfix share center margin-bottom-60">
				<div class="container">
					<div class="col-md-12 clearfix row share center">
						<p class="brown">Share on Facebook to improve your chance of winning your wish.</p>
						<div class="clearfix"></div>
						<div class="arrow-wrap clearfix col-md-6 col-md-offset-3 center">
							<span class="arrow hidden-xs hidden-sm hidden-xs hidden-md"></span>
							<a href="" onclick="shareOnFacebook('https://www.rochester.co.za/christmas/view-wish-list/{order_hash}'); return false;" class="btn btn-lg btn-orange hidden-xs">&hearts; Share on Facebook</a>
							<a href="" onclick="shareOnFacebook('https://www.rochester.co.za/christmas/view-wish-list/{order_hash}'); return false;" class="btn btn-lg btn-orange visible-xs btn-block margin-bottom-10">&hearts; Share on Facebook</a>
							<span class="arrow arrow-inv hidden-xs hidden-sm hidden-xs hidden-md"></span>
						</div>
					</div><!--col-md-12-->
				</div><!--container-->
			</div><!--share-->

			{embed="_includes/_footer"}