{if group_id!="1"}
{redirect="lounge-furniture/index"}
{/if}
{embed="_includes/_header"
body_id="wishlist"
body_class="static"
page_title="Wish list"
description="Create and view your wish list"
keywords="Rochester furniture, leather furniture, movable furniture, bedroom, dining room, lounge"
}

<div id="wish-mast" class="clearfix container-fluid margin-bottom-60">
	<div class="title center col-md-6 col-md-offset-3 clearfix">
		<div class="logo"></div>
		<h1>Create your own wish list</h1>
		<span class="border"></span>
		<div class="clearfix"></div>
			<a href="{path='christmas/wish'}" class="btn btn-lg btn-orange force-white scroll">Find out more</a>

	</div><!--title-->

</div><!--wish-mast-->


<section id="main" class="container clearfix">
<span class="ribbon-small"></span>

	{exp:store:orders order_hash="{segment_3}"}
	<div class="col-md-12 margin-bottom-20 clearfix center">
		
		<p class="margin-bottom-0"><small>Created {order_date format="%F %d %Y"}</small></p>
			<p class="brown">{billing_first_name}'s Wish list</p>
			
	</div>
	<div style="clear:both" class="clearfix border-bottom margin-bottom-40"></div>



	<div class="col-md-8 margin-bottom-40">


		{items}
		{exp:channel:entries entry_id="{entry_id}" status="not closed"}



		<div class="col-md-5 margin-bottom-40 product-img">
			<p class="georgia red pull-left">{item:count}</p>
			<div class="wrap relative clearfix">
				<span class="cap"></span>
				<div class="clearfix"></div>
				{product_feature_image limit="1"}
				<a href="{comment_auto_path}{url_title}" target="_blank" class="hover-trans">{exp:ce_img:single src="{product_feature_image:image}" alt="{product_feature_image:caption}" class="img-responsive img-circle img-border" crop="yes" width="400" height="400" allow_scale_larger="yes"}</a>
				{/product_feature_image}
			</div><!--wrap-->
		</div><!--col-md-5-->

		<div class="col-md-7">

			<p class="inline-title"><a href="{comment_auto_path}{url_title}" target="_blank">{item_qty} x {title}</a></p>

			<p>{product_description}</p>
			<p>Starting price<br /><span class="black inline-title">{price}</span></p>
			<div style="clear:both" class="clearfix margin-bottom-20"></div>


		</div><!--col-md-7-->
		<div style="clear:both" class="clearfix border-bottom margin-bottom-40"></div>


		{/exp:channel:entries}
		{/items}


		{/exp:store:orders}
	</div><!--col-md-8-->

	<div class="col-md-4 margin-bottom-60">


		<div class="box clearfix orange-cta relative center">
			
			<p class="lead">Win this Christmas with Rochester!</p>
			<p class="brown">Create your dream Rochester Furniture wish list today and share it with your friends to stand a chance of winning!</p>
			
			<div class="clearfix margin-bottom-20"></div>
			<a href="{path='christmas/wish'}" class="btn btn-lg btn-block btn-orange">Find out more</a>




		</div>
	</div><!--col-md-4-->




	{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
	<div class="col-md-12 full-width-advert">
		{advertising_large}
		<a href="{advertising_large:link}" title="{advertising_large:caption}">
			{exp:ce_img:single src="{advertising_large:advert}" alt="{advertising_large:caption}" class="img-responsive" crop="yes" width="1100" allow_scale_larger="yes"}
		</a>
		{/advertising_large}
	</div><!--full-width-advert-->
	{/exp:channel:entries}

</section><!--main-->


{embed="_includes/_footer"}