

{embed="_includes/_header"
body_id="wish"
body_class="static"
page_title="Christmas wish promotion"
description=""
}


<section id="main" class="container padding-vertical-20">

	<div class="title margin-bottom-60 center col-md-6 col-md-offset-3">
		<div class="logo"></div>
		<h1>Win with Rochester</h1>
		<span class="border"></span>
		<div class="clearfix"></div>
		<p class="lead">This season you will be given the chance to make a wish for yourself and nominate someone else or a charity of your choice. Who knows the Rochester fairy godmothers might grant your wish together with your nomination. Join us between 1 November and 16 December to see if your wishes will come true.</p>
		<a href="#content" class="btn btn-lg btn-orange force-white scroll">See How It Works</a>
	</div><!--title-->

	<div id="content" class="col-md-12 clearfix margin-bottom-60">
		
	<div class="col-md-6 center">
		<p class="georgia red">1</p>
		<img src="../campaigns/xmas/wish/img/b1.png">
	<p class="lead">Browse through all the products on display on our site</p>	
	</div><!--col-md-6-->
	
	
	
		<div class="col-md-6 center">
			<p class="georgia red">2</p>
			<img src="../campaigns/xmas/wish/img/b2.png">
			<p class="lead">Add the items you love to your wish list</p>	
		</div><!--col-md-6-->
		
		
			<div class="clearfix"></div>
		
		<div class="col-md-6 center">
			<p class="georgia red">3</p>
			<img src="../campaigns/xmas/wish/img/b3.png">
		<p class="lead">Fill in your personal information and nominate someone else or a charity of your choice</p>
		</div><!--col-md-6-->


			<div class="col-md-6 center">
				<p class="georgia red">4</p>
				<img src="../campaigns/xmas/wish/img/b4.png">
				<p class="lead">Share your wish list with your friends on Facebook</p>	
			</div><!--col-md-6-->
				<div class="clearfix"></div>
			
			
			<div class="col-md-6 center">
				<p class="georgia red">5</p>
				<img src="../campaigns/xmas/wish/img/b5.png">
			<p class="lead">Be entered into the draw!</p>	
			</div><!--col-md-6-->


				<div class="col-md-6 center">
					<p class="georgia red">6</p>
					<img src="../campaigns/xmas/wish/img/b6.png">
					<p class="lead">It’s as easy as that!</p>	
				</div><!--col-md-6-->
	
	</div><!--col-md-12-->
	
	<div class="col-md-8 col-md-offset-2 center margin-bottom-40">
		<p><small>Rochester furniture will take all motivations into consideration when selecting the winner/s of the wish and win campaign. Rochester furniture reserves all rights on judgement of the campaign and awarding of prizes. Prizes are non-transferable or exchangeable.</small></p>
	</div>
	
	<div class="col-md-8 col-md-offset-2 center margin-bottom-60">
		<p class="lead georgia red">The promotion runs from the 1st of November to the 16th of December.</p> 
		<div class="clearfix margin-bottom-20"></div>
			<a href="{path='lounge-furniture/index'}" class="btn btn-lg btn-orange">Get started with your wish list</a>
	</div>

	<!-- <div class="clearfix margin-bottom-40 col-md-12 center">
			<img src="/base-theme/images/utilities/about-animated.jpg" class="animated fadeInUp img-responsive centered" data-appear-bottom-offset="100" alt="It's not just furniture..It's Rochester">
		</div> -->




</section><!--main-->



{embed="_includes/_footer"}