{if group_id!="1"}
{redirect="lounge-furniture/index"}
{/if}
{redirect="lounge-furniture/index"}
{embed="_includes/_header"
body_id="wishlist"
body_class="static"
page_title="Wish list"
description="Create and view your wish list"
keywords="Rochester furniture, leather furniture, movable furniture, bedroom, dining room, lounge"
}
<div id="wish-mast" class="clearfix container-fluid">
	<div class="title center col-md-6 col-md-offset-3 clearfix">
		<div class="logo"></div>
		<h1>Ready to save your wish list?</h1>
		<span class="border"></span>
		<p class="lead">Confused? Learn more about our wish list promotion</p>
		<a href="{path='christmas/wish'}" class="btn btn-lg btn-orange force-white scroll">See How It Works</a>
		<div class="clearfix"></div>
	
	</div><!--title-->

</div><!--wish-mast-->


<section id="main" class="container padding-vertical-60">



		{exp:store:checkout
			return="christmas/personal-wish-list/ORDER_HASH"
			payment_method="Manual"}
		{if no_items}
	<div class="col-md-12 margin-bottom-60 clearfix row topBotBorder center">
			<p class="orange pull-left">There are no items in your wish list</p>
			<a href="{path='lounge-furniture/index'}" class="btn btn-lg btn-orange pull-right" >Add Some items</a>
	</div>
		{/if}

		<div class="col-md-12 margin-bottom-40 clearfix row topBotBorder">
			<div class="col-md-6">
				<p class="orange">You have {order_qty} items in your wish list&nbsp;|&nbsp; <span>Total value {order_subtotal}</span></p>
				
			</div>

			<div class="col-md-6">

				<input type="submit" name="update_cart" value="Update items" class="btn btn-lg btn-orange hidden-xs pull-right margin-left-10" />
				<a href="{path='lounge-furniture/index'}" class="btn btn-lg btn-orange hidden-xs pull-right">&laquo; Add more items</a>
				
				<input type="submit" name="update_cart" value="Update items" class="btn btn-lg btn-orange visible-xs btn-block margin-bottom-10" />
					<a href="{path='lounge-furniture/index'}" class="btn btn-lg btn-orange visible-xs btn-block margin-bottom-10">&raquo; Add more items</a>
			</div>
		</div>
		<div class="col-md-8 margin-bottom-40">



			



			{items}
			{exp:channel:entries entry_id="{entry_id}" status="not closed"}



			<div class="col-md-5 margin-bottom-40 product-img">
				<p class="georgia red pull-left">{item:count}</p>
				<div class="wrap relative clearfix">
					<span class="cap"></span>
					<div class="clearfix"></div>
					{product_feature_image limit="1"}
					<a href="{comment_auto_path}{url_title}" target="_blank" class="hover-trans">{exp:ce_img:single src="{product_feature_image:image}" alt="{product_feature_image:caption}" class="img-responsive img-circle img-border" crop="yes" width="400" height="400" allow_scale_larger="yes"}</a>
					{/product_feature_image}
				</div><!--wrap-->
			</div><!--col-md-5-->

			<div class="col-md-7">

				<p class="inline-title"><a href="{comment_auto_path}{url_title}" target="_blank">{item_qty} x {title}</a></p>

				<p>{product_description}</p>
				<p>Starting price<br /><span class="black inline-title">{price}</span></p>
				<div style="clear:both" class="clearfix margin-bottom-20"></div>
				<div class="form-group clearfix">
					<div class="col-md-4 row">
						<label>Qty</label>
						<input name="items[{key}][item_qty]" value="{item_qty}" class="form-control" />
					</div>
				</div>
				<p><input type="checkbox" class="cart_remove_check" name="remove_items[{key}]" value="1" />&nbsp;<span class="red-span georgia">Remove</span></p>

			</div><!--col-md-7-->
			<div style="clear:both" class="clearfix border-bottom margin-bottom-40"></div>


			{/exp:channel:entries}
			{/items}

			<div class="clearfix">
				
						<input type="submit" name="update_cart" value="Update items" class="btn btn-lg btn-orange hidden-xs pull-left" />
						<a href="{path='lounge-furniture/index'}" class="btn btn-lg btn-orange hidden-xs pull-left margin-left-10">Add more items &raquo;</a>

						<input type="submit" name="update_cart" value="Update items" class="btn btn-lg btn-orange visible-xs btn-block margin-bottom-10" />
							<a href="{path='lounge-furniture/index'}" class="btn btn-lg btn-orange visible-xs btn-block margin-bottom-10">Add more items &raquo;</a>

			</div>

		</div><!--col-md-8-->

		<div class="col-md-4 margin-bottom-60">
		

			<div class="clearfix orange-cta relative faux-height"></div>

			<div class="strap-ribbon">
				<p class="lead">Tell us more about yourself and your Christmas wish list:</p>
			</div><!--strap-ribbon-->

			<div class="box clearfix orange-cta relative">


				<div class="form-group">
					<label>Your Full Name</label>
					<input type="text" name="billing_first_name" id="billing_first_name" value="{billing_first_name}" class="form-control"/>
					{if error:billing_first_name}<div class='form-errors'>Please fill in your full name</div>{/if}
				</div>

				<!--<div class="col-sm-6">
				<div class="form-group">
				<label>Your Last Name</label>
				<input type="text" name="billing_last_name" id="billing_last_name" value="{billing_last_name}" class="form-control" />
				{error:billing_last_name}
				</div>
				</div>-->

				<div class="form-group">
					<label>Your E-Mail Address</label>
					<input type="text" name="order_email" id="order_email" value="{order_email}" class="form-control"/>
					{if error:order_email}<div class='form-errors'>Please fill in a valid e-mail address</div>{/if}
				</div>
				
				<script>
				$(document).ready(function() {
					
					$('.toggle').hide();
					
				  $.viewMap = {
				    '0' : $([]),
				    'view1' : $('#view1'),
				    'view2' : $('#view2'),
				    'view3' : $('#view3'),
					'view4' : $('#view4')
				  };

				  $('#viewSelector').change(function() {
				    // hide all
				    $.each($.viewMap, function() { this.hide(); });
				    // show current
				    $.viewMap[$(this).val()].show();
				  });
				});
				</script>
				
			

				<div class="form-group">
					<label>Who is this wish list for?</label>
					<select class="form-control" id="viewSelector">
						<option value="0">Yourself</option>
						<option value="view1"value="view1">A friend</option>
						<option value="view2"value="view1">A charity</option>
						<option value="view3">An organisation</option>
						<option value="view4">Other</option>

					</select>
				</div>
				
					<div id="view1" class="toggle">
					<div class="form-group">
						<label>Friends's name</label>
						<input type="text" name="order_custom1" id="order_email" value="{order_custom1}" class="form-control" />
					</div>
					</div>
					
					<div id="view2" class="toggle">
					<div class="form-group">
						<label>Charities name</label>
						<input type="text" name="order_custom2" id="order_email" value="{order_custom2}" class="form-control" />
					</div>
					</div>
					
						<div id="view3" class="toggle">
						<div class="form-group">
							<label>Organisations name</label>
							<input type="text" name="order_custom3" id="order_email" value="{order_custom3}" class="form-control" />
						
						</div>
						</div>
						
						<div id="view4" class="toggle">
						<div class="form-group">
							<label>Other?</label>
							<input type="text" name="order_custom4" id="order_email" value="{order_custom4}" class="form-control" />
						
						</div>
						</div>

				<div class="form-group" class="toggle">
					<label>Tell us why your wish list should be granted?</label>
					<textarea name="order_custom5" id="order_custom5" value="{order_custom5}" class="form-control" rows="10"></textarea>

				</div>


				<input type="submit" name="submit" value="Submit my wish list &rarr;" class="btn btn-lg btn-block btn-orange" />

				<div class="clearfix margin-bottom-20"></div>
				<p class="brown"><small>Please ensure that you are happy with your wish list selection and that the above information is correct. You CANNOT undo these actions once you submit.</small></p>

			</div>
		</div><!--col-md-4-->



		{/exp:store:checkout}	

		{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
		<div class="col-md-12 full-width-advert margin-bottom-40">
			{advertising_large}
			<a href="{advertising_large:link}" title="{advertising_large:caption}">
				{exp:ce_img:single src="{advertising_large:advert}" alt="{advertising_large:caption}" class="img-responsive" crop="yes" width="1100" allow_scale_larger="yes"}
			</a>
			{/advertising_large}
		</div><!--full-width-advert-->
		{/exp:channel:entries}

	</section><!--main-->



	{embed="_includes/_footer"}