{embed="_includes/_header"
body_id="care"
body_class="static"
page_title="Customer feedback"
description="Share your praise, complaints and queries with us."
keywords="feedback, customer care"
}

	<div class="container mt-50">

		<div class="title mb-60 center">
			<h1 class='centered'>Customer Feedback</h1>
			<span class="border"></span>
		</div><!--title-->
		
		<div style='padding:40px 40px 80px; border:1px solid #ccc; background-color:#ffffff;'>
		
			<p class="lead text-center mb-60">Share your praise, complaints and queries with us.</p>
			
			<div class='row'>
			
				<div class="col-md-8 col-md-offset-2 clearfix margin-bottom-40">
					
					{if last_segment=="thanks"}
						<div class="alert alert-success" role="alert">
						  <strong>Thank you for your feedback.</strong> Your submission has been received and we will respond accordingly.
						</div>
						{exp:cavalry_autoresponders:send_initial_admin_emails}
					{if:elseif segment_3 == 'satisfied'}
						<p style='text-align:center; margin-top: 20px; font-size:larger;'>Thank you for your positive feedback!</p>
						<p style='text-align:center;'>We are glad that you've been successfully contacted and are happy with your response. Please don't hesitate to contact us again if there's anything
						else we may assist you with in the future!</p>
					{if:elseif segment_3 == 'not-satisfied'}
						<p style='text-align:center; margin-top: 20px; font-size:larger;'>We are sorry to hear that you're not satisfied with your experience thus far.</p>
						<p style='text-align:center;'>We have escalated your request and have automatically forwarded your feedback to one of our representatives, and
						we look forward to being in touch with you shortly.</p>
						{exp:cavalry_autoresponders:escalate_unsatisfied_customer_response entry_id='{last_segment}'}
					{if:else}
					
					
						{exp:freeform:form
							form_name="customer_feedback_upgraded"
							return="customer-feedback/sandbox/thanks"
							required="name|contact_number"
							form:class="form-generic padding-vertical-40"
							inline_errors="yes"
						}
					
							<script>
								
								$(function(){
										
									$('#related-branch select').on('change', function(){
										var select = $(this);
										var branch = select.children('option:selected').text();
										
										if(branch == "Select the relevant branch *")
										{
											$('#related').val('General');
										}
										
										else
										{
											$('#related').val(branch);
										}
										
									});	
									
								});
								
							</script>

							<input type="hidden" name="related_branch" id="related" value="General">
							<input type='hidden' name='flag_followup' value='0' />
											
							<h4 class="clearfix">Personal information<em style="color:red;">*</em></h4>
						
							<div class="form-group">
								
									   <small class="blk">Name<em>*</em></small>
									   {freeform:field:name attr:class="form-control"}
					 
								{if freeform:error:name}
								<div class="alert alert-danger" role="alert">
								
									<strong>Please enter your name.</strong>
								</div>
								{/if}
							</div>

							<div class="form-group">
							   <small class="blk">Email</small>
							   {freeform:field:email attr:class="form-control"}
							   
								{if freeform:error:email}
								<div class="alert alert-danger" role="alert">
								
									<strong>Please enter a vaild email address.</strong>
								</div>
								{/if}
							</div>
										
									
							<div class="form-group margin-bottom-20">
								<small class="blk">Contact number<em>*</em></small>
								{freeform:field:contact_number attr:class="form-control"}
								{if freeform:error:contact_number}
								<div class="alert alert-danger" role="alert">
								
									<strong>Please enter a contact number.</strong>
								</div>
								{/if}
							</div>
							
							
							
								<h4 class="clearfix">Comment Type</h4>
								<div class="clearfix"></div>
								
								<div class="col-md-2 well center">	
								 <div class="checkbox">
								   <label>
									 <span class="sentiment negative"><input type="checkbox" id="customer_sentiment" name="customer_sentiment" value="Negative">
								   </label>
								 </div>
								</div>
								
							<div class="col-md-2 col-md-offset-1 well center">	
							 <div class="checkbox">
							   <label>
								 <span class="sentiment positive"><input type="checkbox" id="customer_sentiment" name="customer_sentiment" value="Positive" >
							   </label>
							 </div>
							</div>
											 
							<div class="clearfix"></div>
									
							

							<h4 class="clearfix">Feedback information (optional)</h4>
							
							<div class="form-group">
								<small class="blk">Sales person</small>
								{freeform:field:sales_person attr:class="form-control"}
								
							</div>
							
							<div class="form-group">
								<small class="blk">Sales order number</small>
								{freeform:field:sales_order_number attr:class="form-control"}
							</div>
							
							<div class="form-group">
								<small class="blk">Other party</small>
								{freeform:field:other_party attr:class="form-control"}
								
							</div>
							
							<div id="related-branch" class="form-group margin-bottom-20">
								<small class="blk">Related branch</small>
								{exp:low_variables:single var='var_branches_nested'}
								
							</div>
									
							<h4 class="clearfix">Message<em style="color:red;">*</em></h4>
										
							<div class="form-group">
								{freeform:field:message attr:class="form-control" attr:rows="8"}
								{if freeform:error:message}
								<div class="alert alert-danger" role="alert">
								
									<strong>Please explain why you are contacting us.</strong>
								</div>
								{/if}
							</div>
										
									

							<input type="submit" name="submit" value="Submit" id="submit" class="btn btn-lg btn-orange btn-block">
							
						{/exp:freeform:form}
						
					{/if}
			
	
				</div><!--col-md-12-->
				
			</div>
		
		</div>
		
	</div>


{embed="_includes/_footer"}






