{exp:channel:entries channel="news_media" limit="1" status="Open|Featured"}
{embed="_includes/_header"
body_id="news"
body_class="entry"
page_title="{title}"
description="{news_meta_description}"
keywords="{news_meta_keywords}"
}


<section id="news-media" class="container v-offset-40 news">

	<div class="title mb-60 center-align">
		<h2 class="caps-spaced">News &amp; Media</h2>
		<span class="border"></span>
		{embed="_includes/_addthis"}
		
	</div><!--title-->

	<div class="clearfix"></div>

	<div class="container news clearfix">


		<div class="news-block col-md-8 clearfix mb-40">


			<div class="col-md-2 mb-20 center-align">
				<span class="date">{entry_date format="%d"}</span>
				<span class="date lower"><small>{entry_date format="%M"}</small></span>
			</div>
			<div class="col-md-10">
				{news_feature_image}
				{exp:ce_img:single src="{news_feature_image:image}" alt="{news_feature_image:caption}" class="img-responsive mb-40" crop="yes" width="660" allow_scale_larger="yes"}
				{/news_feature_image}
				<h1 class="margin-kill">{title}</h1>
				<p class="caps">Posted by Rochester</p>
				<p class="lead black">{news_summary}</p>
				{news_body}
				
				{if news_gallery}
				<div id="gallery" class="clearfix v-offset-20">
					{news_gallery}
					<div class="col-md-6 mb-30">
						<a href="{news_gallery:image}" title="{news_gallery:caption}" class="hover-trans" data-gallery>{exp:ce_img:single src="{news_gallery:image}" alt="{news_gallery:caption}" class="img-responsive" crop="yes" width="660" height="400" allow_scale_larger="yes"}</a>
					</div>
					{/news_gallery}
				</div><!--gallery-->
				{/if}
				
				{news_second_body}
			</div><!--col-md-10-->
			<div class="col-md-12 row clearfix border-bottom mb-20 v-offset-20"></div><!--border-bottom-->



			{/exp:channel:entries}


		</div><!--news-block-->


		{embed="news-media/_sidebar"}


	</div><!--container-->



</section><!--main-->

{embed="_includes/_footer"}