{embed="_includes/_header"
body_id="news"
body_class="static"

{if segment_2==""}
page_title="News and Media"
{if:else}
{exp:channel:category_heading channel="news_media"}page_title="{category_name}"{/exp:channel:category_heading}
{/if}

description="News and media from Rochester Furniture"
keywords=""
}


<section id="news-media" class="container v-offset-40 news">

	<div class="title mb-60 center-align">
		<h1 class="caps-spaced">News &amp; Media</h1>
		<span class="border"></span>
		{embed="_includes/_addthis"}
		
	</div><!--title-->

	<div class="clearfix"></div>

	<div class="container news clearfix">


		<div class="news-block col-md-8 clearfix mb-40">

			{exp:channel:entries channel="news_media" limit="10" paginate="bottom" status="Open|Featured"}
			<div class="col-md-2 mb-20 center-align">
				<span class="date">{entry_date format="%d"}</span>
				<span class="date lower"><small>{entry_date format="%M"}</small></span>
			</div>
			<div class="col-md-10">
				{news_feature_image}
				<a href="{title_permalink='news-media/entry'}" title="Read {title}" class="hover-trans">{exp:ce_img:single src="{news_feature_image:image}" alt="{title}" class="img-responsive mb-40" crop="yes" width="660" allow_scale_larger="yes"}</a>
				{/news_feature_image}
				<h2>{title}</h2>
				<p class="caps">Posted by Rochester</p>
				<p>{news_summary}</p>
				<p class="view-more clearfix"><a href="{title_permalink='news-media/entry'}" class="italic black" title="Read {title}">Read more <span class="glyphicon glyphicon-play-circle orange"></span></a></p>
			</div><!--col-md-10-->
			<div class="col-md-12 row clearfix border-bottom mb-40"></div><!--border-bottom-->
			
			
				{paginate}
				{pagination_links}
			<div class="clearfix mb-60">
				<div class="col-3"></div>
				<div class="col-lg-6 col-md-12 col-sm-12 clearfix">

					<ul class="pager">
						{first_page}
						<li class="previous"><a href="{pagination_url}"><i class="icon-chevron-left"></i> First pg</a></li>
						{/first_page}

						{page}
						<li {if current_page}class="current"{/if}><a href="{pagination_url}" class="page-{pagination_page_number}">{pagination_page_number}</a></li>
						{/page}

						{last_page}
						<li class="next"><a href="{pagination_url}">Last pg <i class="icon-chevron-right"></i></a></li>
						{/last_page}
					</ul>
				</div>
				<div class="col-3"></div>
			</div><!--col-12-->
			{/pagination_links}
			{/paginate}
			
			{/exp:channel:entries}


		</div><!--news-block-->


		{embed="news-media/_sidebar"}


	</div><!--container-->



</section><!--main-->

{embed="_includes/_footer"}