{embed="_includes/_header"
body_id="news"
body_class="static"
page_title="News and Media Search Results"
description="News and media from Rochester Furniture"
keywords=""
}


<section id="news-media" class="container padding-vertical-40 news">

	<div class="title margin-bottom-60 center">
		<h1 class="caps-spaced">News &amp; Media Search Results</h1>
		<span class="border"></span>
	</div><!--title-->

	<div class="clearfix"></div>

	<div class="container news clearfix">


		<div class="news-block col-md-8 clearfix margin-bottom-40">


		
		
			<div class="col-md-12">
				<h2>No results</h2>
				<p>Your search returned no results.</p>
			</div><!--col-md-12-->
			<div class="col-md-12 row clearfix border-bottom margin-bottom-40"></div><!--border-bottom-->

		

		</table>


	</div><!--news-block-->


	{embed="news-media/_sidebar"}


</div><!--container-->



</section><!--main-->

{embed="_includes/_footer"}