/*================================
Finance microsite - custom styles
Oct 7 2014

Overrides base styles with 
#finance body ID where necessary
=================================*/

@font-face {
    font-family: 'journalregular';
    src: url('../fonts/journal/journal-webfont.eot');
    src: url('../fonts/journal/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/journal/journal-webfont.woff') format('woff'),
         url('../fonts/journal/journal-webfont.ttf') format('truetype'),
         url('../fonts/journal/journal-webfont.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.journal{font-family: 'journalregular';}

.finance-nav{background-color:#0F6881;padding:15px 0;}
.finance-nav p{color:#fff;margin:0;padding:0;font-size:32px !important;line-height:32px;letter-spacing:0.06em !important;font-weight:200;}
#finance .btn-blue{background-color:#157787;border:solid 2px #074756;color:#fff;text-transform:uppercase;letter-spacing:0.02em;font-size:0.8em;}
#finance .btn-blue:hover,#finance .btn-orange-solid:hover {opacity:0.5;}
#finance .btn-orange-solid {background-color:#DB6A02;border:solid 2px #074756;color:#fff;text-transform:uppercase;letter-spacing:0.02em;font-size:0.8em;}
#finance .blue-search{background-color:#157787;border-color:#074756;}
.edit-form .form-group p{margin-bottom:5px !important;color:#111;text-transform:uppercase;font-weight:400 !important;}
.edit-form .form-group p em{color:red;}

.offset-top{margin-top:40px;}
.offset-left{margin-left:20px;}

.margin-top-sm		{ margin-top: 10px; }
.margin-bottom-sm	{ margin-bottom: 10px; }
.margin-top-md		{ margin-top: 25px; }
.margin-bottom-md	{ margin-bottom: 25px; }
.margin-top-lg		{ margin-top: 55px; }
.margin-bottom-lg	{ margin-bottom: 55px; }
.vertical-middle	{ vertical-align: middle; float: none; display: inline-block; }

.finance-container-background
{
	background-image: url(../images/bg-finance.jpg);
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
}

.finance-container-background .finance-heading-container { padding: 30px 30px 40px; }
.finance-container-background .finance-heading-container img { max-width:100%; }

.finance-container-background p
{
	color: #676767;
	/*font-size: 0.85em;*/
}

.finance-container-background .section-heading
{
	border: 2px solid #0F6881;
	border-style: solid none none;
	position: relative;
	margin: 40px 0;
}

.finance-container-background .section-heading > div
{
	position: absolute;
	top: -27px;
	left: 0;
	width: 100%;
	text-align: center;
}

.finance-container-background .section-heading h4
{
	font-family: 'journalregular';
	color: #0F6881;
	font-size: 2.6em;
	display: inline-block;
	background-color: #fff;
	padding: 0px 18px;
	text-transform: inherit;
}

#calculator_monthly_installment_container,
#calculator_deposit_container,
#calculator_total_credit_container
{
	color: #676767;
	font-size: 0.85em;
}

.finance-container-background form label
{
	font-size: 0.9em;
	color: #676767;
}

.finance-container-background form span.error
{
	margin: 3px 0 0;
	font-size: 0.8em;
	color: #c00;
}

.finance-container-background .sms-detail-container
{
	/*background: #db6a02;
	background: -moz-linear-gradient(-45deg,  #db6a02 0%, #edc557 50%, #db6a02 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#db6a02), color-stop(50%,#edc557), color-stop(100%,#db6a02));
	background: -webkit-linear-gradient(-45deg,  #db6a02 0%,#edc557 50%,#db6a02 100%);
	background: -o-linear-gradient(-45deg,  #db6a02 0%,#edc557 50%,#db6a02 100%);
	background: -ms-linear-gradient(-45deg,  #db6a02 0%,#edc557 50%,#db6a02 100%);
	background: linear-gradient(135deg,  #db6a02 0%,#edc557 50%,#db6a02 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db6a02', endColorstr='#db6a02',GradientType=1 );*/
	
	text-align: center;
	padding: 10px;
	
	height: 110px;
	width: 100%;
	display: table;
}

.finance-container-background .sms-detail-container .text
{
	display: table-cell;
	vertical-align: middle;
}

.finance-container-background .sms-detail-container h4
{
	margin: 0;
	padding: 0;
	color: #020202;
	font-size: 1.6em;
}

.finance-container-background .sms-detail-container p
{
	margin: 0;
	padding: 0;
	color: #020202;
}

.finance-container-background .application-detail-container
{
	text-align: center;
}

.finance-container-background .application-detail-container .circle
{
	display: inline-block;
	width: 80px;
	height: 81px;
	background-image: url(../images/rochester-circle.png);
	color: #020202;
	font-weight: bold;
	font-size: 1.1em;
	padding-top: 31px;
}

.finance-container-background .application-detail-container .circle1
{
	
	background-image: url(../images/circle-1.png);

}

.finance-container-background .application-detail-container .circle2
{
	
	background-image: url(../images/circle-2.png);

}

.finance-container-background .application-detail-container .circle3
{
	
	background-image: url(../images/circle-3.png);

}


.finance-container-background .application-detail-container h4
{
	font-size: 0.8em;
	font-weight: bold;
	color: #020202;
	margin: 15px 0 0;
}

.finance-container-background .application-detail-container p
{
	color: #676767;
	font-size: 0.75em;
	margin-top: 10px;
}

.finance-container-background .protect-goods-container
{
	background-color: #0F6881;
	padding: 15px;
}

.finance-container-background .protect-goods-container h4
{
	color: #fff;
	font-family: 'journalregular';
	font-size: 1.8em;
	margin: -8px 0 15px;
	text-transform: none;
}

.finance-container-background .protect-goods-container p
{
	color: #fff;
	font-size: 0.75em;
	margin-bottom: 0px;
}

@media (max-width: 767px)
{
	.finance-container-background .sms-detail-container { margin-bottom: 10px; }
	.finance-container-background .sms-detail-container .text {}
}


.auto-calc-details .finance-price
{
	font-size: 21px;
	display:inline;
	font-weight: bold;
	float: left;
	line-height: 24px;
	margin: 0 6px 6px 0;
}

.auto-calc-details .details
{
	clear: both;
	font-size: 13px;
	line-height: 18px;
	color:#DB6A02;
}
.orange{color:#DB6A02;}

.btn-orange{border-bottom: 2px solid #AA520A;background-color:#DB6A02;color:#fff;}
.btn-finance{border-bottom: 2px solid #094150;background-color:#0F6881;color:#fff;border-radius:3px;text-transform:uppercase;letter-spacing:0.05em;font-size:14px;}
.btn-finance:hover{opacity:0.8;color:#fff;}