/*=============================================
Rochester Furniture
www.hellocavalry.com
Version: 1

Base website styles
=============================================*/
/*Utilities - color, spacing & alignment
=============================================*/
.orange-bg{background-color:#DB6A02;}
.orange{color:#DB6A02;}
.white-bg{background-color:#fff;}

.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-60{margin-bottom:60px;}

.padding{padding:10px;}
.padding-vertical-10{padding-top:10px;padding-bottom:10px;}
.padding-vertical-20{padding-top:20px;padding-bottom:20px;}
.padding-vertical-40{padding-top:40px;padding-bottom:40px;}
.padding-vertical-60{padding-top:60px;padding-bottom:60px;}

.center{text-align:center;}
img.centered{margin:0 auto;}
.border{display:block;width:80px;height:2px;background:#060606;margin:0 auto 10px auto;}
.white .border{background:#fff;}

.hover-trans img{opacity:1;}
.hover-trans img:hover{opacity:.5;transition:opacity .5s ease-out;-moz-transition:opacity .5s ease-out;-webkit-transition:opacity .5s ease-out;-o-transition:opacity .5s ease-out;}

.border-bottom{border-bottom:1px solid #e9e9e9;height:1px;}

.faux-container{display:block;width:100%;height:auto;}
.faux-container img{margin-left:auto;margin-right:auto;}

/*Structural
=============================================*/
/*section { overflow: hidden; }*/


/*Sliders - Jquery Cycle2 base
============================================*/
.slideshow-wrap{position:relative;overflow:hidden;}
.slider-nav{position:absolute;top:35%;z-index:1000;width:100%;}
.slider-nav a{display:block;width:90px;height:90px;position:absolute;overflow:hidden;opacity:0;cursor:pointer;border:0px !important;outline:none;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;text-indent:-999px;font-size:0;}
.slider-nav #next{right:0%;background:url('../images/utilities/direction-nav.png') no-repeat scroll top right;border:0px !important;outline:none;text-indent:-999px;}
.slider-nav #prev{left:0%;background:url('../images/utilities/direction-nav.png') no-repeat scroll top left;border:0px !important;outline:none;text-indent:-999px;}

.slideshow-wrap:hover #next,.slideshow-wrap:hover #prev, .slider-nav #next:hover, .slider-nav #prev:hover,.slideshow-wrap:hover .content-anchor a { opacity: 1; }
.slideshow-wrap:hover #prev { left: 20%; }
.slideshow-wrap:hover #next { right: 20%; }

.content-anchor{position:absolute;width:100%;text-align:center;bottom:80px;left:0px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
.content-anchor a{font-size:58px;color:#fff;opacity:0;text-shadow:0px 3px 5px rgba(17, 17, 17, 0.3);}
.slideshow-wrap:hover .content-anchor {bottom:100px;}
.slideshow-wrap:hover .content-anchor a{opacity:0.8;color:#fff;}

#fp .cycle-slideshow{width:100%;overflow:hidden;margin:0 auto;}
#fp .slideshow-wrap .slides img{z-index:1;width:100%;height:auto;}
#fp .slideshow-wrap .slides .slide-caption{z-index:20;}
#fp .slide-caption h2 {color:#fff;text-shadow: 1px 1px 1px #000;text-transform:uppercase;}
#fp .slide-caption a.btn{text-shadow: 1px 1px 1px #000;box-shadow: 1px 1px 1px #000;}
#fp .slide-caption{position:absolute;width:100%;top:35%;text-align:center;}

.slide-caption a.btn{text-shadow: 1px 1px 1px #000;box-shadow: 1px 1px 1px #000;}
#under-index{z-index:-1;}

/*#entry .slideshow-wrap{width:99%;margin:0 auto;}*/

/*Button - See .btn styles in bootstrap
=============================================*/
.btn-trans{border:1px solid #fff !important;background-color:transparent;border-radius:3px;color:#fff;text-transform:uppercase;letter-spacing:0.05em;font-size:14px;}
.btn-trans.btn-lg{padding:15px 25px;}
.btn-trans:hover{color:#fff;background:rgba(255,255,255,.1);filter:alpha(opacity=50);}
.btn-orange{color:#DB6A02;border:solid 1px #DB6A02;background-color:transparent;border-radius:3px;text-transform:uppercase;letter-spacing:0.05em;font-size:14px;}
.btn-orange:hover{color:#DB6A02;background:rgba(219,106,2,.1);filter:alpha(opacity=50);}

.vertical-borders{border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;padding:12px;text-align:center;display:block;}
.wish-list span{font-size:12px;}

/*Forms and form typography
=============================================*/
/*See lib/bootstrap-select for select dropdown styling*/
.form-generic label{display:block;text-align:center;margin-top:10px;margin-bottom:20px;font-size:0.8em;text-transform:uppercase;color:#fff;font-weight:200;letter-spacing:0.05em;}
.form-generic input{font-weight:200;}
.form-generic textarea{font-weight:200;}
.search,input.search{color:#fff;font-weight:200;letter-spacing:0.05em;font-size:21px;padding:5px 23px;outline:none;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #AA520A;background:rgba(219,106,2,1);border-radius:4px;}

.search span,.search-span{color:#111;padding:5px;font-size:16px;}
.search:hover{text-decoration:none;background:rgba(219,106,2,.5);}

.search-well{background:rgba(245,245,245,.2);border:1px solid #e3e3e3;padding-top:20px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05);}

.search-form input,.search-form select{font-size:14px;font-weight:200;}
.italic-input{font-style:italic;}
input.wish-list{background:transparent;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;border-right:0;border-left:0;width:100%;display:block;}
input.wish-list:hover{color:#111;}
input.wish-list:active,input.wish-list:focus{outline:none;}

/*Primary navigation and branding
=============================================*/
.navbar-default .navbar-toggle .icon-bar{background-color:#fff;}
.navbar-default .navbar-toggle{border-color:#fff;}
.navbar-default .navbar-toggle:hover{background:rgba(255,255,255,.1);filter:alpha(opacity=50);}
	
.navbar{background-color:#DB6A02;border-bottom:5px solid #fff;border-top:0;border-right:0;border-left:0;border-radius:0;margin-bottom:0;}
#products-nav.navbar-nav a{color:#fff;text-transform:uppercase;font-size:16px;letter-spacing:0.03em;padding:8px 0;margin:0 15px;}
#sub-nav{margin:0;padding:0;list-style:none;}
#sub-nav a{color:#fff;text-transform:uppercase;font-size:12px;letter-spacing:0.04em;padding:8px 0;margin-left:10px;font-weight:200;}
#products-nav .dropdown-menu a{color:#111;padding:5px 70px 5px 10px;margin:0;font-size:0.9em;text-transform:uppercase;font-weight:300;}
#products-nav .dropdown-toggle{background-color:transparent;}
#products-nav .divider{height:1px;margin:5px 0;overflow:hidden;background-color:#e5e5e5;}
.navbar-nav > li > .dropdown-menu{margin-top:10px;}/*Overwrites bootstrap style - margin-top:0; bootstrap.css 3909*/

.text-nav{margin:0;padding:0;list-style:none;}
.text-nav li{margin:0;}
.text-nav li a{text-transform:uppercase;display:block;padding:5px 0;font-size:14px;color:#666;}

.navbar-nav a,.text-nav li a{opacity:1;}
.navbar-nav a:hover,.text-nav li a:hover{opacity:.7;transition:opacity .7s ease-out;-moz-transition:opacity .7s ease-out;-webkit-transition:opacity .7s ease-out;-o-transition:opacity .7s ease-out;}
.navbar-nav li.current > a{border-bottom:solid 2px #fff;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{background-color:#f6f6f6;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{border-color:#fff;}

.cl-effect-3 a::after{position:absolute;top:100%;left:0;width:100%;height:4px;background:rgba(0,0,0,0.1);content:'';opacity:0;-webkit-transition:opacity 0.3s,-webkit-transform 0.3s;-moz-transition:opacity 0.3s,-moz-transform 0.3s;transition:opacity 0.3s,transform 0.3s;-webkit-transform:translateY(10px);-moz-transform:translateY(10px);transform:translateY(10px);}
.cl-effect-3 a:hover::after,
.cl-effect-3 a:focus::after{opacity:1;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);transform:translateY(0px);}

/*Product listing and entry pages
=============================================*/
.wish-list-mast{background-color:#B75A0D;padding:5px 0 7px 0;font-size:14px;letter-spacing:0.02em;border-bottom:0px solid #fff;transition:opacity .7s ease-out;-moz-transition:opacity .7s ease-out;-webkit-transition:opacity .7s ease-out;-o-transition:opacity .7s ease-out;}
.wish-list-mast:hover{opacity:0.8;}
#mast-feature{position:relative;}
#mast-feature .feature-title{position:absolute;width:100%;top:40%;}
.product-block .col-md-8 p{margin-bottom:10px !important;}
.product-block{margin-bottom:20px;min-height:330px;}
.product-block img{margin-bottom:20px;}
.product-block .view-more a{color:#111;}
.product-block .view-more a:hover{color:#DB6A02;}
.product-block .view-more a span{padding:3px;}

.product-icon-spacer{margin:5px 10px 10px 10px;width:84px;height:84px;}
#entry #main{margin-top:-80px;background-color:#fff;position:relative;}
#entry #main .options{font-size:18px;}
#entry #main .color-options-panel{width:auto;display:inline-block;margin:0 auto;padding:15px;border:1px solid #DB6A02;border-radius:4px;}
#entry #main .color-options-panel p{font-size:13px;letter-spacing:0.02em;margin-bottom:0px;}
#entry #main .options a{opacity:1;transition:opacity .7s ease-out;-moz-transition:opacity .7s ease-out;-webkit-transition:opacity .7s ease-out;-o-transition:opacity .7s ease-out;}
#entry #main .options a:hover{opacity:0.5;}
#entry #main .options .config-ops-container{width:100px;float:left;text-align:center;}
#entry #main .options .color-icon{background: url('../images/icons/color-options.png') no-repeat center center;width:84px;height:84px;display:block;text-indent:-9999px;margin:5px auto 10px auto;}
#entry #main .options .measurements-icon{background: url('../images/icons/measurements.png') no-repeat center center;width:84px;height:84px;display:block;text-indent:-9999px;margin:5px auto 10px auto;}	
#entry #main .options .powerincliner-icon{background: url('../images/icons/powerIncliner.png') no-repeat center center;width:84px;height:84px;display:block;text-indent:-9999px;margin:5px auto 10px auto;}	
#entry #main .options .config-icon{background: url('../images/icons/icon-configuartions.png') no-repeat center center;width:84px;height:84px;display:block;text-indent:-9999px;margin:5px auto 10px auto;}	

.price-point{font-size:26px;color:#111;font-weight:bold;}
	
/*Branch locator
=============================================*/
.custom-accordion .panel-heading p{margin-bottom:0;}
.custom-accordion .panel-heading{background-color:#fff;border-top:1px solid #dddddd;}
.custom-accordion.panel-group .panel {border-left:0 !important;border-right:0 !important;border-radius:0;border-top:0;box-shadow:none;}

/*News
=============================================*/
.news .date{display:block;width:100%;text-align:center;padding-bottom:10px;text-transform:uppercase;font-size:1.6em;letter-spacing:0.2em;line-height:0.8em;color:#111;margin:0;}
.news .date.lower{border-bottom:1px solid #e9e9e9;color:#111;}
.list-group.custom-borders .list-group-item{border:1px solid #ddd;border-left:0px;border-right:0px;border-bottom:0px;border-radius: 0px;}
.list-group.custom-borders a.list-group-item.active,a.list-group-item.active:hover,a.list-group-item.active:focus{z-index:2;color:#fff;background-color:#DB6A02;border-color:#DB6A02;}

/*Careers
=============================================*/
.job-detail{font-size:14px !important;margin-bottom:0 !important;padding-bottom:0;}
/*Footers
=============================================*/
#sub-footer .col-md-3{margin-bottom:20px;}
#sub-footer-newsletter{background-image: url('../images/utilities/parallax-bg-footer.jpg'); background-attachment:fixed;background-position:50% 0;}
#base-footer{background-color:#111;}
#base-footer .social{margin:0; padding:0;text-align: center;display:block;}
#base-footer .social li{display:inline-block;margin:0px 5px;}
#base-footer .social li a{display:block;width:36px;height:36px;text-indent:-9999px;opacity:1;}
#base-footer .social li.facebook a{background: url('../images/icons/facebook-large.png') no-repeat scroll top left;}
#base-footer .social li.twitter a{background: url('../images/icons/twitter-large.png') no-repeat scroll top left;}
#base-footer .social li.google a{background: url('../images/icons/google-large.png') no-repeat scroll top left;}
#base-footer .social li a:hover{opacity:.5;transition:opacity .5s ease-out;-moz-transition:opacity .5s ease-out;-webkit-transition:opacity .5s ease-out;-o-transition:opacity .5s ease-out;}
#base-footer p.caps a{color:#9B9B9B;}
#base-footer p.caps a:hover{color:#fff;}

/*Print
=============================================*/
@media print {
 #sub-footer, #sub-footer-newsletter, #base-footer,.full-width-advert,.btn{display:none !important;}

}