{embed="_includes/_header"
body_id="lz"
body_class="static"
page_title="La-Z-Boy Recliners"
description="When it comes to comfort, La-Z-Boy is really in a class of its own. Not only do the latest generation of La-Z-Boy recliners feature timelessly good looks, but they also offer quality construction."
keywords="La-Z-boy recliners"
}

	{if last_segment=="thankyou"}
	{embed="_includes/_generic_thankyou"}
	{/if}
	
		<div class="scroll-container clearfix">
			
			<!--====================================end nav and header=====================================-->
		
			<section id="scroll-stage-1" class="clearfix scroll-stage center leather-bg" data-0="z-index:100;top:0%;" data-100="top:-100%;">
				<div class="container center">
					<img src="/campaigns/la-z-boy/img/la-z-boy-logo.png" class="img-responsive v-center1" alt="La-z-boy">
				</div>
			
			</section><!--scroll-stage-1-->
		
				
			<!--====================================end scrollstage-1=====================================-->
		
			<section id="scroll-stage-2" class="clearfix scroll-stage" data-100="top:0;" data-1200="top:0%;z-index:10;" data-1300="top:-100%;">
				
			
				<div class="seq seq1-a" data-0="opacity:1;background-image:url(/campaigns/la-z-boy/img/seq1-a.jpg);z-index:1;"data-200="opacity:1;"></div>
				<div class="seq seq1-b" data-0="opacity:0;background-image:url(/campaigns/la-z-boy/img/seq1-b.jpg);z-index:2" data-200="opacity:0;" data-300="opacity:1;"></div>
				<div class="seq seq1-c" data-0="opacity:0;background-image:url(/campaigns/la-z-boy/img/seq1-c.jpg);z-index:3" data-300="opacity:0;" data-400="opacity:1;"></div>
				<div class="seq seq1-d" data-0="opacity:0;background-image:url(/campaigns/la-z-boy/img/seq1-d.jpg);z-index:4" data-400="opacity:0;" data-500="opacity:1;"></div>
				<div class="seq seq1-e" data-0="opacity:0;background-image:url(/campaigns/la-z-boy/img/seq1-e.jpg);z-index:5" data-500="opacity:0;" data-600="opacity:1;"></div>
				<div class="seq seq1-f" data-0="opacity:0;background-image:url(/campaigns/la-z-boy/img/seq1-f.jpg);z-index:6" data-600="opacity:0;" data-700="opacity:1;"></div>
				<div class="seq seq1-g" data-0="opacity:0;background-image:url(/campaigns/la-z-boy/img/seq1-g.jpg);z-index:7" data-700="opacity:0;" data-800="opacity:1;"></div>
				<div class="seq seq1-h" data-0="opacity:0;background-image:url(/campaigns/la-z-boy/img/seq1-h.jpg);z-index:8" data-800="opacity:0;" data-900="opacity:1;"></div>
				
				
				<div class="container padding-vertical-60 force-front">
					
					<div class="title margin-bottom-40 padding-vertical-40 center" data-0="display:block;opacity:1;" data-200="display:block;opacity:1;" data-300="display:none;opacity:0;" >
						<h3 class="title">Re-establish Comfort</h3>
						<p class="lead">a commitment to comfort, quality and style</p>
					</div>
					
					<div class="title margin-bottom-40 padding-vertical-40 center" data-0="opacity:0;display:none;" data-500="opacity:0;display:block;" data-600="opacity:1;display:block;">
						<h3 class="title">135 Degrees of comfort</h3>
					</div>
					
				</div><!--container-->

			
			</section><!--scroll-stage-2-->
		
				
			<!--====================================end scrollstage-2=====================================-->
			
			<section id="scroll-stage-3" class="clearfix scroll-stage" data-1700="top:0%;z-index:10;" data-1900="top:-100%;">
				
			
				<div class="seq seq2-a" data-0="opacity:0;background-image:url(/campaigns/la-z-boy/img/detail-1.jpg);z-index:1" data-900="opacity:0;transform:scale(1.1);" data-1200="opacity:1;" data-1300="transform:scale(1);"></div>
			
				<div class="container padding-vertical-40 force-front">
					
					<div class="col-md-5 col-md-offset-7 white v-center2" data-900="opacity:0;display:none;" data-1200="opacity:0;display:block;" data-1300="opacity:1;">
						<h3 class="white title">Smart reclining</h3>
						<p>The patented La-Z-Boy mechanism allows for personalised, smart reclining that can be individually adjusted based on your body type. Customise your La-Z-Boy even more with the option of ordering it with a built-in mini fridge cup-holder and storage compartments.</p>
					</div><!--col-md-6-->
				</div><!--container-->
			
			</section><!--scroll-stage-3-->
		
				
			<!--====================================end scrollstage-3=====================================-->
			
			<section id="scroll-stage-4" class="clearfix scroll-stage" data-1900="top:0%;z-index:10;" data-2000="top:-100%;">
				
			
				<div class="seq seq2-b" data-0="opacity:0;background-image:url(/campaigns/la-z-boy/img/detail-2.jpg);z-index:1" data-1300="opacity:0;transform:scale(1.1);" data-1600="opacity:1;" data-1700="transform:scale(1);"></div>
			
				<div class="container padding-vertical-40 force-front">
					
					<div class="col-md-5 white v-center3" data-900="opacity:0;display:none;" data-1400="opacity:0;display:block;" data-1700="opacity:1;">
						<h3 class="white title">Four-sided unibody frame for maximum strength</h3>
					</div><!--col-md-6-->
				</div><!--container-->
			
			</section><!--scroll-stage-4-->
		
				
			
		
			<!--====================================end scrollstage-4=====================================-->
		
			<section id="scroll-stage-5" class="clearfix scroll-stage" data-0="height:100%;overflow:visible;" data-2000="z-index:0;top:2%;"  data-3000="top:-150%;">
				<div class="container clearfix">
				
					<div class="title margin-bottom-40 center clearfix padding-vertical-60">
						<h3 class="title">The La-Z-Boys</h3>
					</div>
				<div class="center visible-xs visible-sm margin-bottom-40">
				<a href="https://www.rochester.co.za/lounge-furniture/category/la-z-boy" class="btn-orange btn orange margin-bottom-20" style="opacity: 1;">View the full range</a>
			</div>
					{exp:store:search channel="lounge_furniture" status="Open|Case-goods" category="12"}

					<div class="col-md-4 product-block clearfix" style="margin-bottom:60px;">

						<a href="{title_permalink='lounge-furniture/detail'}/lz-referer" title="View {title}'s details" target="_blank" class="hover-trans">{product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" alt="{title}" class="img-responsive" crop="yes" width="690" height="390" allow_scale_larger="yes"}{/product_feature_image}</a>

						<div class="col-md-8 caps row">
							<p>{title}</p>
							<p class="visible-xs visible-sm bold">{product_details:price}</p>
						</div><!--col-md-8-->

						<p class="pull-right hidden-xs hidden-sm bold">{product_details:price}</p>
						<div class="clearfix"></div>
						
						
						<div class="clearfix"></div>

						<p class="view-more"><a href="{title_permalink='lounge-furniture/detail'}/lz-referer" class="italic" target="_blank">More info &amp; order <span class="glyphicon glyphicon-play-circle orange"></span></a></p>
					</div><!--product-block-->
					{/exp:store:search}
				</div><!--container-->
			
				
				<div class="lz-footer"></div>
			
			</section><!--scroll-stage-5-->
	
			
			<!--====================================end scrollstage-6=====================================-->
				
		
			<div class="jump-nav-wrap clearfix center" data-0="z-index:1000;" data-1900="opacity:1;" data-2000="opacity:0;">
				<!-- <a href="#" data-toggle="modal" data-target="#myModal" class="btn-orange btn orange margin-bottom-20" data-0="opacity:0;" data-50="opacity:0;" data-150="opacity:1;">Order yours today</a> -->
				<p class="italic black" data-0="opacity:1;display:block;" data-50="opacity:0;display:none;">- Scroll Down -</p>
			
				<ul class="jump-nav clearfix hidden-xs hidden-sm">
					<li class="#"><a href="#" data-menu-top="0"><span class="glyphicon glyphicon-record"></span></a></li>
					<li class="#"><a href="#" data-menu-top="100"><span class="glyphicon glyphicon-record"></span></a></li>
					<li class="#"><a href="#" data-menu-top="900"><span class="glyphicon glyphicon-record"></span></a></li>
					<li class="#"><a href="#" data-menu-top="1300"><span class="glyphicon glyphicon-record"></span></a></li>
					<li class="#"><a href="#" data-menu-top="1700"><span class="glyphicon glyphicon-record"></span></a></li>
					<li class="#"><a href="#" data-menu-top="2000"><span class="glyphicon glyphicon-record"></span></a></li>
					
				</ul>
			
				<!-- <a href="#" data-menu-top="2700" data-0="opacity:1;" data-2400="opacity:1;" data-2600="opacity:0;" class="btn-orange btn orange">Order now</a> -->
		
			</div><!--jump-nav-wrap-->
		
			<a href="#" class="view-range italic hidden-sm hidden-xs" data-0="top:100%;display:block;" data-100="top:0%;" data-2200="top:0%;" data-2700="top:-100%;" data-menu-top="2000">View the Range</a>
		
		</div><!--scroll-container-->


{embed="_includes/_footer"}