{embed="_includes/_header" menu_class="no-border-bottom"
page_title="Extended Warranties"
description=""
keywords=""
learn_section_extras="yes"
body_id="fp"
body_class="static learn learn-one"
}



	<header class="learn-pages materials">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <i class="icon-font-glyph icon-font-materials"></i>
                    <h2 class="text-uppercase">Materials</h2>
                    <p>Our wide range of colourful synthetic fabrics, including pet-friendly microfibre selections, are designed to complement your space.</p>
                    <a href="{path='branch-locator'}" class="btn btn-primary text-uppercase">Contact us</a>
                </div>
            </div>
        </div>
    </header>
    <section class="materials section-one">
        <div class="container section-header mt-135 mb-135 clearfix">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
                    <h2 class="text-uppercase col-xs-12 col-sm-10 col-sm-offset-1">learn everything about your furniture and return Policies</h2>
                    <p class="col-xs-12 col-sm-10 col-sm-offset-1 ">We are driven by the opportunity to share with you our passion for furniture. By manufacturing everything ourselves, we're better able to serve you. We can address your specific design needs, offer you unparalleled value and create
                        a personalized shopping experience.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-grey  section-two">
        <div class="container carousel-container">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                    <div class="carousel pull-up slide" data-ride="carousel" id="carouselTwo">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="{site_url}base-theme-2016/learn-section/images/couches.jpg" />
                            </div>
                            <div class="item">
                                <img src="{site_url}base-theme-2016/learn-section/images/couches.jpg" />
                            </div>
                            <div class="item">
                                <img src="{site_url}base-theme-2016/learn-section/images/couches.jpg" />
                            </div>
                            <div class="item">
                                <img src="{site_url}base-theme-2016/learn-section/images/couches.jpg" />
                            </div>
                        </div>
                        <ol class="carousel-indicators learn-integration">
                            <li class="active" data-slide-to="0" data-target="#carouselOne"></li>
                            <li data-slide-to="1" data-target="#carouselTwo"></li>
                            <li data-slide-to="2" data-target="#carouselTwo"></li>
                            <li data-slide-to="3" data-target="#carouselTwo"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <h2 class="text-uppercase text-center benefits-header">Most man-made fibres are strong and durable but each has its own specific stain removal and laundry care requirements.</h2>
                <div class="row benefits-row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 benefits-block">
                        <h4 class="text-uppercase line-device">Using a vacuum</h4>
                        <p>Before cleaning, it's best to vacuum your furniture, being sure to get between cushions and in crevices to avoid rubbing in further dirt.</p>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 benefits-block">
                        <h4 class="text-uppercase line-device">Using solvents</h4>
                        <p>Before applying to soiled area, it's best to test on an inconspicuous area of your furniture like the underside or bottom of a cushion.</p>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 benefits-block">
                        <h4 class="text-uppercase line-device">Ventilation counts</h4>
                        <p>Prior to cleaning, make sure the area is well ventilated. Open windows or doors if needed.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 benefits-block">
                        <h4 class="text-uppercase line-device">Use light fabrics </h4>
                        <p>Apply cleaner to the treated area and let sit for 5-10 minutes. Use a light fabric brush to agitate the area if needed.</p>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 benefits-block">
                        <h4 class="text-uppercase line-device">Treating wood</h4>
                        <p>Drop cloths should be used to protect wood floors and legs of the sofa. If solvent is accidentally sprayed or dripped onto wood, it should be wiped off immediately.</p>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 benefits-block last">
                        <h4 class="text-uppercase line-device">Drying furniture</h4>
                        <p>Allow to completely air dry before use or sitting on. It's always best to check the manufacturers cleaning recommendations as well.</p>
                    </div>
                </div>
                <div class="text-center mt-60">
                    <a href="{path='lounge-furniture/category/fabric'}" class="btn btn-primary text-uppercase">See our fabric chairs</a>
                </div>
            </div>

        </div>
    </section>
    <section class="bg-left-70 section-three">
        <div class="bg-couch"></div>
        <div class="container">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1 ">
                <div class="col-xs-12 col-sm-7 col-sm-offset-5 bg-white info-col">
                    <h2 class="text-uppercase">Caring for leather</h2>
                    <p>We're in the business of above and beyond, meaning all of our timeless, modern designs are crafted to exceed industry standards.</p>
                </div>
            </div>
        </div>
        <div class="container mobile-image hidden-sm hidden-md hidden-lg">
            <img src="{site_url}base-theme-2016/learn-section/images/leather-couch-small.jpg" />
        </div>
        <div class="container">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1 ">
                <div class="col-xs-12 col-sm-7 col-sm-offset-5 bg-white info-col info-col-last">
                    <div class="icon-blurb">
                        <div class="icon">
                            <i class="icon-font-glyph icon-font-care"></i>
                        </div>
                        <div class="info">
                            <h4 class="text-uppercase line-device">Cleaning Leather</h4>
                            <p>Keep leather supple by treating it with Dubbin or a suitable oil. This will prevent it from cracking.</p>
                        </div>
                    </div>
                    <div class="icon-blurb">
                        <div class="icon">
                            <i class="icon-font-glyph icon-font-maintain"></i>
                        </div>
                        <div class="info">
                            <h4 class="text-uppercase  line-device">Maintaining Leather</h4>
                            <p>Brush your leather with a damp cloth once a week. Don't wet it too much and allow time for it to dry.</p>
                        </div>
                    </div>
                    <a href="{path='lounge-furniture/category/leather'}" class="btn btn-primary text-uppercase">See our leather couches</a>
                </div>
            </div>

        </div>
    </section>
    <section class="icon-menu" id="icon-menu-footer">
        <div class="container">
            <div class="icon-menu-container col-xs-12 col-md-8 col-md-offset-2">
                <div class="expand-mobile center-block">
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                            <div class="content">
                                <div class="icon-device">
                                    <div class="icon icon-medal">
                                        <i class="icon-font-glyph icon-font-guarantee"></i>
                                    </div>
                                    <h3 class="text-uppercase line-device">Guarantee</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                            <a href="{path='learn/leather-treatment-and-maintenance/'}">
                                <div class="content">
                                    <div class="icon-device">
                                        <div class="icon icon-material">
                                            <i class="icon-font-glyph icon-font-materials"></i>
                                        </div>
                                        <h3 class="text-uppercase line-device">Materials</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                            <a href="{path='learn/leather-treatment-and-maintenance/'}">
                                <div class="content">
                                    <div class="icon-device">
                                        <div class="icon icon-product">
                                            <i class="icon-font-glyph icon-font-care"></i>
                                        </div>
                                        <h3 class="text-uppercase line-device">Product care</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                            <div class="content">
                                <div class="icon-device">
                                    <div class="icon icon-fit">
                                        <i class="icon-font-glyph icon-font-fit"></i>
                                    </div>
                                    <h3 class="text-uppercase line-device">Fit guide</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





{embed="_includes/_footer" learn_section_extras="yes"}