{embed="_includes/_header" menu_class="no-border-bottom"
page_title="How To Guide"
description=""
keywords=""
learn_section_extras="yes"
body_id="fp"
body_class="static learn learn-three"
}



	<header class="masthead with-icon materials-three">
        <div class="container text-center">
            <i class="icon-font-glyph icon-font-materials"></i>
            <h2 class="text-uppercase">Materials</h2>
            <p>Our wide range of colourful synthetic fabrics, including pet-friendly microfibre selections,<br> are designed to complement your space.</p>
            <a href="{path='branch-locator'}" class="btn btn-primary text-uppercase">Contact us</a>
        </div>
    </header>
    <section class="image-blocks section-one">
        <div class="container">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h2 class="text-center text-uppercase section-heading">EVERYTHING YOU NEED TO KNOW<br> ABOUT OUR FABRICS
                </h2>
                <p class="text-center section-info">Our exposed wood furniture is made with 100% all-natural hardwood. Choose one that works perfectly for your space.</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 text-center image-block">
                        <div class="image-icon-block">
                            <div class="image-icon-block-content">
                                <div class="icon">
                                    <i class="icon-font-glyph icon-font-guarantee"></i>
                                </div>
                                <h4 class="text-uppercase text-center">Bennett Fabrics</h4>
                            </div>
                            <img class="img-responsive" src="{site_url}base-theme-2016/learn-section/images/block-large-1.jpg" />
                        </div>
                        <p class="text-center col-xs-12">Bennett fabrics are durable and tough but they easily attract oil stains that need a bit of extra care to remove. </p>
                        <a href="{path='lounge-furniture/category/fabric'}" class="btn btn-primary text-uppercase">See our fabric chairs</a>
                    </div>
                    <div class="col-xs-12 col-sm-6 text-center image-block">
                        <div class="image-icon-block">
                            <div class="image-icon-block-content">
                                <div class="icon">
                                    <i class="icon-font-glyph icon-font-materials"></i>
                                </div>
                                <h4 class="text-uppercase text-center">Cordova Fabrics</h4>
                            </div>
                            <img class="img-responsive" src="{site_url}base-theme-2016/learn-section/images/block-large-2.jpg" />
                        </div>
                        <p class="text-center col-xs-12">Cordova fabrics are heat sensitive and high temperatures in the dryer or when ironing can cause them to melt, shrink or deform.</p>
                        <a href="{path='lounge-furniture/category/fabric'}" class="btn btn-primary text-uppercase">See our fabric chairs</a>
                    </div>
                </div>
            </div>

    </section>
    <section class="content-section section-two">
        <div class="container">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="col-sm-7">
                    <h3 class="text-uppercase">Care for your<br> couch</h3>
                    <p>Prevent sun damage by avoiding or minimising<br> exposure to direct sunlight.</p>
                </div>
                <div class="col-sm-5">
                    <img class="img-responsive center-block" src="{site_url}base-theme-2016/learn-section/images/couch-care.jpg" />
                </div>
            </div>

    </section>
    <section class="section-three">

        <div class="carousel slide large-header" data-ride="carousel" id="carouselTwo">
            <div class="carousel-inner text-center">
                <div class="item active">
                    <div class="slide-header-bg leather-care">
                        <h3 class="text-uppercase slide-header col-xs-10 col-xs-offset-1">Caring for leather</h3>
                    </div>
                    <div class="container">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                            <div class="row number-blocks">
                                <div class="col-xs-12 col-md-4">
                                    <div class="number-block">1</div>
                                    <h4 class="line-device text-uppercase">Medium</h4>
                                    <p>For those who love pure wood grain, our medium stain brings out the inherent characteristics of your furniture's features.</p>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="number-block">2</div>
                                    <h4 class="line-device text-uppercase">Coffee Bean</h4>
                                    <p>Bold, brash, and irresistibly stylish, our coffee bean finish is like a dark chocolate bath for your furniture.</p>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="number-block">3</div>
                                    <h4 class="line-device text-uppercase">Mocha</h4>
                                    <p>Warm and inviting, our mocha tint's rich lustre adds depth and character to your wood's natural grain. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="slide-header-bg leather-care">
                        <h3 class="text-uppercase slide-header col-xs-10 col-xs-offset-1">Caring for leather</h3>
                    </div>
                    <div class="container">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                            <div class="row number-blocks">
                                <div class="col-xs-12 col-md-4">
                                    <div class="number-block">1</div>
                                    <h4 class="line-device text-uppercase">Medium</h4>
                                    <p>For those who love pure wood grain, our medium stain brings out the inherent characteristics of your furniture's features.</p>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="number-block">2</div>
                                    <h4 class="line-device text-uppercase">Coffee Bean</h4>
                                    <p>Bold, brash, and irresistibly stylish, our coffee bean finish is like a dark chocolate bath for your furniture.</p>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="number-block">3</div>
                                    <h4 class="line-device text-uppercase">Mocha</h4>
                                    <p>Warm and inviting, our mocha tint's rich lustre adds depth and character to your wood's natural grain. </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <ol class="carousel-indicators learn-integration">
                <li class="active" data-slide-to="0" data-target="#carouselTwo"></li>
                <li data-slide-to="1" data-target="#carouselTwo"></li>
            </ol>
        </div>
    </section>
    <section class="content-section section-four">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1">
                    <h3 class="text-uppercase text-center">How to clean your couch</h3>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <h4 class="line-device text-uppercase">
                                Prepping your couch
                            </h4>
                            <p>Our wide range of colorful synthetic fabrics, including pet-friendly microfiber selections, are designed to complement your space. Whether your style is bright and bold or natural and neutral, we have a variety of hues and
                                textures to perfectly match your ultimate design vision. Browse our collections, and discover the possibilities. You'll be happy to know that Joybird products do not contain any harsh chemicals, and our fabrics and foams
                                do not contain any flame retardants.</p>
                            <p>The classic appeal of velvet comes home in our velvet-textured and chenille fabrics. With their plush, soft feel and sturdy makeup, they're a great choice for high-traffic areas, and because of their low pile.</p>
                        </div>

                        <div class="col-xs-12 col-md-6 hidden-xs">
                            <img class="img-responsive" src="{site_url}base-theme-2016/learn-section/images/lounge.jpg" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <h4 class="line-device text-uppercase">
                                Cleaning your couch
                            </h4>
                            <p>Our wide range of colorful synthetic fabrics, including pet-friendly microfiber selections, are designed to complement your space. Whether your style is bright and bold or natural and neutral, we have a variety of hues and
                                textures to perfectly match your ultimate design vision. Browse our collections, and discover the possibilities. You'll be happy to know that Joybird products do not contain any harsh chemicals, and our fabrics and foams
                                do not contain any flame retardants.</p>
                            <p>The classic appeal of velvet comes home in our velvet-textured and chenille fabrics. With their plush, soft feel and sturdy makeup, they're a great choice for high-traffic areas, and because of their low pile.</p>
                            <a class="btn btn-primary text-uppercase hidden-xs">See our leather couches</a>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <h4 class="line-device text-uppercase">
                                Material colours
                            </h4>
                            <img class="img-responsive" src="{site_url}base-theme-2016/learn-section/images/colors.jpg" />
                            <a href="{path='lounge-furniture/category/leather'}" class="btn btn-primary text-uppercase hidden-sm hidden-md hidden-lg">See our leather couches</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="icon-menu" id="icon-menu-footer">
        <div class="container">
            <div class="icon-menu-container col-xs-12 col-md-8 col-md-offset-2">
                <div class="expand-mobile center-block">
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                            <div class="content">
                                <div class="icon-device">
                                    <div class="icon icon-medal">
                                        <i class="icon-font-glyph icon-font-guarantee"></i>
                                    </div>
                                    <h3 class="text-uppercase line-device">Guarantee</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                            <div class="content">
                                <div class="icon-device">
                                    <div class="icon icon-material">
                                        <i class="icon-font-glyph icon-font-materials"></i>
                                    </div>
                                    <h3 class="text-uppercase line-device">Materials</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                            <div class="content">
                                <div class="icon-device">
                                    <div class="icon icon-product">
                                        <i class="icon-font-glyph icon-font-care"></i>
                                    </div>
                                    <h3 class="text-uppercase line-device">Product care</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                            <div class="content">
                                <div class="icon-device">
                                    <div class="icon icon-fit">
                                        <i class="icon-font-glyph icon-font-fit"></i>
                                    </div>
                                    <h3 class="text-uppercase line-device">Fit guide</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{embed="_includes/_footer" learn_section_extras="yes"}