{embed="_includes/_header" menu_class="no-border-bottom"
page_title="Learn about your furniture"
description=""
keywords=""
learn_section_extras="yes"
body_id="fp"
body_class="static learn learn-two"
}



	<header class="masthead with-icon materials-two">
        <div class="container text-center">
            <i class="icon-font-glyph icon-font-materials"></i>
            <h2 class="text-uppercase">Learn about your furniture</h2>
            <!-- <p>Our wide range of colourful synthetic fabrics, including pet-friendly microfibre selections, are designed to complement your space.</p> -->
            <a href="{path='branch-locator'}" class="btn btn-primary text-uppercase">Contact us</a>
        </div>
    </header>
    <section class="section-one">
        <div class="container">
            <div class="col-xs-12">
                <!-- Nav tabs -->
                <div class="clearfix tab-border">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <div class="icon">
                                <i class="icon-font-glyph icon-font-materials"></i>
                            </div>
                            <a href="#upholstery" aria-controls="upholstery" role="tab" data-toggle="tab">Upholstery</a>
                        </li>
                        <li role="presentation">
                            <div class="icon">
                                <i class="icon-font-glyph icon-font-care"></i>
                            </div>
                            <a href="#care" aria-controls="care" role="tab" data-toggle="tab">Product Care</a></li>
                        <li role="presentation">
                            <div class="icon">
                                <i class="icon-font-glyph icon-font-finance"></i>
                            </div>
                            <a href="#ways-to-pay" aria-controls="ways-to-pay" role="tab" data-toggle="tab">Ways to Pay</a></li>
                        <li role="presentation">
                            <div class="icon">
                                <i class="icon-font-glyph icon-font-returns"></i>
                            </div>
                            <a href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab">Deliveries</a></li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="upholstery">
                        <h3 class="text-center text-uppercase tab-header">Types of Leather</h3>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 info-item">
                                <img class="col-md-10 col-xs-12 center-block" src="{site_url}base-theme-2016/learn-section/images/corrected-grain-leather.jpg" />
                                <div class="col-md-10 col-xs-12 center-block">
                                    <h4 class="text-uppercase">CORRECTED GRAIN LEATHER</h4>
                                    <p>Corrected Grain Leather has its natural markings removed and has an applied finish of pigments and sealer coats to better resist markings and spillages.</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 info-item">
                                <img class="col-md-10 col-xs-12 center-block" src="{site_url}base-theme-2016/learn-section/images/semi-aniline-leather.jpg" />
                                <div class="col-md-10 col-xs-12 center-block">
                                    <h4 class="text-uppercase">SEMI-ANILINE LEATHER</h4>
                                    <p>Semi-Aniline leather is stylish and more natural looking. Its finish gives it a uniform look and does not disguise all the natural markings and scars on the hide. This provides more uniqueness to your suite as no two hides are identical and will provide a more natural appeal.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 info-item">
                                <img class="col-md-10 col-xs-12 center-block" src="{site_url}base-theme-2016/learn-section/images/full-aniline-leather.jpg" />
                                <div class="col-md-10 col-xs-12 center-block">
                                    <h4 class="text-uppercase">GENUINE LEATHER (FULL ANILINE LEATHER)</h4>
                                    <p>Full Aniline Leather is the most rewarding for leather connoisseurs. It has a wonderful silky touch and the look has great depth. The natural markings and scars on the hide give this leather its character and authenticity. With age, this leather will mould to your body shape and colours may mellow and change according to its use and environment, making the piece of furniture uniquely your own.</p>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6 info-item">
                                <img class="col-md-10 col-xs-12 center-block" src="{site_url}base-theme-2016/learn-section/images/leather-uppers.jpg" />
                                <div class="col-md-10 col-xs-12 center-block">
                                    <h4 class="text-uppercase">LEATHER UPPERS</h4>
                                    <p>Genuine leather on all body contact areas and imitation/synthetic leather on the non-body contact areas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="care">
                        <h3 class="text-center text-uppercase tab-header">Product Care</h3>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 info-item">
                                <img class="center-block" src="{site_url}base-theme-2016/learn-section/images/no-sharp-objects.png" width="140"/>
                                <div class="col-md-10 col-xs-12 center-block">
                                    <h4 class="text-uppercase">Important Info</h4>
                                    <p>Be careful not to snag upholstery with sharp objects. If you do find a snag, do not pull it, simply cut it as close as possible to the fabric. Arms and backs are not designed for sitting as this causes premature wear on the foam, frame and fabric.</p>
                                    <p>Condition your leather approximately every 9-12 months, using a good quality hide food which contains softening and nourishing agents. We recommend: LEATHERGUARD products specific to your leather type. This will prevent leather from drying out and cracking over time.</p>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 info-item">
                                <img class="center-block" src="{site_url}base-theme-2016/learn-section/images/cracked-uppers.png" width="140"/>
                                <div class="col-md-10 col-xs-12 center-block">
                                    <h4 class="text-uppercase">Synthetic areas</h4>
                                    <p>If your lounge suite has leather uppers, do not use hide food, solvents, detergents or furniture polish, as this will cause synthetic to harden and crack.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="ways-to-pay">
                        <h3 class="text-center text-uppercase tab-header">Ways to Pay</h3>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 info-item center-block">
                                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                                    <img src="{site_url}base-theme-2016/learn-section/images/ways-to-pay-delivery-m.jpg" class="img-responsive">
                                </div>
                                <div class="hidden-xs visible-sm visible-md visible-lg">
                                    <img src="{site_url}base-theme-2016/learn-section/images/ways-to-pay-delivery.jpg" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="delivery">
                        <h3 class="text-center text-uppercase tab-header">Delivery</h3>
                        <div class="row">
                            <div class="col-xs-12 info-item">
 								<img src="{site_url}base-theme-2016/learn-section/images/delivery-benefits.jpg" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="carousel-bg-image section-two">
        <div class="container">
            <div class="col-xs-12">
                <div class="carousel">

                    <div class="carousel-inner text-center">
                        <div class="item active">
                            <div class="col-xs-12 col-md-10 col-md-offset-1">
                                <h3 class="text-uppercase slide-header">Caring for your upholstery</h3>

                                <div class="paragraphs">
                                    <h4>Preen</h4>
                                    <p class="mb-0 mt-10">To keep your suite clean, simply use a feather duster, dry cloth or a vacuum cleaner to rid it of any dust or debris. If vacuuming, be sure to use a soft or brush tip. For spills, use a dry absorbent cloth. No detergents, creams or polishes should be used. If there is a persistent stain, we recommend contacting an upholstery specialist.</p>
                                </div>

                                <div class="paragraphs mt-40">
                                    <h4>Pamper</h4>
                                    <p class="mb-0 mt-10">For suites with fibre filled cushions, you can use both hands to “fluff, pat and puff” them up to ensure they always look good. Back cushions or arm rests may seem to flatten due to wear but just a quick fluff up will restore it.</p>
                                </div>

                                <div class="paragraphs mt-40">
                                    <h4>Protect</h4>
                                    <p class="mb-0 mt-10">Both direct and indirect sunlight can cause fabrics and leathers to fade or perish so care needs to be taken with regards to the amount of sunlight your suite faces. We recommend moving your suite pieces around the room every few months to reduce exposure to sunlight. You can also use a throw across pieces that in direct sunlight. Ensure that you keep leather furniture away from intense heat to help prevent the leather from drying and possibly cracking.</p>
                                </div>

                                <hr style="border-width:2px;border-color:#e4e4e4;margin:40px 0;">

                                <div class="row mb-80 mb-xs-40 mt-60 mt-xs-30">
                                	<div class="col-sm-6 col-xs-12">
                                		<a href="{site_url}base-theme-2016/learn-section/pdf/FABRIC%20CARE%20INSTRUCTIONS.pdf" class="main-btn solid" target="_blank">General Fabric Care</a>
                                	</div>
                                	<div class="col-sm-6 col-xs-12 mt-xs-20">
                                		<a href="{site_url}base-theme-2016/learn-section/pdf/LEATHER%20CARE%20INSTRUCTIONS.pdf" class="main-btn solid" target="_blank">General Leather Care</a>
                                	</div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="icon-menu" id="icon-menu-footer">
        <div class="container">
            <div class="icon-menu-container col-xs-12 col-md-8 col-md-offset-2">
                <!-- <div class="expand-mobile center-block">
                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                </div> -->
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                        	<a href="#upholstery">
	                            <div class="content">
	                                <div class="icon-device">
	                                    <div class="icon icon-medal">
	                                        <i class="icon-font-glyph icon-font-materials"></i>
	                                    </div>
	                                    <h3 class="text-uppercase line-device">Upholstery</h3>
	                                </div>
	                            </div>
                        	</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                            <a href="#care">
                                <div class="content">
                                    <div class="icon-device">
                                        <div class="icon icon-material">
                                            <i class="icon-font-glyph icon-font-care"></i>
                                        </div>
                                        <h3 class="text-uppercase line-device">Product Care</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                            <a href="#ways-to-pay">
                                <div class="content">
                                    <div class="icon-device">
                                        <div class="icon icon-product">
                                            <i class="icon-font-glyph icon-font-finance"></i>
                                        </div>
                                        <h3 class="text-uppercase line-device">Ways to Pay</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 text-center square-outer">
                        <div class="square">
                        	<a href="#delivery">
	                            <div class="content">
	                                <div class="icon-device">
	                                    <div class="icon icon-fit">
	                                        <i class="icon-font-glyph icon-font-returns"></i>
	                                    </div>
	                                    <h3 class="text-uppercase line-device">Delivery</h3>
	                                </div>
	                            </div>
                        	</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{embed="_includes/_footer" learn_section_extras="yes"}