{embed="_includes/_header" menu_class="no-border-bottom"
page_title="Lounge, Dining and Bedroom Furniture"
description=""
keywords=""
learn_section_extras="yes"
body_id="fp"
body_class="static learn learn-index"
}







	    <header class="learn-pages landing">
	        <div class="container text-center">
	            <div class="row">
	                <div class="col-xs-10 col-xs-offset-1">
	                    <h2 class="text-uppercase">Learn More About your items and purchases</h2>
	                    <a href="{path='branch-locator'}" class="btn btn-primary text-uppercase">Contact us</a>
	                </div>
	            </div>
	        </div>
	    </header>
	    <section class="section-one">
	        <div class="container text-center">
	            <div class="row">
	                <div class="col-xs-12 col-sm-10 col-sm-offset-1 block-nav-outer">
	                    <nav class="block-nav">
	                        <div class="row">
	                            <div class="col-xs-6 col-sm-6 col-md-3 text-center square-outer">
	                                <div class="square">
	                                    <div class="content">
	                                        <div class="icon-device">
	                                            <div class="icon">
	                                                <i class="icon-font-glyph icon-font-guarantee"></i>
	                                            </div>
	                                            <h3 class="text-uppercase line-device">Guarantee</h3>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-xs-6 col-sm-6 col-md-3 text-center square-outer">
	                                <div class="square">
	                                	<a href="{path='learn/leather-treatment-and-maintenance/'}">
		                                    <div class="content">
		                                        <div class="icon-device">
		                                            <div class="icon">
		                                                <i class="icon-font-glyph icon-font-materials"></i>
		                                            </div>
		                                            <h3 class="text-uppercase line-device">Materials</h3>
		                                        </div>
		                                    </div>
	                                	</a>
	                                </div>
	                            </div>
	                            <div class="col-xs-6 col-sm-6 col-md-3 text-center square-outer">
	                                <div class="square">
	                                	<a href="{path='learn/leather-treatment-and-maintenance/'}">
		                                    <div class="content">
		                                        <div class="icon-device">
		                                            <div class="icon">
		                                                <i class="icon-font-glyph icon-font-care"></i>
		                                            </div>
		                                            <h3 class="text-uppercase line-device">Product care</h3>
		                                        </div>
		                                    </div>
	                                	</a>
	                                </div>
	                            </div>
	                            <div class="col-xs-6 col-sm-6 col-md-3 text-center square-outer">
	                                <div class="square">
	                                    <div class="content">
	                                        <div class="icon-device">
	                                            <div class="icon">
	                                                <i class="icon-font-glyph icon-font-fit"></i>
	                                            </div>
	                                            <h3 class="text-uppercase line-device">Fit guide</h3>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="col-xs-6 col-sm-6 col-md-3 text-center square-outer">
	                                <div class="square">
	                                    <div class="content">
	                                        <div class="icon-device">
	                                            <div class="icon">
	                                                <i class="icon-font-glyph icon-font-shipping"></i>
	                                            </div>
	                                            <h3 class="text-uppercase line-device">Shipping</h3>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-xs-6 col-sm-6 col-md-3 text-center square-outer">
	                                <div class="square">
	                                    <div class="content">
	                                        <div class="icon-device">
	                                            <div class="icon">
	                                                <i class="icon-font-glyph icon-font-returns"></i>
	                                            </div>
	                                            <h3 class="text-uppercase line-device">Returns</h3>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-xs-6 col-sm-6 col-md-3 text-center square-outer">
	                                <div class="square">
	                                    <div class="content">
	                                        <div class="icon-device">
	                                            <div class="icon">
	                                                <i class="icon-font-glyph icon-font-finance"></i>
	                                            </div>
	                                            <h3 class="text-uppercase line-device">Finance</h3>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="col-xs-6 col-sm-6 col-md-3 text-center square-outer">
	                                <div class="square">
	                                    <div class="content">
	                                        <div class="icon-device">
	                                            <div class="icon">
	                                                <i class="icon-font-glyph icon-font-faqs"></i>
	                                            </div>
	                                            <h3 class="text-uppercase line-device">FAQs</h3>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </nav>
	                </div>
	
	            </div>
	        </div>
	    </section>
	    <section class="section-two">
	        <div class="container">
	            <div class="col-lg-12 text-center">
	                <h2 class="section-heading text-uppercase">Learn everything about your furniture<br> and return Policies</h2>
	            </div>
	            <div class="col-md-12">
	                <div class="carousel carousel-showmanymoveone slide mb-140" data-ride="carousel" id="carouselOne">
	                    <ol class="carousel-indicators learn-integration">
	                        <li class="active" data-slide-to="0" data-target="#carouselOne"></li>
	                        <li data-slide-to="1" data-target="#carouselOne"></li>
	                        <li data-slide-to="2" data-target="#carouselOne"></li>
	                        <li data-slide-to="3" data-target="#carouselOne"></li>
	                        <li data-slide-to="4" data-target="#carouselOne"></li>
	                        <li data-slide-to="5" data-target="#carouselOne"></li>
	                        <li data-slide-to="6" data-target="#carouselOne"></li>
	                        <li data-slide-to="7" data-target="#carouselOne"></li>
	                    </ol>
	                    <div class="carousel-inner">
	                        <div class="item active">
	                            <div class="col-xs-12 col-sm-6 col-md-4">
	                                <a href="#">
	                                    <div class="square">
	                                        <div class="content">
	                                            <div class="icon-device">
	                                                <div class="icon">
	                                                    <i class="icon-font-glyph icon-font-guarantee"></i>
	                                                </div>
	                                                <h3 class="text-uppercase line-device">Guarantee</h3>
	                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget lacinia lorem. Mauris malesuada ultrices.</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <div class="col-xs-12 col-sm-6 col-md-4">
	                                <a href="#">
	                                    <div class="square">
	                                        <div class="content">
	                                            <div class="icon-device">
	                                                <div class="icon icon-material">
	                                                    <i class="icon-font-glyph icon-font-materials"></i>
	                                                </div>
	                                                <h3 class="text-uppercase line-device">Materials</h3>
	                                                <p>Our range of colourful leather & synthetic fabrics are designed to complement your space.</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <div class="col-xs-12 col-sm-6 col-md-4">
	                                <a href="#">
	                                    <div class="square">
	                                        <div class="content">
	                                            <div class="icon-device">
	                                                <div class="icon icon-product">
	                                                    <i class="icon-font-glyph icon-font-care"></i>
	                                                </div>
	                                                <h3 class="text-uppercase line-device">Product care</h3>
	                                                <p>We share our top tips for how to best look after your furniture so that it serves you Well for years to come.</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <div class="col-xs-12 col-sm-6 col-md-4">
	                                <a href="#">
	                                    <div class="square">
	                                        <div class="content">
	                                            <div class="icon-device">
	                                                <div class="icon icon-fit">
	                                                    <i class="icon-font-glyph icon-font-fit"></i>
	                                                </div>
	                                                <h3 class="text-uppercase line-device">Fit guide</h3>
	                                                <p>See how to measure the space you're purchasing furniture for to get the perfect fit.</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <div class="col-xs-12 col-sm-6 col-md-4">
	                                <a href="#">
	                                    <div class="square">
	                                        <div class="content">
	                                            <div class="icon-device">
	                                                <div class="icon icon-shipping">
	                                                    <i class="icon-font-glyph icon-font-shipping"></i>
	                                                </div>
	                                                <h3 class="text-uppercase line-device">Shipping</h3>
	                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget lacinia lorem. Mauris malesuada ultrices.</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <div class="col-xs-12 col-sm-6 col-md-4">
	                                <a href="#">
	                                    <div class="square">
	                                        <div class="content">
	                                            <div class="icon-device">
	                                                <div class="icon icon-returns">
	                                                    <i class="icon-font-glyph icon-font-returns"></i>
	                                                </div>
	                                                <h3 class="text-uppercase line-device">Returns</h3>
	                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget lacinia lorem. Mauris malesuada ultrices.</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <div class="col-xs-12 col-sm-6 col-md-4">
	                                <a href="#">
	                                    <div class="square">
	                                        <div class="content">
	                                            <div class="icon-device">
	                                                <div class="icon icon-finance">
	                                                    <i class="icon-font-glyph icon-font-finance"></i>
	                                                </div>
	                                                <h3 class="text-uppercase line-device">Finance</h3>
	                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget lacinia lorem. Mauris malesuada ultrices.</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <div class="col-xs-12 col-sm-6 col-md-4">
	                                <a href="#">
	                                    <div class="square">
	                                        <div class="content">
	                                            <div class="icon-device">
	                                                <div class="icon icon-faq">
	                                                    <i class="icon-font-glyph icon-font-faqs"></i>
	                                                </div>
	                                                <h3 class="text-uppercase line-device">FAQs</h3>
	                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget lacinia lorem. Mauris malesuada ultrices.</p>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </a>
	                            </div>
	                        </div>
	                    </div>
	                    <a class="left carousel-control" data-slide="prev" href="#carouselOne">
	                        <svg class="icon-prev" height="34px" width="20px" xmlns="http://www.w3.org/2000/svg">
	                    <path d="M17.435,3.174 L5.548,14.998 L17.435,26.823 C18.167,27.548 18.167,28.725 17.435,29.450 C16.706,30.174 15.520,30.174 14.790,29.450 L1.750,16.482 C1.683,16.432 1.605,16.407 1.544,16.346 C1.169,15.975 0.990,15.485 0.999,14.998 C0.990,14.511 1.169,14.021 1.544,13.650 C1.605,13.590 1.684,13.564 1.750,13.514 L14.790,0.547 C15.520,-0.179 16.706,-0.179 17.435,0.547 C18.167,1.271 18.167,2.448 17.435,3.174 Z" fill="rgb(0, 0, 0)"></path></svg>
	                    </a>
	                    <a class="right carousel-control" data-slide="next" href="#carouselOne"><svg class="icon-next" height="34px" width="21px" xmlns="http://www.w3.org/2000/svg">
	                        <path d="M17.456,16.349 C17.395,16.410 17.316,16.435 17.249,16.485 L4.210,29.452 C3.480,30.178 2.294,30.178 1.565,29.452 C0.832,28.728 0.832,27.551 1.565,26.825 L13.451,15.001 L1.565,3.177 C0.832,2.452 0.832,1.275 1.565,0.550 C2.294,-0.175 3.480,-0.175 4.210,0.550 L17.249,13.516 C17.316,13.567 17.395,13.592 17.456,13.653 C17.831,14.024 18.010,14.514 18.001,15.001 C18.010,15.488 17.831,15.978 17.456,16.349 Z" fill="rgb(0, 0, 0)"></path></svg></a>
	                </div>
	            </div>
	            <div class="col-md-12">
	            	<div class="text-center mt-0 mb-80">
	            		<a href="{path='about'}" class="main-btn solid">About Us</a>
	            	</div>
	            </div>
	    </section>






{embed="_includes/_footer" learn_section_extras="yes"}