{embed="_includes/_header"
page_title="Ways to Pay"
description=""
keywords=""
learn_section_extras="yes"
body_id="fp"
body_class="static learn learn-two"
}

<section class="section-one">
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-12 center-block mt-30 mb-30">
			    <div class="visible-xs hidden-sm hidden-md hidden-lg">
			        <img src="{site_url}base-theme-2016/learn-section/images/ways-to-pay-delivery-m.jpg" class="img-responsive">
			    </div>
			    <div class="hidden-xs visible-sm visible-md visible-lg">
			        <img src="{site_url}base-theme-2016/learn-section/images/ways-to-pay-delivery.jpg" class="img-responsive">
			    </div>
			</div>
		</div>
	</div>

</section>


{embed="_includes/_footer" learn_section_extras="yes"}