/* Links */
a, a:visited { color: #F1691E; font-weight: 400; text-decoration: none; }
a:hover { color: #ffa593; }

.button { border: 1px solid #F1691E; }
.button:hover { border: 1px solid #ffa593; }

.post-title a:hover, .cat-item a:hover, .widget-archive a:hover, .recentcomments a:hover, .widget-recent-entries a:hover, .comment-meta a:hover, .required  
{ color: #F1691E!important; }

.desktop.navigation .nav-content a:hover, .desktop.navigation .nav-content a.active{color:#fff !important;}

.gallery-next .bx-next:hover  { background: #F1691E url('../../images/blog/next.png') no-repeat; background-size: 22px 22px;}
.gallery-prev .bx-prev:hover  { background: #F1691E url('../../images/blog/prev.png') no-repeat; background-size: 22px 22px;}


.tagcloud a { border: 1px solid #F1691E; } 
.tagcloud a:hover { border: 1px solid #ffa593; } 

.tabs ul li.active a {border-top: 2px solid #F1691E;}

/* Content */
.parallax.colored { background-color: #F1691E; }
.list-dot { background: #F1691E; }

.projectlist a:hover .projectinfo { 
	background: #F1691E; 
	-webkit-transition: background .33s linear;
	-moz-transition: background .15s linear;
	-o-transition: background .15s linear;
	transition: background .15s linear; 
}


/* Targets Retina Enabled Devices */
@media 
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (   -moz-min-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

.gallery-next .bx-next:hover  { background: #F1691E url('../../images/blog/next@2x.png') no-repeat; background-size: 22px 22px;}
.gallery-prev .bx-prev:hover  { background: #F1691E url('../../images/blog/prev@2x.png') no-repeat; background-size: 22px 22px;} 

}