/* Cart system
=====================*/
.margin-bottom-0{margin-bottom:0;}
.margin-left-10{margin-left:10px;}
.topBotBorder{border-top:#e9e9e9 1px solid;border-bottom:#e9e9e9 1px solid;padding:10px 0px;}
.topBotBorder .orange{margin:5px 0 10px 0;color:#d7985d;}
.topBotBorder .orange span{color:#DB6A02;font-weight:bold;}
.box{padding:20px 20px 40px 20px;margin:0px 10px;}	

#wish-mast{background: url('../wish/img/wishlist-mast.jpg') no-repeat scroll top center;height:400px;}
#wishlist .logo{background: url('../wish/img/logo.png') no-repeat scroll top center;display:block;width:204px;height:129px;margin:0 auto 20px auto;}
#wishlist .title{padding-top:40px;}

#wishlist .title h1{color:#fff !important;text-transform:none !important;font-family: Georgia, Times, "Times New Roman", serif;font-style:italic;letter-spacing:0.02em;}
#wishlist .title p,#wish .title a{color:#fff !important;}
#wishlist a.force-white{color:#fff;border-color:#fff;}
.georgia {font-family: Georgia, Times, "Times New Roman", serif;font-style:italic;letter-spacing:0.02em;}
.red{color:#E52326;font-size:31px;}
.col-md-6 .georgia.red{line-height:12px;margin-bottom:20px;padding-bottom:0;}

#main p.lead{color:#333;}
#wishlist #main {background: url('../wish/img/basex.png') repeat-x scroll bottom center;padding-bottom:60px;margin-bottom:60px;}

#wishlist .img-border{border:5px solid #f6f4f4 !important;-webkit-box-shadow:0 8px 6px -6px #555;-moz-box-shadow:0 8px 6px -6px #555;box-shadow:0 8px 6px -6px #555;}
.product-img .cap{background: url('../wish/img/cap.png') no-repeat scroll bottom center;width:100%;height:57px;display:block;position:absolute;top:10px;}

.inline-title{font-weight:bold;font-size:21px;}
.black {color:#111;}
.orange-cta{background-color:#fee0c4;}
.faux-height{height:20px;margin:0px 10px;}
.brown{color:#bb9572;}
.red-span{color:#E52326;}
#wishlist label{font-size:13px;font-weight:500;color:#626262;}

.relative{position:relative;}
.strap-ribbon{background-color:#f69b46;padding:20px;}
.strap-ribbon p{color:#fff !important;letter-spacing:0.03em;font-weight:300;font-size:18px;margin-bottom:0;}

.share{background-color:#fee0c4;padding:20px;}
.arrow{background: url('../wish/img/arrow.png') no-repeat scroll bottom center;width:118px;height:27px;display:block;padding:10px;float:left;}
.arrow.arrow-inv{background: url('../wish/img/arrow-inv.png') no-repeat scroll bottom center;float:right;}

.ribbon-small{background: url('../wish/img/small-bow-blue.png') no-repeat scroll bottom center;width:70px;height:42px;display:block;margin:0 auto;}