#wish{background: url('../wish/img/mast.jpg') no-repeat scroll top center;}
#wish .logo{background: url('../wish/img/logo.png') no-repeat scroll top center;display:block;width:204px;height:129px;margin:0 auto 20px auto;}

#wish #main .title{height:500px;}
#wish .title h1{color:#fff !important;text-transform:none !important;font-family: Georgia, Times, "Times New Roman", serif;font-style:italic;letter-spacing:0.02em;}
#wish .title p,#wish .title a{color:#fff !important;}
#wish a.force-white{color:#fff;border-color:#fff;}
.georgia {font-family: Georgia, Times, "Times New Roman", serif;font-style:italic;letter-spacing:0.02em;}
.red{color:#E52326;font-size:31px;}
.col-md-6 .georgia.red{line-height:12px;margin-bottom:20px;padding-bottom:0;}

#main p.lead{color:#333;}
#main {background: url('../wish/img/base.png') repeat-x scroll bottom center;padding-bottom:60px;margin-bottom:60px;}


