body{background:#FEFDFE;}
#lz #sub-footer, #lz #sub-footer-newsletter,#lz #base-footer{display:none;}

.navbar{z-index:1000;}
.btn-orange.orange{background-color:rgba(219,106,2,1);color:#fff;}

/*Structure*/
.scroll-container{position:fixed;width:100%;height:100%;top:0;left:0;}
.scroll-stage{width:100%;height:100%;position:fixed;}
.scroll-stage h1,.scroll-stage h2{text-transform:uppercase;letter-spacing:0.20em;}

/*Globals*/

.seq{position:absolute;left:0;top:0;width:100%;height:100%;background-repeat:no-repeat;background-position:center center;background-size: cover;}
.force-front{z-index:100;position:relative;}	

.view-range{width:100%;height:40px;padding:10px 0px;position:fixed;display:block;background-color:rgba(219,106,2,1);color:#fff;text-align:center;z-index:1000;}
.view-range:hover{background-color:rgba(219,106,2,0.5);color:#fff;}
.jump-nav-wrap{position:fixed;bottom:1%;width:100%;}
.jump-nav{margin:0 auto 20px auto;padding:0;list-style:none;max-width:500px;text-align:center;font-size:1em;}
.jump-nav li{display:inline-block;}
.jump-nav li a{width:30px;height:30px;display:block;outline:none;border:none;}
.jump-nav li a:hover,.jump-nav li a:active,.jump-nav li a:focus,.view-range:active,.view-range:focus{color:#fff;}

.leather-bg{background:url(../img/repeater-leather.jpg) repeat;top:0;}

h3.title{font-size:42px;font-weight:300;letter-spacing:0.20em;}

/*.vertical-center{min-height:100%;min-height:100vh;display:flex;align-items:center;justify-content:center;flex-direction:column;display:-webkit-flex;}
*/

/*Types*/
p.lead{color:#111;}

/*Stage 1*/
#scroll-stage-1 img{margin:0 auto;}


/*Stage-2*/
/*#scroll-stage-2{}*/


#switch-left,#switch-right{position:relative;}
.switchers{position:absolute;left:0;top:0;}
/*.switch{background-color:#111;border-radius:50%;height:20px;width:20px;display:block;margin:20px auto;text-indent:-9999px;}
*/
.switch:focus,.switch:active{outline:none;border:none;}
.switch{border-radius:50%;height:50px;width:50px;display:block;margin:20px auto;text-indent:-9999px;border:solid 3px #efefef;}
.switch:hover{opacity:0.3;}
.s1{background:url('../img/products/houston-cream-lazboy_1400_758_s_c1.jpg');background-repeat:no-repeat;background-position:center center;background-size: cover;}
.s2{background:url('../img/products/modena-lazboy_1400_758_s_c1.jpg');background-repeat:no-repeat;background-position:center center;background-size: cover;}
.s3{background:url('../img/products/norman-airleather-lazboy_1400_758_s_c1.jpg');background-repeat:no-repeat;background-position:center center;background-size: cover;}
.s4{background:url('../img/products/owen-lazboy_1400_758_s_c1.jpg');background-repeat:no-repeat;background-position:center center;background-size: cover;}
.s5{background:url('../img/products/rialto-lazboy_1400_758_s_c1.jpg');background-repeat:no-repeat;background-position:center center;background-size: cover;}
.s6{background:url('../img/products/soho-lazboy_1400_758_s_c1.jpg');background-repeat:no-repeat;background-position:center center;background-size: cover;}


.lz-footer{background:url('../img/lz-footer.jpg') center center no-repeat;width:100%;height:452px;}

/* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
		h3.title{font-size:31px;font-weight:300;letter-spacing:0.20em;}

    }