{if segment_2 == 'detail'}
{exp:channel:entries channel='lounge_furniture|dining_room_furniture|bedroom_furniture' status='not closed' limit='1'}
	<!-- facebook meta tags... -->
	<meta property="og:title" content="{title}" >
	<meta property="og:site_name" content="Rochester Furniture">
	<meta property="og:url" content="https://www.rochester.co.za/like-and-win" >
	<meta property="og:type" content="website" >
	<meta property="og:image" content="{product_feature_image limit='1'}{product_feature_image:image}{/product_feature_image}" >
	<meta property="og:description" content="I liked the {title} offer" >
{/exp:channel:entries}
{/if}