<!-- Modal - sales contact -->

	<div class="modal fade" id="myFinanceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Apply For finance</h4>
				</div>
				<div class="modal-body">
					
					<p>To apply for finance please click on the button below, save the documents, fill them in and send them back to marvin@rochester.co.za. Or for more information contact Marvin at 010-0038720.</p>
					
					
					<p>&nbsp;</p>
					
					<p>
						<a href='{path="/"}base-theme/pdf/Rochester-Finance-Application.pdf' class='btn btn-lg btn-orange' target="_blank">Download Finance PDF</a>
					</p>
					
				</div>
			</div>
		</div>
	</div>