
			{if segment_1 == 'finance'}
			
					</section>
				</div>
			
			{/if}
			
			
			
			
			
			
		<footer id="footer">
			
			<section id="newsletter" class="v-offset-30 align-center">
				<div class="container">
					<h4>Join Our Mailing List</h4>
					
					<form class="form-inline" action="https://cavalrymedia.createsend.com/t/i/s/qhrx/" method="post">
						<div class="form-group">
							<label class="sr-only" for="name">NAME</label>
							<input id="fieldName" name="cm-name" type="text" class="form-control text-input input-lg" placeholder="NAME">
						</div>

						<div class="form-group">
							<label class="sr-only" for="name">EMAIL</label>
							<input id="fieldEmail" name="cm-qhrx-qhrx" type="email" class="form-control text-input input-lg" required="" placeholder="EMAIL">
						</div>

						<button type="submit" class="main-btn solid">Sign me up</button>
					</form>
					
					</div>
			</section>
			<!--#newsletter-->
			
			<section id="footer-navigation" class="white-bg v-offset-60">
				<div class="container">
					 <div class="row">
						
						<div class="col-md-2 mb-30">
						<h5>Company</h5>
						<ul>
							<li><a href="{path='about'}">About</a></li>
							<li><a href="{path='news-media'}">News &amp; Media</a></li>
							<li><a href="{path='careers'}">Careers</a></li>
						</ul>
						</div><!--col-md-2-->
				

						<div class="col-md-2 mb-30">
						<h5>Products</h5>
						<ul>
							<li><a href="{path='lounge-furniture'}">Lounge</a></li>
							<li><a href="{path='bedroom-furniture'}">Bedroom</a></li>
							<li><a href="{path='dining-room-furniture'}">Dining Room</a></li>
						</ul>
						</div><!--col-md-2-->
						
						
						
						<div class="col-md-5 mb-30">
							<h5>Branch Locator</h5>
							<div class="row">
								<div class="col-md-6">
									<ul>
						
										<li><a href="{path='branch-locator'}/category/johannesburg">Johannesburg</a></li>
										<li><a href="{path='branch-locator'}/category/pretoria">Pretoria</a></li>
										<li><a href="{path='branch-locator'}/category/rustenburg">Rustenburg</a></li>
										<li><a href="{path='branch-locator'}/category/klerksdorp">Klerksdorp</a></li>

									</ul>
								</div><!--col-md-6-->
						
						
								<div class="col-md-6">
									<ul>
										<li><a href="{path='branch-locator'}/category/nelspruit">Nelspruit</a></li>
										<li><a href="{path='branch-locator'}/category/polokwane">Polokwane</a></li>
										<li><a href="{path='branch-locator'}/category/witbank">Witbank</a></li>
										<li><a href="{path='branch-locator'}/category/web-shop">Web Shop</a></li>
										<li><a href="{path='branch-locator'}/category/factory-outlet">Factory Outlet</a></li>

									</ul>
								</div><!--col-md-6-->
						
							</div><!--row-->
						</div><!--col-md-5-->
						
						
						<div class="col-md-3 mb-30">
						<h5>Customer Service</h5>
						<ul>
							
							<li><a href="{site_url}base-theme-2016/pdf/terms_conditions.pdf">Terms &amp; Conditions</a></li>
							<li><a href="{site_url}base-theme-2016/pdf/social-media-competition-terms-and-conditions.pdf">Social Media Competition Ts &amp; Cs</a></li>
							<li><a href="{path='customer-feedback'}">Customer Feedback</a></li>
							<li><a href="{path='testimonials'}">Testimonials</a></li>
							<li><a href="{path='finance'}">Apply For Finance</a></li>
						<!--<li><a href="#">Privacy Policy</a></li>-->

						</ul>
						</div><!--col-md-3-->
						
						
				</div><!--row-->	
				</div><!--.container-->
			</section> <!--#footer-navigation-->
			
			
			<section id="foundation" class="v-offset-30">
				<div class="container">
					<div class="row">
						
						<div class="col-md-8 col-sm-8 col-xs-12">
							
							<p class="creds">&copy; {current_time format='%Y'} PEPKOR TRADING LTD PTY T/A Rochester. All rights reserved.</p>

						</div>
						<div class="col-md-4 col-sm-4 col-xs-12 right-align">
							
							<a href="https://www.facebook.com/RochesterHomeFurniture" target='_blank'><img src="{site_url}base-theme-2016/img/facebook.png" class="img-responsive inline-block" height="20"></a>
							<a href="https://www.instagram.com/rochesterfurniture/" target='_blank'><img src="{site_url}base-theme-2016/img/instagram.png" class="img-responsive inline-block" height="20"></a>
							<a href="https://www.pinterest.com/rochestersa/" target='_blank'><img src="{site_url}base-theme-2016/img/pinterest.png" class="img-responsive inline-block" height="20"></a>
							<a href="https://www.youtube.com/user/RochesterFurnitureSA" target='_blank'><img src="{site_url}base-theme-2016/img/youtube.png" class="img-responsive inline-block" height="20"></a>
							

						</div>

					</div>
				</div>
				<!--.container-custom-->
			</section>
			<!--#foundation-->
		</footer>
		<!--#footer-->
		
		
		{!-- mattresses cart floating footer - mobile only... --}
		{if segment_1 == 'mattresses'}
			{embed='mattresses/_mobile_footer'}
		{/if}
		
		
		<!-- Core JavaScript ================================================== -->
		
			<script src="{site_url}base-theme-2016/js/bootstrap.min.js"></script>
			<link href="{site_url}base-theme-2016/css/margins.css" rel="stylesheet">
		
			{if embed:learn_section_extras == "yes"}
			
				<script src='{site_url}base-theme-2016/learn-section/js/learn.js'></script>
			
			{if:else}
			
				<script src="{site_url}base-theme-2016/js/isotope.pkgd.min.js" async></script>
				<script src="{site_url}base-theme-2016/lib/jquery-placeholder/jquery.placeholder.min.js" async></script>
				<link href="{site_url}base-theme-2016/css/finance.css" rel="stylesheet">
				<link href="{site_url}base-theme-2016/css/promotions.css" rel="stylesheet">
				<link href="{site_url}base-theme-2016/lib/blueimp-gallery/css/blueimp-gallery.min.css" rel="stylesheet">
				{if segment_2=="detail" OR segment_2=="entry" OR segment_1=="site"}
				<script src="{site_url}base-theme-2016/lib/blueimp-gallery/js/jquery.blueimp-gallery.min.js" async></script>
				<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
					<div class="slides"></div>
					<h3 class="title blueimp-title"></h3>
					<a class="prev">‹</a>
					<a class="next">›</a>
					<a class="close">×</a>
					<a class="play-pause"></a>
					<ol class="indicator"></ol>
				</div>
				
			{/if}
			
		{/if}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
{if last_segment=="thankyou"}
<!-- Google Code for Sales contact Conversion Page -->
<div style="display:none !important;">
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970223999;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "HxeLCJndxAoQ_-LRzgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>

<noscript>
<div style="display:none !important;">
<img height="0" width="0" style="border-style:none; display:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970223999/?label=HxeLCJndxAoQ_-LRzgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</div>

<div style="display:none;">
<!-- Google Code for Contact a sales consultant Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 968082126;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "s0NrCNqDyQkQzoXPzQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:none !important;">
<img height="0" width="0" style="border-style:none;display:none;" alt="" src="//www.googleadservices.com/pagead/conversion/968082126/?label=s0NrCNqDyQkQzoXPzQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</div>
<!-- Google Code for Rochester ZW Leads Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 962803214;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "9bMwCPKYkFsQjuyMywM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:none !important;">
<img height="0" width="0" style="border-style:none;display:none;" alt="" src="//www.googleadservices.com/pagead/conversion/962803214/?label=9bMwCPKYkFsQjuyMywM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>



<!-- Google Code for Contact a sales consultant Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 947474121;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "zlc6CO_8g10QyZ3lwwM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:none !important;">
<img height="0" width="0" style="border-style:none;display:none;" alt="" src="//www.googleadservices.com/pagead/conversion/947474121/?label=zlc6CO_8g10QyZ3lwwM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> 

{/if}



{if segment_1 == 'finance' AND segment_2 == 'completed'}
	<!-- Google Code for Apply For Finance Conversion Page -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 970223999;
	var google_conversion_language = "en";
	var google_conversion_format = "3";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "uXDgCNbz_V8Q_-LRzgM";
	var google_remarketing_only = false;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:none !important;">
	<img height="0" width="0" style="border-style:none;display:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970223999/?label=uXDgCNbz_V8Q_-LRzgM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
{/if}

{if last_segment != 'thank-you'}
<!-- Rochester website Twitter remarketing code -->
<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('ntmmy', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="0" width="0" style="display:none;display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=ntmmy&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="0" width="0" style="display:none;display:none;" alt="" src="//t.co/i/adsct?txn_id=ntmmy&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
</noscript>


<!-- Google Code for Remarketing Tag -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 962803214;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:none !important;">
<img height="0" width="0" style="border-style:none;display:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/962803214/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Google Code for Remarketing Tag - outer regions -->

<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 947474121;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:none !important;">
<img height="0" width="0" style="border-style:none;display:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/947474121/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '810693085638364');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=810693085638364&ev=PageView&noscript=1" /></noscript>
<!-- End Facebook Pixel Code --> 



{/if}




{if last_segment == 'thank-you'}

<!-- Google Code for Sale Request a Quote Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970223999;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "VxpXCISH_lUQ_-LRzgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970223999/?label=VxpXCISH_lUQ_-LRzgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


{/if}
<!--script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0035/7582.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script -->
		
		
		
		
		
		
		
		<!-- begin olark code
		<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
		f[z]=function(){
		(a.s=a.s||[]).push(arguments)};var a=f[z]._={
		},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
		f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
		0:+new Date};a.P=function(u){
		a.p[u]=new Date-a.p[0]};function s(){
		a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
		hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
		return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
		b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
		b.contentWindow[g].open()}catch(w){
		c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
		var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
		b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
		loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
		/* custom configuration goes here (www.olark.com/documentation) */
		olark.identify('3049-983-10-6105');/*]]>*/</script><noscript><a href="https://www.olark.com/site/3049-983-10-6105/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
		end olark code -->
		
		
	<!-- Hotjar Tracking Code for https://www.rochester.co.za/ -->
	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:788677,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
		

	</body>

</html>
