<div class="modal fade" id="thankyou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Thank you for your query.</h4>
				</div>
				<div class="modal-body">
				
				<p class="strapline">One of our representatives will be in touch shortly.</p>

				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	    $(document).ready(function () {
	        $('#thankyou').modal('show');
	    });
	</script>