
	{exp:channel:entries channel="bedroom_furniture|dining_room_furniture|lounge_furniture" entry_id='{embed:product_id}' dynamic="no" status='not closed'}
	
		<a href='' onclick='showLikeAndWinModal(); return false;' class="like-and-win">Like-And-Win</a>	
		<div class="clearfix"></div>
		
		<a href="{path='like-and-win/index'}" target="_blank" class="like-and-win-more">Find out how the competition works</a>
	
		<div class="modal fade" id='like-and-win-modal'>
			<div class="modal-dialog">
				<div class="modal-content">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title">Like and Win Competition</h3>
					</div>
					
					{exp:freeform:form
						form:id="like-and-win-ajax-form"
						form:class="form-horizontal"
						form_name="like-and-win_campaign_submissions"
						required="name|email"
						return="{segment_1}/{segment_2}/{segment_3}/thank-you-for-entering"
						inline_error_return="{segment_1}/{segment_2}/{segment_3}/submission-error"
						inline_errors="yes"}
						
						<div class="modal-body clearfix">
							
							
							<div class='form-groups clearfix' style='{if last_segment == 'thank-you-for-entering'}display:none;{if:else}display:block;{/if}'>
								<div class="alert alert-info" role="alert"><strong>Step 1.</strong> Fill in your information and tell us why you like this product.</div>
								<input type="hidden" name="product_link" value="{site_url}{segment_1}/{segment_2}/{segment_3}">
								<div class='form-grx'>
									<label class='control-label'>Your Name</label>
									
										{freeform:field:name attr:class="form-control"}
										{if freeform:error:name}
											<div class='general-error'>{freeform:error:name}</div>
										{/if}
								
								</div>
								
								
								<div class='form-grx'>
									<label class='control-label'>Email Address</label>
									
										{freeform:field:email attr:class="form-control"}
										{if freeform:error:email}
											<div class='general-error'>{freeform:error:email}</div>
										{/if}
									
									
								</div>
								
								<div class='form-grx'>
									<label class='control-label'>Contact Number</label>
									
										{freeform:field:contact_number attr:class="form-control"}
										{if freeform:error:contact_number}
											<div class='general-error'>{freeform:error:contact_number}</div>
										{/if}
									
									
								</div>
								
								<div class='form-grx'>
								<label class='control-label'>Tell us why you like this product</label>
								<textarea class="form-control" rows="5" name="message"></textarea>
							</div>
							</div><!--form-groups-->
							
							
							
							<div class='facebook-share-container' style='{if last_segment == 'thank-you-for-entering'}display:block;{if:else}display:none;{/if}'>
							<div class="alert alert-info" role="alert"><strong>Step 2.</strong> Share on Facebook to complete your entry.</div>
							
								<a href='' onclick='shareOnFacebook(); return false;' style='display:block;text-align:center'>
									<img src="/campaigns/like-and-win/images/btn-fb-share.png" alt="Share On Facebook" />
								</a>
							</div>
														
						</div>
						
						
						
						<div class="modal-footer" style='{if last_segment == 'thank-you-for-entering'}display:none;{if:else}display:block;{/if}'>
							
							<button type="submit" class="btn btn-primary" id='like-and-win-submit-button' onclick='jQuery(this).addClass("disabled").text("Submitting...");'>Submit</button>
						</div>
						
					{/exp:freeform:form}
					
					
					
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<script>
      
    </script>
	
		{if last_segment == 'thank-you-for-entering' OR last_segment == 'submission-error'}
			<script type="text/javascript">
				jQuery(function(){
					jQuery("#like-and-win-modal").modal("show");
				});
			</script>
		{/if}
		
		<script type="text/javascript">
			jQuery(function(){
				var $form	= jQuery('#like-and-win-ajax-form');
				var $btn	= jQuery('#like-and-win-submit-button');
				var $errors	= jQuery('.general-error');
				
				/*$btn.on('click.rochester.com', function(e){
					$errors.hide();
					$btn.toggleClass('disabled', true).text('Working...');
					
					jQuery.post($form.prop('action'), $form.serialize(), function(data){
						
						if (!data.success)
						{
							jQuery.each(data.errors, function(i, error){
								var $element = $form.find('[name="'+ i +'"]');
								var message = (jQuery.isArray(error) ? error.join('<br/>') : error);
								$element.parent().find('.general-error').text(message).fadeIn(250);
							});
							$btn.toggleClass('disabled', false).text('Submit');
						}
						else
						{
							$btn.toggleClass('disabled', true).text('Done!');
							
							setTimeout(function(){
								jQuery('#like-and-win-modal .modal-footer').slideUp(350);
								jQuery('#like-and-win-ajax-form .form-groups').fadeOut(350, function(){
									jQuery('#like-and-win-ajax-form .facebook-share-container').fadeIn(350);
								});
							}, 1500);
						}
					}, 'json');
				
					e.preventDefault();
					return false;
				});*/
			});
			
			function showLikeAndWinModal()
			{
				jQuery('#like-and-win-ajax-form').find('input.form-control').val('');
				jQuery('#like-and-win-ajax-form').find('.form-groups').show();
				jQuery('#like-and-win-ajax-form').find('.facebook-share-container').hide();
				jQuery("#like-and-win-modal").find('.modal-footer').show();
				jQuery("#like-and-win-modal").modal("show");
			}
			
			
			
			
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '1448768258747375',
					xfbml      : true,
					version    : 'v2.2'
				});
			};

			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
			function shareOnFacebook()
			{
				jQuery("#like-and-win-modal").modal("hide");
			
				FB.ui({
					method			: 'feed',
					link			: 'https://www.rochester.co.za/like-and-win',
					name			: 'I entered the Rochester Furniture Like and Win Competition!',
					redirect_uri	: 'https://www.rochester.co.za/site/close-window',
					caption			: 'Visit the website for more information on how you can enter too.',
					picture			: '{embed:image_url}',
					description		: 'I like the {title} offer'
				}, function(response){});
			}
			
		</script>
		
	{/exp:channel:entries}