<!-- Modal - sales contact -->

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Contact a sales consultant</h4>
				</div>
				<div class="modal-body">
					{exp:freeform:form
						form_name="contact_sales_consutant"
						return="{segment_1}/detail/{segment_3}/thankyou"
						required="name|email|message"
						form:class="form-generic padding-vertical-40 enquire-form"
						
					}

					<input type="hidden" name="product_name" value="{embed:product_name}">
					<input type="hidden" name="frs_name" value="{embed:frs_title}">
					<input type="hidden" name="product_link" value="{site_url}{segment_1}/{segment_2}/{segment_3}/{segment_4}">
					

					<div class="form-group">
						<input type="text" class="form-control" name="name" id="name" placeholder="Full name *">
					</div>

					<div class="form-group">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email *">
					</div>
					
					<!-- <div class="form-group margin-bottom-20">
						{exp:low_variables:single var='var_branches_nested'}
							</div> -->

					<div class="form-group">
						<input type="text" class="form-control" name="contact_number" id="contact_number" placeholder="Contact number">
					</div>


					<div class="form-group">
						<textarea class="form-control" rows="5" name="message" placeholder="Message *"></textarea>
					</div>
					
				
          
					<input type="submit" name="submit" value="Submit" id="submit" class="btn btn-lg btn-orange btn-sbm-form">
					{/exp:freeform:form}	
                    
                    <script type="text/javascript">
					
			            $(document).ready(function(){
			               
                            $('.enquire-form').submit(function(){
							    $(".btn-sbm-form", this)
							      .val("Please Wait...")
							      .attr('disabled', 'disabled');
							    return true;
							});

						});

					</script> 

				</div>
			</div>
		</div>
	</div>