
	/* like-and-win campaign extras...
	=============================================*/
	
	@font-face {
		font-family: 'noticia_textbold';
		src: url('../fonts/NoticiaText-Bold.eot');
		src: url('../fonts/NoticiaText-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/NoticiaText-Bold.woff2') format('woff2'),
			 url('../fonts/NoticiaText-Bold.woff') format('woff'),
			 url('../fonts/NoticiaText-Bold.ttf') format('truetype'),
			 url('../fonts/NoticiaText-Bold.svg#noticia_textbold') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	#like-and-win-main-container { background-color: #fff; padding: 0 0 60px; color: #4f4f4f; }
	
	#like-and-win-main-container img.main-image { width: 100%; }
	#like-and-win-main-container img.img-responsive { display: inline-block; margin:0 auto;}
	
	#like-and-win-main-container .campaign-how-it-works
	{
		color:#006586;
		margin:40px 0 0;
		font-size:26px;
		text-align:center;
		text-transform:uppercase;
		font-family: 'noticia_textbold';
	}
	
	#like-and-win-main-container .campaign-number
	{
		font-family: 'noticia_textbold';
		font-size: 33px;
		position: relative;
		top: 75px;
		text-align: left;
		
		width: 100%;
		max-width: 314px;
		margin: 20px auto 0;
	}
	
	#like-and-win-main-container p
	{
		font-size: 1.25em;
		display: block;
		
		width: 100%;
		max-width: 314px;
		margin: 0 auto;
	}
	
	#like-and-win-main-container a.btn-blue
	{
		margin: 70px 0 0;
		border-color: #008ac1;
		color: #008ac1;
	}
	
	#like-and-win-main-container a.btn-blue:hover
	{
		border-color: #008ac1;
		color: #008ac1;
		background-color: rgba(0, 138, 193, 0.1);
	}
	
	.like-and-win-bottom-spacer
	{
		height: 40px;
		background-color: #eee;
	}