@font-face {
	font-family: 'noticia_textbold';
	src: url('../fonts/NoticiaText-Bold.eot');
	src: url('../fonts/NoticiaText-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/NoticiaText-Bold.woff2') format('woff2'),
		 url('../fonts/NoticiaText-Bold.woff') format('woff'),
		 url('../fonts/NoticiaText-Bold.ttf') format('truetype'),
		 url('../fonts/NoticiaText-Bold.svg#noticia_textbold') format('svg');
	font-weight: normal;
	font-style: normal;
}


.like-and-win{background:url('../img/like-trigger.png') no-repeat scroll center center;width:120px;height:172px;display:block;text-indent:-9999px;margin:0 auto 40px auto;}
.like-and-win-more{font-family: 'noticia_textbold';letter-spacing:0.02em;width:340px;display:block;margin:0 auto 40px auto;text-align:center;padding:8px;border-radius:20px;background:#009FD9;color:#fff;}

.like-and-win:focus,.like-and-win-more:focus{border:none;outline:none;color:#fff;text-decoration:none;}