<div id="sidebar" class="col-md-4">

	
	{exp:search:simple_form channel="branches" form_class="clearfix form-generic search-form margin-bottom-40" search_in="everywhere" result_page="branch-locator/results" no_result_page="branch-locator/noresults"}
		<div class="input-group">
			<input type="text" class="form-control" name="keywords" id="keywords" placeholder="Search...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
			</span>
		</div><!-- /input-group -->
	{/exp:search:simple_form}

	<h4>Categories</h4>
	<div class="list-group custom-borders margin-bottom-40">
		<a class="{if segment_2==''}active{/if} list-group-item" href="{path='branch-locator/index'}">All</a>
		{exp:channel:categories channel="branches" style="linear"}
		<a class="{if segment_3== category_url_title}active{/if} list-group-item" href="{path='branch-locator/index'}">{category_name}</a>
		{/exp:channel:categories}
	</div>

	{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
	<div class="sidebar-advert margin-bottom-40">
		{advertising_small}
		<a href="{advertising_small:link}" title="{advertising_small:caption}">
		{exp:ce_img:single src="{advertising_small:advert}" alt="{advertising_small:caption}" class="img-responsive" crop="yes" width="690" allow_scale_larger="yes"}
		</a>
		{/advertising_small}
	</div><!--sidebar-width-advert-->
	{/exp:channel:entries}
</div><!--sidebar-->