{exp:channel:entries channel="branches" limit="1" status="Open|Featured"}
{embed="_includes/_header"
body_id="branches"
body_class="static"
page_title="{title}"
description="{exp:eehive_hacksaw}{branch_physical_address}{/exp:eehive_hacksaw}"
keywords=""
}

<section id="main" class="container v-offset-40">

	<div class="title mb-20 center-align">
		<h1>{title}</h1>
		<span class="border"></span>
		
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_16x16_style" style="width: 100px; margin: 0 auto;">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter"></a>
		<a class="addthis_button_pinterest_share"></a>
		<a class="addthis_button_google_plusone_share"></a>
		<a class="addthis_button_email"></a>
		</div>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53032b7654108454"></script>
		<!-- AddThis Button END -->
	</div><!--title-->
	<div class="col-md-12">
	<div class="white-bg">
		{if segment_4=="thankyou"}
		<div class="col-md-12 clearfix center-align mb-60">
			<h2>Thank you for contacting us</h2>
			<p class="strapline">A representative of Rochester Furniture {title} will be in touch shortly.</p>
			<span class="border"></span>
		</div><!--col-md-12-->
		{/if}

		<div class="col-md-4">
			<h4>Physical Address</h4>
			{branch_physical_address}
			<h4>GPS COORDINATES</h4>
			<p>{branch_gps_coordinates}</p>
		</div><!--col-md-4-->

		<div class="col-md-4">
			<h4>Contact information</h4>
			{branch_contact_points}
			<p class="black mb-10"><span class="glyphicon glyphicon-record"></span>&nbsp;{branch_contact_points:contact_point}</p>
			{/branch_contact_points}

		</div><!--col-md-4-->

		<div class="col-md-4">
			<h4>Opening &amp; closing times</h4>
			{if branch_opening_closing !=""}{branch_opening_closing}{if:else}Mall hours{/if}
		</div><!--col-md-4-->

		<div class="clearfix mb-40"></div>

		<a href="{path='branch-locator/index'}" title="All branches" class="italic center-align vertical-borders orange block">View all branches</a>

		<div class="clearfix mb-40"></div>
		{/exp:channel:entries}
		</div>
	</div>

		{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
		<div class="col-md-12 full-width-advert mb-40">
			{advertising_large}
			<a href="{advertising_large:link}" title="{advertising_large:caption}">
			{exp:ce_img:single src="{advertising_large:advert}" alt="{advertising_large:caption}" class="img-responsive centered" crop="yes" width="1300" allow_scale_larger="yes"}
			</a>
			{/advertising_large}
		</div><!--full-width-advert-->
		{/exp:channel:entries}
	
</section><!--main-->


{embed="_includes/_footer"}