{embed="_includes/_header"
body_id="branches"
body_class="static"

{if segment_2==""}
page_title="Branch Locator"
{if:else}
{exp:channel:category_heading channel="branches"}page_title="{category_name}"{/exp:channel:category_heading}
{/if}

description="Find your closest Rochester Furniture branch."
keywords=""
}


<section id="news-media" class="container v-offset-40 news">

	<div class="title mb-60 center-align">
		<h1 class="caps-spaced">{exp:channel:category_heading channel="branches"}{category_name}&nbsp;{/exp:channel:category_heading}Branch locator</h1>
		<span class="border"></span>
		{embed="_includes/_addthis"}
	</div><!--title-->

	<div class="clearfix"></div>

	<div class="container news clearfix">

		<div class="news-block col-md-8 clearfix mb-40">

			{exp:channel:entries channel="branches" limit="40" paginate="bottom" status="Open|Featured" orderby="title" sort="asc"}
			<div class="col-md-1 mb-20">
				<span class="date"><i class="glyphicon glyphicon-map-marker"></i></span>
			</div>
			<div class="col-md-11">
				<h2>{title}</h2>
				<p>{branch_physical_address}</p>
				<p class="view-more clearfix"><a href="{title_permalink='branch-locator/detail'}" class="italic black" title="Read {title}">More info <span class="glyphicon glyphicon-play-circle orange"></span></a></p>
			</div><!--col-md-10-->
			<div class="col-md-12 row clearfix border-bottom mb-40"></div><!--border-bottom-->


			{paginate}
			{pagination_links}
			<div class="clearfix mb-60">
				<div class="col-3"></div>
				<div class="col-lg-6 col-md-12 col-sm-12 clearfix">

					<ul class="pager">
						{first_page}
						<li class="previous"><a href="{pagination_url}"><i class="icon-chevron-left"></i> First pg</a></li>
						{/first_page}

						{page}
						<li {if current_page}class="current"{/if}><a href="{pagination_url}" class="page-{pagination_page_number}">{pagination_page_number}</a></li>
						{/page}

						{last_page}
						<li class="next"><a href="{pagination_url}">Last pg <i class="icon-chevron-right"></i></a></li>
						{/last_page}
					</ul>
				</div>
				<div class="col-3"></div>
			</div><!--col-12-->
			{/pagination_links}
			{/paginate}

			{/exp:channel:entries}


		</div><!--news-block-->


		{embed="branch-locator/_sidebar"}


	</div><!--container-->



</section><!--main-->

{embed="_includes/_footer"}