{embed="_includes/_header"
body_id="news"
body_class="static"
page_title="Branch Locator Search Results"
description=""
keywords=""
}


<section id="news-media" class="container padding-vertical-40 news">

	<div class="title margin-bottom-60 center">
		<h1 class="caps-spaced">Branch Locator Search Results</h1>
		<span class="border"></span>
	</div><!--title-->

	<div class="clearfix"></div>

	<div class="container news clearfix">


		<div class="news-block col-md-8 clearfix margin-bottom-40">


			{exp:search:search_results switch="resultRowOne|resultRowTwo"}
		
			<div class="col-md-1 margin-bottom-20">
				<span class="date"><i class="glyphicon glyphicon-map-marker"></i></span>
			</div>
			<div class="col-md-11">
				<h2>{title}</h2>
				<p>{branch_physical_address}</p>
				<p class="view-more clearfix"><a href="{title_permalink='branch-locator/detail'}" class="italic black" title="Read {title}">More info <span class="glyphicon glyphicon-play-circle orange"></span></a></p>
			</div><!--col-md-10-->
			<div class="col-md-12 row clearfix border-bottom margin-bottom-40"></div><!--border-bottom-->

			{paginate}
			<p>Page {current_page} of {total_pages} pages {pagination_links}</p>
			{/paginate}

			{/exp:search:search_results}

		</table>


	</div><!--news-block-->


	{embed="branch-locator/_sidebar"}


</div><!--container-->



</section><!--main-->

{embed="_includes/_footer"}