{exp:channel:entries channel="about" limit="1"}{embed="_includes/_header"
body_id="about"
body_class="static"
menu_class="no-border-bottom"
page_title="About Rochester Furniture"
description="{about_meta_description}"
keywords="Rochester furniture, leather furniture, movable furniture, bedroom, dining room, lounge"
}

	<section class="mast lounge" style='background-image:url({site_url}base-theme-2016/images/utilities/about-mast.jpg);'>
		<div class="container">
			<div class="content">
				<!--<p class="best-buy"><span class="glyphicon glyphicon-star"></span>On sale</p>-->
				<h1>About Us</h1>
			</div>
		</div>
	</section>

	<div class="container mt-50">

		<div class="title mb-20 center">
			<h1 class='centered'>{title}</h1>
			<span class="border"></span>
		</div><!--title-->

		<div style='padding:40px 40px 30px; border:1px solid #ccc; background-color:#ffffff;margin-bottom:30px;'>
		
			<div class="text-center">
				{about_body}
			</div><!--col-md-12-->
			
		</div>

	{/exp:channel:entries}

	{exp:channel:entries channel="advertising" limit="1" dynamic="no" status="Global"}
		<div class="full-width-advert mb-60">
			{advertising_large}
				<a href="{advertising_large:link}" title="{advertising_large:caption}">
					{exp:ce_img:single src="{advertising_large:advert}" alt="{advertising_large:caption}" class="img-responsive" crop="yes" width="1300" allow_scale_larger="yes"}
				</a>
			{/advertising_large}
		</div><!--full-width-advert-->
	{/exp:channel:entries}
	
	
	</div>

{embed="_includes/_footer"}