	{exp:low_search:form collection="dining_room_furniture" channel="dining_room_furniture" search_mode="all" result_page="{segment_1}/results" query="{segment_3}" class="clearfix form-generic search-form"}
		

			<div class="col-md-10 col-md-offset-1 clearfix search-well">

				<div class="col-md-5 margin-bottom-20">
					<label class="sr-only" for="keyword">Keyword</label>
					<input type="text" class="form-control" name="keywords" id="keywords" placeholder="Search by keyword...">
				</div>

				<div class="col-md-5 margin-bottom-20">
					<select class="selectpicker show-tick form-control" data-width="100%" title='Filter by category...' multiple name="category[]">
						{exp:channel:categories channel="dining_room_furniture" style="linear" show="not 28"}
						<option value="{category_id}"{if category_id == "{low_search_category}"} selected="selected"{/if}>{category_name}</option>
						{/exp:channel:categories}
					</select>
				</div>

					<div class="clearfix col-md-2 margin-bottom-20 center">
						<input class="search italic" type="submit" value="Search">
					</div>

			</div><!--col-md-10-->
		{/exp:low_search:form}
