{embed="_includes/_header"
body_id="dining-room"
body_class="furniture"
menu_class="no-border-bottom"
{if segment_3 == ""}
page_title="Dining Room Furniture"
{if:elseif segment_3 != ''}
{exp:channel:category_heading channel="dining_room_furniture"}page_title="{category_name}"{/exp:channel:category_heading}
{/if}
}




		{if segment_2 == 'category'}
		
		
		

			<!-- MAST SECTION BEGIN -->
			<section class="mast lounge" style='background-image:url({exp:channel:categories show="{segment_3_category_id}" channel="dining_room_furniture" style="linear"}{category_image}{/exp:channel:categories});'>
				<div class="container">
					<div class="content">
						<!--<p class="best-buy"><span class="glyphicon glyphicon-star"></span>On sale</p>-->
						<h1>{segment_3_category_name}</h1>
					</div>
				</div>
			</section>
			<!-- MAST SECTION END -->
			
			
			
			{!-- part 1 of 2... --}
			{exp:channel:entries channel='advertising' entry_id='102' status='not closed' dynamic='no' show_expired="yes" show_future_entries="yes"}
				{product_feature limit='1'}
					{if "{product_feature:title}" == "" && "{product_feature:button_text}" == ""}
						{if '{product_feature:title}' != ''}
						<div class="container-custom mt-40">
							<a href='{product_feature:link}'>
								{exp:ce_img:single src='{product_feature:advert}' max_width='1980' allow_scale_larger='yes' attributes='class="img-responsive" style="width:100%;"'}
							</a>
						</div>
						{/if}
					{if:else}
						<section class="cur-cat scrollAnchor hidden-xs">
							<div class="container-custom">
								<div class="category relative">
									{exp:ce_img:single src='{product_feature:advert}' max_width='1980' allow_scale_larger='yes' attributes='class="img-responsive" style="width:100%;"' add_dims="no"}
									<div class="details text-center">
										{if "{product_feature:title}" != ""}<h3>{product_feature:title}</h3>{/if}
										<p style='font-size:12px;'>&nbsp;</p>
										<a href="{product_feature:link}" class="main-btn solid">{if "{product_feature:button_text}" != ""}{product_feature:button_text}{if:else}View details{/if}</a>
									</div>
								</div>
							</div>
						</section>
						
						<div class="container-custom visible-xs">
							<a href="{product_feature:link}">
							<div class="category relative">
								{exp:ce_img:single src='{product_feature:advert}' max_width='1980' allow_scale_larger='yes' attributes='class="img-responsive" style="width:100%;"' add_dims="no"}
								<div class="details text-center">
									{if "{product_feature:title}" != ""}<h3>{product_feature:title}</h3>{/if}
									<p style='font-size:12px;'>&nbsp;</p>
								</div>
							</div>
						</a>
						</div>
					{/if}
				{/product_feature}
			{/exp:channel:entries}
		
			
			<!-- PRODUCT FILTER/SEARCH SECTION BEGIN -->
			<section class="product-filter">
				<div class="container-custom">
					<div cass="row">
						<div class="col-lg-6 col-md-6 col-sm-12 hidden-xs">
							{exp:low_search:form
								result_page="dining-room-furniture/search-results"
								required="keywords"}
								<input type='hidden' name='collection' value='dining_room_furniture' />
								<input type="text" class="text-input" name="keywords" placeholder="Search">
								<button type="submit" class="main-btn solid">Search</button>
							{/exp:low_search:form}
						</div>

						<div class="col-lg-6 col-md-6 col-sm-12 right-align">
							<div style="position:relative;display:inline-block;">
								<div class="dropdown">
									<span>Sort By</span>
									<button id="filterBtn" class="main-btn filter" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										{if last_segment == 'low-to-high'} Price: Low to High
										{if:elseif last_segment == 'high-to-low'} Price: High to Low
										{if:else} Latest First
										{/if}
										<i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="filterBtn">
										<li><a href="{path="/"}{segment_1}{if segment_3_category_id == ''}{if:else}/category/{segment_3}{/if}/">Latest First</a></li>
										<li><a href="{path="/"}{segment_1}{if segment_3_category_id == ''}{if:else}/category/{segment_3}{/if}/low-to-high">Price: Low to High</a></li>
										<li><a href="{path="/"}{segment_1}{if segment_3_category_id == ''}{if:else}/category/{segment_3}{/if}/high-to-low">Price: High to Low</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</section>
			<!-- PRODUCT FILTER/SEARCH SECTION END -->
			
			
			
			
			<section class="products single-cat scrollAnchor">
				
				<div class="container-custom">
					<div class="row p-row">
					
						{exp:store:search channel='dining_room_furniture' status='not closed' limit='9'
							orderby='{if last_segment == "low-to-high" || last_segment == "high-to-low"}price{/if}'
							sort='{if last_segment == "low-to-high"}asc{if:elseif last_segment == "high-to-low"}desc{/if}'}
						
							<div class="col-md-4 mb-30 product fadeInDown d{count}">
								<a href="{title_permalink='dining-room-furniture/detail'}">
									<div class="product-image">
									<!-- <div class="sale-banner"><span class="promo-text">{promotion_text}</span></div> -->
									{product_feature_image limit='1'}
										{exp:ce_img:single src='{product_feature_image:image}' width='690' height='390' crop='yes' allow_scale_larger='yes' attributes='class="img-responsive"' add_dims="no"}
									{/product_feature_image}
									{if '{sale_icon}' != ''}
										<div class="special-icon"><img src="{sale_icon}" class="img-responsive" width="auto"></div>
									{/if}
									</div>
									<div class="product-details clearfix">
										<div class="row">
											<div class="col-md-8 col-sm-8">	
												<h4>{title}</h4>
											</div><!--col-md-8-->
								
											{exp:store:product entry_id="{entry_id}"}
												<div class="col-md-4 col-sm-4">	
													<p><b>{price}</b></p>
												</div><!--col-md-4-->
											{/exp:store:product}
								
										</div>
									</div><!--product-details-->
								</a>
							</div>
							
							{if count % 3 == 0}
								</div><div class='row p-row'>
							{/if}
						
						{/exp:store:search}
					
					</div>
					
					<div class="row">
						<a href="" class="main-btn gray load-more" onclick="loadProductRows('dining_room_furniture', '{segment_3_category_id}', '{last_segment}'); return false;">Show Me More<div class="loading"><div class="ie9"></div></div></a>
					</div>
				</div>
			</section>
			
			
			
			
		{if:else}
		
		
		
		
			<!-- MAST SECTION BEGIN -->
			<section class="mast lounge" style='background-image:url({exp:channel:categories channel="dining_room_furniture" style="linear"}{if count == 1}{category_image}{/if}{/exp:channel:categories});'>
				<div class="container">
					<div class="content">
						<h1>Dining Room Furniture</h1>
					</div>
				</div>
			</section>
			<!-- MAST SECTION END -->
			
			
			
			
			{!-- part 2 of 2... --}
			{exp:channel:entries channel='advertising' entry_id='102' status='not closed' dynamic='no' show_expired="yes" show_future_entries="yes"}
				{product_feature limit='1'}
					{if "{product_feature:title}" == "" && "{product_feature:button_text}" == ""}
						<div class="container-custom mt-40">
							<a href='{product_feature:link}'>
								{exp:ce_img:single src='{product_feature:advert}' max_width='1980' allow_scale_larger='yes' attributes='class="img-responsive" style="width:100%;"' add_dims="no"}
							</a>
						</div>
					{if:else}
						<section class="cur-cat scrollAnchor">
							<div class="container-custom">
								<div class="category relative">
									{exp:ce_img:single src='{product_feature:advert}' max_width='1980' allow_scale_larger='yes' attributes='class="img-responsive" style="width:100%;"' add_dims="no"}
									<div class="details text-center">
										{if "{product_feature:title}" != ""}<h3>{product_feature:title}</h3>{/if}
										<p style='font-size:12px;'>&nbsp;</p>
										<a href="{product_feature:link}" class="main-btn solid">{if "{product_feature:button_text}" != ""}{product_feature:button_text}{if:else}View details{/if}</a>
									</div>
								</div>
							</div>
						</section>
					{/if}
				{/product_feature}
			{/exp:channel:entries}
			
			<div class='temporary spacer' style='margin-top:40px'>&nbsp;</div>
			
			
			
			
			<!-- PRODUCTS SECTION BEGIN -->
			<section class="sub-categories">
				<div class="container-custom">
					<div class="row">
					
						{exp:channel:categories channel='dining_room_furniture' style='linear'}
						
							<div class="col-md-4 col-sm-4 col-xs-12">
								<a href='{path="dining-room-furniture"}' class="sub-category bb">
									<img src="{category_image}" alt="{category_name}" width="100%" height="auto">
									<div class="bottom-border"></div>
									<div class='button-container'>
										<button type='button'>View All</button>
									</div>
									<div class="content">
										<!--<p class="best-buy"><span class="glyphicon glyphicon-star"></span>On sale</p>-->
										<p class="title">{category_name}</p>
									</div>
								</a>
							</div>
							
							{if count % 3 == 0}
								</div><div class='row'>
							{/if}
						
						{/exp:channel:categories}
					
					</div>
				</div>
			</section>
			<!-- PRODUCTS SECTION END -->
		
		
		
		
		{/if}




{embed="_includes/_footer"}