
{embed="_includes/_header"
body_id="lounge"
body_class="dining-room"
page_title="Dining room furniture"
description="Dining room furniture search results"
keywords="Dining room furniture"
}

<section id="main" class="container clearfix padding-vertical-40">

	<div id="search" class="col-md-12 margin-bottom-40">
		<div class="title margin-bottom-20 center">
			<h1>Search Results // Dining room</h1>
			<span class="border"></span>
		</div><!--title-->


		{embed="dining-room-furniture/_search"}
		<div class="margin-bottom-20 clearfix"></div>

		{exp:low_search:results query="{segment_3}" channel="dining_room_furniture" status="not closed" orderby="status"}
		<div class="col-md-4 product-block clearfix">
			<a href="{comment_url_title_auto_path}" title="View {title}'s details" class="hover-trans">{product_feature_image limit="1"}{exp:ce_img:single src="{product_feature_image:image}" alt="{title}" class="img-responsive" crop="yes" width="690" height="390" allow_scale_larger="yes"}{/product_feature_image}</a>
			<div class="col-md-8 caps row">
				<p>{title}</p>
				<p class="visible-xs visible-sm bold">{product_details:price}</p>
			</div><!--col-md-8-->

			<p class="pull-right hidden-xs hidden-sm bold">{product_details:price}</p>

			<div class="clearfix"></div>

			<p class="view-more"><a href="{comment_url_title_auto_path}" class="italic">View details <span class="glyphicon glyphicon-play-circle orange"></span></a></p>
		</div>
		{if no_results}No search results{/if}
		{/exp:low_search:results}




	</section><!--main-->



	{embed="_includes/_footer"}