{redirect="lounge-furniture/index"}

{embed="_includes/_header"
body_id="rio"
body_class="static"
page_title="Rio Recliner"
description="Get the Rio recliner for an unbelievable R4 495"
keywords="Rio recliner"
}


<section class="container padding-vertical-40">

<div class="col-md-12 white-bg">

	<img src="/campaigns/real-deal/rio-img/rio-mast.png" class="img-responsive">
	
	<div class="clearfix padding-vertical-40"></div>
	
	
	<div class="col-md-7">
		<img src="/campaigns/real-deal/rio-img/rio2.png" class="img-responsive">
	</div><!--col-md-7-->
	
	
	<div class="col-md-5 margin-bottom-20">
		
		
		<div class="col-md-4 center">
			<img src="/campaigns/real-deal/rio-img/web-store.png" class="img-responsive">
		</div>
		
		<div class="col-md-8 padding-vertical-20">
			
			<h1>Rio fabric recliner chair</h1>
			
			
			<div class="mobile-price hidden-md hidden-lg">
				<p><span class="price" style="color:#000;">R 4495</span><sup>each</sup></p>
				<div class="clearfix"></div>
				<p class="small">First 20 only <br />Free delivery Gauteng only</p>
			</div>
		</div>
		
		<div class="clearfix padding-vertical-20"></div>
		<img src="/campaigns/real-deal/rio-img/GraftonLogo-web.png" class="img-responsive">
		<div class="clearfix" style="margin-bottom:20px;"></div>
		<!-- <p style="font-weight:bold;color:#000;">2 year guarantee</p> -->
		<div class="clearfix"></div>
		
		
		<p class="lead">The Rio recliner chair is covered in Air leather, a newly developed upholstery cover. Intensive research has made it possible to develop this unique product which in appearance is similar to leather, but exceptionally pleasant, soft and warm to the touch.</p>
		
		
		
		<div class="clearfix padding-vertical-20"></div>
		
		<a data-toggle="modal" data-target="#myModal" class="btn btn-lg btn-pink btn-block hidden-xs hidden-sm">Enquire Now</a>
	</div><!--col-md-5-->
	
	
	<div class="clearfix"></div>

	<img src="/campaigns/real-deal/rio-img/price.png" class="img-responsive hidden-xs hidden-sm">
	
	
	

	<div class="clearfix"></div>

	<div class="col-md-6 col-md-offset-3 padding-vertical-40 center">
	
		<a data-toggle="modal" data-target="#myModal" class="btn btn-lg btn-pink btn-block">Enquire Now</a>
		
		<div class="clearfix margin-bottom-20"></div>
		<p><small>T's and C's apply</small></p>
	</div>
					
					
</div><!--col-12-md-->

</section><!--main-->

<!-- Modal - sales contact -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Make contact with a sales consultant</h4>
		</div>
		<div class="modal-body clearfix">
									
			{exp:freeform:form
				form_name="campaign_leads"
				return="{segment_1}/{segment_2}/thankyou"
				required="name|email"
						
			}

			<input type="hidden" name="product_name" value="Rio Recliner">
			
			
			
					
			<div class="form-group">
				<input type="text" class="form-control" name="quantity" id="quantity" placeholder="Quantity">
			</div>
					

			<div class="form-group">
				<input type="text" class="form-control" name="name" id="name" placeholder="Full name *">
			</div>

			<div class="form-group">
				<input type="email" class="form-control" name="email" id="email" placeholder="Email *">
			</div>

					
			<div class="form-group">
				<input type="text" class="form-control" name="contact_number" id="contact_number" placeholder="Contact number">
			</div>


			<div class="form-group">
				<textarea class="form-control" rows="5" name="message" placeholder="Physical address"></textarea>
			</div>
			

			
			<div class="form-group">
				<textarea class="form-control" rows="5" name="questions" placeholder="Questions?"></textarea>
			</div>
			


			<input type="submit" name="submit" value="Submit" id="submit" class="btn btn-lg btn-pink white-force">
			{/exp:freeform:form}	


		</div>
	</div>
</div>
</div>
	
{if last_segment=="thankyou"}
{embed="_includes/_generic_thankyou"}
{/if}
{embed="_includes/_footer"}