
	{exp:store:checkout next="mattresses/checkout"}

		<div class='mobile-cart-footer'>

			<div class='container'>

				<div class='pull-left'>
					<table>
						<tr>
							<th># of products:</th>
							<th>shipping:</th>
							<th>total:</th>
						</tr>
						<tr>
							<td>{exp:store:cart}{if no_items}{/if}{order_qty}{/exp:store:cart}</td>
							<td>FREE</td>
							<td>{order_total}<div class='tiny-text'>(VAT Incl.)</div></td>
						</tr>
					</table>
					<div class='subtext'>
						Free return policy on all online purchases
					</div>
				</div>

				<div class='pull-right'>
					<input class='main-btn solid' type="submit" name="next" value="Checkout" />
				</div>

				<div class='clearfix'></div>

			</div>

		</div>

		<div class='mobile-cart-footer-spacer'></div>

	{/exp:store:checkout}
