
    <section class="related-products grey">

		<div class="container-custom">

			<h3 class="section-title grey"><span>You May also like</span></h3>

			<div class="products">

				<div class="row p-row">

                    {exp:channel:entries channel="{embed:channel}" entry_id="not {embed:entry_id}" orderby='random' limit='3'}

                        {if no_results}
                            <h4 class='text-center' style='letter-spacing:1.5px;'>Coming Soon</h4>
                        {/if}

                        {exp:store:product entry_id="{entry_id}"}

        					<div class="col-md-4 mb-30 product fadeInDown">
        						<a href="{title_permalink='mattresses/detail'}">
        							<div class="product-image">

                                        {main_images limit='1'}
                                            {exp:ce_img:single src='{main_images:image}' width='690' height='390' crop='yes' add_dims='no'}
                                        {/main_images}

        								<button class="main-btn solid" type='button'>View Details</button>
        							</div>
        							<div class="product-details">
        								<h4>{title}</h4>
        								<p><b>{starting_price}</b></p>
        							</div>
        						</a>
        					</div>

                        {/exp:store:product}

                    {/exp:channel:entries}

				</div>

			</div>

		</div>

	</section>
