{embed="_includes/_header"
body_id="entry"
body_class="furniture"
page_title="Your Cart"
description="{exp:eehive_hacksaw}{product_description}{/exp:eehive_hacksaw}"
keywords=""
canonical=""
}


	<div class='cart-title-bar'>

		<div class='container-custom'>

			<table cellpadding='0' cellspacing='0'>

				<tr>
					<td class='returns-text'><a href='#'>Free return policy on all online purchases</td>
					<td class='text-center your-cart-text'>Your Cart{exp:store:cart}{if no_items}{/if} ({order_qty}){/exp:store:cart}</td>
					<td class='text-right continue-shopping-text'><a href='{path="mattresses/search"}'>Continue shopping</a></td>
				</tr>

			</table>

		</div>

	</div>


	<div class='cart-line-items'>

		<div class='container'>

			{exp:store:checkout next="mattresses/checkout"}

				<!-- {!-- normal items first... --} -->

				{items}

					{if no_items}
						<h3 class='text-center mt-50 mb-40'>Your cart is currently emtpy.</h3>
					{/if}

					{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name != 'mattresses_extras' && channel_short_name != 'mattresses_pillows'}

							<div class='row'>
	
								<div class='line-item'>
	
									<div class='col-sm-5 col-md-4 col-md-offset-1' style='padding-right:30px;'>
										{main_images limit='1'}{exp:ce_img:single src='{main_images:image}' width='400' height='200' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}{/main_images}
									</div>
	
									<div class='col-sm-7 col-md-6'>
	
										<div>
											<div class='pull-left item-title'>{title}</div>
											<div class='pull-right item-price'>{price}</div>
											<div class='clearfix'></div>
											<div class='mt-5 small'>
												{modifiers}
													{modifier_name}: {modifier_value}
												{/modifiers}
											</div>
										</div>
	
										<hr />
	
										<div class='pull-left quantity'>
											<p class='small black'>
												Quantity
											</p>
	
											<div class="input-group">
												<div class="input-group-btn">
													<button type="button" class="btn btn-default" onclick='decreaseQty(this);'>&minus;</button>
												</div>
												<input type="text" class="form-control input-qty" name='items[{key}][item_qty]' value='{item_qty}'>
												<div class="input-group-btn">
													<button type="button" class="btn btn-default" onclick='increaseQty(this);'>&plus;</button>
												</div>
											</div>
										</div>
	
										<div class='pull-right'>
											<button class='remove-item' onclick='return confirm("Are you sure you want to remove this item from your cart?");' type='submit' name='remove_items[{key}]' value='1'>&times;</button>
										</div>
	
										<div class='clearfix'></div>
	
										<hr />
	
									</div>
	
								</div>
	
							</div>
							
						{/if}

					{/exp:channel:entries}

				{/items}
				
				
				
				
				
				
				
				
				<!-- {!-- time to do the pillows... --} -->
				
				{items}

					{if no_items}{/if}

					{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name == 'mattresses_pillows'}

							<div class='row'>
	
								<div class='line-item pillow-item'>
	
									<div class='col-sm-5 col-md-4 col-md-offset-1' style='padding-right:30px;'>
										{extras_images limit='1'}{exp:ce_img:single src='{extras_images:image}' width='400' height='200' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}{/extras_images}
									</div>
	
									<div class='col-sm-7 col-md-6'>
	
										<div>
											<div class='pull-left item-title'>{title}</div>
											<div class='pull-right item-price'>{price}</div>
											<div class='clearfix'></div>
											<div class='mt-5 small'>
											</div>
										</div>
	
										<hr />
	
										<div class='pull-left quantity'>
											<p class='small black'>
												Quantity
											</p>
	
											<div class="input-group">
												<div class="input-group-btn">
													<button type="button" class="btn btn-default" onclick='decreaseQty(this);'>&minus;</button>
												</div>
												<input type="text" class="form-control input-qty" name='items[{key}][item_qty]' value='{item_qty}'>
												<div class="input-group-btn">
													<button type="button" class="btn btn-default" onclick='increaseQty(this);'>&plus;</button>
												</div>
											</div>
										</div>
	
										<div class='pull-right'>
											<button class='remove-item' onclick='return confirm("Are you sure you want to remove this item from your cart?");' type='submit' name='remove_items[{key}]' value='1'>&times;</button>
										</div>
	
										<div class='clearfix'></div>
	
										<hr />
	
									</div>
	
								</div>
	
							</div>
							
						{/if}

					{/exp:channel:entries}

				{/items}
				
				
				
				
				
				
				
				
				
				
				<!-- {!-- time to do the extras... --} -->
				
				{items}

					{if no_items}{/if}

					{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name == 'mattresses_extras'}

							<div class='row'>
	
								<div class='line-item'>
	
									<div class='col-sm-5 col-md-4 col-md-offset-1' style='padding-right:30px;'>
										{extras_images limit='1'}
											{exp:ce_img:single src='{extras_images:image}' width='400' height='200' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}
										{/extras_images}
									</div>
	
									<div class='col-sm-7 col-md-6'>
	
										<div>
											<div class='pull-left item-title'>{title}</div>
											<div class='pull-right item-price'>{price}</div>
											<div class='clearfix'></div>
											<div class='mt-5 small'>
												{modifiers}
													{modifier_name}: {modifier_value}
												{/modifiers}
											</div>
										</div>
	
										<hr />
	
										<div class='pull-left quantity'>
											<p class='small black'>
												Quantity
											</p>
	
											<div class="input-group">
												<div class="input-group-btn">
													<button type="button" class="btn btn-default" onclick='decreaseQty(this);'>&minus;</button>
												</div>
												<input type="text" class="form-control input-qty" name='items[{key}][item_qty]' value='{item_qty}'>
												<div class="input-group-btn">
													<button type="button" class="btn btn-default" onclick='increaseQty(this);'>&plus;</button>
												</div>
											</div>
										</div>
	
										<div class='pull-right'>
											<button class='remove-item' onclick='return confirm("Are you sure you want to remove this item from your cart?");' type='submit' name='remove_items[{key}]' value='1'>&times;</button>
										</div>
	
										<div class='clearfix'></div>
	
										<hr />
	
									</div>
	
								</div>
	
							</div>
							
						{/if}

					{/exp:channel:entries}

				{/items}








				<div class='row'>

					<div class='line-item'>

						<div class='col-sm-7 col-md-6 col-sm-offset-5 col-md-offset-5'>

							<div class='pull-left'>
								<div class='medium-orange'>SHIPPING:</div>
								<div class='large-orange'>FREE</div>
							</div>

							<div class='pull-left total-amount'>
								<div class='medium-orange'>TOTAL:</div>
								<div class='large-orange'>{order_total}</div>
								<div class='small-orange'>(VAT INCL.)</div>
							</div>

							<div class='pull-right'>
								<input class='btn main-btn' type="submit" name="next" value="Checkout" />
							</div>

						</div>

					</div>

				</div>

			{/exp:store:checkout}

		</div>

	</div>
	
	
	<div class='add-pillows-container'>
	
		<div class='container'>
		
			<h4>Choose the things you need to keep<br />your investment at it's best for years to come.</h4>
			
			<div class='row'>
			
				<div class='col-sm-5 text-right'>
					<img src='{site_url}/base-theme-2016/images/icon-pillow.png' alt='' class='pillow-icon' />
				</div>
				
				<div class='col-sm-3'>
					<h5>Add some pillows to your order</h5>
					<p>A new mattress calls for new pillows. Would you like to add some now?</p>
					{exp:channel:entries channel='mattresses_pillows' limit='1' status='not closed'}
					
						{exp:store:product entry_id='{entry_id}' return='mattresses/cart'}
						
							<div class='price'>{price} each</div>
						
							<input type='hidden' name='item_qty' value='2' />
							
							<button type='submit' class='main-btn'>Add Pillows To My Order</button>
						
						{/exp:store:product}
					
					{/exp:channel:entries}
				</div>
			
			</div>
		
		</div>
	
	</div>


	<script>

		function increaseQty(btn)
		{
			btn = jQuery(btn);
			var input = btn.parents('.input-group:first').find('input[type="text"]');
			var val = parseInt(input.val());

			if (isNaN(val))
				val = 1;
			else
				val++;

			if (val <= 0)
				val = 1;

			input.val(val);
		}

		function decreaseQty(btn)
		{
			btn = jQuery(btn);
			var input = btn.parents('.input-group:first').find('input[type="text"]');
			var val = parseInt(input.val());

			if (isNaN(val))
				val = 1;
			else
				val--;

			if (val <= 0)
				val = 1;

			input.val(val);
		}

		function removeCartItem(elem)
		{
			if (confirm("Are you sure you want to remove this product from your cart?"))
			{
				// to do...
			}
		}

		// product modifiers...

		jQuery(function(){
			initialiseProductModifierDropdowns();
			
			if (jQuery('.pillow-item').length <= 0)
				jQuery('.add-pillows-container').show();
			
		});

		function initialiseProductModifierDropdowns()
		{
			jQuery('.dropdown.product-modifier').each(function(){

				var dd = jQuery(this);
				dd.find('ul.dropdown-menu li').each(function(){

					var li = jQuery(this);
					li.on('click.rochester.com', function(){

						var li = jQuery(this);

						var text = li.text();
						li.parent().siblings('button').find('span:first').text(text);

						var index = li.index();
						var select = li.parent().siblings('select');
						var opt_val = select.find('option:eq('+ index +')').prop('value');
						select.val(opt_val);

					});

				});

			});
		}

	</script>



{embed="_includes/_footer"}
