{embed="_includes/_header"
body_id="entry"
body_class="furniture"
page_title="Checkout"
description="{exp:eehive_hacksaw}{product_description}{/exp:eehive_hacksaw}"
keywords=""
canonical=""
}


	<div class='cart-title-bar'>

		<div class='container-custom'>

			<table cellpadding='0' cellspacing='0'>

				<tr>
					<td class='returns-text'><a href='#'>Free return policy on all online purchases</td>
					<td class='text-center your-cart-text'>Checkout{exp:store:cart}{if no_items}{/if} ({order_qty} items){/exp:store:cart}</td>
					<td class='text-right continue-shopping-text'><a href='{path="mattresses/search"}'>Continue shopping</a></td>
				</tr>

			</table>

		</div>

	</div>


    {exp:store:checkout
        next="mattresses/review"
        payment_method="Manual"
        error_handling="inline"
        require="first_name|last_name|address1|city|state|country|postcode"
        error_delimiters="<div class='form-errors'>|</div>"
        form_id="billing-shipping-details-form"
    }

		<input type='hidden' name='order_status' value='Mattresses' />
		<input type='hidden' name='status' value='Mattresses' />
	
        <div class='cart-line-items'>

            <div class='container'>

        		{if no_items}
        			<h3 class='text-center mt-50 mb-40'>Your cart is currently emtpy.</h3>
        		{/if}

                {items}
                
                	<!-- {!-- normal items first... --} -->
                	
                	{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name != 'mattresses_extras' && channel_short_name != 'mattresses_pillows'}

		                    <div class='row'>
		
		                        <div class='line-item'>
								
									<div class='col-sm-2'>
										{main_images limit='1'}
											{exp:ce_img:single src='{main_images:image}' width='400' height='200' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}
										{/main_images}
									</div>
		
		                            <div class='col-sm-10'>
		
		                                <div>
		                                    <div class='pull-left item-title'>{title}</div>
		                                    <div class='pull-right item-price'>
		                                        {item_subtotal}&nbsp;
											</div>
		                                    <div class='clearfix'></div>
		                                    <div class='mt-5 small'>
		                                        {modifiers}
		                                            {modifier_name}: {modifier_value}
		                                        {/modifiers}
		                                    </div>
		                                </div>
		
		                                <div class='pull-left quantity mt-20'>
		                                    <p class='small black mb-0'>
		                                        Quantity
		                                    </p>
		                                    <p class='black mb-0'><b>{item_qty}</b></p>
		                                </div>
		
		                                <div class='clearfix'></div>
		
		                                <hr />
		
		                            </div>
		
		                        </div>
		
		                    </div>
		                    
						{/if}
						
					{/exp:channel:entries}

                {/items}
                
                
                
                
                
                {items}
                
                	<!-- {!-- pillows... --} -->
                	
                	{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name == 'mattresses_pillows'}

		                    <div class='row'>
		
		                        <div class='line-item'>
								
									<div class='col-sm-2'>
										{extras_images limit='1'}
											{exp:ce_img:single src='{extras_images:image}' width='400' height='200' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}
										{/extras_images}
									</div>
		
		                            <div class='col-sm-10'>
		
		                                <div>
		                                    <div class='pull-left item-title'>{title}</div>
		                                    <div class='pull-right item-price'>
		                                        {item_subtotal}&nbsp;
											</div>
		                                    <div class='clearfix'></div>
		                                    <div class='mt-5 small'>
		                                        {modifiers}
		                                            {modifier_name}: {modifier_value}
		                                        {/modifiers}
		                                    </div>
		                                </div>
		
		                                <div class='pull-left quantity mt-20'>
		                                    <p class='small black mb-0'>
		                                        Quantity
		                                    </p>
		                                    <p class='black mb-0'><b>{item_qty}</b></p>
		                                </div>
		
		                                <div class='clearfix'></div>
		
		                                <hr />
		
		                            </div>
		
		                        </div>
		
		                    </div>
		                    
						{/if}
						
					{/exp:channel:entries}

                {/items}
                
                
                
                
                
                
                {items}
                
                	<!-- {!-- other extras... --} -->
                	
                	{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name == 'mattresses_extras'}

		                    <div class='row'>
		
		                        <div class='line-item'>
								
									<div class='col-sm-2'>
										{extras_images limit='1'}
											{exp:ce_img:single src='{extras_images:image}' width='400' height='200' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}
										{/extras_images}
									</div>
		
		                            <div class='col-sm-10'>
		
		                                <div>
		                                    <div class='pull-left item-title'>{title}</div>
		                                    <div class='pull-right item-price'>
		                                        {item_subtotal}&nbsp;
											</div>
		                                    <div class='clearfix'></div>
		                                    <div class='mt-5 small'>
		                                        {modifiers}
		                                            {modifier_name}: {modifier_value}
		                                        {/modifiers}
		                                    </div>
		                                </div>
		
		                                <div class='pull-left quantity mt-20'>
		                                    <p class='small black mb-0'>
		                                        Quantity
		                                    </p>
		                                    <p class='black mb-0'><b>{item_qty}</b></p>
		                                </div>
		
		                                <div class='clearfix'></div>
		
		                                <hr />
		
		                            </div>
		
		                        </div>
		
		                    </div>
		                    
						{/if}
						
					{/exp:channel:entries}

                {/items}
                
                
                
                
                
                

                <div class='row'>

                    <div class='line-item'>

                        <div class='col-sm-12 large-orange text-right'>
                            Grand Total:&nbsp;&nbsp;{order_total}
                        </div>

                    </div>

                </div>
                
                
                

            </div>

        </div>

        <div class='cart-line-items'>

            <div class='container'>

    			<div class='billing-details-container mt-30'>
    				<div class='row'>
    					<div class='col-sm-6'>

    						<h3>Billing Details</h3>

                            <div class='well'>
        						<div class='form-group'>
        							<label>First name</label>
        							{field:billing_first_name}
        							{error:billing_first_name}
        						</div>
        						<div class='form-group'>
        							<label>Last name</label>
        							{field:billing_last_name}
        							{error:billing_last_name}
        						</div>
        						<div class='form-group'>
        							<label>Address Line 1</label>
        							{field:billing_address1}
        							{error:billing_address1}
        						</div>
        						<div class='form-group'>
        							<label>Address Line 2</label>
        							{field:billing_address2}
        							{error:billing_address2}
        						</div>
        						<div class='form-group'>
        							<label>City</label>
        							{field:billing_city}
        							{error:billing_city}
        						</div>
        						<div class='form-group'>
        							<label>Country</label>
        							{field:billing_country}
        							{error:billing_country}
        						</div>
        						<div class='form-group'>
        							<label>Province / State</label>
        							{field:billing_state}
        							{error:billing_state}
        						</div>
        						<div class='form-group'>
        							<label>Postal code</label>
        							{field:billing_postcode}
        							{error:billing_postcode}
        						</div>
        						<div class='form-group'>
        							<label>Contact number</label>
        							{field:billing_phone}
        							{error:billing_phone}
        						</div>
								<div class='form-group'>
        							<label>E-mail address</label>
									<input type="email" id="order_email" name="order_email" value="{order_email}" class='form-control'>
									{error:order_email}
								</div>
                            </div>
    					</div>

    					<div class='col-sm-6'>

    						<h3>Shipping Details</h3>
							<div class='same-as-billing'>
								{field:shipping_same_as_billing}
								<label for="shipping_same_as_billing" class=''>same as billing</label>
							</div>
								
    						<div id='shipping_details_drawer' class='well'>
    							<div class='form-group'>
    								<label>First name</label>
    								{field:shipping_first_name}
    								{error:shipping_first_name}
    							</div>
    							<div class='form-group'>
    								<label>Last name</label>
    								{field:shipping_last_name}
    								{error:shipping_last_name}
    							</div>
    							<div class='form-group'>
    								<label>Address Line 1</label>
    								{field:shipping_address1}
    								{error:shipping_address1}
    							</div>
    							<div class='form-group'>
    								<label>Address Line 2</label>
    								{field:shipping_address2}
    								{error:shipping_address2}
    							</div>
    							<div class='form-group'>
    								<label>City</label>
    								{field:shipping_city}
    								{error:shipping_city}
    							</div>
    							<div class='form-group'>
    								<label>Country</label>
    								{field:shipping_country}
    								{error:shipping_country}
    							</div>
    							<div class='form-group'>
    								<label>Province / State</label>
    								{field:shipping_state}
    								{error:shipping_state}
    							</div>
    							<div class='form-group'>
    								<label>Postal code</label>
    								{field:shipping_postcode}
    								{error:shipping_postcode}
    							</div>
    							<div class='form-group'>
    								<label>Contact number</label>
    								{field:shipping_phone}
    								{error:shipping_phone}
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>

    			<div class='buttons-container mt-30'>
    				<a href='{path="mattresses/cart"}' class='btn main-btn pull-left'>&larr; Back to cart</a>
    				<input type="submit" name="next" value="Confirm Order &rarr;" class='btn main-btn pull-right' />
    			</div>
    			<div class='clearfix'></div>

    			<script type='text/javascript'>
    				jQuery("#billing-shipping-details-form input[type='text'], #billing-shipping-details-form select").addClass('form-control');
    				jQuery(function(){
    					jQuery('#shipping_same_as_billing').on('change.dokterandmisses.com', function(){
    						if (this.checked) jQuery('#shipping_details_drawer').slideUp();
    						else jQuery('#shipping_details_drawer').slideDown();
    					});
    					if (jQuery('#shipping_same_as_billing').is(':checked')) jQuery('#shipping_details_drawer').hide();
    				});
    			</script>

            </div>

        </div>

    {/exp:store:checkout}



{embed="_includes/_footer"}
