{exp:channel:entries track_views='one' channel='mattresses_mattress_base_sets|mattresses_base_only|mattresses_mattress_only' limit='1' status='not closed'}{embed="_includes/_header"
body_id="entry"
body_class="furniture"
page_title="{title}"
description="{exp:eehive_hacksaw}{product_description}{/exp:eehive_hacksaw}"
keywords=""
canonical=""
}

	<section class="breadcrumbs">
		<div class="container">
			<div class="row">

				<div class="col-md-8 col-sm-8 col-xs-12">

				<p>You are Here: <span><a href='{path="/"}'>Home</a></span><span><a href='{path="mattresses"}'>Mattresses</a></span><span class="cur-prod">{title}</span></p>

				</div>
				<div class="col-md-4 col-sm-4 social col-xs-12">

					<p>Share this page</p>

					<a href="" onclick='window.open("https://www.facebook.com/sharer/sharer.php?u=" + escape("{title_permalink='mattresses/detail'}"), "sharewindow", "width=500,height=300"); return false;'>
						<i class="fa fa-facebook"></i>
					</a>

					<a href="" onclick='window.open("https://twitter.com/home?status=Have%20a%20look%20at%20the%20Rochester%20{title}%20-%20" + escape("{title_permalink='mattresses/detail'}"), "sharewindow", "width=500,height=350"); return false;'>
						<i class="fa fa-twitter"></i>
					</a>

				</div>

			</div>
		</div>
	</section>







	{exp:store:product entry_id='{entry_id}' return='mattresses/cart'}

		<section class='mattress-main-details'>

			<div class='container-custom'>

				<div class='row'>

					<div class='col-sm-6 hidden-sm hidden-xs'>

						<div class='spyglass-container'>

							{main_images}
								<div class='spyglass'>
									{exp:ce_img:single src="{main_images:image}" add_dims="no" allow_scale_larger="yes" crop="no" min_width="900" attributes="class='img-responsive'"}
								</div>
							{/main_images}

							<div class='spyglass-thumbs'>
								{main_images}
									<div class='thumb'>{exp:ce_img:single src="{main_images:image}" add_dims="no" allow_scale_larger="yes" crop="yes" width="400" height="350"}</div>
								{/main_images}
							</div>

						</div>

					</div>


					<div class='col-md-6 col-sm-12 main-details'>

						{if in_stock == 'Yes'}<div class='badge'>IN STOCK</div>{/if}
						<h3>{title}</h3>
						<div class='price'>
							<div class='main-price'>{starting_price}</div>
							<div class='price-details'>Available on finance</div>
						</div>

						<div class='visible-sm visible-xs'>

							<hr />

							<div class='spyglass-container'>

								{main_images}
									<div class='spyglass'>
										{exp:ce_img:single src="{main_images:image}" add_dims="no" allow_scale_larger="yes" crop="no" min_width="900" attributes="class='img-responsive'"}
									</div>
								{/main_images}

								<div class='spyglass-thumbs'>
									{main_images}
										<div class='thumb'>{exp:ce_img:single src="{main_images:image}" add_dims="no" allow_scale_larger="yes" crop="yes" width="400" height="350"}</div>
									{/main_images}
								</div>

							</div>

						</div>

						<hr />

						<p>
							{main_caption}
						</p>

						<div class='award-badges'>
							{features}
								<img src='{features:icon}' alt='' />
							{/features}
						</div>

						<hr />

						<!--<p class='small'>
							Dimensions: 34" x 45" x 56"
						</p>-->

						<form method="post">

							<div class='buy-now'>

								{modifiers}
									<div class="dropdown product-modifier" style='margin-right:4px;'>
									
										<p class='small mb-5'><b>Size:</b></p>
									
										<button type="button" data-toggle="dropdown">
											{modifier_options limit='1'}
												<span>{option_name}</span>
											{/modifier_options}
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											{modifier_options}
												<li data-modprice='{price_mod}'>{option_name}</li>
											{/modifier_options}
										</ul>
										<select class='hidden size-mod' name='{modifier_input_name}'>
											{modifier_options}
												<option value='{option_id}'>{option_name}</option>
											{/modifier_options}
										</select>
									</div>
								{/modifiers}
								
								<div class="dropdown product-modifier mattress-protector-dropdown">
								
									<p class='small mb-5'><b>Mattress Protector:</b></p>
									
									<button type="button" data-toggle="dropdown">
										<span>No</span>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li>Yes</li>
										<li>No</li>
									</ul>
									<select class='hidden' id='include-mattress-protector'>
										<option value='yes'>Yes</option>
										<option value='no'>No</option>
									</select>
								
								</div>

								<input type='hidden' name='item_qty' value='1' />
								<button type='submit' class='main-btn solid' onclick='return confirmProtector(this);'>Buy Now</button>

							</div>

						</form>

						<hr />

						<div class='product-disclaimer'>
							Prices may fluctuate in accordance with options and configuration. All products and prices on this website are subject to stock
							availability and price fluctuation - e&amp;oe. Unless otherwise stated complimentary products and accessories are not included in the price shown.
						</div>

					</div>


				</div>

			</div>

		</section>

	{/exp:store:product}




	<section class='product-specifications'>

		<div class='tabs-container-custom'>

			<div class='tabs-inner'>

				<div class='tabs'>
					<div class='tab active'><div><span>Overview</span></div></div>
					<div class='tab'><div><span>Delivery</span></div></div>
					<div class='tab'><div><span>Specification</span></div></div>
				</div>

				<div class='tab-content'>

					<div style='display:block;'>
						{main_product_overview}
					</div>

					<div>
						{main_product_delivery_details}
					</div>

					<div>
						{main_product_specifications}
					</div>

				</div>

			</div>

		</div>

	</section>





		<section class='ecommerce-banner'>

			<div class='container-custom'>

				<div class='row'>

					<div class='col-sm-4'>

						{brand_details limit='1'}

							<img src="{brand_details:logo}" class="banner-logo img-responsive mb-40">
							<p class="black uppercase"><b>{brand_details:title}</b></p>
							<p class="small black mb-50">
								{brand_details:caption}
							</p>

						{/brand_details}

					</div>

					<div class='col-sm-8'>

						{exp:store:product entry_id='{entry_id}' return='mattresses/cart'}

							<div class='banner-container' style='background-image: url({brand_details limit='1'}{brand_details:main_image}{/brand_details});'>

								<div class='ecommerce-box'>

									<div class='thumbnail-container'>
										<div class='thumb'>
											{main_images limit='1'}
												{exp:ce_img:single src='{main_images:image}' width='300' height='300' crop='yes' add_dims='no' attributes='alt=""'}
											{/main_images}
										</div>
										<div class='product-details'>
											<h4><b>{title}</b></h4>
											<div class='price'>
												<div class='main-price'>{starting_price}</div>
												<div class='price-details'>Available on finance</div>
											</div>
										</div>
									</div>

									<div class='clearfix'></div>

									<div class='inadvertent-label'>Select option:</div>

									<div class="dropdown product-modifier">
										<button type="button" data-toggle="dropdown">
											{modifiers}
												{modifier_options limit='1'}
													<span>{option_name}</span>
												{/modifier_options}
											{/modifiers}
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											{modifiers}
												{modifier_options}
													<li data-modprice='{price_mod}'>{option_name}</li>
												{/modifier_options}
											{/modifiers}
										</ul>
										{modifiers}
											<select class='hidden' name='{modifier_input_name}'>
												{modifier_options}
													<option value='{option_id}'>{option_name}</option>
												{/modifier_options}
											</select>
										{/modifiers}
									</div>

									<input type='hidden' name='item_qty' value='1' />
									<button type='submit' class='main-btn solid'>Buy Now</button>

								</div>

							</div>

						{/exp:store:product}

					</div>

				</div>

			</div>

		</section>




	{if collage_image != ''}
		<img src='{collage_image}' alt='' class='img-responsive' />
	{/if}





	<section class='badges-feature'>

		<h3>{features_title}</h3>

		<div class='container'>

			<div class='row'>


				{features limit='3' orderby='random'}

					<div class='col-sm-4'>
						<div class='feature'>
							<div class='badge-icon'>
								<img src='{features:icon}' alt='' />
							</div>
							<div class='badge-description'>
								{features:caption}
							</div>
						</div>
					</div>

				{/features}

			</div>

		</div>

	</section>




	{embed='mattresses/_related_products' channel='{channel_short_name}' entry_id="{entry_id}"}








	<section class='mattress-secondary-details'>

	</section>








	<section class='mattress-tertiary-details'>

	</section>







	<section class='mattress-banner-image'>

	</section>







	<section class='mattress-related-products'>

	</section>





	<script>

		// script...

		window.onload = function(){
			initliaseSpyglass();
			initialiseProductModifierDropdowns();
			initialiseCustomTabs();
		};
		
		function getSelectedMattressProtectorForm()
		{
			var form = jQuery('#include-mattress-protector').parents('form:first');
			var size_mod = form.find('select.size-mod');
			var val = size_mod.find('option:selected').text().toLowerCase();
			
			var size = 'single';
			var xl = false;
			
			if (val.indexOf('x') !== -1)
				xl = true;
			
			if (val.indexOf('three') !== -1)
				size = 'three-quarter';
			else if (val.indexOf('double') !== -1)
				size = 'double';
			else if (val.indexOf('queen') !== -1)
				size = 'queen';
			else if (val.indexOf('king') !== -1)
				size = 'king';
			
			var protector_form = jQuery('form#mattress-protector-'+size+(xl ? '-xl' : ''));
			
			return protector_form;
		}
		
		function confirmProtector(submit_btn)
		{
			if (jQuery('#include-mattress-protector').val() == 'no')
				return true;
			else
			{
				submit_btn = jQuery(submit_btn);
				var form = submit_btn.parents('form:first');
				var protector_form = getSelectedMattressProtectorForm();
				
				jQuery.post(protector_form.prop('action'), protector_form.serialize(), function(data){
					
					form.submit();
					
				}, 'html');
				
				return false;
			}
		}

		function initliaseSpyglass()
		{
			// thumbs...
			// do these first as they'll be needed on every screen size...

			jQuery('.spyglass-thumbs .thumb').each(function(){

				var thumb = jQuery(this);
				thumb.on('click.rochester.com', function(){

					var index = jQuery(this).index('.thumb');
					var spyglass_index = jQuery('.spyglass:visible').index('.spyglass');

					if (index != spyglass_index)
					{
						jQuery('.spyglass:visible').fadeOut(350, function(){
							jQuery('.spyglass:eq('+ index +')').fadeIn(350);
						});
					}

				});

			});

			if (jQuery(window).width() < 768)
			{
				jQuery('.spyglass-container').each(function(){
					jQuery(this).find('.spyglass:first').show();
				});
				return;
			}

			jQuery('.spyglass-container').each(function(){

				var cont = jQuery(this);
				cont.find('.spyglass').each(function(i){

					var spyglass = jQuery(this);

					if (i == 0)
						spyglass.show();

					// check for an image...
					var img = spyglass.children('img:first');
					if (img.length != 1)
						return true;

					// create the spyglass...
					spyglass.append('<div class="spyglass-glass" style="background-image:url('+ img.prop('src') +');" />');

					// create the curtain...
					spyglass.append('<div class="spyglass-curtain" />');
					var curtain = spyglass.find('.spyglass-curtain');

					// get the original image's attributes...
					var img_obj = new Image();
					img_obj.onload = function(){

						spyglass.data('originalwidth', img_obj.width);
						spyglass.data('originalheight', img_obj.height);

						curtain.on('mouseover.rochester.com', function(){
							activateSpyglass(jQuery(this));
						});

						curtain.on('mouseout.rochester.com', function(){
							deactivateSpyglass(jQuery(this));
						});

					};
					img_obj.src = img.prop('src');

				});

			});
		}

		function activateSpyglass(obj)
		{
			obj.siblings('.spyglass-glass').stop(true, false).fadeIn(250);
			obj.css('cursor', 'none');

			obj.on('mousemove.rochester.com', function(e){

				var t = jQuery(e.target);
				var s = t.siblings('.spyglass-glass');
				var p = t.parent();

				var x = e.offsetX;
				var y = e.offsetY;

				var iw = p.data('originalwidth') - s.width();
				var ix = (-1) * (x / t.width()) * iw;

				var ih = p.data('originalheight') - s.height();
				var iy = (-1) * (y / t.height()) * ih;

				s.css({top:(y-(s.height()*0.5))+'px', left:(x-(s.width()*0.5))+'px'});
				s.css('background-position', ix + 'px '+ iy +'px');
			});
		}

		function deactivateSpyglass(obj)
		{
			obj.css('cursor', 'auto');
			obj.siblings('.spyglass-glass').stop(true, false).fadeOut(250);
			obj.off('mousemove.rochester.com');
		}

		// product modifiers...

		function initialiseProductModifierDropdowns()
		{
			jQuery('.dropdown.product-modifier').each(function(){

				var dd = jQuery(this);
				dd.find('ul.dropdown-menu li').each(function(){

					var li = jQuery(this);
					li.on('click.rochester.com', function(){

						var li = jQuery(this);

						var text = li.text();
						li.parent().siblings('button').find('span:first').text(text);

						var index = li.index();
						var select = li.parent().siblings('select');
						var opt_val = select.find('option:eq('+ index +')').prop('value');
						select.val(opt_val);

						if (li.data('modprice') != null && li.data('modprice') != undefined && li.data('modprice') != '' && li.data('modprice') && typeof li.data('modprice') != 'undefined')
						{
							var p = li.data('modprice');
							
							if (jQuery('#include-mattress-protector').val() == 'yes')
							{
								var form = getSelectedMattressProtectorForm();
								var add_price = form.find('input[name="extra_price_addition"]').val();
								p = p.replace(/[R,\ ]*/gi, '');
								p = parseFloat(p) + parseFloat(add_price);
								
								// from http://stackoverflow.com/a/2901298/1009413
								p = 'R' + p.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
							}
							
							li.parents('section').find('.main-price').text(p);
						}
						else if (dd.hasClass('mattress-protector-dropdown'))
						{
							dd.siblings().find('select').each(function(){
								var select = jQuery(this);
								var option = select.find('option:selected');
								var selected_index = option.index();
								
								select.siblings('.dropdown-menu').find('li:eq('+ selected_index +')').trigger('click.rochester.com');
							});
						}

					});

				});

			});
		}

		// tabs...

		function initialiseCustomTabs()
		{
			jQuery('.tabs-container-custom .tabs .tab').each(function(){

				var tab = jQuery(this);
				tab.on('click.rochester.com', function(){

					var tab = jQuery(this);
					if (!tab.hasClass('active'))
					{
						var index = tab.index();

						jQuery('.tabs-container-custom .tabs .tab').toggleClass('active', false);
						tab.toggleClass('active', true);

						jQuery('.tabs-container-custom .tab-content div:visible').fadeOut(200, function(){
							jQuery('.tabs-container-custom .tab-content div:eq('+ index +')').fadeIn(200);
						});
					}

				});

			});
		}

	</script>
	
	{/exp:channel:entries}
	
	
	
	
	{exp:channel:entries channel='mattresses_extras' status='not closed' dynamic='no'}

		{exp:store:product entry_id='{entry_id}' return='mattresses/cart' form_id='mattress-protector-{extras_size_class}{if extras_size_xl == "Yes"}-xl{/if}'}
			<input type='hidden' name='item_qty' value='1' />
			<input type='hidden' name='extra_price_addition' value='{price_val}' />
		{/exp:store:product}	
	
	{/exp:channel:entries}







{embed="_includes/_footer"}
