{embed="_includes/_header"
body_id="fp"
body_class="static"
page_title="Mattresses"
description="Welcome to Rochester Furniture's official website. We sell dining room, bedroom and lounge furniture. It's not just furniture, it's Rochester."
keywords="furniture, bedroom furniture, lounge furniture, home furniture, leather furniture, dining room furniture, La-Z-boy recliners, chairs, beds, tables, couches."
}




		<div class='mattresses-container intro'>

			<div class='text-center main-details'>
				<div class='moon-and-stars'></div>
				<div class='main-mattress-title'>Get the best night's sleep of your life</div>
				<div class='main-mattress-price'>From R4,995</div>
				<a href='{path="mattresses/search"}' class='main-btn solid squished'>Find your perfect mattress</a>
			</div>

			<div class='container'>
				<div class='row'>

					<div class='col-sm-4'>
						<div class='mattress-feature'>
							<div class='main-image'>
								<img src='{site_url}base-theme-2016/images/white-circle.png' class='img-responsive circle' alt='' />
								<img src="{site_url}base-theme-2016/images/mattress-only.png" class="img-responsive non-circle" alt="">
							</div>
							<div class='main-title'>Mattress<br />Only</div>
							<a href='{path="mattresses/search"}/mattress-only' class='main-btn solid small squished'>Get started</a>
						</div>
					</div>

					<div class='col-sm-4'>
						<div class='mattress-feature'>
							<div class='main-image'>
								<img src='{site_url}base-theme-2016/images/white-circle.png' class='img-responsive circle' alt='' />
								<img src="{site_url}base-theme-2016/images/mattress-and-base.png" class="img-responsive non-circle" alt="">
							</div>
							<div class='main-title'>Mattress<br />&amp; Base</div>
							<a href='{path="mattresses/search"}' class='main-btn solid small squished'>Get started</a>
						</div>
					</div>

					<div class='col-sm-4'>
						<div class='mattress-feature'>
							<div class='main-image'>
								<img src='{site_url}base-theme-2016/images/white-circle.png' class='img-responsive circle' alt='' />
								<img src="{site_url}base-theme-2016/images/base-only.png" class="img-responsive non-circle" alt="">
							</div>
							<div class='main-title'>Base<br />Only</div>
							<a href='{path="mattresses/search"}/base-only' class='main-btn solid small squished'>Get started</a>
						</div>
					</div>

				</div>
			</div>

		</div>




		<div class='mattresses-container best-sellers'>

			<div class='container-custom products'>

				<h3 class="section-title grey"><span>Our best sellers</span></h3>

				<div class='row p-row'>

					{exp:channel:entries limit='3' orderby="view_count_one" channel='mattresses_mattress_base_sets|mattresses_base_only|mattresses_mattress_only' status='not closed'}

						{exp:store:product entry_id='{entry_id}'}

							<div class="col-md-4 mb-30 product fadeInDown">
								<a href="{title_permalink='mattresses/detail'}">
									<div class="product-image">
										{main_images limit='1'}
											{exp:ce_img:single src='{main_images:image}' width='690' height='390' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}
										{/main_images}
										<button class="main-btn solid" type="button">View Details</button>
									</div>
									<div class="product-details">
										<h4>{title}</h4>
										<p><b>{starting_price}</b></p>
									</div>
								</a>
							</div>

						{/exp:store:product}

					{/exp:channel:entries}

				</div>

				<div class='row'>
					<div class='col-sm-12'>
						<a href="" class="main-btn gray load-more" onclick="loadProductRows('mattresses', '0', 'latest'); return false;">Show Me More<div class="loading"><div class="ie9"></div></div></a>
					</div>
				</div>

			</div>

		</div>




		<div class='mattresses-container big-rotator'>
			<div class='container'>

				<div class='rotator-slides'>

					{exp:channel:entries channel='mattresses_mattress_base_sets|mattresses_base_only|mattresses_mattress_only' search:brand_ambassador='Yes' status='not closed'}

						{brand_details}

							<div class='rotator-slide'>
								<div class='row'>

									<div class='col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1 mt-lg-40 mt-10 mt-sm-5 mt-xs-5'>
										{exp:ce_img:single src='{brand_details:logo}' width='280' crop='no' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive mb-40" style="max-height:45px;"'}
										<p class='black uppercase'><b>{brand_details:title}</b></p>
										<p class='small black mb-50'>
											{brand_details:caption}
										</p>
										<a href='{path="mattresses/search/brand"}/{exp:url_ready piece="{brand_details:brand_name}"}' class='main-btn solid'>View the {brand_details:brand_name} range</a>
									</div>

									<div class='col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0 hidden-xs hidden-sm'>
										{exp:ce_img:single src='{brand_details:main_image}' width='1100' height='750' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive mt-sm-60 mt-xs-50"'}
									</div>
								</div>
							</div>

						{/brand_details}

					{/exp:channel:entries}

					<div class='arrows'>
						<div class='left-arrow' onclick='rotatorLeftClicked();'></div>
						<div class='right-arrow' onclick='rotatorRightClicked();'></div>
					</div>

				</div>

			</div>
		</div>




		<div class='mattresses-container adverts'>

			<div class='container-custom'>
				<div class='row'>
				
					{exp:channel:entries channel='advertising' entry_id='479' status='not closed' limit='3'}
					
						{advertising_large}
						
							<div class='col-sm-4'>
								<a href='{advertising_large:link}'>
									{exp:ce_img:single src='{advertising_large:advert}' width='1100' height='600' allow_scale_larger='yes' add_dims='no' crop='yes' attributes='class="img-responsive" alt="{advertising_large:caption}"'}
								</a>
							</div>
						
						{/advertising_large}
					
					{/exp:channel:entries}

				</div>
			</div>

		</div>




		<script>

			function cavalryPreloaderFinished()
			{
				rotatorLeftClicked();
			}

			function rotatorLeftClicked()
			{
				var current = jQuery('.rotator-slides .rotator-slide:visible');
				if (current.length < 1)
				{
					jQuery('.rotator-slides .rotator-slide:first').fadeIn(350);
				}
				else
				{
					if (jQuery('.rotator-slides .rotator-slide').length > 1)
					{
						var previous = current.prev('.rotator-slide');
						if (previous.length == 0)
							previous = jQuery('.rotator-slides .rotator-slide:last');

						if (previous.length > 0)
						{
							previous.css({left: '-100%', opacity: '0'}).show();

							current.animate({left: '100%', opacity: '0'}, 650, function(){
								jQuery(this).hide();
							});

							previous.animate({left: '0%', opacity: '1'}, 650, function(){});
						}
					}
				}

				checkRotatorHeight();
			}

			function rotatorRightClicked()
			{
				var current = jQuery('.rotator-slides .rotator-slide:visible');
				if (current.length < 1)
				{
					jQuery('.rotator-slides .rotator-slide:first').fadeIn(350);
				}
				else
				{
					if (jQuery('.rotator-slides .rotator-slide').length > 1)
					{
						var next = current.next('.rotator-slide');
						if (next.length == 0)
							next = jQuery('.rotator-slides .rotator-slide:first');

						if (next.length > 0)
						{
							next.css({left: '100%', opacity: '0'}).show();

							current.animate({left: '-100%', opacity: '0'}, 650, function(){
								jQuery(this).hide();
							});

							next.animate({left: '0%', opacity: '1'}, 650, function(){});
						}
					}
				}

				checkRotatorHeight();
			}

			function checkRotatorHeight()
			{
				var cont = jQuery('.rotator-slides');
				jQuery('.rotator-slides .rotator-slide:visible').each(function(){
					if (jQuery(this).outerHeight() > cont.height())
						cont.css('height', jQuery(this).outerHeight() + 'px');
				});
			}

		</script>





{embed="_includes/_footer"}
