{embed="_includes/_header"
body_id="entry"
body_class="furniture"
page_title="Order Confirmed"
description="{exp:eehive_hacksaw}{product_description}{/exp:eehive_hacksaw}"
keywords=""
canonical=""
}

    <div class='cart-title-bar'>

        <div class='container-custom'>

            <table cellpadding='0' cellspacing='0'>

                <tr>
                    <td class='returns-text'><a href='#'>Free return policy on all online purchases</td>
                    <td class='text-center your-cart-text'>Order Successful</td>
                    <td class='text-right continue-shopping-text'><a href='{path="mattresses/search"}'>Continue shopping</a></td>
                </tr>

            </table>

        </div>

    </div>

	{exp:store:orders order_hash="{segment_3}"}

		{if no_orders}
			{redirect='404'}
		{/if}

        <div class='cart-line-items'>

            <div class='container mt-30'>

        		<h3 class='text-center'>Thank you for your order!</h3>
        		<p class='text-center'>Your order has been placed successfully, with the following details:</p>

				{items}
				
					<!-- {!-- normal items first... --} -->
                	
                	{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name != 'mattresses_extras' && channel_short_name != 'mattresses_pillows'}

		                    <div class='row'>
		
		                        <div class='line-item'>
		
		                            <div class='col-sm-12'>
		
		                                <div>
		                                    <div class='pull-left item-title'>{title}</div>
		                                    <div class='pull-right item-price'>{item_subtotal}</div>
		                                    <div class='clearfix'></div>
		                                    <div class='mt-5 small'>
		                                        {modifiers}
		                                            {modifier_name}: {modifier_value}
		                                        {/modifiers}
		                                    </div>
		                                </div>
		
		                                <div class='pull-left quantity mt-20'>
		                                    <p class='small black mb-0'>
		                                        Quantity
		                                    </p>
		                                    <p class='black mb-0'><b>{item_qty}</b></p>
		                                </div>
		
		                                <div class='clearfix'></div>
		
		                                <hr />
		
		                            </div>
		
		                        </div>
		
		                    </div>
		                    
						{/if}
						
					{/exp:channel:entries}
					
				{/items}
				
				
				
				
				
				
				{items}
                
                	<!-- {!-- pillows next... --} -->
                	
                	{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name == 'mattresses_pillows'}

		                    <div class='row'>
		
		                        <div class='line-item'>
		
		                            <div class='col-sm-12'>
		
		                                <div>
		                                    <div class='pull-left item-title'>{title}</div>
		                                    <div class='pull-right item-price'>{item_subtotal}</div>
		                                    <div class='clearfix'></div>
		                                    <div class='mt-5 small'>
		                                        {modifiers}
		                                            {modifier_name}: {modifier_value}
		                                        {/modifiers}
		                                    </div>
		                                </div>
		
		                                <div class='pull-left quantity mt-20'>
		                                    <p class='small black mb-0'>
		                                        Quantity
		                                    </p>
		                                    <p class='black mb-0'><b>{item_qty}</b></p>
		                                </div>
		
		                                <div class='clearfix'></div>
		
		                                <hr />
		
		                            </div>
		
		                        </div>
		
		                    </div>
		                    
						{/if}
						
					{/exp:channel:entries}

                {/items}
				
				
				
				
				
				
				
				{items}
                
                	<!-- {!-- extras last... --} -->
                	
                	{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name == 'mattresses_extras'}

		                    <div class='row'>
		
		                        <div class='line-item'>
		
		                            <div class='col-sm-12'>
		
		                                <div>
		                                    <div class='pull-left item-title'>{title}</div>
		                                    <div class='pull-right item-price'>{item_subtotal}</div>
		                                    <div class='clearfix'></div>
		                                    <div class='mt-5 small'>
		                                        {modifiers}
		                                            {modifier_name}: {modifier_value}
		                                        {/modifiers}
		                                    </div>
		                                </div>
		
		                                <div class='pull-left quantity mt-20'>
		                                    <p class='small black mb-0'>
		                                        Quantity
		                                    </p>
		                                    <p class='black mb-0'><b>{item_qty}</b></p>
		                                </div>
		
		                                <div class='clearfix'></div>
		
		                                <hr />
		
		                            </div>
		
		                        </div>
		
		                    </div>
		                    
						{/if}
						
					{/exp:channel:entries}

                {/items}
				
				
				
				
				
				
				

        		<div class='billing-details-container mt-30 mb-40'>
        			<div class='row'>
        				<div class='col-sm-offset-1 col-sm-5 black'>
        					<h3>Billing details</h3>
        					{billing_name}<br />
        					{billing_address1}{if billing_address2 != ''}, {billing_address2}{/if}, {billing_city}<br />
        					{billing_state}, {billing_country}, {billing_postcode}<br />
        					{billing_phone}
        				</div>

        				<div class='col-sm-offset-1 col-sm-5 black'>
        					<h3>Shipping details</h3>
        					{shipping_name}<br />
        					{shipping_address1}{if shipping_address2 != ''}, {shipping_address2}{/if}, {shipping_city}<br />
        					{shipping_state}, {shipping_country}, {shipping_postcode}<br />
        					{shipping_phone}
        				</div>
        			</div>

        		</div>

            </div>

        </div>

	{/exp:store:orders}

{embed='_includes/_footer'}
