{embed="_includes/_header"
body_id="entry"
body_class="furniture"
page_title="Review"
description="{exp:eehive_hacksaw}{product_description}{/exp:eehive_hacksaw}"
keywords=""
canonical=""
}

    <div class='cart-title-bar'>

        <div class='container-custom'>

            <table cellpadding='0' cellspacing='0'>

                <tr>
                    <td class='returns-text'><a href='#'>Free return policy on all online purchases</td>
                    <td class='text-center your-cart-text'>Order Review</td>
                    <td class='text-right continue-shopping-text'><a href='{path="mattresses/search"}'>Continue shopping</a></td>
                </tr>

            </table>

        </div>

    </div>


    {exp:store:checkout
        return="mattresses/order-confirmed/ORDER_HASH"
        payment_method="Manual"
        error_handling="inline"
        error_delimiters="<div>|</div>"
        form_id="checkOut"
		order_status='Mattresses'
    }

        <div class='cart-line-items'>

            <div class='container'>

                {if no_items}
                    <h3 class='text-center mt-50 mb-40'>Your cart is currently emtpy.</h3>
                {/if}

                {items}
                
                	<!-- {!-- normal items first... --} -->
                	
                	{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name != 'mattresses_extras' && channel_short_name != 'mattresses_pillows'}

		                    <div class='row'>
		
		                        <div class='line-item'>
		
		                            <div class='col-sm-2'>
										{main_images limit='1'}
											{exp:ce_img:single src='{main_images:image}' width='400' height='200' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}
										{/main_images}
									</div>
		
		                            <div class='col-sm-10'>
		
		                                <div>
		                                    <div class='pull-left item-title'>{title}</div>
		                                    <div class='pull-right item-price'>{item_subtotal}</div>
		                                    <div class='clearfix'></div>
		                                    <div class='mt-5 small'>
		                                        {modifiers}
		                                            {modifier_name}: {modifier_value}
		                                        {/modifiers}
		                                    </div>
		                                </div>
		
		                                <div class='pull-left quantity mt-20'>
		                                    <p class='small black mb-0'>
		                                        Quantity
		                                    </p>
		                                    <p class='black mb-0'><b>{item_qty}</b></p>
		                                </div>
		
		                                <div class='clearfix'></div>
		
		                                <hr />
		
		                            </div>
		
		                        </div>
		
		                    </div>
		                    
						{/if}
						
					{/exp:channel:entries}

                {/items}
                
                
                
                
                
                
                {items}
                
                	<!-- {!-- pillows next... --} -->
                	
                	{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name == 'mattresses_pillows'}

		                    <div class='row'>
		
		                        <div class='line-item'>
		
		                            <div class='col-sm-2'>
										{extras_images limit='1'}
											{exp:ce_img:single src='{extras_images:image}' width='400' height='200' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}
										{/extras_images}
									</div>
		
		                            <div class='col-sm-10'>
		
		                                <div>
		                                    <div class='pull-left item-title'>{title}</div>
		                                    <div class='pull-right item-price'>{item_subtotal}</div>
		                                    <div class='clearfix'></div>
		                                    <div class='mt-5 small'>
		                                        {modifiers}
		                                            {modifier_name}: {modifier_value}
		                                        {/modifiers}
		                                    </div>
		                                </div>
		
		                                <div class='pull-left quantity mt-20'>
		                                    <p class='small black mb-0'>
		                                        Quantity
		                                    </p>
		                                    <p class='black mb-0'><b>{item_qty}</b></p>
		                                </div>
		
		                                <div class='clearfix'></div>
		
		                                <hr />
		
		                            </div>
		
		                        </div>
		
		                    </div>
		                    
						{/if}
						
					{/exp:channel:entries}

                {/items}
                
                
                
                
                
                
                
                {items}
                
                	<!-- {!-- extras last... --} -->
                	
                	{exp:channel:entries entry_id="{entry_id}"}
					
						{if channel_short_name == 'mattresses_extras'}

		                    <div class='row'>
		
		                        <div class='line-item'>
		
		                            <div class='col-sm-2'>
										{extras_images limit='1'}
											{exp:ce_img:single src='{extras_images:image}' width='400' height='200' crop='yes' add_dims='no' allow_scale_larger='yes' attributes='alt="" class="img-responsive"'}
										{/extras_images}
									</div>
		
		                            <div class='col-sm-10'>
		
		                                <div>
		                                    <div class='pull-left item-title'>{title}</div>
		                                    <div class='pull-right item-price'>{item_subtotal}</div>
		                                    <div class='clearfix'></div>
		                                    <div class='mt-5 small'>
		                                        {modifiers}
		                                            {modifier_name}: {modifier_value}
		                                        {/modifiers}
		                                    </div>
		                                </div>
		
		                                <div class='pull-left quantity mt-20'>
		                                    <p class='small black mb-0'>
		                                        Quantity
		                                    </p>
		                                    <p class='black mb-0'><b>{item_qty}</b></p>
		                                </div>
		
		                                <div class='clearfix'></div>
		
		                                <hr />
		
		                            </div>
		
		                        </div>
		
		                    </div>
		                    
						{/if}
						
					{/exp:channel:entries}

                {/items}
                
                
                
                
                
                
                

                <div class='row'>

                    <div class='line-item'>

                        <div class='col-sm-12 large-orange text-right'>
                            Grand Total:&nbsp;&nbsp;{order_total}
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class='cart-line-items'>

            <div class='container'>

        		<div class='billing-details-container'>
        			<div class='row'>
        				<div class='col-sm-offset-1 col-sm-5 black'>
        					<h3>Billing details</h3>
        					{billing_name}<br />
        					{billing_address1}{if billing_address2 != ''}, {billing_address2}{/if}, {billing_city}<br />
        					{billing_state}, {billing_country}, {billing_postcode}<br />
        					{billing_phone}
        				</div>

        				<div class='col-sm-offset-1 col-sm-5 black'>
        					<div class='visible-xs'><br /><br /></div>
        					<h3>Shipping details</h3>
        					{shipping_name}<br />
        					{shipping_address1}{if shipping_address2 != ''}, {shipping_address2}{/if}, {shipping_city}<br />
        					{shipping_state}, {shipping_country}, {shipping_postcode}<br />
        					{shipping_phone}
        				</div>
        			</div>
        		</div>

        		<div class='clearfix' style="margin-bottom:70px;"></div>

        		<div class="row">

            		<div class='col-sm-6'>
            			<div class='visible-xs'><br /><br /></div>
            			<h3>Please select your payment method</h3>

                        <div class='payment-select'>
                            <div class="dropdown">
                                <button type="button" data-toggle="dropdown">
                                    <span>Bank Transfer</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>Bank Transfer</li>
                                    <!--<li>Online Credit Card Payment (PayU)</li>-->
                                </ul>
                                <select name="payment_method" class='hidden'>
                    			    <option value="Manual">Bank Transfer</option>
                    			    <!--<option value="PayU">Online Credit Card Payment (PayU)</option>-->
                    			</select>
                            </div>
                        </div>

            		</div>

            	</div><!--row-->

                <div id="submitContainer" class='buttons-container'>
        			<input type="submit" name="submit" id="btnsubmit" value="Place Order" class='pull-left btn main-btn mt-30' />
        		</div>
        		<div class='clearfix'></div>

            </div>

        </div>





	{/exp:store:checkout}
	<script>
      $('#btnsubmit').on('click',function()
        {

          $(this).val('Processing, please wait ...')
    		$this.addClass('disabled')

          return true;
        });


        jQuery(function(){

			jQuery('.payment-select .dropdown').find('ul.dropdown-menu li').each(function(){

				var li = jQuery(this);
				li.on('click.rochester.com', function(){

					var li = jQuery(this);

					var text = li.text();
					li.parent().siblings('button').find('span:first').text(text);

					var index = li.index();
					var select = li.parent().siblings('select');
					var opt_val = select.find('option:eq('+ index +')').prop('value');
					select.val(opt_val);

				});

			});

        });


	</script>

{embed='_includes/_footer'}
