{embed="_includes/_header"
body_id="fp"
body_class="static"
page_title="All Mattresses"
description="Welcome to Rochester Furniture's official website. We sell dining room, bedroom and lounge furniture. It's not just furniture, it's Rochester."
keywords="furniture, bedroom furniture, lounge furniture, home furniture, leather furniture, dining room furniture, La-Z-boy recliners, chairs, beds, tables, couches."
}

	{exp:channel:entries channel='advertising' entry_id='477'}

		{product_feature}

			<div class='mast-breadcrumb' style='background-image: url({product_feature:advert});'>

				<div class='breadcrumb-text'>
					<span>You are here:</span>
					<a href='{path="/"}'>Home</a>
					/
					<a href='{path="mattresses"}'>Mattresses</a>
					/
					<a href='{path="mattresses/search"}'>All Products</a>
				</div>

				<div class='mast-title'>
					Mattresses
				</div>

			</div>

		{/product_feature}

	{/exp:channel:entries}


	<div class='mattresses-search-main-container'>

		<div class='container-custom'>

			<div class='row'>

				<div class='col-md-3 filter-expanders-container'>

					<div class='filter-expander'>
						<div class='expander-title'>Choose comfort</div>
						<div class='expander-contents comfort'></div>
					</div>

					<div class='filter-expander'>
						<div class='expander-title'>Filter by type</div>
						<div class='expander-contents type'></div>
					</div>

					<div class='filter-expander'>
						<div class='expander-title'>Filter by brand</div>
						<div class='expander-contents brand'></div>
					</div>

					<div class='filter-expander'>
						<div class='expander-title'>Filter by price</div>
						<div class='expander-contents price'>
							<div class='filter' data-minimum='0' data-maximum='1000'>R0 - R1,000</div>
						</div>
					</div>

					<div class='filter-plain text-center'>
						<a href='' onclick='removeFilters(); return false;'>Remove filters</a>
					</div>

				</div>





				<div class='col-md-9'>

					<div class='items-master-filters row'>

						<div class='master-types pull-left'>
							<div>I'M LOOKING FOR:</div>
							<div class='selector {if last_segment == "mattress-only"}active {/if}mattress'>Mattress Only</div>
							<div class='selector {if last_segment != "mattress-only" AND last_segment != "base-only"}active {/if}mattress-and-base'>Mattress &amp; Base</div>
							<div class='selector {if last_segment == "base-only"}active {/if}base'>Base Only</div>
						</div>

						<div class='master-ordering pull-right dropdown'>
							<div class='dropdown-accompanying'>Sort by</div>
							<div class='dropdown-clickable' data-toggle="dropdown">Latest first</div>
							<ul class="dropdown-menu">
								<li>Latest first</li>
								<li>Name a &rarr; z</li>
								<li>Name z &rarr; a</li>
								<li>Price low &rarr; high</li>
								<li>Price high &rarr; low</li>
							</ul>
						</div>

					</div>

					<div class='items-dynamic-store row'></div>

					<div class='row'>
						<div class='col-sm-12'>
							<a href="" class="main-btn dark-gray load-more" onclick="addMoreSearchItems(); return false;">Show Me More<div class="loading"><div class="ie9"></div></div></a>
						</div>
					</div>

					<div class='items-static-store'>

						{exp:channel:entries channel='mattresses_mattress_base_sets|mattresses_base_only|mattresses_mattress_only' status='not closed'}

							{exp:store:product entry_id="{entry_id}"}

								<div class='item{brand_details limit="1"} brand-{exp:url_ready piece="{brand_details:brand_name}"}{/brand_details} comfort-{if comfort_category=="Firm"}firm{if:elseif comfort_category=="Gentle"}gentle{if:else}plush{/if} {modifiers}{modifier_options}type-{if option_name=="Single" || option_name=="Single X/L"}single||{if:elseif option_name=="Double" || option_name=="Double X/L"}double||{if:elseif option_name=="Queen" || option_name=="Queen X/L"}queen||{if:elseif option_name=="King" || option_name=="King X/L"}king||{if:else}three-quarter||{/if}{/modifier_options}{/modifiers} {if channel_short_name =="mattresses_base_only"}category-base{if:elseif channel_short_name == "mattresses_mattress_only"}category-mattress{if:else}category-base-mattress{/if} col-md-4 col-sm-6 mb-30 product opaque' data-itemprice='{modifiers}{modifier_options}{price_mod_val}|{/modifier_options}{/modifiers}' data-itemcount='{count}' data-itembrand='{brand_details limit="1"}{brand_details:brand_name}{/brand_details}' data-itemimage='{main_images limit="1"}{exp:ce_img:single src="{main_images:image}" add_dims="no" allow_scale_larger="yes" crop="no" url_only="yes" width="700"}{/main_images}'>
									<a href='{title_permalink="mattresses/detail"}'><div class="product-details clearfix"><div class="row">
										<div class="col-md-8 col-sm-8"><h4>{title}</h4></div>
										<div class="col-md-4 col-sm-4"><p><b>From {starting_price}</b></p></div>
									</div></div></a>
								</div>

							{/exp:store:product}

						{/exp:channel:entries}

					</div>

				</div>



			</div>

		</div>

	</div>





	<!-- {!-- so begins the script madness... --} -->

	<script>



		jQuery(function(){

			// initialise the items...
			initialiseItems();
		
			// initialise the filters...
			initialiseFilterOptions();

			// add the initial items...
			addInitialSearchItems();
			//addMoreSearchItems();

			{if segment_4 != ''}
				jQuery('.expander-contents.brand .filter[data-filtervalue="{segment_4}"]').toggleClass('active', true);
			{/if}

			// apply any default filters...
			setTimeout(function(){
				applyFilters();
			}, 150);

		});
		
		function addInitialSearchItems()
		{
			var items = jQuery('.items-static-store .item.category-base-mattress:lt(6), .items-static-store .item.category-mattress:lt(6), .items-static-store .item.category-base:lt(6)');
			items.each(function(){

				// add the images in now, only when we need them, to avoid long load times...
				var d = jQuery('<div class="product-image" />');
				d.append('<img src="'+ jQuery(this).data('itemimage') +'" alt="" class="img-responsive" />');

				jQuery(this).find('a').prepend(d);

				var clone = jQuery(this).clone()
				clone.hide();
				jQuery('.items-dynamic-store').append(clone);
				jQuery(this).remove();

			});
		}

		function addMoreSearchItems()
		{
			var n = (jQuery(window).width() < 768 ? (jQuery('.items-dynamic-store .item').length > 0 ? 3 : 6) : 9);

			var items = jQuery('.items-static-store .item:lt('+ n +')');
			items.each(function(){

				// add the images in now, only when we need them, to avoid long load times...
				var d = jQuery('<div class="product-image" />');
				d.append('<img src="'+ jQuery(this).data('itemimage') +'" alt="" class="img-responsive" />');

				jQuery(this).find('a').prepend(d);

				var clone = jQuery(this).clone()
				clone.hide();
				jQuery('.items-dynamic-store').append(clone);
				jQuery(this).remove();

			});

			if (items.length <= 0)
			{
				jQuery('.main-btn.dark-gray.load-more').text('All Items Loaded');
				/*jQuery('.main-btn.dark-gray.load-more').fadeOut(350, function(){
					jQuery(this).remove();
				});*/
			}
			
			applyFilters();
		}
		
		function initialiseItems()
		{
			var items = jQuery('.items-static-store .item');
			jQuery.each(items, function(i, item_obj){
				
				item_obj = jQuery(item_obj);
				item_obj.prop('class', item_obj.prop('class').replace(/\|\|/gi, ' '));
				
			});
		}

		function initialiseFilterOptions()
		{
			// master options...

			jQuery('.master-types .selector').on('click.rochester.com', function(){

				var opt = jQuery(this);
				if (!opt.hasClass('active'))
				{
					opt.toggleClass('active', true);
					opt.siblings('.selector').toggleClass('active', false);
					applyFilters();
				}

			});

			jQuery('.master-ordering ul li').on('click.rochester.com', function(){

				var opt = jQuery(this);
				jQuery('.master-ordering .dropdown-clickable').html(opt.html());
				applyFilters();

			});



			// static options...

			jQuery('.filter-expander .expander-title').on('click.rochester.com', function(){

				var title = jQuery(this);
				if (title.parent().hasClass('open'))
				{
					// close it...
					title.parent().toggleClass('open', false);
					title.siblings('.expander-contents').slideUp(400);
				}
				else
				{
					// open it...
					title.parent().toggleClass('open', true);
					title.siblings('.expander-contents').slideDown(400);
				}

			});

			var counters = {
				comfortFirm: 0,
				comfortGentle: 0,
				comfortPlush: 0,
				typeSingle: 0,
				typeThreeQuarter: 0,
				typeDouble: 0,
				typeQueen: 0,
				typeKing: 0,
			};

			var max_price = 0;

			jQuery('.items-static-store .item').each(function(){

				var item = jQuery(this);

				if (item.hasClass('comfort-firm'))		counters.comfortFirm++;
				if (item.hasClass('comfort-gentle'))	counters.comfortGentle++;
				if (item.hasClass('comfort-plush'))		counters.comfortPlush++;

				if (item.hasClass('type-single'))			counters.typeSingle++;
				if (item.hasClass('type-three-quarter'))	counters.typeThreeQuarter++;
				if (item.hasClass('type-double'))			counters.typeDouble++;
				if (item.hasClass('type-queen'))			counters.typeQueen++;
				if (item.hasClass('type-king'))				counters.typeKing++;

				var item_prices = item.data('itemprice').split('|');
				for (var j = 0; j < item_prices.length; j++)
				{
					if (item_prices[j] != '' && max_price < parseInt(item_prices[j]))
						max_price = parseInt(item_prices[j]);
				}

				// brand names...
				var brand = (item.data('itembrand') && item.data('itembrand') != '' ? item.data('itembrand') : '');
				if (brand != '')
				{
					var brandclass = brand.toLowerCase().replace(' ', '-');
					if (jQuery('.expander-contents.brand .' + brandclass).length <= 0)
						jQuery('.expander-contents.brand').append('<div class="filter '+ brandclass +'" data-filtervalue="'+ brandclass +'">'+ brand +'</div>');
				}

			});

			if (counters.comfortFirm > 0)
				jQuery('.expander-contents.comfort').append('<div class="filter" data-filtervalue="comfort-firm">Firm <span class="count">('+ counters.comfortFirm +')</span></div>');
			if (counters.comfortGentle > 0)
				jQuery('.expander-contents.comfort').append('<div class="filter" data-filtervalue="comfort-gentle">Gentle <span class="count">('+ counters.comfortGentle +')</span></div>');
			if (counters.comfortPlush > 0)
				jQuery('.expander-contents.comfort').append('<div class="filter" data-filtervalue="comfort-plush">Plush <span class="count">('+ counters.comfortPlush +')</span></div>');

			if (jQuery('.expander-contents.comfort .filter').length > 0)
			{
				jQuery('.expander-contents.comfort').parent().show();

				if (jQuery(window).width() >= 768)
					jQuery('.expander-contents.comfort').siblings('.expander-title').click();
			}

			if (counters.typeSingle > 0)
				jQuery('.expander-contents.type').append('<div class="filter" data-filtervalue="type-single">Single <span class="count">('+ counters.typeSingle +')</span></div>');
			if (counters.typeThreeQuarter > 0)
				jQuery('.expander-contents.type').append('<div class="filter" data-filtervalue="type-three-quarter">Three Quarter <span class="count">('+ counters.typeThreeQuarter +')</span></div>');
			if (counters.typeDouble > 0)
				jQuery('.expander-contents.type').append('<div class="filter" data-filtervalue="type-double">Double <span class="count">('+ counters.typeDouble +')</span></div>');
			if (counters.typeQueen > 0)
				jQuery('.expander-contents.type').append('<div class="filter" data-filtervalue="type-queen">Queen <span class="count">('+ counters.typeQueen +')</span></div>');
			if (counters.typeKing > 0)
				jQuery('.expander-contents.type').append('<div class="filter" data-filtervalue="type-king">King <span class="count">('+ counters.typeKing +')</span></div>');

			if (jQuery('.expander-contents.type .filter').length > 0)
			{
				jQuery('.expander-contents.type').parent().show();

				if (jQuery(window).width() >= 768)
					jQuery('.expander-contents.type').siblings('.expander-title').click();
			}

			if (jQuery('.expander-contents.brand .filter').length > 0)
			{
				jQuery('.expander-contents.brand').parent().show();

				if (jQuery(window).width() >= 768)
					jQuery('.expander-contents.brand').siblings('.expander-title').click();
			}

			var i = 1001;
			var con = true;
			while (con)
			{
				var min = (i > 1001 ? (i-1000) : i);
				var max = i + 4000 - 1;
				jQuery('.expander-contents.price').append('<div class="filter" data-minimum="'+ min +'" data-maximum="'+ max +'">R'+ min +' - R'+ max +'</div>');

				if (i > max_price)
					con = false;

				i += 5000;
			}

			if (jQuery('.expander-contents.price .filter').length > 0)
				jQuery('.expander-contents.price').parent().show();

			jQuery('.expander-contents .filter').on('click.rochester.com', function(){
				selectFilter(jQuery(this));
			});
		}

		function selectFilter(opt)
		{
			opt = jQuery(opt);
			if (opt.toggleClass('active'));
			applyFilters();
		}

		function removeFilters()
		{
			jQuery('.expander-contents .filter').removeClass('active');
			applyFilters();
		}

		function applyFilters()
		{

			var grid = jQuery('.items-dynamic-store');
			var filter_string = '';
			var sort_by_string = 'original-order';
			var sort_asc = true;

			// master types...

			switch (jQuery('.items-master-filters .master-types .selector.active').text())
			{
				case 'Mattress Only':
					filter_string += '.category-mattress';
					break;

				case 'Base Only':
					filter_string += '.category-base';
					break;

				case 'Mattress & Base':
				case 'Mattress &amp; Base':
					filter_string += '.category-base-mattress';
					break;
			}
			
			switch (jQuery('.items-master-filters .master-ordering .dropdown-clickable').text().substring(0, 7))
			{
				case 'Name a ':
					sort_by_string = 'name';
					break;

				case 'Name z ':
					sort_by_string = 'name';
					sort_asc = false;
					break;

				case 'Price l':
					sort_by_string = 'price';
					break;

				case 'Price h':
					sort_by_string = 'price';
					sort_asc = false;
					break;
			}



			// other filters...

			var filter_string_parts = [];
			jQuery('.expander-contents.comfort .filter.active').each(function(){
				filter_string_parts.push(filter_string + '.' + jQuery(this).data('filtervalue'));
			});

			var temp_parts = [];
			jQuery('.expander-contents.type .filter.active').each(function(j, elem){
				if (filter_string_parts.length > 0)
				{
					jQuery.each(filter_string_parts, function(i, fsp){
						temp_parts.push(fsp + '.' + jQuery(elem).data('filtervalue'))
					});
				}
				else
					temp_parts.push(filter_string + '.' + jQuery(this).data('filtervalue'));
			});

			if (temp_parts.length > 0)
				filter_string_parts = temp_parts;

			var temp_parts = [];
			jQuery('.expander-contents.brand .filter.active').each(function(j, elem){
				if (filter_string_parts.length > 0)
				{
					jQuery.each(filter_string_parts, function(i, fsp){
						temp_parts.push(fsp + '.brand-' + jQuery(elem).data('filtervalue'))
					});
				}
				else
					temp_parts.push(filter_string + '.brand-' + jQuery(this).data('filtervalue'));
			});

			if (temp_parts.length > 0)
				filter_string_parts = temp_parts;

			if (filter_string_parts.length > 0)
				filter_string = filter_string_parts.join(', ');



			// filter...
			grid.find('.item').toggleClass('notappl', false);
			grid.find('.item:not('+ filter_string +')').toggleClass('notappl', true);

			// filter prices...

			if (jQuery('.expander-contents.price .filter.active').length > 0)
			{
				grid.find('.item:not(.notappl)').each(function(i, elem){

					elem = jQuery(elem);
					var keep = false;
					var item_price = elem.data('itemprice');

					jQuery('.expander-contents.price .filter.active').each(function(j, price){

						price = jQuery(price);
						var min = price.data('minimum');
						var max = price.data('maximum');

						var item_prices = item_price.split('|');
						for (var j = 0; j < item_prices.length; j++)
						{
							if (item_prices[j] != '' && item_prices[j] >= min && item_prices[j] <= max)
								keep = true;
						}

					});

					if (!keep)
						elem.toggleClass('notappl', true);

				});
			}

			grid.find('.item.notappl').fadeOut(250);
			grid.find('.item:not(.notappl)').fadeIn(250);



			// sorting...
			var sortable_items = grid.find('.item:visible');
			sortable_items.sort(sortFunction(sort_by_string, sort_asc));

			sortable_items.each(function(i, item){

				if (i == 0)
					jQuery(this).prependTo(grid);
				else
					jQuery(this).insertAfter(grid.find('.item:eq('+ (i-1) +')'));

			});

		}

		function sortFunction(sort_by, sort_asc)
		{
			switch (sort_by)
			{
				case 'original-order':
					return function(a, b)
					{
						if (jQuery(a).data('itemcount') > jQuery(b).data('itemcount'))
							return true;
						return false;
					}
					break;

				case 'price':
					return function(a, b)
					{
						if (sort_asc)
						{
							if (jQuery(a).data('itemprice') > jQuery(b).data('itemprice'))
								return true;
							return false;
						}
						else
						{
							if (jQuery(a).data('itemprice') <= jQuery(b).data('itemprice'))
								return true;
							return false;
						}
					}
					break;

				case 'name':
					return function(a, b)
					{
						if (sort_asc)
						{
							if (jQuery(a).find('h4').text() > jQuery(b).find('h4').text())
								return true;
							return false;
						}
						else
						{
							if (jQuery(a).find('h4').text() <= jQuery(b).find('h4').text())
								return true;
							return false;
						}
					}
					break;
			}

			return true;
		}

	</script>








{embed="_includes/_footer"}
