{embed="_includes/_header"
body_id="lounge"
body_class="furniture"
page_title="Search results: lounge furniture"}

	<!-- MAST SECTION BEGIN -->
	<section class="mast lounge" style='background-image:url({exp:channel:categories limit="3" orderby="random" channel="lounge_furniture" style="linear"}{if count==3}{category_image}{/if}{/exp:channel:categories});'>
		<div class="container">
			<div class="content">
				<!--<p class="best-buy"><span class="glyphicon glyphicon-star"></span>On sale</p>-->
				<h1>Search Results</h1>
			</div>
		</div>
	</section>
	<!-- MAST SECTION END -->
	
	<!-- PRODUCT FILTER/SEARCH SECTION BEGIN -->
	<section class="product-filter">
		<div class="container-custom">
			<div cass="row">
				<div class="col-lg-6 col-md-6 col-sm-12 hidden-xs">
					{exp:low_search:form
						result_page="lounge-furniture/search-results"
						required="keywords"}
						<input type='hidden' name='collection' value='lounge_furniture' />
						<input type="text" class="text-input" name="keywords" placeholder="Search">
						<button type="submit" class="main-btn solid">Search</button>
					{/exp:low_search:form}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</section>
	<!-- PRODUCT FILTER/SEARCH SECTION END -->
	
	<section class="products single-cat scrollAnchor">
		<div class="container-custom">
			<div class="row p-row">
			
				{exp:low_search:results query="{segment_3}" limit="9" status="not closed"}
				
					{if no_results}
						{redirect='lounge-furniture/no-results'}
					{/if}
				
					<div class="col-md-4 mb-30 product fadeInDown d{count}">
						<a href="{channel_url}/{url_title}">
							<div class="product-image">
							{product_feature_image limit='1'}
								{!-- exp:ce_img:single src='{product_feature_image:image}' attributes='class="img-responsive"' --}
								{exp:ce_img:single src='{product_feature_image:image}' width='690' height='390' crop='yes' allow_scale_larger='yes' attributes='class="img-responsive"' add_dims="no"}
							{/product_feature_image}
							{if '{sale_icon}' != ''}
								<div class="special-icon"><img src="{sale_icon}" class="img-responsive" width="auto"></div>
							{/if}
							</div>
							<div class="product-details clearfix">
								<div class="row">
									<div class="col-md-8 col-sm-8">	
										<h4>{title}</h4>
									</div><!--col-md-8-->
						
									{exp:store:product entry_id="{entry_id}"}
										<div class="col-md-4 col-sm-4">	
											<p><b>{price}</b></p>
										</div><!--col-md-4-->
									{/exp:store:product}
						
								</div>
							</div><!--product-details-->
						</a>
						
						{paginate}
							<div style='display:none'>
								<!--{pagination_links}-->
							</div>
						{/paginate}
						
					</div>
				
					{if count % 3 == 0}
						</div><div class='row p-row'>
					{/if}
					
				{/exp:low_search:results}
				
			</div>
			
			<div class="row">
				<a href="" class="main-btn gray load-more" onclick="loadSearchResults('{segment_3}'); return false;">Show Me More<div class="loading"></div></a>
			</div>
		</div>
	</section>

{embed="_includes/_footer"}