{embed="_includes/_header"
body_id="xmas-box"
body_class="furniture lounge"
page_title="Rochester Furniture Christmas competition!"
description="Find the gift box on the Rochester website to enter to win a R1000 voucher every week until Christmas."


}




<section id="main" class="container clearfix padding-vertical-40 margin-bottom-40">
<img src="{site_url}/campaigns/christmas/images/xmas-giveaway.jpg" class="img-responsive">

{if last_segment=="xmas-box-competition"}
	<div class="title margin-bottom-30 center">
		<h1>You Found Our Mystery Gift Box!</h1>
		<span class="border"></span>
	</div><!--title-->
	
	

	
	<div class="col-md-12 center margin-bottom-30">
		<p class="strapline">Fill in your details and stand a chance to win a Revive Cushion Top mattress set!</p>
	</div>
	
	<div class="clearfix"></div>
	
	
		<div class="col-md-8 col-md-offset-2">	
	<img src="{site_url}campaigns/christmas/mystery-box/Revive-Cusion-Top-web.jpg" class="img-responsive">
	</div>


<div class="col-md-12 center clearfix padding-vertical-20 margin-bottom-10">
			<a data-toggle="modal" data-target="#myModal1" class="btn btn-lg btn-orange" target="_blank" style="background-color:#d12229;color:#fff">Click Here To Fill In your Details</a>

		</div>
	
	<div class="clearfix margin-bottom-40"></div>


	<div class="col-md-12 center margin-bottom-30">
		<p class="strapline">Not sure what this is all about? <a href="https://www.rochester.co.za/christmas/mystery-box/" target="_blank">Learn more.</a></p>
	</div>
{/if}


{if last_segment=="thank-you"}
	<div class="title margin-bottom-30 center">
		<h1>Congratulations</h1>
		<span class="border"></span>
	</div><!--title-->
	
	
	<div class="clearfix margin-bottom-40"></div>
	
	<div class="col-md-12 center margin-bottom-30">
		<p class="strapline">You've been entered.<br />You can enter as many times as you like so go find all the other boxes on our website.</p>
	</div>


<div class="col-md-12 center clearfix padding-vertical-20 margin-bottom-10">
			<a href="{site_url}" class="btn btn-lg btn-orange" target="_blank" style="background-color:#d12229;color:#fff">Find more boxes</a>

		</div>
	
	<div class="clearfix margin-bottom-40"></div>

{/if}




	{if last_segment=="fb-share"}
	
	
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '437894013072885',
	      xfbml      : true,
	      version    : 'v2.5'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	   
	function shareOnFacebook(link)
	{
		FB.ui(
			{
				method: 'feed',
				link: link,
				name: 'I just entered the Rochester Furniture Mystery Gift Box competition!',
				caption: 'Win this Christmas with Rochester!',
				picture: '{site_url}/campaigns/christmas/images/xmas-giveaway.jpg',
				description: 'Find one of the gift boxes on our website and stand a chance to win!'
				}, function(response){
					if (response != undefined && response != null)
						location.href='{path="/"}{segment_1}/{segment_2}/thank-you';
				});

				/*FB.login(function(){
				FB.api('/me/feed', 'post', {
				message		: 'Check out this Rochester wishlist! Create and share your own wishlist and you could win your wishlist furniture!',
				link		: link
				});
				}, {scope: 'publish_actions'});*/
			}
	</script>
	   
	  
	
	<div class="modal fade" id="thankyou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content center">
					<div class="modal-header">
						
						<h4 class="modal-title" id="myModalLabel">Share this on Facebook</h4>
					</div>
					<div class="modal-body">
				
					<p class="strapline">Share this on Facebook to complete your entry.</p>
					<a href="" onclick="shareOnFacebook('https://www.rochester.co.za/christmas/mystery-box/'); return false;" class="btn btn-lg btn-orange" style="background-color:#d12229;color:#fff">Share on Facebook</a>
					

					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
		    $(document).ready(function () {
		        $('#thankyou').modal('show');
		    });
		</script>
	{/if}



<!-- Modal - sales contact -->

	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content center">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Your details</h4>
				</div>
				<div class="modal-body">
					
					
					
					{exp:freeform:form
						form_name="xmas_box_competition"
						return="{segment_1}/{segment_2}/fb-share"
						required="name|email"
						form:class="form-generic"
						
					}

					
					<!-- <div class="form-group">
						<input type="text" class="form-control" name="answer" id="answer" placeholder="Your answer...">
					</div>
					 -->
					<div class="form-group">
						<input type="text" class="form-control" name="name" id="name" placeholder="Full name *">
					</div>

					<div class="form-group">
						<input type="email" class="form-control" name="email" id="email" placeholder="Email *">
					</div>
					
					<div class="form-group">
						<input type="text" class="form-control" name="contact_number" id="contact_number" placeholder="Contact number *">
					</div>
					


					<input type="submit" name="submit" value="Submit" id="submit" style="background-color:#d12229;color:#fff" class="btn btn-lg btn-orange">
					{/exp:freeform:form}	

				</div>
			</div>
		</div>
	</div>

	

	

	

</section><!--main-->




{embed="_includes/_footer"}