{exp:channel:entries channel="online_offers" limit="1" status="Open" entry_id="261"}
{embed="_includes/_header"
body_id="online-offers"
body_class="static"
page_title="{title}"
description="{meta_description}"

}


<section id="" class="container padding-vertical-40">
	{if emblem}
	<div class="center margin-bottom-40">{exp:ce_img:single src="{emblem}" alt="{title}" class="img-responsive centered" crop="yes" width="320" allow_scale_larger="yes"}</div>
	{/if}
<div class="col-md-12 white-bg">

	{offer}
	<div class="margin-bottom-40">
	{exp:ce_img:single src="{offer:image}" alt="{offer:title}" class="img-responsive" crop="yes" width="1200" allow_scale_larger="yes"}
	</div>
	{/offer}
	
	
	{exp:freeform:form
		form_name="campaign_leads"
		return="{segment_1}/{segment_2}/thankyou"
		required="name|email"
				
	}
	

	<div class="title margin-bottom-30 center">
		<h2 class="faux-h1">Contact a sales consultant</h2>
		<span class="border"></span>
	</div>
	
		<!-- <input type="hidden" name="product_name" value="{title}"> -->
	

	<div class="form-group margin-bottom-20">

		<select class="form-control" name="selected_product">
			<option>Which offer can we assist you with?*</option>
				{offer}
			<option value="{offer:title}">{offer:title}</option>
			{/offer}
		</select>
	</div>

	<div class="form-group">
		<input type="text" class="form-control" name="name" id="name" placeholder="Full name *">
	</div>

	<div class="form-group">
		<input type="email" class="form-control" name="email" id="email" placeholder="Email *">
	</div>
	
	<div class="form-group">
		<input type="text" class="form-control" name="contact_number" id="contact_number" placeholder="Contact number">
	</div>


	<div class="form-group">
		<textarea class="form-control" rows="5" name="message" placeholder="Message"></textarea>
	</div>
	


	<input type="submit" name="submit" value="Make your enquiry" id="submit" class="btn btn-lg btn-orange">
	{/exp:freeform:form}
					
</div><!--col-12-md-->

</section><!--main-->
{/exp:channel:entries}


	
{if last_segment=="thankyou"}
{embed="_includes/_generic_thankyou"}
{/if}
{embed="_includes/_footer"}