body{background-color:#efefef;}
section .col-md-12{background-color:#fff;margin-bottom:60px;}
h1{font-size:38px !important;}

#myModal .btn-pink{font-size:21px;}
.btn-pink{background-color:#BEE115;font-weight:bold;color:#474847;text-transform:uppercase;font-size:31px;}
.btn-pink:hover{color:#474847;opacity:0.6;}

.pink-bg{background-color:#ec008c;color:#fff;padding:20px;}
.blue-bg{background-color:#006AAC;color:#fff;padding:20px;}
.mobile-price sup{font-size:31px;padding-left:5px;}
.mobile-price p{margin-bottom:0px;}
.mobile-price span.price{font-weight:bold;font-size:61px;line-height:61px;color:#333;}
.mobile-price .small{font-size:21px !important;color:#333 !important;line-height:21px;padding-top:0px !important;margin-top:0;}