.carousel-showmanymoveone {
    padding: 0px 50px 0px 50px;
    margin-top: 66px;
    margin-bottom: 240px;
}

.carousel-showmanymoveone .item .col-xs-12 {
    padding: 0px;
}

.carousel-showmanymoveone .item .col-xs-12 .square {
    width: 100%;
    position: relative;
    border: none;
    border-radius: 0px;
}

.carousel-showmanymoveone .item .col-xs-12 .square .content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #fff;
    color: #000;
    text-align: center;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.carousel-showmanymoveone .item .col-xs-12 .square .content .icon-device {
    top: 0px;
    position: relative;
    left: 0px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.carousel-showmanymoveone .item .square .content .icon-device .icon i {
    color: #bdbdbd;
}

.carousel-showmanymoveone .item .col-xs-12 .square .content:hover {
    background: #000;
}

.carousel-showmanymoveone .item .col-xs-12 .square .content:hover p {
    color: #fff;
}

.carousel-showmanymoveone .item .col-xs-12 .square:after {
    content: "";
    display: block;
    padding-bottom: 0px;
}

.carousel-showmanymoveone .carousel-indicators {
    bottom: -120px;
}

.carousel-showmanymoveone .carousel-indicators li {
    border: none;
    background: #dddddd;
}

.carousel-showmanymoveone .carousel-indicators li.active {
    border: none;
    background: #000;
    width: 10px;
    height: 10px;
    margin: 1px;
}

.carousel-showmanymoveone .carousel-control.left {
    margin-left: 0px;
}

.carousel-showmanymoveone .carousel-control.right {
    margin-right: 0px;
}

.carousel-showmanymoveone .carousel-control.left .icon-prev {
    width: 20px;
    height: 30px;
}

.carousel-showmanymoveone .carousel-control.right .icon-next {
    width: 20px;
    height: 30px;
}

.carousel-showmanymoveone .item.active {
    text-align: center;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
    display: none;
}

@media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -50%;
    }
    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 50%;
    }
    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right,
    .carousel-showmanymoveone .carousel-inner>.active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        -ms-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        -ms-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right,
    .carousel-showmanymoveone .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

@media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner>.active.left,
    .carousel-showmanymoveone .carousel-inner>.prev {
        left: -33.333%;
    }
    .carousel-showmanymoveone .carousel-inner>.active.right,
    .carousel-showmanymoveone .carousel-inner>.next {
        left: 33.333%;
    }
    .carousel-showmanymoveone .carousel-inner>.left,
    .carousel-showmanymoveone .carousel-inner>.prev.right,
    .carousel-showmanymoveone .carousel-inner>.active {
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
        display: block;
    }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner>.item.active.right,
    .carousel-showmanymoveone .carousel-inner>.item.next {
        -webkit-transform: translate3d(33.333%, 0, 0);
        -ms-transform: translate3d(333.333%, 0, 0);
        transform: translate3d(33.333%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner>.item.active.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev {
        -webkit-transform: translate3d(-33.333%, 0, 0);
        -ms-transform: translate3d(-33.333%, 0, 0);
        transform: translate3d(-33.333%, 0, 0);
        left: 0;
    }
    .carousel-showmanymoveone .carousel-inner>.item.left,
    .carousel-showmanymoveone .carousel-inner>.item.prev.right,
    .carousel-showmanymoveone .carousel-inner>.item.active {
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

@media (min-width: 768px) {
    .carousel-showmanymoveone .item .col-xs-12 .square {
        width: 100%;
        position: relative;
    }
    .carousel-showmanymoveone .item .col-xs-12 .square .content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 40px;
        background: #fff;
        color: #000;
        text-align: left;
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease;
    }
    .carousel-showmanymoveone .item .col-xs-12 .square:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    .carousel-showmanymoveone .item .col-xs-12 .square .content .icon-device {
        position: absolute;
        padding: 20px;
        top: 50%!important;
        -webkit-transform: translateY(-50%)!important;
        -ms-transform: translateY(-50%)!important;
        transform: translateY(-50%)!important;
    }
    .carousel-showmanymoveone .item .square .content .icon-device h3 {
        padding-left: 20px;
        text-align: left;
    }
    .carousel-showmanymoveone .item .square .content .icon-device p {
        padding-left: 20px;
        text-align: left;
    }
    .carousel-showmanymoveone .item .square .content .icon-device h3:before {
        left: 20px;
        -webkit-transform: translate(0px, -20px);
        -ms-transform: translate(0px, -20px);
        transform: translate(0px, -20px);
    }
    .carousel-showmanymoveone .item .square .content .icon-device .icon {
        padding-left: 20px;
    }
    .carousel-showmanymoveone .item .square .content {
        text-align: left!important;
        padding-left: 20px;
    }
}