@font-face {
    font-family: 'gt_eesti_pro_display_trialBd';
    src: url('../fonts/gt-eesti-pro-display-trial-bold-webfont.eot');
    src: url('../fonts/gt-eesti-pro-display-trial-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gt-eesti-pro-display-trial-bold-webfont.woff2') format('woff2'), url('../fonts/gt-eesti-pro-display-trial-bold-webfont.woff') format('woff'), url('../fonts/gt-eesti-pro-display-trial-bold-webfont.svg#gt_eesti_pro_display_trialBd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_eesti_pro_text_trial_regRg';
    src: url('../fonts/gt-eesti-pro-text-trial-regular-webfont.eot');
    src: url('../fonts/gt-eesti-pro-text-trial-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gt-eesti-pro-text-trial-regular-webfont.woff2') format('woff2'), url('../fonts/gt-eesti-pro-text-trial-regular-webfont.woff') format('woff'), url('../fonts/gt-eesti-pro-text-trial-regular-webfont.svg#gt_eesti_pro_text_trial_regRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_eesti_pro_text_trialmedium';
    src: url('../fonts/gt-eesti-pro-text-trial-medium-webfont.eot');
    src: url('../fonts/gt-eesti-pro-text-trial-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gt-eesti-pro-text-trial-medium-webfont.woff2') format('woff2'), url('../fonts/gt-eesti-pro-text-trial-medium-webfont.woff') format('woff'), url('../fonts/gt-eesti-pro-text-trial-medium-webfont.svg#gt_eesti_pro_text_trialmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #9B9B9B;
    /*font: normal 15px 'Helvetica Neue', Helvetica, arial, sans-serif;*/
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'gt_eesti_pro_text_trialmedium';
    color: #000;
    margin: 0px;
}

p {
    line-height: 1.6
}

.overflow-hidden {
    overflow: hidden;
}

.btn-primary {
    color: white;
    border-radius: 3px;
    border: none;
    background-color: #000;
    padding: 18px 60px;
    font-family: 'gt_eesti_pro_text_trial_regRg';
    font-size: 11px;
    line-height: 13px;
}

.btn-primary.focus,
.btn-primary:focus {
    color: white;
    border: none;
    background-color: #000;
}

.btn-primary:hover {
    color: white;
    border: none;
    background-color: #000;
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
    color: white;
    border-color: none;
    background-color: #000;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.btn-primary.dropdown-toggle.focus,
.open>.btn-primary.dropdown-toggle:focus,
.open>.btn-primary.dropdown-toggle:hover {
    color: white;
    border-color: none;
    background-color: #000;
}

.btn-primary.active,
.btn-primary:active,
.open>.btn-primary.dropdown-toggle {
    background-image: none;
}


/* HEADERS */

header {
    color: white;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 57px;
    padding-bottom: 57px;
}

header.landing {
    background-image: url("../images/learn-more-about-your-items-and-purchases.png");
    padding-bottom: 137px;
}

header.materials {
    background-image: url("../images/materials-header.jpg");
}

header.materials-two {
    background-image: url("../images/beige-couch.jpg");
}

header.materials-three {
    background-image: url("../images/fancy-pillows.jpg");
}

header h2 {
    font-size: 30px;
    font-family: 'gt_eesti_pro_display_trialBd';
    letter-spacing: 3px;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    margin-bottom: 24px;
    margin-top: 0px;
    color: #fff;
}

header p {
    font-size: 15px;
    margin-bottom: 38px;
    font-family: 'gt_eesti_pro_text_trial_regRg';
}

header i {
    font-size: 50px;
    display: inline-block;
    margin-bottom: 40px;
}


/* FOOTER */

.mailing-list {
    text-align: center;
    padding: 65px 0px 90px 0px;
    background-image: url("../images/footer-background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.mailing-list h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    font-family: 'gt_eesti_pro_text_trial_regRg';
    margin: 0px 0px 44px 0px;
    display: none;
}

.mailing-list form input {
    border-radius: 0px;
    border: 1px solid #fff;
    padding: 18px;
    height: 52px;
    width: 100%!important;
    background: rgba(255, 255, 255, 0.1)
}

.mailing-list form input:focus {
    outline: none;
    border: 2px solid #fff;
}

.mailing-list form button {
    background: #fff;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.17);
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    padding-left: 50px;
    padding-right: 50px;
}

.mailing-list form button:hover {
    background: #fff;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.17);
    color: #000;
}

.mailing-list form button:focus {
    outline: none;
    border: none;
    background: #fff;
    color: #000;
}

.mailing-list form .form-group {
    padding: 0px 0px 12px 0px;
}

.mailing-list form .button-container {
    padding-top: 12px;
}

.mailing-list form .button-container button {
    width: 50%;
    padding-left: 0px;
    padding-right: 0px;
}

.mailing-list form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
    text-transform: uppercase;
}

.mailing-list form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    text-transform: uppercase;
}

.mailing-list form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
    text-transform: uppercase;
}

.mailing-list form input:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    text-transform: uppercase;
}

.footer-menu {
    text-align: center;
    padding-top: 80px;
}

.footer-menu h3 {
    font-size: 14px;
    margin-bottom: 30px;
}

.footer-menu ul {
    margin: 0px;
    padding: 0px;
}

.footer-menu ul li {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
}

.footer-menu ul li a {
    text-transform: uppercase;
    color: #9B9B9B;
    padding-bottom: 15px;
    display: block;
}

.footer-bottom {
    background: #f7f7f7;
    padding: 36px 0px;
}

.footer-left {
    font-size: 10px;
    margin: 0px;
    text-align: center;
}

footer .social-icons {
    text-align: center;
    padding-top: 10px;
}

footer .social-icons a {
    color: #000;
    display: inline-block;
}


/*CAROUSELS*/

#menu-slider.carousel
{
	padding-bottom: 0px!important;
}

.carousel {
    padding-bottom: 140px;
}

.carousel.pull-up {
    margin-top: -245px;
}

.carousel-indicators.learn-integration {
    bottom: 0px;
    margin-bottom: 0px;
    margin-top: 4px;
    transform: translateY(-60px);
}

.carousel-indicators.learn-integration li {
    background-color: #a2a2a2;
    width: 8px !important;
    height: 8px !important;
    margin: 0px 6px !important;
    border-radius: 5px;
    border: none;
}

.carousel-indicators.learn-integration .active {
    background-color: #000;
}

.carousel-control {
    background-image: none!important;
    -webkit-filter: progid: none !important;
    filter: progid: none !important;
    -webkit-filter: none !important;
    filter: none !important;
    outline: 0;
    opacity: 1;
    width: 20px;
}


/* NAV TABS */

.nav-tabs {
    border: none;
    margin-bottom: -1px;
    margin-top: 72px;
    display: table;
    width: 100%;
}

.nav-tabs>li {
    width: 25%;
    text-align: center;
    display: table-cell;
    border: none;
    float: none;
    background: none;
    margin-bottom: 0px;
    font-family: 'gt_eesti_pro_text_trialmedium';
    text-transform: uppercase;
}

.nav-tabs>li>a {
    color: #9B9B9B;
    border: none;
    font-size: 13px;
    padding: 20px 0px
}

.nav-tabs li .icon {
    font-size: 40px
}

.nav-tabs li.active .icon svg,
.nav-tabs li:hover .icon svg,
.nav-tabs li a:focus .icon svg {
    fill: #000000;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
    color: #000;
}

.nav-tabs>li.active,
.nav-tabs>li.active:focus,
.nav-tabs>li.active:hover {
    border: none;
    border-bottom: 5px solid #000;
    box-shadow: none!important;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #fff;
    color: #000;
    border: none;
}

.tab-pane .tab-header {
    margin-top: 60px;
    margin-bottom: 60px;
}

.tab-pane .info-item {
    margin-bottom: 60px;
    text-align: center;
}

.tab-pane .info-item .center-block {
    float: none!important;
}

.tab-pane .info-item img {
    margin-bottom: 22px;
    float: none;
}

.tab-pane .info-item h4 {
    margin-bottom: 20px;
    font-size: 19px;
    float: none;
}


/*ICON MENU FOOTER*/

.icon-menu.open {
    top: 0px;
    bottom: 0px;
    overflow-y: scroll;
    background: #fff;
}

.icon-menu {
    position: fixed;
    bottom: -200px;
    text-align: center;
    left: 0px;
    width: 100%;
    z-index: 1000;
    opacity: 0;
    transition: all 1s ease;
}

.icon-menu .icon-menu-container {
    background: #fff;
    border-radius: 7px 7px 0px 0px;
    box-shadow: 0px 49px 106px 0px rgba(0, 0, 0, 0.41);
}

.icon-menu .icon-menu-container .row {
    display: none;
}

.icon-menu.open .icon-menu-container .row {
    display: block;
}

.icon-menu.visible {
    opacity: 1;
    bottom: 0px;
}

.icon-menu .icon-menu-container .expand-mobile {
    display: block;
    padding: 34px;
}

.icon-menu .icon-menu-container .expand-mobile .fa {
    font-size: 40px;
}

.icon-menu .icon-menu-container .square-outer {
    padding: 20px 200px;
}

.icon-menu .icon-menu-container .square {
    width: 100%;
    position: relative;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #b7b7b7;
    transition: all 0.8s ease;
}

.icon-menu .icon-menu-container .square .icon svg {
    width: 20px;
    height: 20px;
}

.icon-menu .icon-menu-container .square:hover {
    background: #000;
}

.icon-menu .icon-menu-container .square:after {
    content: "";
    padding-bottom: 100%;
    display: table;
}


/*TACHYONS*/

.mt-60 {
    margin-top: 60px;
}

.mt-135 {
    margin-top: 70px;
}

.mb-135 {
    margin-bottom: 70px;
}

.bg-grey {
    background-color: #f4f4f4;
}

.bg-white {
    background: #fff;
}

.line-device {
    position: relative;
    margin-bottom: 30px;
    margin-top: 25px;
    text-align: center;
}

.line-device:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -25px);
    -ms-transform: translate(-50%, -25px);
    transform: translate(-50%, -25px);
    width: 50px;
    height: 5px;
    border-radius: 2.5px;
    background: #dfdfdf;
}


/* ICONS */

.icon-blurb .icon {
    margin-top: 60px;
    padding-bottom: 12px;
}


/* SQUARE */

.square {
    position: relative;
    width: 100%;
    border: 1px solid #b7b7b7;
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
    cursor: pointer;
}

.square:hover {
    background: #000;
}

.square .content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #000;
    text-align: center;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square .content .icon-device {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: inline-block;
}

.square .content .icon i {
    font-size: 50px;
    display: inline-block;
    margin-bottom: 20px;
    color: #7d7d7d;
    transition: all 1s ease;
}

.square .content .line-device {
    text-align: center;
    font-size: 13px;
    margin-bottom: 0px;
    transition: all 0.5s ease;
}

.square .content .line-device:before {
    left: 50%;
    -webkit-transform: translate(-50%, -25px);
    -ms-transform: translate(-50%, -25px);
    transform: translate(-50%, -25px);
}

.square:hover .content i {
    color: #fff;
}

.square:hover .content .line-device {
    color: #fff;
}


/* NUMBER BLOCKS */

.number-block {
    background: #000;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}


/*BLOCK NAV*/

.block-nav {
    width: 100%;
    padding: 38px 48px 38px 48px;
    display: inline-block;
    background: #fff;
    border-radius: 7px;
    margin-top: -81px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 14px 106px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 14px 106px 0px rgba(0, 0, 0, 0.2);
}

.block-nav-outer {
    padding: 0px 20px;
}

.block-nav .square-outer {
    padding: 5px 5px;
}

.block-nav .square .content i {
    font-size: 32px;
    margin-bottom: 10px;
}

.block-nav .square .content .line-device {
    font-size: 11px;
    margin-top: 10px;
}

.block-nav .square .content .line-device:before {
    left: 50%;
    -webkit-transform: translate(-50%, -15px);
    -ms-transform: translate(-50%, -15px);
    transform: translate(-50%, -15px);
    width: 50px;
    height: 5px;
    border-radius: 2.5px;
    background: #dfdfdf;
}

.block-nav .square .content .icon-device {
    width: 100%;
}


/* SECTIONS */

.section-header h2 {
    margin-bottom: 22px;
}

.section-header p {
    margin-bottom: 0px;
}

section h2 {
    font-size: 20px;
}

.learn-index .section-two h2 {
    margin-bottom: 70px;
    margin-top: 55px;
}

.learn-index .section-two .carousel-showmanymoveone {
    margin-bottom: 160px;
}

.learn-index .section-two .carousel-showmanymoveone .icon-device {
    width: 100%;
}

.learn-index .section-two .carousel-showmanymoveone .icon-device .line-device {
    margin-bottom: 47px;
}

.learn-index .section-two .carousel-showmanymoveone .icon-device .line-device {
    margin-bottom: 47px;
}

.learn-one .section-one {
    padding-bottom: 258px;
}

.learn-one .section-two {
    padding-bottom: 58px;
}

.learn-one .section-two .carousel-container>.row {
    margin: 0px -30px;
}

.learn-one .section-two .benefits-header {
    margin-top: 0px;
    margin-bottom: 60px;
}

.learn-one .section-two .benefits-block {
    padding-bottom: 55px;
}

.learn-one .section-two .benefits-block.last {
    padding-bottom: 0px;
}

.learn-one .section-two .benefits-block p {
    text-align: center;
    margin-bottom: 0px;
}

.learn-one .section-three {
    position: relative;
    padding: 70px 0px;
}

.learn-one .section-three .container {
    /*z-index: 10;*/
    z-index: 3;
    position: relative;
}

.learn-one .section-three h3.line-device {
    font-size: 20px;
    margin-bottom: 10px;
}

.learn-one .section-three h4.line-device {
    font-size: 20px;
    margin-bottom: 10px;
}

.learn-one .section-three p {
    font-size: 15px;
}

.learn-one .section-three .info-col {
    text-align: center;
    margin-bottom: 60px;
}

.learn-one .section-three .info-col.info-col-last {
    padding-top: 60px;
}

.learn-one .section-three .info-col .icon-blurb .icon {
    margin-top: 0px;
    margin-bottom: 18px;
}

.learn-one .section-three .info-col .icon-blurb {
    padding-bottom: 80px;
}

.learn-one .section-three .info-col .icon-blurb .icon .icon-font-glyph {
    font-size: 75px;
    color: #7d7d7d;
}

.learn-one .section-three .container.mobile-image {
    display: block;
    padding: 0px;
    width: 100%;
}

.learn-one .section-three .mobile-image img {
    width: 100%;
}

.learn-two h3
{
	font-size: 24px;
}

.learn-two .section-two .carousel {
    padding-bottom: 115px;
}

.learn-two .section-two .carousel .carousel-indicators.learn-integration {
    transform: translateY(-75px);
}

.learn-two .section-two {
    width: 100%;
    background-image: url("../images/tea.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 60px 15px 60px 15px;
}

.learn-two .section-two .container>.col-xs-12 {
    background: #fff;
}

.learn-two .section-two .carousel .item h3 {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 20px;
}

.learn-two .section-two .carousel .square-outer {
    padding: 28px 15% 0px 15%;
}

.learn-two .section-two .carousel .square {
    position: relative;
    display: block;
}

.learn-two .section-two .carousel .square:after {
    padding-bottom: 0px;
}

.learn-two .section-two .carousel .square .content {
    position: relative;
    display: block;
}

.learn-two .section-two .carousel .square .icon-device {
    position: relative;
    top: 0px;
    left: 0px;
    transform: translate(0, 0)
}

.learn-two .section-three {
    padding-top: 65px;
    display: block;
    width: 100%;
}

.learn-two .section-three h3 {
    margin-bottom: 40px;
}

.learn-two .section-three p {
    margin-bottom: 80px;
}

.learn-two .section-three .number-blocks {
    padding: 10%;
    text-align: center;
}

.learn-two .section-three .number-blocks-section .number-blocks .col-xs-12 {
    padding-bottom: 55px;
}

.learn-two .section-three .carousel .number-blocks {
    padding: 0px;
}

.learn-two .section-three {
    background: #fff;
}

.learn-two .section-three .number-block {
    background: #000;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

.learn-two .section-three .number-blocks h4 {
    margin-bottom: 24px;
}

.learn-two .section-three .number-blocks p {
    margin-bottom: 55px;
}

.learn-two .section-three .carousel-inner {
    padding: 0px 40px;
}
.learn-two .carousel-inner {
    overflow: visible;
}

.learn-two .section-three .carousel {
    padding-bottom: 65px;
}

.learn-three .section-one {
    padding-top: 70px;
}

.learn-three .section-one h2 {
    margin-bottom: 25px;
}

.learn-three .section-one p {
    margin-bottom: 55px;
}

.learn-three .section-one .image-block {
    margin-bottom: 60px;
}

.learn-three .section-one .image-block i {
    color: #fff;
    font-size: 50px;
    margin-bottom: 38px;
    display: inline-block;
}

.learn-three .section-one .image-blocks {
    margin-bottom: 0px;
}

.learn-three .section-one .image-block p {
    margin-top: 33px;
    margin-bottom: 55px;
}

.learn-three .section-one .image-icon-block {
    position: relative;
}

.learn-three .section-one .image-icon-block-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.learn-three .section-one .image-icon-block-content h4 {
    color: #fff;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    font-size: 24px;
}

.learn-three .section-two {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
}

.learn-three .section-two h3 {
    margin-bottom: 35px;
}

.learn-three .section-two p {
    margin-bottom: 55px;
}

.learn-three .section-three {
    margin-bottom: 55px;
}

.learn-three .section-three .carousel {
    padding-bottom: 0px;
}

.learn-three .section-three .slide-header-bg {
    width: 100%;
    display: block;
    color: #fff;
    padding-top: 318px;
    padding-bottom: 318px;
    margin-bottom: 70px;
}

.learn-three .section-three .slide-header-bg h3 {
    color: #fff;
    font-size: 38px;
}

.learn-three .section-three .slide-header-bg.leather-care {
    background-image: url("../images/leather-care.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.learn-three .section-three .carousel-indicators.learn-integration {
    top: 630px;
}

.learn-three .section-three .carousel-indicators.learn-integration li {
    background-color: #a2a2a2;
}

.learn-three .section-three .carousel-indicators.learn-integration .active {
    background-color: #fff;
}

.learn-three .section-three .line-device {
    margin-bottom: 20px;
}

.learn-three .section-three .number-blocks p {
    margin-bottom: 60px;
}

.learn-three .section-four {
    text-align: center;
}

.learn-three .section-four h3 {
    font-size: 20px;
    margin-bottom: 60px;
}

.learn-three .section-four p {
    font-size: 15px;
}

.learn-three .section-four .col-xs-10 .col-md-6 {
    padding-bottom: 60px;
    display: block;
}

.learn-three .section-four .col-xs-10 .col-md-6 a {
    margin-top: 55px;
}

@media(max-width:767px) {
    .carousel .main-btn {
        width: auto;
        display: inline-block;
        padding: 14px 30px;
    }
}

@media (min-width: 768px) {
    /* HEADERS */
    header {
        padding-top: 135px;
        padding-bottom: 135px;
    }
    header.landing {
        padding-top: 118px;
        padding-bottom: 436px;
    }
    header h2 {
        font-size: 51px;
        margin-bottom: 38px;
    }
    header p {
        font-size: 25px;
        margin-bottom: 38px;
    }
    header i {
        font-size: 50px;
        margin-bottom: 40px;
    }
    header.materials h2,
    header.materials-two h2,
    header.materials-three h2 {
        margin-bottom: 25px;
    }
    /* CAROUSEL */
    /* ICON-MENU*/
    .icon-menu .icon-menu-container .row {
        display: block;
    }
    .icon-menu .icon-menu-container .expand-mobile {
        display: none;
    }
    .icon-menu .icon-menu-container .square-outer {
        padding: 10px 10px;
    }
    .square .content .icon-menu .icon-device {
        width: 100%;
    }
    .icon-menu .icon-device .line-device {
        font-size: 11px;
    }
    /* NAV TABS */
    .nav-tabs {
        margin-top: 180px;
    }
    .nav-tabs>li>a {
        font-size: 20px;
        padding: 30px 0px
    }
    .info-item {
        margin-bottom: 120px;
    }
    .info-item h4,
    .info-item p {
        text-align: left;
    }
    .tab-pane .tab-header {
        margin-top: 100px;
        margin-bottom: 90px;
    }
    .tab-pane .info-item img {
        margin-bottom: 50px;
    }
    .tab-pane .info-item h4 {
        margin-bottom: 20px;
    }
    /*TACHYONS*/
    .mt-135 {
        margin-top: 135px;
    }
    .mb-135 {
        margin-bottom: 135px;
    }
    .line-device {
        position: relative;
        margin-bottom: 30px;
        margin-top: 25px;
        text-align: left;
    }
    .line-device:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        -webkit-transform: translate(0, -25px);
        -ms-transform: translate(0, -25px);
        transform: translate(0, -25px);
        width: 50px;
        height: 5px;
        border-radius: 2.5px;
        background: #dfdfdf;
    }
    /* NUMBER BLOCKS */
    .number-block {
        height: 60px;
        width: 60px;
        font-size: 20px;
        line-height: 60px;
        margin-bottom: 20px;
    }
    /*BLOCK NAV*/
    .block-nav {
        width: 100%;
        padding: 38px 38px 38px 38px;
        display: inline-block;
        background: #fff;
        border-radius: 7px;
        margin-top: -325px;
        margin-bottom: 20px;
        -webkit-box-shadow: 0px 14px 106px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 14px 106px 0px rgba(0, 0, 0, 0.2);
    }
    .block-nav .square-outer {
        padding: 10px 20px;
    }
    /* SECTIONS */
    .section-header h2 {
        margin-bottom: 60px;
    }
    section h2 {
        font-size: 35px;
    }
    .learn-one .section-two .benefits-header {
        margin-top: 65px;
        margin-bottom: 100px;
    }
    .learn-one .section-two {
        padding-bottom: 87px;
    }
    .learn-one .section-two .benefits-row {
        margin-bottom: 140px;
    }
    .learn-one .section-two .benefits-row:last-child {
        margin-bottom: 70px;
    }
    .learn-one .section-two .benefits-block {
        padding-bottom: 0px;
        text-align: left;
    }
    .learn-one .section-two .benefits-block p {
        text-align: left;
        margin-bottom: 0px;
    }
    .learn-one .section-three {
        padding: 175px 0px;
    }
    .learn-one .section-three .info-col {
        padding-left: 135px;
        text-align: left;
        margin-bottom: 0px;
    }
    .learn-one .section-three h3 {
        font-size: 35px;
    }
    .learn-one .section-three p {
        font-size: 20px;
    }
    .learn-one .section-three .info-col h2 {
        margin-bottom: 60px;
    }
    .learn-one .section-three .info-col h3 {
        margin-bottom: 50px;
    }
    .learn-one .section-three .info-col p {
        margin-bottom: 135px;
    }
    .learn-one .section-three .bg-couch {
        background-image: url("../images/leather-couch.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        width: 70%;
        top: 175px;
        bottom: 175px;
        position: absolute;
        left: 0px;
        z-index: 0;
        display: block;
    }
    .learn-one .section-three .info-col .btn {
        margin-top: 55px;
    }
    .learn-one .section-three .info-col.info-col-last {
        padding-top: 0px;
    }
    .learn-two .section-two .carousel .item h3 {
        margin-top: 128px;
        margin-bottom: 40px;
        font-size: 35px;
    }
    .learn-two .section-two .carousel .item p {
        margin-bottom: 108px;
        font-size: 15px;
        width: 70%;
        display: inline-block;
    }
    .learn-two .section-two {
        padding: 90px 15px 90px 15px;
    }
    .learn-two .section-two .carousel {
        padding-bottom: 115px;
    }
    .learn-two .section-two .carousel .carousel-indicators.learn-integration {
        transform: translateY(-75px);
    }
    .learn-two .section-two {
        width: 100%;
        background-image: url("../images/tea.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        padding: 40px 15px 50px 15px;
    }
    .learn-two .section-two .carousel .square-outer {
        padding: 0px 15px 0px 15px;
    }
    .learn-two .section-two .carousel .square {
        display: block;
    }
    .learn-two .section-two .carousel .square:after {
        padding-bottom: 100%;
    }
    .learn-two .section-two .carousel .square .content {
        position: absolute;
        display: block;
    }
    .learn-two .section-two .carousel .square .icon-device {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .learn-two .section-three {
        padding-top: 177px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .learn-two .section-three h3 {
        margin-bottom: 40px;
        font-size: 35px;
    }
    .learn-two .section-three p {
        margin-bottom: 105px;
    }
    .learn-two .section-three .number-blocks {
        padding: 10%;
        text-align: center;
    }
    .learn-two .section-three .number-blocks-section .number-blocks .col-xs-12 {
        padding-bottom: 55px;
    }
    .learn-two .section-three .carousel .number-blocks {
        padding: 0px;
    }
    .learn-two .section-three {
        background: #fff;
    }
    .learn-two .section-three .number-block {
        height: 60px;
        width: 60px;
        font-size: 20px;
        line-height: 60px;
        margin-bottom: 20px;
    }
    .learn-two .section-three .number-blocks .col-xs-12 {
        padding: 0px 40px 0px 40px;
        text-align: left;
    }
    .learn-two .section-three .number-blocks h4 {
        margin-bottom: 24px;
    }
    .learn-two .section-three .number-blocks p {
        margin-bottom: 55px;
    }
    .learn-three .section-one {
        padding-top: 135px;
    }
    .learn-three .section-one h2 {
        margin-bottom: 40px;
    }
    .learn-three .section-one p {
        margin-bottom: 95px;
    }
    .learn-three .section-one .image-block {
        margin-bottom: 170px;
    }
    .learn-three .section-one .image-block i {
        font-size: 50px;
        margin-bottom: 38px;
    }
    .learn-three .section-one .image-block p {
        margin-top: 50px;
        margin-bottom: 38px;
    }
    .learn-three .section-one .image-icon-block-content {
        width: 100%;
    }
    .learn-three .section-one .image-icon-block-content h4 {
        font-size: 35px;
    }
    .learn-three .section-two {
        text-align: left;
    }
    .learn-three .section-two h3 {
        font-size: 35px;
        margin-bottom: 55px;
    }
    .learn-three .section-three {
        margin-bottom: 55px;
    }
    .learn-three .section-three .carousel {
        padding-bottom: 0px;
    }
    .learn-three .section-three .carousel-indicators.learn-integration {
        top: 330px;
    }
    .learn-three .section-three .slide-header-bg {
        padding-top: 164px;
        padding-bottom: 194px;
        margin-bottom: 133px;
    }
    .learn-three .section-three .slide-header-bg h3 {
        font-size: 35px;
    }
    .learn-three .section-three .carousel .item .col-xs-12.col-md-4 {
        padding-left: 40px;
        text-align: left;
        padding-right: 40px;
    }
    .learn-three .section-four {
        text-align: left;
        padding-bottom: 50px;
    }
    .learn-three .section-four h3 {
        font-size: 35px;
        margin-bottom: 90px;
    }
    .learn-three .section-four p {
        font-size: 15px;
    }
    .learn-three .section-four .col-xs-10 .col-md-6 {
        padding-bottom: 60px;
        padding-left: 40px;
        display: block;
    }
    .learn-three .section-four .col-xs-10 .col-md-6:first-child {
        padding-left: 40px;
        padding-right: 80px;
        display: block;
    }
    .learn-three .section-four .col-xs-10 .col-md-6 a {
        margin-top: 55px;
    }
}

@media (min-width: 992px) {
    /*FOOTER*/
    footer .footer-menu {
        text-align: left;
    }
    footer .footer-left {
        text-align: left;
    }
    footer .social-icons {
        text-align: right;
    }
    .mailing-list form .form-group {
        padding: 0px;
        padding-left: 25px;
    }
    .mailing-list form .button-container {
        text-align: left;
        padding-left: 0px;
        padding-top: 0px;
    }
    .mailing-list form .button-container button {
        width: 100%;
    }
    .mailing-list h3 {
        display: block;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1500px) {}