@font-face {
    font-family: 'rochester';
    src: url('rochester.ttf?tsdu8r') format('truetype'), url('rochester.woff?tsdu8r') format('woff'), url('rochester.svg?tsdu8r#rochester') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-font-glyph {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'rochester' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-font-shipping:before {
    content: "\e900";
}

.icon-font-returns:before {
    content: "\e901";
}

.icon-font-faqs:before {
    content: "\e902";
}

.icon-font-finance:before {
    content: "\e903";
}

.icon-font-materials:before {
    content: "\e904";
}

.icon-font-fit:before {
    content: "\e905";
}

.icon-font-maintain:before {
    content: "\e906";
}

.icon-font-guarantee:before {
    content: "\e907";
}

.icon-font-clean:before {
    content: "\e908";
}

.icon-font-care:before {
    content: "\e909";
}

.icon-font-brush:before {
    content: "\e90a";
}